In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

import matplotlib.pyplot as plt

from collections import defaultdict

from model.Base import Base
from model.Device import Device
from model.Flow import Flow
from model.User import User
from model.user_devices import user_devices

from sqlalchemy import create_engine, text, func
from sqlalchemy.orm import sessionmaker
from sqlalchemy.pool import NullPool

from IPython.display import display

DB='postgresql+psycopg2:///ucnstudy'

engine = create_engine(DB, echo=False, poolclass=NullPool)
Base.metadata.bind = engine
Session = sessionmaker(bind=engine)

In [3]:
ses = Session()
users = ses.query(User)

devtfc_beg_userdata = defaultdict(list)
devtfc_end_userdata = defaultdict(list)
for user in users:
    sql_user_devices = text('select * from user, user_devices where user_devices.user_id =:user').bindparams(user = user.id)
    user_devices = ses.execute(sql_user_devices)

    #will get the starting time and ending times considering all devices
    print ("user: " + str(user.id) + ' ' + user.username + "=======================")
    quantity_dev = 0
    info_week_beg = {}
    info_week_end ={}
    for dev in user_devices:
        sql_beg_day = text('SELECT distinct devid, flows.startts \
        FROM flows join \
        (SELECT DATE(startts) as date_entered, MIN(startts) as min_time \
        FROM flows \
        WHERE devid = :d_id and extract (hour from startts) > 3 \
        GROUP BY date(startts)) AS grp ON grp.min_time = flows.startts order by flows.startts;').bindparams(d_id = dev.device_id)
        result_beg_day = ses.execute(sql_beg_day)
        sql_end_day = text('SELECT distinct devid, flows.endts \
        FROM flows join \
        (SELECT DATE(endts) as date_entered, MAX(endts) as max_time \
        FROM flows \
        WHERE devid = :d_id \
        GROUP BY date(endts)) AS grp ON grp.max_time = flows.endts order by flows.endts;').bindparams(d_id = dev.device_id)
        result_end_day = ses.execute(sql_end_day)
        sql_beg_day_nolimit = text('SELECT distinct devid, flows.startts \
        FROM flows join \
        (SELECT DATE(startts) as date_entered, MIN(startts) as min_time \
        FROM flows \
        WHERE devid = :d_id \
        GROUP BY date(startts)) AS grp ON grp.min_time = flows.startts order by flows.startts;').bindparams(d_id = dev.device_id)
        result_beg_day_nolimit = ses.execute(sql_beg_day_nolimit)

        devices_result = ses.query(Device).order_by(Device.id)
        devices_platform = {}
        for item in devices_result:
            devices_platform[item.id] = item.platform

        #organize data
        info_end = defaultdict(list)
        for row in result_end_day:
            info_end['devid'].append(row[0])
            info_end['end'].append(row[1])
            
        info_beg = defaultdict(list)
        for row in result_beg_day:
            info_beg['devid'].append(row[0])
            info_beg['start'].append(row[1])

        #add days that only have value before 3 am
        for row in result_beg_day_nolimit:
            timst = row[1]
            in_list = False
            for dt in info_beg['start']:
                if dt.date() == timst.date():
                    in_list = True
            if in_list == False:
                #insert in the correct position
                cont = 0
                for dat in info_beg['start']:
                    if timst.date() > dat.date():
                        cont = cont + 1
                            
                info_beg['start'].insert(cont, timst)
                info_beg['devid'].insert(cont, row[0])

        df_beg = pd.DataFrame(info_beg)
        display(df_beg)
        df_end = pd.DataFrame(info_end)
        display(df_end)
            
            
        #creates table per day for beginning
        info_week = defaultdict(list)
        if (info_beg['start']):
            for timst in info_beg['start']:
                day = timst
                weekday = day.strftime('%A')
                info_week[weekday].append(day)
         
        print('Device platform: ' + devices_platform[dev.device_id])
        days_str = {'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday','Saturday', 'Sunday'}
        for name in days_str:
            df_col = defaultdict(list)
            df_col['device'] = str(dev.device_id)
            df_col[name+' start'] = info_week[name]
            df_week = pd.DataFrame(df_col)
            display(df_week)
            
            
        #creates table per day for ending
        info_week = defaultdict(list)
        if (info_end['end']):
            for timst in info_end['end']:
                day = timst
                weekday = day.strftime('%A')
                info_week[weekday].append(day)
             
        print('Device platform: ' + devices_platform[dev.device_id])
        days_str = {'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday','Saturday', 'Sunday'}
        for name in days_str:
            df_col = defaultdict(list)
            df_col['device'] = str(dev.device_id)
            df_col[name+' end'] = info_week[name] 
            df_week = pd.DataFrame(df_col)
            display(df_week)

user: 1 norelie=======================

    devid                      start
0       6 2015-03-05 21:48:08.111112
1       6 2015-03-06 14:06:25.460244
2       6 2015-03-07 11:27:27.914741
3       6 2015-03-08 00:00:09.913389
4       6 2015-03-09 18:45:06.395510
5       6 2015-03-12 10:05:48.055392
6       6 2015-03-14 13:09:53.791906
7       6 2015-03-15 14:16:15.747360
8       6 2015-03-16 19:08:00.564826
9       6 2015-03-17 19:38:47.777504
10      6 2015-03-18 00:04:59.944115
11      6 2015-03-19 15:44:32.625217
12      6 2015-03-24 14:23:50.873419
13      6 2015-03-25 19:37:58.540416
14      6 2015-03-29 13:48:57.283764
15      6 2015-04-05 12:31:36.910902
16      6 2015-04-06 00:04:51.480475
17      6 2015-04-07 15:01:02.935032
18      6 2015-04-15 21:04:56.227966

    devid                        end
0       6 2015-03-05 23:57:41.262526
1       6 2015-03-06 23:16:28.906022
2       6 2015-03-07 23:57:04.582814
3       6 2015-03-08 00:16:09.255980
4       6 2015-03-09 22:35:46.926885
5       6 2015-03-12 23:11:25.820677
6       6 2015-03-14 22:30:12.594612
7       6 2015-03-15 15:39:36.854986
8       6 2015-03-16 23:59:59.925316
9       6 2015-03-17 23:58:21.016543
10      6 2015-03-18 00:12:38.339443
11      6 2015-03-19 23:23:05.663748
12      6 2015-03-24 19:41:31.675374
13      6 2015-03-25 22:50:35.074980
14      6 2015-03-29 23:32:53.497775
15      6 2015-04-05 23:59:31.095576
16      6 2015-04-06 01:28:25.668705
17      6 2015-04-07 22:11:34.925235
18      6 2015-04-15 21:04:56.323837

Device platform: windows-laptop

                Monday start device
0 2015-03-09 18:45:06.395510      6
1 2015-03-16 19:08:00.564826      6
2 2015-04-06 00:04:51.480475      6

               Tuesday start device
0 2015-03-17 19:38:47.777504      6
1 2015-03-24 14:23:50.873419      6
2 2015-04-07 15:01:02.935032      6

                Friday start device
0 2015-03-06 14:06:25.460244      6

             Wednesday start device
0 2015-03-18 00:04:59.944115      6
1 2015-03-25 19:37:58.540416      6
2 2015-04-15 21:04:56.227966      6

              Thursday start device
0 2015-03-05 21:48:08.111112      6
1 2015-03-12 10:05:48.055392      6
2 2015-03-19 15:44:32.625217      6

                Sunday start device
0 2015-03-08 00:00:09.913389      6
1 2015-03-15 14:16:15.747360      6
2 2015-03-29 13:48:57.283764      6
3 2015-04-05 12:31:36.910902      6

              Saturday start device
0 2015-03-07 11:27:27.914741      6
1 2015-03-14 13:09:53.791906      6

Device platform: windows-laptop

                  Monday end device
0 2015-03-09 22:35:46.926885      6
1 2015-03-16 23:59:59.925316      6
2 2015-04-06 01:28:25.668705      6

                 Tuesday end device
0 2015-03-17 23:58:21.016543      6
1 2015-03-24 19:41:31.675374      6
2 2015-04-07 22:11:34.925235      6

                  Friday end device
0 2015-03-06 23:16:28.906022      6

               Wednesday end device
0 2015-03-18 00:12:38.339443      6
1 2015-03-25 22:50:35.074980      6
2 2015-04-15 21:04:56.323837      6

                Thursday end device
0 2015-03-05 23:57:41.262526      6
1 2015-03-12 23:11:25.820677      6
2 2015-03-19 23:23:05.663748      6

                  Sunday end device
0 2015-03-08 00:16:09.255980      6
1 2015-03-15 15:39:36.854986      6
2 2015-03-29 23:32:53.497775      6
3 2015-04-05 23:59:31.095576      6

                Saturday end device
0 2015-03-07 23:57:04.582814      6
1 2015-03-14 22:30:12.594612      6

user: 2 salmita=======================

    devid                      start
0       1 2015-03-05 10:31:16.214518
1       1 2015-03-06 14:22:11.114880
2       1 2015-03-07 10:18:58.578948
3       1 2015-03-17 20:12:04.855609
4       1 2015-03-19 04:02:16.218107
5       1 2015-03-20 00:01:01.113738
6       1 2015-03-21 08:13:44.100283
7       1 2015-03-22 00:00:15.879419
8       1 2015-03-25 00:01:57.562157
9       1 2015-03-28 22:04:24.120179
10      1 2015-03-29 14:37:38.736161
11      1 2015-04-05 10:08:08.800710
12      1 2015-04-06 09:40:54.100669
13      1 2015-04-07 04:08:34.971283
14      1 2015-04-08 00:00:06.873174
15      1 2015-04-12 19:43:16.490312
16      1 2015-04-16 22:56:49.659521
17      1 2015-04-21 21:24:20.471603
18      1 2015-05-01 22:33:59.630315
19      1 2015-05-02 12:38:48.110680
20      1 2015-05-03 01:05:13.336666
21      1 2015-06-02 23:28:15.751360
22      1 2015-06-03 21:34:28.451780
23      1 2015-06-04 22:02:58.150729

    devid                        end
0       1 2015-03-05 13:47:02.622617
1       1 2015-03-06 16:39:06.818626
2       1 2015-03-07 23:49:01.854332
3       1 2015-03-17 23:45:08.831911
4       1 2015-03-19 23:59:57.428200
5       1 2015-03-20 00:15:32.173448
6       1 2015-03-21 23:59:46.475630
7       1 2015-03-22 00:16:23.540436
8       1 2015-03-25 00:17:01.372017
9       1 2015-03-28 22:04:24.233281
10      1 2015-03-29 20:35:41.710687
11      1 2015-04-05 23:58:55.228272
12      1 2015-04-06 23:58:51.863611
13      1 2015-04-07 23:54:33.979634
14      1 2015-04-08 00:15:09.315169
15      1 2015-04-12 19:43:16.490312
16      1 2015-04-16 22:56:49.892832
17      1 2015-04-21 21:24:20.531712
18      1 2015-05-01 22:33:59.864499
19      1 2015-05-02 22:33:54.185173
20      1 2015-05-03 01:05:13.558750
21      1 2015-06-02 23:28:15.951495
22      1 2015-06-03 21:34:28.645436
23      1 2015-06-04 22:02:58.394108

Device platform: iphone

                Monday start device
0 2015-04-06 09:40:54.100669      1

               Tuesday start device
0 2015-03-17 20:12:04.855609      1
1 2015-04-07 04:08:34.971283      1
2 2015-04-21 21:24:20.471603      1
3 2015-06-02 23:28:15.751360      1

                Friday start device
0 2015-03-06 14:22:11.114880      1
1 2015-03-20 00:01:01.113738      1
2 2015-05-01 22:33:59.630315      1

             Wednesday start device
0 2015-03-25 00:01:57.562157      1
1 2015-04-08 00:00:06.873174      1
2 2015-06-03 21:34:28.451780      1

              Thursday start device
0 2015-03-05 10:31:16.214518      1
1 2015-03-19 04:02:16.218107      1
2 2015-04-16 22:56:49.659521      1
3 2015-06-04 22:02:58.150729      1

                Sunday start device
0 2015-03-22 00:00:15.879419      1
1 2015-03-29 14:37:38.736161      1
2 2015-04-05 10:08:08.800710      1
3 2015-04-12 19:43:16.490312      1
4 2015-05-03 01:05:13.336666      1

              Saturday start device
0 2015-03-07 10:18:58.578948      1
1 2015-03-21 08:13:44.100283      1
2 2015-03-28 22:04:24.120179      1
3 2015-05-02 12:38:48.110680      1

Device platform: iphone

                  Monday end device
0 2015-04-06 23:58:51.863611      1

                 Tuesday end device
0 2015-03-17 23:45:08.831911      1
1 2015-04-07 23:54:33.979634      1
2 2015-04-21 21:24:20.531712      1
3 2015-06-02 23:28:15.951495      1

                  Friday end device
0 2015-03-06 16:39:06.818626      1
1 2015-03-20 00:15:32.173448      1
2 2015-05-01 22:33:59.864499      1

               Wednesday end device
0 2015-03-25 00:17:01.372017      1
1 2015-04-08 00:15:09.315169      1
2 2015-06-03 21:34:28.645436      1

                Thursday end device
0 2015-03-05 13:47:02.622617      1
1 2015-03-19 23:59:57.428200      1
2 2015-04-16 22:56:49.892832      1
3 2015-06-04 22:02:58.394108      1

                  Sunday end device
0 2015-03-22 00:16:23.540436      1
1 2015-03-29 20:35:41.710687      1
2 2015-04-05 23:58:55.228272      1
3 2015-04-12 19:43:16.490312      1
4 2015-05-03 01:05:13.558750      1

                Saturday end device
0 2015-03-07 23:49:01.854332      1
1 2015-03-21 23:59:46.475630      1
2 2015-03-28 22:04:24.233281      1
3 2015-05-02 22:33:54.185173      1

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Device platform: windows-laptop

Empty DataFrame
Columns: [Monday start, device]
Index: []

Empty DataFrame
Columns: [Tuesday start, device]
Index: []

Empty DataFrame
Columns: [Friday start, device]
Index: []

Empty DataFrame
Columns: [Wednesday start, device]
Index: []

Empty DataFrame
Columns: [Thursday start, device]
Index: []

Empty DataFrame
Columns: [Sunday start, device]
Index: []

Empty DataFrame
Columns: [Saturday start, device]
Index: []

Device platform: windows-laptop

Empty DataFrame
Columns: [Monday end, device]
Index: []

Empty DataFrame
Columns: [Tuesday end, device]
Index: []

Empty DataFrame
Columns: [Friday end, device]
Index: []

Empty DataFrame
Columns: [Wednesday end, device]
Index: []

Empty DataFrame
Columns: [Thursday end, device]
Index: []

Empty DataFrame
Columns: [Sunday end, device]
Index: []

Empty DataFrame
Columns: [Saturday end, device]
Index: []

user: 3 jasivan=======================

    devid                      start
0       4 2015-03-01 07:47:31.058475
1       4 2015-03-03 06:49:27.868855
2       4 2015-03-05 07:12:56.726709
3       4 2015-03-06 09:27:49.032141
4       4 2015-03-07 13:44:40.712091
5       4 2015-03-08 00:00:23.252136
6       4 2015-03-09 07:54:28.302966
7       4 2015-03-12 16:49:39.494292
8       4 2015-03-13 09:08:49.377171
9       4 2015-03-14 23:02:44.555990
10      4 2015-03-15 00:00:20.268338
11      4 2015-03-16 07:40:51.719091
12      4 2015-03-17 07:52:49.642319
13      4 2015-03-19 22:01:12.348438
14      4 2015-03-21 08:17:15.040054
15      4 2015-03-24 07:30:10.615180
16      4 2015-03-25 22:50:31.944736
17      4 2015-03-29 20:02:10.753090
18      4 2015-03-30 00:00:05.260900
19      4 2015-04-05 09:05:56.237385
20      4 2015-04-06 09:06:25.579210
21      4 2015-04-07 08:28:34.047873
22      4 2015-06-12 07:18:50.540264

    devid                        end
0       4 2015-03-01 21:00:18.975444
1       4 2015-03-03 09:55:16.404654
2       4 2015-03-05 23:19:28.926246
3       4 2015-03-06 23:59:43.137605
4       4 2015-03-07 16:02:46.569310
5       4 2015-03-08 00:16:53.475028
6       4 2015-03-09 21:52:18.265992
7       4 2015-03-12 21:35:21.700963
8       4 2015-03-13 09:25:09.694741
9       4 2015-03-14 23:59:39.290760
10      4 2015-03-15 00:01:00.833200
11      4 2015-03-16 22:36:12.264290
12      4 2015-03-17 22:39:56.553892
13      4 2015-03-19 22:59:31.198875
14      4 2015-03-21 13:56:32.010460
15      4 2015-03-24 22:43:33.788432
16      4 2015-03-25 22:50:31.948897
17      4 2015-03-29 23:59:56.030973
18      4 2015-03-30 00:01:44.603257
19      4 2015-04-05 18:35:35.040226
20      4 2015-04-06 16:50:34.751536
21      4 2015-04-07 23:08:18.435966
22      4 2015-06-12 10:16:21.028127

Device platform: windows-laptop

                Monday start device
0 2015-03-09 07:54:28.302966      4
1 2015-03-16 07:40:51.719091      4
2 2015-03-30 00:00:05.260900      4
3 2015-04-06 09:06:25.579210      4

               Tuesday start device
0 2015-03-03 06:49:27.868855      4
1 2015-03-17 07:52:49.642319      4
2 2015-03-24 07:30:10.615180      4
3 2015-04-07 08:28:34.047873      4

                Friday start device
0 2015-03-06 09:27:49.032141      4
1 2015-03-13 09:08:49.377171      4
2 2015-06-12 07:18:50.540264      4

             Wednesday start device
0 2015-03-25 22:50:31.944736      4

              Thursday start device
0 2015-03-05 07:12:56.726709      4
1 2015-03-12 16:49:39.494292      4
2 2015-03-19 22:01:12.348438      4

                Sunday start device
0 2015-03-01 07:47:31.058475      4
1 2015-03-08 00:00:23.252136      4
2 2015-03-15 00:00:20.268338      4
3 2015-03-29 20:02:10.753090      4
4 2015-04-05 09:05:56.237385      4

              Saturday start device
0 2015-03-07 13:44:40.712091      4
1 2015-03-14 23:02:44.555990      4
2 2015-03-21 08:17:15.040054      4

Device platform: windows-laptop

                  Monday end device
0 2015-03-09 21:52:18.265992      4
1 2015-03-16 22:36:12.264290      4
2 2015-03-30 00:01:44.603257      4
3 2015-04-06 16:50:34.751536      4

                 Tuesday end device
0 2015-03-03 09:55:16.404654      4
1 2015-03-17 22:39:56.553892      4
2 2015-03-24 22:43:33.788432      4
3 2015-04-07 23:08:18.435966      4

                  Friday end device
0 2015-03-06 23:59:43.137605      4
1 2015-03-13 09:25:09.694741      4
2 2015-06-12 10:16:21.028127      4

               Wednesday end device
0 2015-03-25 22:50:31.948897      4

                Thursday end device
0 2015-03-05 23:19:28.926246      4
1 2015-03-12 21:35:21.700963      4
2 2015-03-19 22:59:31.198875      4

                  Sunday end device
0 2015-03-01 21:00:18.975444      4
1 2015-03-08 00:16:53.475028      4
2 2015-03-15 00:01:00.833200      4
3 2015-03-29 23:59:56.030973      4
4 2015-04-05 18:35:35.040226      4

                Saturday end device
0 2015-03-07 16:02:46.569310      4
1 2015-03-14 23:59:39.290760      4
2 2015-03-21 13:56:32.010460      4

user: 4 carmelia=======================

    devid                      start
0       5 2015-02-26 17:07:27.365762
1       5 2015-03-01 12:05:36.719980
2       5 2015-03-02 00:00:24.089288
3       5 2015-03-05 13:29:47.403232
4       5 2015-03-09 13:52:42.413849
5       5 2015-03-12 07:15:01.547221
6       5 2015-03-13 10:23:01.661746
7       5 2015-03-21 08:06:10.479144
8       5 2015-03-25 22:50:27.623807
9       5 2015-03-29 12:38:20.819470
10      5 2015-04-05 08:34:49.985537
11      5 2015-04-06 04:03:41.788707
12      5 2015-04-07 14:30:13.224144
13      5 2015-05-04 18:25:22.414759

    devid                        end
0       5 2015-02-26 20:08:43.609554
1       5 2015-03-01 23:57:37.499950
2       5 2015-03-02 00:16:58.711643
3       5 2015-03-05 22:21:58.679227
4       5 2015-03-09 23:52:49.112035
5       5 2015-03-12 23:59:00.320442
6       5 2015-03-13 21:51:56.021490
7       5 2015-03-21 13:34:01.366030
8       5 2015-03-25 22:50:31.663430
9       5 2015-03-29 23:47:58.533565
10      5 2015-04-05 13:59:05.256199
11      5 2015-04-06 15:42:57.937014
12      5 2015-04-07 21:02:39.043050
13      5 2015-05-04 18:25:22.443287

Device platform: windows-laptop

                Monday start device
0 2015-03-02 00:00:24.089288      5
1 2015-03-09 13:52:42.413849      5
2 2015-04-06 04:03:41.788707      5
3 2015-05-04 18:25:22.414759      5

               Tuesday start device
0 2015-04-07 14:30:13.224144      5

                Friday start device
0 2015-03-13 10:23:01.661746      5

             Wednesday start device
0 2015-03-25 22:50:27.623807      5

              Thursday start device
0 2015-02-26 17:07:27.365762      5
1 2015-03-05 13:29:47.403232      5
2 2015-03-12 07:15:01.547221      5

                Sunday start device
0 2015-03-01 12:05:36.719980      5
1 2015-03-29 12:38:20.819470      5
2 2015-04-05 08:34:49.985537      5

              Saturday start device
0 2015-03-21 08:06:10.479144      5

Device platform: windows-laptop

                  Monday end device
0 2015-03-02 00:16:58.711643      5
1 2015-03-09 23:52:49.112035      5
2 2015-04-06 15:42:57.937014      5
3 2015-05-04 18:25:22.443287      5

                 Tuesday end device
0 2015-04-07 21:02:39.043050      5

                  Friday end device
0 2015-03-13 21:51:56.021490      5

               Wednesday end device
0 2015-03-25 22:50:31.663430      5

                Thursday end device
0 2015-02-26 20:08:43.609554      5
1 2015-03-05 22:21:58.679227      5
2 2015-03-12 23:59:00.320442      5

                  Sunday end device
0 2015-03-01 23:57:37.499950      5
1 2015-03-29 23:47:58.533565      5
2 2015-04-05 13:59:05.256199      5

                Saturday end device
0 2015-03-21 13:34:01.366030      5

user: 5 sormain=======================

    devid                      start
0       7 2015-04-17 12:05:39.785996
1       7 2015-04-18 16:51:35.710050
2       7 2015-04-19 02:00:13.630175
3       7 2015-04-20 12:12:43.957630
4       7 2015-04-21 11:53:58.681012
5       7 2015-04-24 22:50:08.882422
6       7 2015-04-26 13:41:44.883979
7       7 2015-04-27 15:18:44.451322
8       7 2015-04-29 21:36:15.984598
9       7 2015-05-01 11:04:36.619340
10      7 2015-05-05 15:47:37.825994
11      7 2015-05-11 12:23:14.502085
12      7 2015-05-15 11:24:29.680890
13      7 2015-05-16 17:41:21.758416
14      7 2015-05-26 19:16:51.633431
15      7 2015-05-27 21:38:24.053702
16      7 2015-05-31 12:30:10.619849
17      7 2015-06-01 11:33:03.885880
18      7 2015-06-02 12:30:17.665093
19      7 2015-06-03 16:40:52.787676
20      7 2015-06-04 22:02:58.153829
21      7 2015-06-12 00:17:10.069828
22      7 2015-06-22 15:22:09.377370
23      7 2015-06-23 10:23:05.930214

    devid                        end
0       7 2015-04-17 13:56:50.001647
1       7 2015-04-18 16:51:35.809425
2       7 2015-04-19 02:00:13.724087
3       7 2015-04-20 17:14:09.793142
4       7 2015-04-21 23:42:49.398819
5       7 2015-04-24 22:50:09.086345
6       7 2015-04-26 23:39:51.769809
7       7 2015-04-27 23:27:57.654809
8       7 2015-04-29 21:36:16.241351
9       7 2015-05-01 11:04:36.877418
10      7 2015-05-05 17:13:49.987819
11      7 2015-05-11 22:58:04.001374
12      7 2015-05-15 14:49:06.803449
13      7 2015-05-16 17:41:22.039685
14      7 2015-05-26 19:16:51.946806
15      7 2015-05-27 21:38:24.324724
16      7 2015-05-31 19:01:01.178758
17      7 2015-06-01 14:47:03.517120
18      7 2015-06-02 23:28:15.996657
19      7 2015-06-03 23:57:56.197431
20      7 2015-06-04 22:52:39.383781
21      7 2015-06-12 00:36:12.091708
22      7 2015-06-22 15:22:10.873550
23      7 2015-06-23 23:07:14.509817

Device platform: macbook

                Monday start device
0 2015-04-20 12:12:43.957630      7
1 2015-04-27 15:18:44.451322      7
2 2015-05-11 12:23:14.502085      7
3 2015-06-01 11:33:03.885880      7
4 2015-06-22 15:22:09.377370      7

               Tuesday start device
0 2015-04-21 11:53:58.681012      7
1 2015-05-05 15:47:37.825994      7
2 2015-05-26 19:16:51.633431      7
3 2015-06-02 12:30:17.665093      7
4 2015-06-23 10:23:05.930214      7

                Friday start device
0 2015-04-17 12:05:39.785996      7
1 2015-04-24 22:50:08.882422      7
2 2015-05-01 11:04:36.619340      7
3 2015-05-15 11:24:29.680890      7
4 2015-06-12 00:17:10.069828      7

             Wednesday start device
0 2015-04-29 21:36:15.984598      7
1 2015-05-27 21:38:24.053702      7
2 2015-06-03 16:40:52.787676      7

              Thursday start device
0 2015-06-04 22:02:58.153829      7

                Sunday start device
0 2015-04-19 02:00:13.630175      7
1 2015-04-26 13:41:44.883979      7
2 2015-05-31 12:30:10.619849      7

              Saturday start device
0 2015-04-18 16:51:35.710050      7
1 2015-05-16 17:41:21.758416      7

Device platform: macbook

                  Monday end device
0 2015-04-20 17:14:09.793142      7
1 2015-04-27 23:27:57.654809      7
2 2015-05-11 22:58:04.001374      7
3 2015-06-01 14:47:03.517120      7
4 2015-06-22 15:22:10.873550      7

                 Tuesday end device
0 2015-04-21 23:42:49.398819      7
1 2015-05-05 17:13:49.987819      7
2 2015-05-26 19:16:51.946806      7
3 2015-06-02 23:28:15.996657      7
4 2015-06-23 23:07:14.509817      7

                  Friday end device
0 2015-04-17 13:56:50.001647      7
1 2015-04-24 22:50:09.086345      7
2 2015-05-01 11:04:36.877418      7
3 2015-05-15 14:49:06.803449      7
4 2015-06-12 00:36:12.091708      7

               Wednesday end device
0 2015-04-29 21:36:16.241351      7
1 2015-05-27 21:38:24.324724      7
2 2015-06-03 23:57:56.197431      7

                Thursday end device
0 2015-06-04 22:52:39.383781      7

                  Sunday end device
0 2015-04-19 02:00:13.724087      7
1 2015-04-26 23:39:51.769809      7
2 2015-05-31 19:01:01.178758      7

                Saturday end device
0 2015-04-18 16:51:35.809425      7
1 2015-05-16 17:41:22.039685      7

   devid                      start
0      8 2015-04-17 13:20:12.152842
1      8 2015-04-19 23:35:08.148459

   devid                        end
0      8 2015-04-17 13:20:12.216406
1      8 2015-04-19 23:35:08.153332

Device platform: android-phone

Empty DataFrame
Columns: [Monday start, device]
Index: []

Empty DataFrame
Columns: [Tuesday start, device]
Index: []

                Friday start device
0 2015-04-17 13:20:12.152842      8

Empty DataFrame
Columns: [Wednesday start, device]
Index: []

Empty DataFrame
Columns: [Thursday start, device]
Index: []

                Sunday start device
0 2015-04-19 23:35:08.148459      8

Empty DataFrame
Columns: [Saturday start, device]
Index: []

Device platform: android-phone

Empty DataFrame
Columns: [Monday end, device]
Index: []

Empty DataFrame
Columns: [Tuesday end, device]
Index: []

                  Friday end device
0 2015-04-17 13:20:12.216406      8

Empty DataFrame
Columns: [Wednesday end, device]
Index: []

Empty DataFrame
Columns: [Thursday end, device]
Index: []

                  Sunday end device
0 2015-04-19 23:35:08.153332      8

Empty DataFrame
Columns: [Saturday end, device]
Index: []

user: 6 francois=======================

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Device platform: windows-laptop

Empty DataFrame
Columns: [Monday start, device]
Index: []

Empty DataFrame
Columns: [Tuesday start, device]
Index: []

Empty DataFrame
Columns: [Friday start, device]
Index: []

Empty DataFrame
Columns: [Wednesday start, device]
Index: []

Empty DataFrame
Columns: [Thursday start, device]
Index: []

Empty DataFrame
Columns: [Sunday start, device]
Index: []

Empty DataFrame
Columns: [Saturday start, device]
Index: []

Device platform: windows-laptop

Empty DataFrame
Columns: [Monday end, device]
Index: []

Empty DataFrame
Columns: [Tuesday end, device]
Index: []

Empty DataFrame
Columns: [Friday end, device]
Index: []

Empty DataFrame
Columns: [Wednesday end, device]
Index: []

Empty DataFrame
Columns: [Thursday end, device]
Index: []

Empty DataFrame
Columns: [Sunday end, device]
Index: []

Empty DataFrame
Columns: [Saturday end, device]
Index: []

user: 7 bencardino=======================

    devid                      start
0       3 2015-04-18 14:24:29.663117
1       3 2015-04-19 14:46:22.055498
2       3 2015-04-20 22:21:36.157536
3       3 2015-04-24 19:32:46.849299
4       3 2015-04-27 19:14:16.797616
5       3 2015-04-28 17:35:57.778453
6       3 2015-05-02 22:33:54.103909
7       3 2015-05-03 19:23:13.305956
8       3 2015-05-04 15:09:12.355742
9       3 2015-05-05 04:01:12.956264
10      3 2015-05-11 02:12:51.293968
11      3 2015-05-19 12:07:16.441672
12      3 2015-05-21 18:29:33.675824
13      3 2015-05-22 01:03:27.595172
14      3 2015-05-25 06:30:27.604946
15      3 2015-05-27 00:02:50.440859
16      3 2015-06-02 10:50:21.465775
17      3 2015-06-03 14:02:32.639924
18      3 2015-06-04 00:26:12.262997
19      3 2015-06-15 04:05:20.143410
20      3 2015-06-16 00:03:45.983651

    devid                        end
0       3 2015-04-18 14:55:16.534610
1       3 2015-04-19 14:46:22.325818
2       3 2015-04-20 22:21:36.330138
3       3 2015-04-24 19:32:47.087257
4       3 2015-04-27 19:27:22.470298
5       3 2015-04-28 17:35:57.809929
6       3 2015-05-02 23:57:19.872874
7       3 2015-05-03 23:43:24.536313
8       3 2015-05-04 23:33:21.959675
9       3 2015-05-05 04:01:13.132237
10      3 2015-05-11 02:12:51.556988
11      3 2015-05-19 12:07:16.441672
12      3 2015-05-21 18:29:33.675886
13      3 2015-05-22 01:03:27.862882
14      3 2015-05-25 06:30:27.777042
15      3 2015-05-27 00:02:50.716709
16      3 2015-06-02 11:13:40.833059
17      3 2015-06-03 20:31:17.875779
18      3 2015-06-04 00:26:12.293125
19      3 2015-06-15 23:57:19.082118
20      3 2015-06-16 00:06:50.161208

Device platform: ipad

                Monday start device
0 2015-04-20 22:21:36.157536      3
1 2015-04-27 19:14:16.797616      3
2 2015-05-04 15:09:12.355742      3
3 2015-05-11 02:12:51.293968      3
4 2015-05-25 06:30:27.604946      3
5 2015-06-15 04:05:20.143410      3

               Tuesday start device
0 2015-04-28 17:35:57.778453      3
1 2015-05-05 04:01:12.956264      3
2 2015-05-19 12:07:16.441672      3
3 2015-06-02 10:50:21.465775      3
4 2015-06-16 00:03:45.983651      3

                Friday start device
0 2015-04-24 19:32:46.849299      3
1 2015-05-22 01:03:27.595172      3

             Wednesday start device
0 2015-05-27 00:02:50.440859      3
1 2015-06-03 14:02:32.639924      3

              Thursday start device
0 2015-05-21 18:29:33.675824      3
1 2015-06-04 00:26:12.262997      3

                Sunday start device
0 2015-04-19 14:46:22.055498      3
1 2015-05-03 19:23:13.305956      3

              Saturday start device
0 2015-04-18 14:24:29.663117      3
1 2015-05-02 22:33:54.103909      3

Device platform: ipad

                  Monday end device
0 2015-04-20 22:21:36.330138      3
1 2015-04-27 19:27:22.470298      3
2 2015-05-04 23:33:21.959675      3
3 2015-05-11 02:12:51.556988      3
4 2015-05-25 06:30:27.777042      3
5 2015-06-15 23:57:19.082118      3

                 Tuesday end device
0 2015-04-28 17:35:57.809929      3
1 2015-05-05 04:01:13.132237      3
2 2015-05-19 12:07:16.441672      3
3 2015-06-02 11:13:40.833059      3
4 2015-06-16 00:06:50.161208      3

                  Friday end device
0 2015-04-24 19:32:47.087257      3
1 2015-05-22 01:03:27.862882      3

               Wednesday end device
0 2015-05-27 00:02:50.716709      3
1 2015-06-03 20:31:17.875779      3

                Thursday end device
0 2015-05-21 18:29:33.675886      3
1 2015-06-04 00:26:12.293125      3

                  Sunday end device
0 2015-04-19 14:46:22.325818      3
1 2015-05-03 23:43:24.536313      3

                Saturday end device
0 2015-04-18 14:55:16.534610      3
1 2015-05-02 23:57:19.872874      3

   devid                      start
0     10 2015-04-18 09:00:02.028503
1     10 2015-04-19 06:02:05.827690
2     10 2015-04-22 22:49:51.783990
3     10 2015-05-11 23:27:35.770342
4     10 2015-05-15 11:24:29.682140
5     10 2015-05-23 21:49:09.005643
6     10 2015-05-27 00:02:50.464179
7     10 2015-06-19 19:31:58.192203
8     10 2015-06-24 20:26:59.771079

   devid                        end
0     10 2015-04-18 23:15:06.709920
1     10 2015-04-19 06:02:06.007033
2     10 2015-04-22 22:49:51.784337
3     10 2015-05-11 23:27:35.966943
4     10 2015-05-15 11:35:44.325547
5     10 2015-05-23 21:49:09.279934
6     10 2015-05-27 00:02:50.538167
7     10 2015-06-19 19:31:58.445520
8     10 2015-06-24 21:19:35.843822

Device platform: iphone

                Monday start device
0 2015-05-11 23:27:35.770342     10

Empty DataFrame
Columns: [Tuesday start, device]
Index: []

                Friday start device
0 2015-05-15 11:24:29.682140     10
1 2015-06-19 19:31:58.192203     10

             Wednesday start device
0 2015-04-22 22:49:51.783990     10
1 2015-05-27 00:02:50.464179     10
2 2015-06-24 20:26:59.771079     10

Empty DataFrame
Columns: [Thursday start, device]
Index: []

                Sunday start device
0 2015-04-19 06:02:05.827690     10

              Saturday start device
0 2015-04-18 09:00:02.028503     10
1 2015-05-23 21:49:09.005643     10

Device platform: iphone

                  Monday end device
0 2015-05-11 23:27:35.966943     10

Empty DataFrame
Columns: [Tuesday end, device]
Index: []

                  Friday end device
0 2015-05-15 11:35:44.325547     10
1 2015-06-19 19:31:58.445520     10

               Wednesday end device
0 2015-04-22 22:49:51.784337     10
1 2015-05-27 00:02:50.538167     10
2 2015-06-24 21:19:35.843822     10

Empty DataFrame
Columns: [Thursday end, device]
Index: []

                  Sunday end device
0 2015-04-19 06:02:06.007033     10

                Saturday end device
0 2015-04-18 23:15:06.709920     10
1 2015-05-23 21:49:09.279934     10

user: 8 shelter=======================

    devid                      start
0      11 2015-04-21 00:46:26.705470
1      11 2015-04-23 14:48:02.411390
2      11 2015-04-25 11:24:42.152654
3      11 2015-04-26 23:39:51.512774
4      11 2015-04-27 00:05:44.586320
5      11 2015-05-01 00:28:52.486186
6      11 2015-05-03 18:36:17.209166
7      11 2015-05-06 04:31:42.427898
8      11 2015-05-12 05:52:42.259425
9      11 2015-05-14 13:45:02.153300
10     11 2015-05-20 16:45:46.943249
11     11 2015-05-21 18:36:38.730754
12     11 2015-05-31 00:14:01.901010
13     11 2015-06-24 18:12:57.961462

    devid                        end
0      11 2015-04-21 00:46:26.953430
1      11 2015-04-23 14:48:02.648584
2      11 2015-04-25 11:24:42.384344
3      11 2015-04-26 23:39:51.773411
4      11 2015-04-27 00:57:23.866779
5      11 2015-05-01 00:28:52.727252
6      11 2015-05-03 18:41:59.923943
7      11 2015-05-06 04:31:42.666801
8      11 2015-05-12 06:33:50.670780
9      11 2015-05-14 13:45:02.326173
10     11 2015-05-20 17:35:13.551777
11     11 2015-05-21 18:36:38.908194
12     11 2015-05-31 00:14:02.139611
13     11 2015-06-24 19:10:31.438329

Device platform: iphone

                Monday start device
0 2015-04-27 00:05:44.586320     11

               Tuesday start device
0 2015-04-21 00:46:26.705470     11
1 2015-05-12 05:52:42.259425     11

                Friday start device
0 2015-05-01 00:28:52.486186     11

             Wednesday start device
0 2015-05-06 04:31:42.427898     11
1 2015-05-20 16:45:46.943249     11
2 2015-06-24 18:12:57.961462     11

              Thursday start device
0 2015-04-23 14:48:02.411390     11
1 2015-05-14 13:45:02.153300     11
2 2015-05-21 18:36:38.730754     11

                Sunday start device
0 2015-04-26 23:39:51.512774     11
1 2015-05-03 18:36:17.209166     11
2 2015-05-31 00:14:01.901010     11

              Saturday start device
0 2015-04-25 11:24:42.152654     11

Device platform: iphone

                  Monday end device
0 2015-04-27 00:57:23.866779     11

                 Tuesday end device
0 2015-04-21 00:46:26.953430     11
1 2015-05-12 06:33:50.670780     11

                  Friday end device
0 2015-05-01 00:28:52.727252     11

               Wednesday end device
0 2015-05-06 04:31:42.666801     11
1 2015-05-20 17:35:13.551777     11
2 2015-06-24 19:10:31.438329     11

                Thursday end device
0 2015-04-23 14:48:02.648584     11
1 2015-05-14 13:45:02.326173     11
2 2015-05-21 18:36:38.908194     11

                  Sunday end device
0 2015-04-26 23:39:51.773411     11
1 2015-05-03 18:41:59.923943     11
2 2015-05-31 00:14:02.139611     11

                Saturday end device
0 2015-04-25 11:24:42.384344     11

    devid                      start
0      12 2015-04-18 15:40:54.596978
1      12 2015-04-19 14:46:22.057174
2      12 2015-04-20 04:09:15.083701
3      12 2015-04-21 19:01:00.550228
4      12 2015-04-22 18:49:09.562160
5      12 2015-04-23 21:17:08.616067
6      12 2015-04-24 21:19:55.425435
7      12 2015-04-25 15:59:29.539223
8      12 2015-04-26 17:29:27.743563
9      12 2015-04-27 17:25:48.882390
10     12 2015-04-28 15:23:14.345534
11     12 2015-04-29 23:32:22.135813
12     12 2015-04-30 19:22:02.912483
13     12 2015-05-01 05:27:28.201366
14     12 2015-05-02 15:18:24.247020
15     12 2015-05-03 05:21:37.890801
16     12 2015-05-04 13:41:25.890713
17     12 2015-05-05 04:01:12.945050
18     12 2015-05-06 10:34:37.209044
19     12 2015-05-07 04:01:27.093885
20     12 2015-05-08 04:13:26.245993
21     12 2015-05-09 23:38:07.318801
22     12 2015-05-10 05:21:24.639304
23     12 2015-05-11 04:19:38.006822
24     12 2015-05-12 17:09:36.361183
25     12 2015-05-13 11:25:11.789244
26     12 2015-05-14 17:02:09.188211
27     12 2015-05-15 04:31:54.849668
28     12 2015-05-16 04:14:37.622340
29     12 2015-05-17 04:01:43.374993
30     12 2015-05-18 04:17:28.055818
31     12 2015-05-19 08:55:39.372548
32     12 2015-05-20 16:45:46.940086
33     12 2015-05-21 16:30:16.180352
34     12 2015-05-22 00:24:27.937430
35     12 2015-05-23 12:23:13.897711
36     12 2015-05-24 06:52:16.990830
37     12 2015-05-25 16:51:53.904931
38     12 2015-05-26 00:07:35.651859
39     12 2015-05-27 16:32:01.835265
40     12 2015-05-28 19:21:09.215526
41     12 2015-05-29 13:39:11.367893
42     12 2015-05-30 15:13:12.132152
43     12 2015-05-31 00:14:01.882669
44     12 2015-06-01 05:48:42.267099
45     12 2015-06-02 14:08:43.573584
46     12 2015-06-03 04:51:31.590677
47     12 2015-06-04 14:24:21.651043
48     12 2015-06-05 06:28:03.103789
49     12 2015-06-06 16:41:37.392982
50     12 2015-06-07 10:59:39.343032
51     12 2015-06-08 08:07:23.738087
52     12 2015-06-10 14:21:14.294065

    devid                        end
0      12 2015-04-18 16:51:35.903030
1      12 2015-04-19 23:59:54.573656
2      12 2015-04-20 23:31:02.783287
3      12 2015-04-21 22:12:38.986468
4      12 2015-04-22 23:30:15.730076
5      12 2015-04-23 21:48:19.115948
6      12 2015-04-24 22:50:09.137288
7      12 2015-04-25 16:04:30.852481
8      12 2015-04-26 23:02:59.697698
9      12 2015-04-27 23:55:07.540653
10     12 2015-04-28 18:49:42.520796
11     12 2015-04-29 23:32:22.259981
12     12 2015-04-30 23:03:26.741949
13     12 2015-05-01 23:57:51.827654
14     12 2015-05-02 23:57:19.762796
15     12 2015-05-03 19:54:35.437192
16     12 2015-05-04 23:59:10.374583
17     12 2015-05-05 17:49:04.353243
18     12 2015-05-06 23:56:10.596995
19     12 2015-05-07 22:50:03.889770
20     12 2015-05-08 23:43:50.408040
21     12 2015-05-09 23:38:07.602987
22     12 2015-05-10 16:31:49.493290
23     12 2015-05-11 18:38:07.594514
24     12 2015-05-12 17:09:36.429841
25     12 2015-05-13 23:15:33.946820
26     12 2015-05-14 23:00:21.613645
27     12 2015-05-15 23:40:40.116244
28     12 2015-05-16 22:57:37.897462
29     12 2015-05-17 23:59:53.117921
30     12 2015-05-18 14:19:16.318489
31     12 2015-05-19 22:46:18.822355
32     12 2015-05-20 22:55:50.893450
33     12 2015-05-21 23:51:06.771528
34     12 2015-05-22 00:24:28.467043
35     12 2015-05-23 20:04:56.691465
36     12 2015-05-24 06:52:17.071968
37     12 2015-05-25 19:37:03.797174
38     12 2015-05-26 00:57:54.912884
39     12 2015-05-27 17:07:46.055379
40     12 2015-05-28 21:25:09.722666
41     12 2015-05-29 13:39:11.616222
42     12 2015-05-30 23:18:46.343333
43     12 2015-05-31 00:14:02.130993
44     12 2015-06-01 05:48:42.496005
45     12 2015-06-02 22:37:26.128670
46     12 2015-06-03 23:57:56.179281
47     12 2015-06-04 16:35:10.084738
48     12 2015-06-05 23:23:19.205683
49     12 2015-06-06 23:39:12.252476
50     12 2015-06-07 23:37:28.978769
51     12 2015-06-08 22:27:32.030990
52     12 2015-06-10 14:26:40.526930

Device platform: macbook

                Monday start device
0 2015-04-20 04:09:15.083701     12
1 2015-04-27 17:25:48.882390     12
2 2015-05-04 13:41:25.890713     12
3 2015-05-11 04:19:38.006822     12
4 2015-05-18 04:17:28.055818     12
5 2015-05-25 16:51:53.904931     12
6 2015-06-01 05:48:42.267099     12
7 2015-06-08 08:07:23.738087     12

               Tuesday start device
0 2015-04-21 19:01:00.550228     12
1 2015-04-28 15:23:14.345534     12
2 2015-05-05 04:01:12.945050     12
3 2015-05-12 17:09:36.361183     12
4 2015-05-19 08:55:39.372548     12
5 2015-05-26 00:07:35.651859     12
6 2015-06-02 14:08:43.573584     12

                Friday start device
0 2015-04-24 21:19:55.425435     12
1 2015-05-01 05:27:28.201366     12
2 2015-05-08 04:13:26.245993     12
3 2015-05-15 04:31:54.849668     12
4 2015-05-22 00:24:27.937430     12
5 2015-05-29 13:39:11.367893     12
6 2015-06-05 06:28:03.103789     12

             Wednesday start device
0 2015-04-22 18:49:09.562160     12
1 2015-04-29 23:32:22.135813     12
2 2015-05-06 10:34:37.209044     12
3 2015-05-13 11:25:11.789244     12
4 2015-05-20 16:45:46.940086     12
5 2015-05-27 16:32:01.835265     12
6 2015-06-03 04:51:31.590677     12
7 2015-06-10 14:21:14.294065     12

              Thursday start device
0 2015-04-23 21:17:08.616067     12
1 2015-04-30 19:22:02.912483     12
2 2015-05-07 04:01:27.093885     12
3 2015-05-14 17:02:09.188211     12
4 2015-05-21 16:30:16.180352     12
5 2015-05-28 19:21:09.215526     12
6 2015-06-04 14:24:21.651043     12

                Sunday start device
0 2015-04-19 14:46:22.057174     12
1 2015-04-26 17:29:27.743563     12
2 2015-05-03 05:21:37.890801     12
3 2015-05-10 05:21:24.639304     12
4 2015-05-17 04:01:43.374993     12
5 2015-05-24 06:52:16.990830     12
6 2015-05-31 00:14:01.882669     12
7 2015-06-07 10:59:39.343032     12

              Saturday start device
0 2015-04-18 15:40:54.596978     12
1 2015-04-25 15:59:29.539223     12
2 2015-05-02 15:18:24.247020     12
3 2015-05-09 23:38:07.318801     12
4 2015-05-16 04:14:37.622340     12
5 2015-05-23 12:23:13.897711     12
6 2015-05-30 15:13:12.132152     12
7 2015-06-06 16:41:37.392982     12

Device platform: macbook

                  Monday end device
0 2015-04-20 23:31:02.783287     12
1 2015-04-27 23:55:07.540653     12
2 2015-05-04 23:59:10.374583     12
3 2015-05-11 18:38:07.594514     12
4 2015-05-18 14:19:16.318489     12
5 2015-05-25 19:37:03.797174     12
6 2015-06-01 05:48:42.496005     12
7 2015-06-08 22:27:32.030990     12

                 Tuesday end device
0 2015-04-21 22:12:38.986468     12
1 2015-04-28 18:49:42.520796     12
2 2015-05-05 17:49:04.353243     12
3 2015-05-12 17:09:36.429841     12
4 2015-05-19 22:46:18.822355     12
5 2015-05-26 00:57:54.912884     12
6 2015-06-02 22:37:26.128670     12

                  Friday end device
0 2015-04-24 22:50:09.137288     12
1 2015-05-01 23:57:51.827654     12
2 2015-05-08 23:43:50.408040     12
3 2015-05-15 23:40:40.116244     12
4 2015-05-22 00:24:28.467043     12
5 2015-05-29 13:39:11.616222     12
6 2015-06-05 23:23:19.205683     12

               Wednesday end device
0 2015-04-22 23:30:15.730076     12
1 2015-04-29 23:32:22.259981     12
2 2015-05-06 23:56:10.596995     12
3 2015-05-13 23:15:33.946820     12
4 2015-05-20 22:55:50.893450     12
5 2015-05-27 17:07:46.055379     12
6 2015-06-03 23:57:56.179281     12
7 2015-06-10 14:26:40.526930     12

                Thursday end device
0 2015-04-23 21:48:19.115948     12
1 2015-04-30 23:03:26.741949     12
2 2015-05-07 22:50:03.889770     12
3 2015-05-14 23:00:21.613645     12
4 2015-05-21 23:51:06.771528     12
5 2015-05-28 21:25:09.722666     12
6 2015-06-04 16:35:10.084738     12

                  Sunday end device
0 2015-04-19 23:59:54.573656     12
1 2015-04-26 23:02:59.697698     12
2 2015-05-03 19:54:35.437192     12
3 2015-05-10 16:31:49.493290     12
4 2015-05-17 23:59:53.117921     12
5 2015-05-24 06:52:17.071968     12
6 2015-05-31 00:14:02.130993     12
7 2015-06-07 23:37:28.978769     12

                Saturday end device
0 2015-04-18 16:51:35.903030     12
1 2015-04-25 16:04:30.852481     12
2 2015-05-02 23:57:19.762796     12
3 2015-05-09 23:38:07.602987     12
4 2015-05-16 22:57:37.897462     12
5 2015-05-23 20:04:56.691465     12
6 2015-05-30 23:18:46.343333     12
7 2015-06-06 23:39:12.252476     12

user: 9 desir=======================

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Device platform: ipad

Empty DataFrame
Columns: [Monday start, device]
Index: []

Empty DataFrame
Columns: [Tuesday start, device]
Index: []

Empty DataFrame
Columns: [Friday start, device]
Index: []

Empty DataFrame
Columns: [Wednesday start, device]
Index: []

Empty DataFrame
Columns: [Thursday start, device]
Index: []

Empty DataFrame
Columns: [Sunday start, device]
Index: []

Empty DataFrame
Columns: [Saturday start, device]
Index: []

Device platform: ipad

Empty DataFrame
Columns: [Monday end, device]
Index: []

Empty DataFrame
Columns: [Tuesday end, device]
Index: []

Empty DataFrame
Columns: [Friday end, device]
Index: []

Empty DataFrame
Columns: [Wednesday end, device]
Index: []

Empty DataFrame
Columns: [Thursday end, device]
Index: []

Empty DataFrame
Columns: [Sunday end, device]
Index: []

Empty DataFrame
Columns: [Saturday end, device]
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Device platform: android-phone

Empty DataFrame
Columns: [Monday start, device]
Index: []

Empty DataFrame
Columns: [Tuesday start, device]
Index: []

Empty DataFrame
Columns: [Friday start, device]
Index: []

Empty DataFrame
Columns: [Wednesday start, device]
Index: []

Empty DataFrame
Columns: [Thursday start, device]
Index: []

Empty DataFrame
Columns: [Sunday start, device]
Index: []

Empty DataFrame
Columns: [Saturday start, device]
Index: []

Device platform: android-phone

Empty DataFrame
Columns: [Monday end, device]
Index: []

Empty DataFrame
Columns: [Tuesday end, device]
Index: []

Empty DataFrame
Columns: [Friday end, device]
Index: []

Empty DataFrame
Columns: [Wednesday end, device]
Index: []

Empty DataFrame
Columns: [Thursday end, device]
Index: []

Empty DataFrame
Columns: [Sunday end, device]
Index: []

Empty DataFrame
Columns: [Saturday end, device]
Index: []

user: 10 filiatre=======================

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Device platform: android-tablet

Empty DataFrame
Columns: [Monday start, device]
Index: []

Empty DataFrame
Columns: [Tuesday start, device]
Index: []

Empty DataFrame
Columns: [Friday start, device]
Index: []

Empty DataFrame
Columns: [Wednesday start, device]
Index: []

Empty DataFrame
Columns: [Thursday start, device]
Index: []

Empty DataFrame
Columns: [Sunday start, device]
Index: []

Empty DataFrame
Columns: [Saturday start, device]
Index: []

Device platform: android-tablet

Empty DataFrame
Columns: [Monday end, device]
Index: []

Empty DataFrame
Columns: [Tuesday end, device]
Index: []

Empty DataFrame
Columns: [Friday end, device]
Index: []

Empty DataFrame
Columns: [Wednesday end, device]
Index: []

Empty DataFrame
Columns: [Thursday end, device]
Index: []

Empty DataFrame
Columns: [Sunday end, device]
Index: []

Empty DataFrame
Columns: [Saturday end, device]
Index: []

   devid                      start
0     16 2015-05-10 13:27:49.840017

   devid                        end
0     16 2015-05-10 13:27:49.970496

Device platform: iphone

Empty DataFrame
Columns: [Monday start, device]
Index: []

Empty DataFrame
Columns: [Tuesday start, device]
Index: []

Empty DataFrame
Columns: [Friday start, device]
Index: []

Empty DataFrame
Columns: [Wednesday start, device]
Index: []

Empty DataFrame
Columns: [Thursday start, device]
Index: []

                Sunday start device
0 2015-05-10 13:27:49.840017     16

Empty DataFrame
Columns: [Saturday start, device]
Index: []

Device platform: iphone

Empty DataFrame
Columns: [Monday end, device]
Index: []

Empty DataFrame
Columns: [Tuesday end, device]
Index: []

Empty DataFrame
Columns: [Friday end, device]
Index: []

Empty DataFrame
Columns: [Wednesday end, device]
Index: []

Empty DataFrame
Columns: [Thursday end, device]
Index: []

                  Sunday end device
0 2015-05-10 13:27:49.970496     16

Empty DataFrame
Columns: [Saturday end, device]
Index: []

user: 11 majid=======================

   devid                      start
0     17 2015-04-20 22:21:36.117999
1     17 2015-04-24 22:06:03.835147
2     17 2015-05-04 13:51:03.721921
3     17 2015-05-11 13:46:29.378027
4     17 2015-06-15 03:04:43.074144

   devid                        end
0     17 2015-04-20 22:21:36.363378
1     17 2015-04-24 22:06:04.085702
2     17 2015-05-04 13:57:42.691187
3     17 2015-05-11 13:46:29.610165
4     17 2015-06-15 03:22:28.213818

Device platform: android-phone

                Monday start device
0 2015-04-20 22:21:36.117999     17
1 2015-05-04 13:51:03.721921     17
2 2015-05-11 13:46:29.378027     17
3 2015-06-15 03:04:43.074144     17

Empty DataFrame
Columns: [Tuesday start, device]
Index: []

                Friday start device
0 2015-04-24 22:06:03.835147     17

Empty DataFrame
Columns: [Wednesday start, device]
Index: []

Empty DataFrame
Columns: [Thursday start, device]
Index: []

Empty DataFrame
Columns: [Sunday start, device]
Index: []

Empty DataFrame
Columns: [Saturday start, device]
Index: []

Device platform: android-phone

                  Monday end device
0 2015-04-20 22:21:36.363378     17
1 2015-05-04 13:57:42.691187     17
2 2015-05-11 13:46:29.610165     17
3 2015-06-15 03:22:28.213818     17

Empty DataFrame
Columns: [Tuesday end, device]
Index: []

                  Friday end device
0 2015-04-24 22:06:04.085702     17

Empty DataFrame
Columns: [Wednesday end, device]
Index: []

Empty DataFrame
Columns: [Thursday end, device]
Index: []

Empty DataFrame
Columns: [Sunday end, device]
Index: []

Empty DataFrame
Columns: [Saturday end, device]
Index: []

user: 13 neenagupta=======================

   devid                      start
0     18 2015-11-10 10:10:23.070493
1     18 2015-11-18 09:41:01.357190
2     18 2015-11-22 16:36:05.332247
3     18 2015-11-23 09:48:52.035277
4     18 2015-11-25 09:44:45.026419

   devid                        end
0     18 2015-11-10 14:58:47.202157
1     18 2015-11-18 09:50:38.250751
2     18 2015-11-22 16:38:54.390309
3     18 2015-11-23 09:48:54.854906
4     18 2015-11-25 13:34:42.623733

Device platform: windows-pc

                Monday start device
0 2015-11-23 09:48:52.035277     18

               Tuesday start device
0 2015-11-10 10:10:23.070493     18

Empty DataFrame
Columns: [Friday start, device]
Index: []

             Wednesday start device
0 2015-11-18 09:41:01.357190     18
1 2015-11-25 09:44:45.026419     18

Empty DataFrame
Columns: [Thursday start, device]
Index: []

                Sunday start device
0 2015-11-22 16:36:05.332247     18

Empty DataFrame
Columns: [Saturday start, device]
Index: []

Device platform: windows-pc

                  Monday end device
0 2015-11-23 09:48:54.854906     18

                 Tuesday end device
0 2015-11-10 14:58:47.202157     18

Empty DataFrame
Columns: [Friday end, device]
Index: []

               Wednesday end device
0 2015-11-18 09:50:38.250751     18
1 2015-11-25 13:34:42.623733     18

Empty DataFrame
Columns: [Thursday end, device]
Index: []

                  Sunday end device
0 2015-11-22 16:38:54.390309     18

Empty DataFrame
Columns: [Saturday end, device]
Index: []

    devid                      start
0      19 2015-11-10 18:29:17.033384
1      19 2015-11-11 06:03:01.555249
2      19 2015-11-12 08:53:50.599244
3      19 2015-11-13 04:50:58.139236
4      19 2015-11-14 06:20:02.743291
5      19 2015-11-15 10:47:09.659233
6      19 2015-11-16 09:06:22.175241
7      19 2015-11-17 08:37:55.787280
8      19 2015-11-18 05:22:32.527233
9      19 2015-11-19 08:35:13.863238
10     19 2015-11-20 18:09:33.051232
11     19 2015-11-21 10:49:17.151242
12     19 2015-11-22 10:42:15.271241
13     19 2015-11-23 17:54:13.587239
14     19 2015-11-24 08:38:09.735240
15     19 2015-11-25 08:33:10.415239
16     19 2015-11-26 08:34:30.103243
17     19 2015-11-27 05:07:13.623241
18     19 2015-11-28 17:42:56.223251
19     19 2015-11-29 11:22:05.883229
20     19 2015-11-30 08:50:58.007238
21     19 2015-12-01 20:10:26.735284
22     19 2015-12-03 05:20:51.519282
23     19 2015-12-04 09:13:38.483332
24     19 2015-12-05 18:24:13.795223
25     19 2015-12-06 10:57:38.139230
26     19 2015-12-08 18:49:26.959463
27     19 2015-12-09 09:05:12.695454
28     19 2015-12-10 08:52:43.195447

    devid                        end
0      19 2015-11-10 21:17:29.464040
1      19 2015-11-11 19:24:34.597552
2      19 2015-11-12 21:45:14.851081
3      19 2015-11-13 21:34:40.775432
4      19 2015-11-14 22:13:23.855220
5      19 2015-11-15 20:57:22.631223
6      19 2015-11-16 19:35:36.181310
7      19 2015-11-17 21:51:06.491879
8      19 2015-11-18 20:59:14.949954
9      19 2015-11-19 20:45:19.049069
10     19 2015-11-20 23:05:40.196018
11     19 2015-11-21 23:13:45.223249
12     19 2015-11-22 20:21:37.401936
13     19 2015-11-23 20:07:05.335119
14     19 2015-11-24 21:08:34.704783
15     19 2015-11-25 21:00:19.378105
16     19 2015-11-26 20:54:19.325695
17     19 2015-11-27 20:44:17.805491
18     19 2015-11-28 20:45:40.951099
19     19 2015-11-29 19:11:48.758486
20     19 2015-11-30 09:25:59.613673
21     19 2015-12-01 21:42:04.237723
22     19 2015-12-03 23:11:13.359229
23     19 2015-12-04 09:18:40.237932
24     19 2015-12-05 19:24:23.825038
25     19 2015-12-06 19:03:58.475299
26     19 2015-12-08 19:13:31.163463
27     19 2015-12-09 19:59:22.820199
28     19 2015-12-10 18:47:16.939505

Device platform: macbook

                Monday start device
0 2015-11-16 09:06:22.175241     19
1 2015-11-23 17:54:13.587239     19
2 2015-11-30 08:50:58.007238     19

               Tuesday start device
0 2015-11-10 18:29:17.033384     19
1 2015-11-17 08:37:55.787280     19
2 2015-11-24 08:38:09.735240     19
3 2015-12-01 20:10:26.735284     19
4 2015-12-08 18:49:26.959463     19

                Friday start device
0 2015-11-13 04:50:58.139236     19
1 2015-11-20 18:09:33.051232     19
2 2015-11-27 05:07:13.623241     19
3 2015-12-04 09:13:38.483332     19

             Wednesday start device
0 2015-11-11 06:03:01.555249     19
1 2015-11-18 05:22:32.527233     19
2 2015-11-25 08:33:10.415239     19
3 2015-12-09 09:05:12.695454     19

              Thursday start device
0 2015-11-12 08:53:50.599244     19
1 2015-11-19 08:35:13.863238     19
2 2015-11-26 08:34:30.103243     19
3 2015-12-03 05:20:51.519282     19
4 2015-12-10 08:52:43.195447     19

                Sunday start device
0 2015-11-15 10:47:09.659233     19
1 2015-11-22 10:42:15.271241     19
2 2015-11-29 11:22:05.883229     19
3 2015-12-06 10:57:38.139230     19

              Saturday start device
0 2015-11-14 06:20:02.743291     19
1 2015-11-21 10:49:17.151242     19
2 2015-11-28 17:42:56.223251     19
3 2015-12-05 18:24:13.795223     19

Device platform: macbook

                  Monday end device
0 2015-11-16 19:35:36.181310     19
1 2015-11-23 20:07:05.335119     19
2 2015-11-30 09:25:59.613673     19

                 Tuesday end device
0 2015-11-10 21:17:29.464040     19
1 2015-11-17 21:51:06.491879     19
2 2015-11-24 21:08:34.704783     19
3 2015-12-01 21:42:04.237723     19
4 2015-12-08 19:13:31.163463     19

                  Friday end device
0 2015-11-13 21:34:40.775432     19
1 2015-11-20 23:05:40.196018     19
2 2015-11-27 20:44:17.805491     19
3 2015-12-04 09:18:40.237932     19

               Wednesday end device
0 2015-11-11 19:24:34.597552     19
1 2015-11-18 20:59:14.949954     19
2 2015-11-25 21:00:19.378105     19
3 2015-12-09 19:59:22.820199     19

                Thursday end device
0 2015-11-12 21:45:14.851081     19
1 2015-11-19 20:45:19.049069     19
2 2015-11-26 20:54:19.325695     19
3 2015-12-03 23:11:13.359229     19
4 2015-12-10 18:47:16.939505     19

                  Sunday end device
0 2015-11-15 20:57:22.631223     19
1 2015-11-22 20:21:37.401936     19
2 2015-11-29 19:11:48.758486     19
3 2015-12-06 19:03:58.475299     19

                Saturday end device
0 2015-11-14 22:13:23.855220     19
1 2015-11-21 23:13:45.223249     19
2 2015-11-28 20:45:40.951099     19
3 2015-12-05 19:24:23.825038     19

    devid                      start
0      20 2015-11-10 20:31:26.375463
1      20 2015-11-14 06:55:08.459234
2      20 2015-11-19 18:40:05.395232
3      20 2015-11-20 19:51:08.715227
4      20 2015-11-21 23:09:05.983229
5      20 2015-11-22 18:38:14.879257
6      20 2015-11-23 18:10:02.975239
7      20 2015-11-24 20:58:21.424474
8      20 2015-11-25 08:34:44.243229
9      20 2015-11-26 20:37:49.587248
10     20 2015-11-27 08:39:52.891231
11     20 2015-11-28 17:43:17.527228
12     20 2015-12-01 21:19:02.867237
13     20 2015-12-08 18:50:09.975502

    devid                        end
0      20 2015-11-10 21:49:15.183266
1      20 2015-11-14 23:35:59.155248
2      20 2015-11-19 20:54:35.051742
3      20 2015-11-20 22:09:21.943796
4      20 2015-11-21 23:44:18.263257
5      20 2015-11-22 18:40:12.219225
6      20 2015-11-23 19:25:15.533834
7      20 2015-11-24 21:16:30.603231
8      20 2015-11-25 21:10:06.879346
9      20 2015-11-26 20:41:26.414559
10     20 2015-11-27 09:41:14.590908
11     20 2015-11-28 21:13:12.070665
12     20 2015-12-01 21:26:53.915218
13     20 2015-12-08 20:19:07.154286

Device platform: iphone

                Monday start device
0 2015-11-23 18:10:02.975239     20

               Tuesday start device
0 2015-11-10 20:31:26.375463     20
1 2015-11-24 20:58:21.424474     20
2 2015-12-01 21:19:02.867237     20
3 2015-12-08 18:50:09.975502     20

                Friday start device
0 2015-11-20 19:51:08.715227     20
1 2015-11-27 08:39:52.891231     20

             Wednesday start device
0 2015-11-25 08:34:44.243229     20

              Thursday start device
0 2015-11-19 18:40:05.395232     20
1 2015-11-26 20:37:49.587248     20

                Sunday start device
0 2015-11-22 18:38:14.879257     20

              Saturday start device
0 2015-11-14 06:55:08.459234     20
1 2015-11-21 23:09:05.983229     20
2 2015-11-28 17:43:17.527228     20

Device platform: iphone

                  Monday end device
0 2015-11-23 19:25:15.533834     20

                 Tuesday end device
0 2015-11-10 21:49:15.183266     20
1 2015-11-24 21:16:30.603231     20
2 2015-12-01 21:26:53.915218     20
3 2015-12-08 20:19:07.154286     20

                  Friday end device
0 2015-11-20 22:09:21.943796     20
1 2015-11-27 09:41:14.590908     20

               Wednesday end device
0 2015-11-25 21:10:06.879346     20

                Thursday end device
0 2015-11-19 20:54:35.051742     20
1 2015-11-26 20:41:26.414559     20

                  Sunday end device
0 2015-11-22 18:40:12.219225     20

                Saturday end device
0 2015-11-14 23:35:59.155248     20
1 2015-11-21 23:44:18.263257     20
2 2015-11-28 21:13:12.070665     20

user: 14 chrismaley=======================

   devid                      start
0     21 2015-11-11 11:22:21.691526
1     21 2015-11-14 23:16:03.234973
2     21 2015-11-17 21:58:12.688711
3     21 2015-11-20 17:37:16.280916
4     21 2015-11-21 14:31:24.624862
5     21 2015-11-22 15:08:59.246640
6     21 2015-11-23 20:02:40.455542
7     21 2015-11-25 21:01:58.409635

   devid                        end
0     21 2015-11-11 13:42:04.116973
1     21 2015-11-14 23:23:42.788074
2     21 2015-11-17 23:00:19.691866
3     21 2015-11-20 17:57:32.311212
4     21 2015-11-21 17:33:37.069241
5     21 2015-11-22 23:29:16.526503
6     21 2015-11-23 22:28:09.958401
7     21 2015-11-25 22:24:27.951555

Device platform: windows-pc

                Monday start device
0 2015-11-23 20:02:40.455542     21

               Tuesday start device
0 2015-11-17 21:58:12.688711     21

                Friday start device
0 2015-11-20 17:37:16.280916     21

             Wednesday start device
0 2015-11-11 11:22:21.691526     21
1 2015-11-25 21:01:58.409635     21

Empty DataFrame
Columns: [Thursday start, device]
Index: []

                Sunday start device
0 2015-11-22 15:08:59.246640     21

              Saturday start device
0 2015-11-14 23:16:03.234973     21
1 2015-11-21 14:31:24.624862     21

Device platform: windows-pc

                  Monday end device
0 2015-11-23 22:28:09.958401     21

                 Tuesday end device
0 2015-11-17 23:00:19.691866     21

                  Friday end device
0 2015-11-20 17:57:32.311212     21

               Wednesday end device
0 2015-11-11 13:42:04.116973     21
1 2015-11-25 22:24:27.951555     21

Empty DataFrame
Columns: [Thursday end, device]
Index: []

                  Sunday end device
0 2015-11-22 23:29:16.526503     21

                Saturday end device
0 2015-11-14 23:23:42.788074     21
1 2015-11-21 17:33:37.069241     21

    devid                      start
0      22 2015-11-11 11:43:08.176726
1      22 2015-11-12 09:18:57.661684
2      22 2015-11-13 09:16:06.027385
3      22 2015-11-15 09:24:32.082264
4      22 2015-11-16 11:20:51.428974
5      22 2015-11-17 08:40:11.687136
6      22 2015-11-18 09:20:04.038241
7      22 2015-11-19 09:19:45.079548
8      22 2015-11-22 09:24:30.557265
9      22 2015-11-23 09:20:16.770001
10     22 2015-11-24 08:58:39.436785
11     22 2015-11-25 12:51:58.804941

    devid                        end
0      22 2015-11-11 11:50:37.633022
1      22 2015-11-12 10:02:52.789518
2      22 2015-11-13 09:44:53.600514
3      22 2015-11-15 19:06:35.768557
4      22 2015-11-16 14:06:51.840264
5      22 2015-11-17 09:16:47.417994
6      22 2015-11-18 09:45:51.525016
7      22 2015-11-19 10:06:01.814898
8      22 2015-11-22 09:43:37.438767
9      22 2015-11-23 09:45:37.380436
10     22 2015-11-24 09:19:23.158221
11     22 2015-11-25 13:09:00.768073

Device platform: windows-pc

                Monday start device
0 2015-11-16 11:20:51.428974     22
1 2015-11-23 09:20:16.770001     22

               Tuesday start device
0 2015-11-17 08:40:11.687136     22
1 2015-11-24 08:58:39.436785     22

                Friday start device
0 2015-11-13 09:16:06.027385     22

             Wednesday start device
0 2015-11-11 11:43:08.176726     22
1 2015-11-18 09:20:04.038241     22
2 2015-11-25 12:51:58.804941     22

              Thursday start device
0 2015-11-12 09:18:57.661684     22
1 2015-11-19 09:19:45.079548     22

                Sunday start device
0 2015-11-15 09:24:32.082264     22
1 2015-11-22 09:24:30.557265     22

Empty DataFrame
Columns: [Saturday start, device]
Index: []

Device platform: windows-pc

                  Monday end device
0 2015-11-16 14:06:51.840264     22
1 2015-11-23 09:45:37.380436     22

                 Tuesday end device
0 2015-11-17 09:16:47.417994     22
1 2015-11-24 09:19:23.158221     22

                  Friday end device
0 2015-11-13 09:44:53.600514     22

               Wednesday end device
0 2015-11-11 11:50:37.633022     22
1 2015-11-18 09:45:51.525016     22
2 2015-11-25 13:09:00.768073     22

                Thursday end device
0 2015-11-12 10:02:52.789518     22
1 2015-11-19 10:06:01.814898     22

                  Sunday end device
0 2015-11-15 19:06:35.768557     22
1 2015-11-22 09:43:37.438767     22

Empty DataFrame
Columns: [Saturday end, device]
Index: []

user: 15 clifford.wife=======================

    devid                      start
0      23 2015-11-11 15:16:12.454193
1      23 2015-11-12 07:48:50.555362
2      23 2015-11-13 08:59:39.848848
3      23 2015-11-14 04:00:09.823225
4      23 2015-11-15 12:36:55.226207
5      23 2015-11-16 09:45:02.971253
6      23 2015-11-17 12:02:00.547681
7      23 2015-11-18 14:03:49.388123
8      23 2015-11-19 09:02:00.591885
9      23 2015-11-20 04:00:00.111034
10     23 2015-11-21 04:00:10.192972
11     23 2015-11-22 07:32:43.370772
12     23 2015-11-23 04:00:21.540886
13     23 2015-11-24 15:44:51.078591
14     23 2015-11-25 10:27:49.902470
15     23 2015-11-26 15:11:18.796304

    devid                        end
0      23 2015-11-11 15:37:07.850879
1      23 2015-11-12 22:19:05.474060
2      23 2015-11-13 23:59:54.319775
3      23 2015-11-14 23:59:10.390561
4      23 2015-11-15 21:59:58.925073
5      23 2015-11-16 11:21:15.686149
6      23 2015-11-17 23:30:58.038634
7      23 2015-11-18 23:04:42.901086
8      23 2015-11-19 23:59:47.202952
9      23 2015-11-20 23:59:52.872115
10     23 2015-11-21 20:50:58.996280
11     23 2015-11-22 23:59:56.658121
12     23 2015-11-23 23:42:16.636372
13     23 2015-11-24 21:52:23.393032
14     23 2015-11-25 23:58:08.814364
15     23 2015-11-26 17:21:35.109662

Device platform: windows-laptop

                Monday start device
0 2015-11-16 09:45:02.971253     23
1 2015-11-23 04:00:21.540886     23

               Tuesday start device
0 2015-11-17 12:02:00.547681     23
1 2015-11-24 15:44:51.078591     23

                Friday start device
0 2015-11-13 08:59:39.848848     23
1 2015-11-20 04:00:00.111034     23

             Wednesday start device
0 2015-11-11 15:16:12.454193     23
1 2015-11-18 14:03:49.388123     23
2 2015-11-25 10:27:49.902470     23

              Thursday start device
0 2015-11-12 07:48:50.555362     23
1 2015-11-19 09:02:00.591885     23
2 2015-11-26 15:11:18.796304     23

                Sunday start device
0 2015-11-15 12:36:55.226207     23
1 2015-11-22 07:32:43.370772     23

              Saturday start device
0 2015-11-14 04:00:09.823225     23
1 2015-11-21 04:00:10.192972     23

Device platform: windows-laptop

                  Monday end device
0 2015-11-16 11:21:15.686149     23
1 2015-11-23 23:42:16.636372     23

                 Tuesday end device
0 2015-11-17 23:30:58.038634     23
1 2015-11-24 21:52:23.393032     23

                  Friday end device
0 2015-11-13 23:59:54.319775     23
1 2015-11-20 23:59:52.872115     23

               Wednesday end device
0 2015-11-11 15:37:07.850879     23
1 2015-11-18 23:04:42.901086     23
2 2015-11-25 23:58:08.814364     23

                Thursday end device
0 2015-11-12 22:19:05.474060     23
1 2015-11-19 23:59:47.202952     23
2 2015-11-26 17:21:35.109662     23

                  Sunday end device
0 2015-11-15 21:59:58.925073     23
1 2015-11-22 23:59:56.658121     23

                Saturday end device
0 2015-11-14 23:59:10.390561     23
1 2015-11-21 20:50:58.996280     23

    devid                      start
0      24 2015-11-11 15:27:00.183240
1      24 2015-11-12 04:15:33.303235
2      24 2015-11-13 04:31:37.079237
3      24 2015-11-14 04:14:43.375004
4      24 2015-11-16 08:22:02.482425
5      24 2015-11-17 13:49:09.999234
6      24 2015-11-18 17:28:46.195237
7      24 2015-11-19 00:13:08.871237
8      24 2015-11-20 18:46:41.711232
9      24 2015-11-22 13:55:10.867233
10     24 2015-11-23 04:54:49.307231
11     24 2015-11-24 14:20:50.183236
12     24 2015-11-25 22:26:49.039869
13     24 2015-11-26 04:00:13.667230
14     24 2015-11-27 04:05:46.787224
15     24 2015-11-28 11:05:39.087230
16     24 2015-11-29 16:32:57.619234
17     24 2015-11-30 04:11:29.743229
18     24 2015-12-01 23:53:15.867281
19     24 2015-12-02 04:11:00.023358
20     24 2015-12-04 13:35:31.571235
21     24 2015-12-05 22:26:56.891232
22     24 2015-12-06 04:03:03.215234
23     24 2015-12-09 08:02:09.379463
24     24 2015-12-26 11:41:08.647454

    devid                        end
0      24 2015-11-11 23:59:21.467502
1      24 2015-11-12 23:59:31.726871
2      24 2015-11-13 23:58:18.169573
3      24 2015-11-14 23:00:10.703974
4      24 2015-11-16 21:22:43.255225
5      24 2015-11-17 23:01:44.439229
6      24 2015-11-18 18:29:50.679233
7      24 2015-11-19 01:19:50.282997
8      24 2015-11-20 22:12:49.311226
9      24 2015-11-22 16:34:44.787325
10     24 2015-11-23 08:05:41.991246
11     24 2015-11-24 19:30:36.363225
12     24 2015-11-25 23:54:27.025713
13     24 2015-11-26 23:59:49.507226
14     24 2015-11-27 06:17:38.054501
15     24 2015-11-28 11:34:38.719220
16     24 2015-11-29 23:57:45.443225
17     24 2015-11-30 18:57:16.315225
18     24 2015-12-01 23:59:55.760829
19     24 2015-12-02 15:51:37.595223
20     24 2015-12-04 14:54:36.240759
21     24 2015-12-05 23:59:52.407263
22     24 2015-12-06 07:50:28.111781
23     24 2015-12-09 09:36:49.159442
24     24 2015-12-26 11:51:12.340026

Device platform: iphone

                Monday start device
0 2015-11-16 08:22:02.482425     24
1 2015-11-23 04:54:49.307231     24
2 2015-11-30 04:11:29.743229     24

               Tuesday start device
0 2015-11-17 13:49:09.999234     24
1 2015-11-24 14:20:50.183236     24
2 2015-12-01 23:53:15.867281     24

                Friday start device
0 2015-11-13 04:31:37.079237     24
1 2015-11-20 18:46:41.711232     24
2 2015-11-27 04:05:46.787224     24
3 2015-12-04 13:35:31.571235     24

             Wednesday start device
0 2015-11-11 15:27:00.183240     24
1 2015-11-18 17:28:46.195237     24
2 2015-11-25 22:26:49.039869     24
3 2015-12-02 04:11:00.023358     24
4 2015-12-09 08:02:09.379463     24

              Thursday start device
0 2015-11-12 04:15:33.303235     24
1 2015-11-19 00:13:08.871237     24
2 2015-11-26 04:00:13.667230     24

                Sunday start device
0 2015-11-22 13:55:10.867233     24
1 2015-11-29 16:32:57.619234     24
2 2015-12-06 04:03:03.215234     24

              Saturday start device
0 2015-11-14 04:14:43.375004     24
1 2015-11-28 11:05:39.087230     24
2 2015-12-05 22:26:56.891232     24
3 2015-12-26 11:41:08.647454     24

Device platform: iphone

                  Monday end device
0 2015-11-16 21:22:43.255225     24
1 2015-11-23 08:05:41.991246     24
2 2015-11-30 18:57:16.315225     24

                 Tuesday end device
0 2015-11-17 23:01:44.439229     24
1 2015-11-24 19:30:36.363225     24
2 2015-12-01 23:59:55.760829     24

                  Friday end device
0 2015-11-13 23:58:18.169573     24
1 2015-11-20 22:12:49.311226     24
2 2015-11-27 06:17:38.054501     24
3 2015-12-04 14:54:36.240759     24

               Wednesday end device
0 2015-11-11 23:59:21.467502     24
1 2015-11-18 18:29:50.679233     24
2 2015-11-25 23:54:27.025713     24
3 2015-12-02 15:51:37.595223     24
4 2015-12-09 09:36:49.159442     24

                Thursday end device
0 2015-11-12 23:59:31.726871     24
1 2015-11-19 01:19:50.282997     24
2 2015-11-26 23:59:49.507226     24

                  Sunday end device
0 2015-11-22 16:34:44.787325     24
1 2015-11-29 23:57:45.443225     24
2 2015-12-06 07:50:28.111781     24

                Saturday end device
0 2015-11-14 23:00:10.703974     24
1 2015-11-28 11:34:38.719220     24
2 2015-12-05 23:59:52.407263     24
3 2015-12-26 11:51:12.340026     24

   devid                      start
0     25 2015-11-11 15:44:37.271235
1     25 2015-11-12 09:21:43.016799
2     25 2015-11-20 18:21:50.631234
3     25 2015-11-21 10:25:07.819238

   devid                        end
0     25 2015-11-11 15:48:30.391223
1     25 2015-11-12 09:21:43.238294
2     25 2015-11-20 19:02:42.015466
3     25 2015-11-21 11:40:00.587226

Device platform: ipad

Empty DataFrame
Columns: [Monday start, device]
Index: []

Empty DataFrame
Columns: [Tuesday start, device]
Index: []

                Friday start device
0 2015-11-20 18:21:50.631234     25

             Wednesday start device
0 2015-11-11 15:44:37.271235     25

              Thursday start device
0 2015-11-12 09:21:43.016799     25

Empty DataFrame
Columns: [Sunday start, device]
Index: []

              Saturday start device
0 2015-11-21 10:25:07.819238     25

Device platform: ipad

Empty DataFrame
Columns: [Monday end, device]
Index: []

Empty DataFrame
Columns: [Tuesday end, device]
Index: []

                  Friday end device
0 2015-11-20 19:02:42.015466     25

               Wednesday end device
0 2015-11-11 15:48:30.391223     25

                Thursday end device
0 2015-11-12 09:21:43.238294     25

Empty DataFrame
Columns: [Sunday end, device]
Index: []

                Saturday end device
0 2015-11-21 11:40:00.587226     25

user: 23 clifford.husband=======================

    devid                      start
0      26 2015-11-11 15:54:41.883237
1      26 2015-11-12 14:08:27.063233
2      26 2015-11-13 02:15:39.723382
3      26 2015-11-14 19:34:29.671328
4      26 2015-11-15 12:36:44.391230
5      26 2015-11-17 20:36:22.859355
6      26 2015-11-20 12:59:45.203234
7      26 2015-11-21 11:11:06.299238
8      26 2015-12-10 17:36:37.271566
9      26 2015-12-20 22:02:21.563563
10     26 2015-12-25 00:27:29.377340
11     26 2015-12-26 05:30:21.631566
12     26 2015-12-27 00:31:44.979452
13     26 2016-01-04 09:47:09.019444
14     26 2016-01-06 13:42:40.599499

    devid                        end
0      26 2015-11-11 20:58:52.751217
1      26 2015-11-12 16:49:52.501214
2      26 2015-11-13 02:43:09.748897
3      26 2015-11-14 20:06:32.331230
4      26 2015-11-15 17:18:41.437419
5      26 2015-11-17 21:33:47.944898
6      26 2015-11-20 20:12:26.289543
7      26 2015-11-21 17:45:53.142389
8      26 2015-12-10 18:30:38.516067
9      26 2015-12-20 23:59:31.110955
10     26 2015-12-25 00:27:30.011450
11     26 2015-12-26 22:50:35.537504
12     26 2015-12-27 00:33:47.071444
13     26 2016-01-04 15:18:43.483500
14     26 2016-01-06 17:56:07.739441

Device platform: macbook

                Monday start device
0 2016-01-04 09:47:09.019444     26

               Tuesday start device
0 2015-11-17 20:36:22.859355     26

                Friday start device
0 2015-11-13 02:15:39.723382     26
1 2015-11-20 12:59:45.203234     26
2 2015-12-25 00:27:29.377340     26

             Wednesday start device
0 2015-11-11 15:54:41.883237     26
1 2016-01-06 13:42:40.599499     26

              Thursday start device
0 2015-11-12 14:08:27.063233     26
1 2015-12-10 17:36:37.271566     26

                Sunday start device
0 2015-11-15 12:36:44.391230     26
1 2015-12-20 22:02:21.563563     26
2 2015-12-27 00:31:44.979452     26

              Saturday start device
0 2015-11-14 19:34:29.671328     26
1 2015-11-21 11:11:06.299238     26
2 2015-12-26 05:30:21.631566     26

Device platform: macbook

                  Monday end device
0 2016-01-04 15:18:43.483500     26

                 Tuesday end device
0 2015-11-17 21:33:47.944898     26

                  Friday end device
0 2015-11-13 02:43:09.748897     26
1 2015-11-20 20:12:26.289543     26
2 2015-12-25 00:27:30.011450     26

               Wednesday end device
0 2015-11-11 20:58:52.751217     26
1 2016-01-06 17:56:07.739441     26

                Thursday end device
0 2015-11-12 16:49:52.501214     26
1 2015-12-10 18:30:38.516067     26

                  Sunday end device
0 2015-11-15 17:18:41.437419     26
1 2015-12-20 23:59:31.110955     26
2 2015-12-27 00:33:47.071444     26

                Saturday end device
0 2015-11-14 20:06:32.331230     26
1 2015-11-21 17:45:53.142389     26
2 2015-12-26 22:50:35.537504     26

   devid                      start
0     27 2015-11-11 15:59:34.575238
1     27 2015-11-12 11:43:56.619251
2     27 2015-11-14 12:41:45.727232

   devid                        end
0     27 2015-11-11 17:05:16.639232
1     27 2015-11-12 15:34:44.779266
2     27 2015-11-14 12:55:23.659230

Device platform: iphone

Empty DataFrame
Columns: [Monday start, device]
Index: []

Empty DataFrame
Columns: [Tuesday start, device]
Index: []

Empty DataFrame
Columns: [Friday start, device]
Index: []

             Wednesday start device
0 2015-11-11 15:59:34.575238     27

              Thursday start device
0 2015-11-12 11:43:56.619251     27

Empty DataFrame
Columns: [Sunday start, device]
Index: []

              Saturday start device
0 2015-11-14 12:41:45.727232     27

Device platform: iphone

Empty DataFrame
Columns: [Monday end, device]
Index: []

Empty DataFrame
Columns: [Tuesday end, device]
Index: []

Empty DataFrame
Columns: [Friday end, device]
Index: []

               Wednesday end device
0 2015-11-11 17:05:16.639232     27

                Thursday end device
0 2015-11-12 15:34:44.779266     27

Empty DataFrame
Columns: [Sunday end, device]
Index: []

                Saturday end device
0 2015-11-14 12:55:23.659230     27

user: 16 kemianny=======================

   devid                      start
0     28 2015-11-13 10:42:20.242799
1     28 2015-11-16 11:19:27.914758
2     28 2015-11-17 11:09:24.070912
3     28 2015-11-20 11:06:16.325066
4     28 2015-11-22 18:06:16.660658
5     28 2015-11-23 13:29:36.114058
6     28 2015-11-24 13:24:13.738857
7     28 2015-11-26 12:20:30.318368

   devid                        end
0     28 2015-11-13 14:34:49.621012
1     28 2015-11-16 15:32:30.721723
2     28 2015-11-17 11:24:09.715091
3     28 2015-11-20 13:58:28.210407
4     28 2015-11-22 18:06:16.730794
5     28 2015-11-23 19:57:45.629518
6     28 2015-11-24 14:52:07.055587
7     28 2015-11-26 14:29:38.911527

Device platform: windows-laptop

                Monday start device
0 2015-11-16 11:19:27.914758     28
1 2015-11-23 13:29:36.114058     28

               Tuesday start device
0 2015-11-17 11:09:24.070912     28
1 2015-11-24 13:24:13.738857     28

                Friday start device
0 2015-11-13 10:42:20.242799     28
1 2015-11-20 11:06:16.325066     28

Empty DataFrame
Columns: [Wednesday start, device]
Index: []

              Thursday start device
0 2015-11-26 12:20:30.318368     28

                Sunday start device
0 2015-11-22 18:06:16.660658     28

Empty DataFrame
Columns: [Saturday start, device]
Index: []

Device platform: windows-laptop

                  Monday end device
0 2015-11-16 15:32:30.721723     28
1 2015-11-23 19:57:45.629518     28

                 Tuesday end device
0 2015-11-17 11:24:09.715091     28
1 2015-11-24 14:52:07.055587     28

                  Friday end device
0 2015-11-13 14:34:49.621012     28
1 2015-11-20 13:58:28.210407     28

Empty DataFrame
Columns: [Wednesday end, device]
Index: []

                Thursday end device
0 2015-11-26 14:29:38.911527     28

                  Sunday end device
0 2015-11-22 18:06:16.730794     28

Empty DataFrame
Columns: [Saturday end, device]
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Device platform: android-phone

Empty DataFrame
Columns: [Monday start, device]
Index: []

Empty DataFrame
Columns: [Tuesday start, device]
Index: []

Empty DataFrame
Columns: [Friday start, device]
Index: []

Empty DataFrame
Columns: [Wednesday start, device]
Index: []

Empty DataFrame
Columns: [Thursday start, device]
Index: []

Empty DataFrame
Columns: [Sunday start, device]
Index: []

Empty DataFrame
Columns: [Saturday start, device]
Index: []

Device platform: android-phone

Empty DataFrame
Columns: [Monday end, device]
Index: []

Empty DataFrame
Columns: [Tuesday end, device]
Index: []

Empty DataFrame
Columns: [Friday end, device]
Index: []

Empty DataFrame
Columns: [Wednesday end, device]
Index: []

Empty DataFrame
Columns: [Thursday end, device]
Index: []

Empty DataFrame
Columns: [Sunday end, device]
Index: []

Empty DataFrame
Columns: [Saturday end, device]
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Device platform: android-tablet

Empty DataFrame
Columns: [Monday start, device]
Index: []

Empty DataFrame
Columns: [Tuesday start, device]
Index: []

Empty DataFrame
Columns: [Friday start, device]
Index: []

Empty DataFrame
Columns: [Wednesday start, device]
Index: []

Empty DataFrame
Columns: [Thursday start, device]
Index: []

Empty DataFrame
Columns: [Sunday start, device]
Index: []

Empty DataFrame
Columns: [Saturday start, device]
Index: []

Device platform: android-tablet

Empty DataFrame
Columns: [Monday end, device]
Index: []

Empty DataFrame
Columns: [Tuesday end, device]
Index: []

Empty DataFrame
Columns: [Friday end, device]
Index: []

Empty DataFrame
Columns: [Wednesday end, device]
Index: []

Empty DataFrame
Columns: [Thursday end, device]
Index: []

Empty DataFrame
Columns: [Sunday end, device]
Index: []

Empty DataFrame
Columns: [Saturday end, device]
Index: []

user: 17 barnesldavid.wife=======================

   devid                      start
0     31 2015-11-13 10:14:01.571245
1     31 2015-11-14 11:08:56.187246
2     31 2015-11-19 22:23:03.439231
3     31 2015-11-24 19:37:48.091227
4     31 2015-11-25 19:58:15.085475
5     31 2015-11-26 00:07:02.673005
6     31 2015-12-01 18:52:00.951226
7     31 2015-12-02 22:46:18.207233
8     31 2015-12-05 18:17:17.607233

   devid                        end
0     31 2015-11-13 17:31:58.251226
1     31 2015-11-14 12:09:31.894097
2     31 2015-11-19 22:23:59.099233
3     31 2015-11-24 23:18:46.178256
4     31 2015-11-25 23:51:06.080105
5     31 2015-11-26 01:15:33.375268
6     31 2015-12-01 20:21:31.303226
7     31 2015-12-02 22:47:18.019708
8     31 2015-12-05 19:13:52.191866

Device platform: android-tablet

Empty DataFrame
Columns: [Monday start, device]
Index: []

               Tuesday start device
0 2015-11-24 19:37:48.091227     31
1 2015-12-01 18:52:00.951226     31

                Friday start device
0 2015-11-13 10:14:01.571245     31

             Wednesday start device
0 2015-11-25 19:58:15.085475     31
1 2015-12-02 22:46:18.207233     31

              Thursday start device
0 2015-11-19 22:23:03.439231     31
1 2015-11-26 00:07:02.673005     31

Empty DataFrame
Columns: [Sunday start, device]
Index: []

              Saturday start device
0 2015-11-14 11:08:56.187246     31
1 2015-12-05 18:17:17.607233     31

Device platform: android-tablet

Empty DataFrame
Columns: [Monday end, device]
Index: []

                 Tuesday end device
0 2015-11-24 23:18:46.178256     31
1 2015-12-01 20:21:31.303226     31

                  Friday end device
0 2015-11-13 17:31:58.251226     31

               Wednesday end device
0 2015-11-25 23:51:06.080105     31
1 2015-12-02 22:47:18.019708     31

                Thursday end device
0 2015-11-19 22:23:59.099233     31
1 2015-11-26 01:15:33.375268     31

Empty DataFrame
Columns: [Sunday end, device]
Index: []

                Saturday end device
0 2015-11-14 12:09:31.894097     31
1 2015-12-05 19:13:52.191866     31

   devid                      start
0     33 2015-11-13 11:05:27.267234
1     33 2015-11-14 04:24:37.187234
2     33 2015-11-15 10:37:41.771230
3     33 2015-11-16 19:46:56.795072
4     33 2015-11-17 12:26:20.899242
5     33 2015-11-19 21:11:15.267240
6     33 2015-11-20 14:16:55.615266
7     33 2015-11-24 19:39:10.799239
8     33 2015-12-01 20:21:20.715232
9     33 2015-12-02 04:00:03.443241

   devid                        end
0     33 2015-11-13 20:26:00.031795
1     33 2015-11-14 16:18:22.771231
2     33 2015-11-15 10:43:10.417537
3     33 2015-11-16 20:13:53.101709
4     33 2015-11-17 12:40:47.243233
5     33 2015-11-19 22:23:52.996373
6     33 2015-11-20 22:08:24.655226
7     33 2015-11-24 19:40:07.399077
8     33 2015-12-01 21:17:07.214586
9     33 2015-12-02 05:13:42.303456

Device platform: android-phone

                Monday start device
0 2015-11-16 19:46:56.795072     33

               Tuesday start device
0 2015-11-17 12:26:20.899242     33
1 2015-11-24 19:39:10.799239     33
2 2015-12-01 20:21:20.715232     33

                Friday start device
0 2015-11-13 11:05:27.267234     33
1 2015-11-20 14:16:55.615266     33

             Wednesday start device
0 2015-12-02 04:00:03.443241     33

              Thursday start device
0 2015-11-19 21:11:15.267240     33

                Sunday start device
0 2015-11-15 10:37:41.771230     33

              Saturday start device
0 2015-11-14 04:24:37.187234     33

Device platform: android-phone

                  Monday end device
0 2015-11-16 20:13:53.101709     33

                 Tuesday end device
0 2015-11-17 12:40:47.243233     33
1 2015-11-24 19:40:07.399077     33
2 2015-12-01 21:17:07.214586     33

                  Friday end device
0 2015-11-13 20:26:00.031795     33
1 2015-11-20 22:08:24.655226     33

               Wednesday end device
0 2015-12-02 05:13:42.303456     33

                Thursday end device
0 2015-11-19 22:23:52.996373     33

                  Sunday end device
0 2015-11-15 10:43:10.417537     33

                Saturday end device
0 2015-11-14 16:18:22.771231     33

user: 24 barnesldavid.husband=======================

   devid                      start
0     32 2015-11-13 10:24:27.791235
1     32 2015-11-24 14:23:36.719233
2     32 2015-11-25 09:31:42.155228
3     32 2015-11-26 08:12:18.867235
4     32 2015-11-28 09:10:02.223283
5     32 2015-12-01 15:07:46.527234
6     32 2015-12-02 08:59:17.371238
7     32 2015-12-03 07:28:46.471238
8     32 2015-12-04 09:08:39.399229
9     32 2015-12-10 09:35:54.675450

   devid                        end
0     32 2015-11-13 17:22:04.887229
1     32 2015-11-24 19:14:34.295233
2     32 2015-11-25 20:14:26.963370
3     32 2015-11-26 19:27:38.632893
4     32 2015-11-28 09:10:16.095249
5     32 2015-12-01 23:59:49.307376
6     32 2015-12-02 21:32:33.474350
7     32 2015-12-03 13:39:36.845610
8     32 2015-12-04 17:03:21.975282
9     32 2015-12-10 11:56:41.436571

Device platform: android-phone

Empty DataFrame
Columns: [Monday start, device]
Index: []

               Tuesday start device
0 2015-11-24 14:23:36.719233     32
1 2015-12-01 15:07:46.527234     32

                Friday start device
0 2015-11-13 10:24:27.791235     32
1 2015-12-04 09:08:39.399229     32

             Wednesday start device
0 2015-11-25 09:31:42.155228     32
1 2015-12-02 08:59:17.371238     32

              Thursday start device
0 2015-11-26 08:12:18.867235     32
1 2015-12-03 07:28:46.471238     32
2 2015-12-10 09:35:54.675450     32

Empty DataFrame
Columns: [Sunday start, device]
Index: []

              Saturday start device
0 2015-11-28 09:10:02.223283     32

Device platform: android-phone

Empty DataFrame
Columns: [Monday end, device]
Index: []

                 Tuesday end device
0 2015-11-24 19:14:34.295233     32
1 2015-12-01 23:59:49.307376     32

                  Friday end device
0 2015-11-13 17:22:04.887229     32
1 2015-12-04 17:03:21.975282     32

               Wednesday end device
0 2015-11-25 20:14:26.963370     32
1 2015-12-02 21:32:33.474350     32

                Thursday end device
0 2015-11-26 19:27:38.632893     32
1 2015-12-03 13:39:36.845610     32
2 2015-12-10 11:56:41.436571     32

Empty DataFrame
Columns: [Sunday end, device]
Index: []

                Saturday end device
0 2015-11-28 09:10:16.095249     32

   devid                      start
0     33 2015-11-13 11:05:27.267234
1     33 2015-11-14 04:24:37.187234
2     33 2015-11-15 10:37:41.771230
3     33 2015-11-16 19:46:56.795072
4     33 2015-11-17 12:26:20.899242
5     33 2015-11-19 21:11:15.267240
6     33 2015-11-20 14:16:55.615266
7     33 2015-11-24 19:39:10.799239
8     33 2015-12-01 20:21:20.715232
9     33 2015-12-02 04:00:03.443241

   devid                        end
0     33 2015-11-13 20:26:00.031795
1     33 2015-11-14 16:18:22.771231
2     33 2015-11-15 10:43:10.417537
3     33 2015-11-16 20:13:53.101709
4     33 2015-11-17 12:40:47.243233
5     33 2015-11-19 22:23:52.996373
6     33 2015-11-20 22:08:24.655226
7     33 2015-11-24 19:40:07.399077
8     33 2015-12-01 21:17:07.214586
9     33 2015-12-02 05:13:42.303456

Device platform: android-phone

                Monday start device
0 2015-11-16 19:46:56.795072     33

               Tuesday start device
0 2015-11-17 12:26:20.899242     33
1 2015-11-24 19:39:10.799239     33
2 2015-12-01 20:21:20.715232     33

                Friday start device
0 2015-11-13 11:05:27.267234     33
1 2015-11-20 14:16:55.615266     33

             Wednesday start device
0 2015-12-02 04:00:03.443241     33

              Thursday start device
0 2015-11-19 21:11:15.267240     33

                Sunday start device
0 2015-11-15 10:37:41.771230     33

              Saturday start device
0 2015-11-14 04:24:37.187234     33

Device platform: android-phone

                  Monday end device
0 2015-11-16 20:13:53.101709     33

                 Tuesday end device
0 2015-11-17 12:40:47.243233     33
1 2015-11-24 19:40:07.399077     33
2 2015-12-01 21:17:07.214586     33

                  Friday end device
0 2015-11-13 20:26:00.031795     33
1 2015-11-20 22:08:24.655226     33

               Wednesday end device
0 2015-12-02 05:13:42.303456     33

                Thursday end device
0 2015-11-19 22:23:52.996373     33

                  Sunday end device
0 2015-11-15 10:43:10.417537     33

                Saturday end device
0 2015-11-14 16:18:22.771231     33

user: 18 michaelbrogan=======================

    devid                      start
0      34 2015-11-13 15:28:33.811237
1      34 2015-11-14 10:02:45.947233
2      34 2015-11-15 04:43:05.111231
3      34 2015-11-16 08:57:23.419233
4      34 2015-11-17 09:40:02.091238
5      34 2015-11-18 04:26:15.491235
6      34 2015-11-19 08:38:58.403228
7      34 2015-11-20 08:35:21.799555
8      34 2015-11-21 04:04:11.799228
9      34 2015-11-22 02:48:32.611233
10     34 2015-11-23 09:02:37.213796
11     34 2015-11-24 11:06:27.223236
12     34 2015-11-25 09:15:54.763247
13     34 2015-11-26 10:10:32.919229
14     34 2015-11-27 08:26:16.427234
15     34 2015-11-28 09:01:07.155239
16     34 2015-11-29 10:29:44.471232
17     34 2015-11-30 12:14:25.495233
18     34 2015-12-01 15:48:17.035277
19     34 2015-12-02 18:49:53.659235
20     34 2015-12-03 08:58:18.051229
21     34 2015-12-04 08:33:55.471239
22     34 2015-12-05 09:36:00.787228
23     34 2015-12-06 09:11:54.843242
24     34 2015-12-07 10:37:46.558712
25     34 2015-12-08 14:00:51.443453
26     34 2015-12-09 08:12:42.319446
27     34 2015-12-10 10:07:01.815447
28     34 2015-12-11 08:40:46.279465
29     34 2015-12-12 07:25:48.655450
30     34 2015-12-13 10:20:09.271443
31     34 2015-12-14 08:10:09.903455
32     34 2015-12-15 08:59:45.315450
33     34 2015-12-16 10:25:51.887457
34     34 2015-12-17 18:35:56.315461
35     34 2015-12-18 11:32:11.871448

    devid                        end
0      34 2015-11-13 22:55:41.475226
1      34 2015-11-14 20:27:12.827225
2      34 2015-11-15 23:59:31.515223
3      34 2015-11-16 21:32:03.767232
4      34 2015-11-17 23:30:03.863266
5      34 2015-11-18 23:59:59.969560
6      34 2015-11-19 23:47:53.984006
7      34 2015-11-20 22:38:21.313735
8      34 2015-11-21 18:59:39.585494
9      34 2015-11-22 02:57:35.370696
10     34 2015-11-23 23:02:10.239230
11     34 2015-11-24 20:21:17.279226
12     34 2015-11-25 23:02:45.491229
13     34 2015-11-26 21:34:43.291225
14     34 2015-11-27 23:58:55.341103
15     34 2015-11-28 23:57:38.367228
16     34 2015-11-29 20:37:39.315226
17     34 2015-11-30 20:07:08.155213
18     34 2015-12-01 16:47:18.171584
19     34 2015-12-02 23:23:44.095943
20     34 2015-12-03 23:48:20.923227
21     34 2015-12-04 23:50:51.187225
22     34 2015-12-05 20:16:46.659228
23     34 2015-12-06 23:59:30.527227
24     34 2015-12-07 12:13:45.647232
25     34 2015-12-08 21:38:36.871442
26     34 2015-12-09 23:56:26.315490
27     34 2015-12-10 23:58:26.487440
28     34 2015-12-11 21:01:14.140347
29     34 2015-12-12 22:54:55.395445
30     34 2015-12-13 23:57:56.907442
31     34 2015-12-14 19:25:49.700210
32     34 2015-12-15 23:42:15.156338
33     34 2015-12-16 10:35:55.479446
34     34 2015-12-17 19:22:21.535442
35     34 2015-12-18 11:38:39.839450

Device platform: windows-laptop

                Monday start device
0 2015-11-16 08:57:23.419233     34
1 2015-11-23 09:02:37.213796     34
2 2015-11-30 12:14:25.495233     34
3 2015-12-07 10:37:46.558712     34
4 2015-12-14 08:10:09.903455     34

               Tuesday start device
0 2015-11-17 09:40:02.091238     34
1 2015-11-24 11:06:27.223236     34
2 2015-12-01 15:48:17.035277     34
3 2015-12-08 14:00:51.443453     34
4 2015-12-15 08:59:45.315450     34

                Friday start device
0 2015-11-13 15:28:33.811237     34
1 2015-11-20 08:35:21.799555     34
2 2015-11-27 08:26:16.427234     34
3 2015-12-04 08:33:55.471239     34
4 2015-12-11 08:40:46.279465     34
5 2015-12-18 11:32:11.871448     34

             Wednesday start device
0 2015-11-18 04:26:15.491235     34
1 2015-11-25 09:15:54.763247     34
2 2015-12-02 18:49:53.659235     34
3 2015-12-09 08:12:42.319446     34
4 2015-12-16 10:25:51.887457     34

              Thursday start device
0 2015-11-19 08:38:58.403228     34
1 2015-11-26 10:10:32.919229     34
2 2015-12-03 08:58:18.051229     34
3 2015-12-10 10:07:01.815447     34
4 2015-12-17 18:35:56.315461     34

                Sunday start device
0 2015-11-15 04:43:05.111231     34
1 2015-11-22 02:48:32.611233     34
2 2015-11-29 10:29:44.471232     34
3 2015-12-06 09:11:54.843242     34
4 2015-12-13 10:20:09.271443     34

              Saturday start device
0 2015-11-14 10:02:45.947233     34
1 2015-11-21 04:04:11.799228     34
2 2015-11-28 09:01:07.155239     34
3 2015-12-05 09:36:00.787228     34
4 2015-12-12 07:25:48.655450     34

Device platform: windows-laptop

                  Monday end device
0 2015-11-16 21:32:03.767232     34
1 2015-11-23 23:02:10.239230     34
2 2015-11-30 20:07:08.155213     34
3 2015-12-07 12:13:45.647232     34
4 2015-12-14 19:25:49.700210     34

                 Tuesday end device
0 2015-11-17 23:30:03.863266     34
1 2015-11-24 20:21:17.279226     34
2 2015-12-01 16:47:18.171584     34
3 2015-12-08 21:38:36.871442     34
4 2015-12-15 23:42:15.156338     34

                  Friday end device
0 2015-11-13 22:55:41.475226     34
1 2015-11-20 22:38:21.313735     34
2 2015-11-27 23:58:55.341103     34
3 2015-12-04 23:50:51.187225     34
4 2015-12-11 21:01:14.140347     34
5 2015-12-18 11:38:39.839450     34

               Wednesday end device
0 2015-11-18 23:59:59.969560     34
1 2015-11-25 23:02:45.491229     34
2 2015-12-02 23:23:44.095943     34
3 2015-12-09 23:56:26.315490     34
4 2015-12-16 10:35:55.479446     34

                Thursday end device
0 2015-11-19 23:47:53.984006     34
1 2015-11-26 21:34:43.291225     34
2 2015-12-03 23:48:20.923227     34
3 2015-12-10 23:58:26.487440     34
4 2015-12-17 19:22:21.535442     34

                  Sunday end device
0 2015-11-15 23:59:31.515223     34
1 2015-11-22 02:57:35.370696     34
2 2015-11-29 20:37:39.315226     34
3 2015-12-06 23:59:30.527227     34
4 2015-12-13 23:57:56.907442     34

                Saturday end device
0 2015-11-14 20:27:12.827225     34
1 2015-11-21 18:59:39.585494     34
2 2015-11-28 23:57:38.367228     34
3 2015-12-05 20:16:46.659228     34
4 2015-12-12 22:54:55.395445     34

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Device platform: iphone

Empty DataFrame
Columns: [Monday start, device]
Index: []

Empty DataFrame
Columns: [Tuesday start, device]
Index: []

Empty DataFrame
Columns: [Friday start, device]
Index: []

Empty DataFrame
Columns: [Wednesday start, device]
Index: []

Empty DataFrame
Columns: [Thursday start, device]
Index: []

Empty DataFrame
Columns: [Sunday start, device]
Index: []

Empty DataFrame
Columns: [Saturday start, device]
Index: []

Device platform: iphone

Empty DataFrame
Columns: [Monday end, device]
Index: []

Empty DataFrame
Columns: [Tuesday end, device]
Index: []

Empty DataFrame
Columns: [Friday end, device]
Index: []

Empty DataFrame
Columns: [Wednesday end, device]
Index: []

Empty DataFrame
Columns: [Thursday end, device]
Index: []

Empty DataFrame
Columns: [Sunday end, device]
Index: []

Empty DataFrame
Columns: [Saturday end, device]
Index: []

user: 19 harrison=======================

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Device platform: windows-pc

Empty DataFrame
Columns: [Monday start, device]
Index: []

Empty DataFrame
Columns: [Tuesday start, device]
Index: []

Empty DataFrame
Columns: [Friday start, device]
Index: []

Empty DataFrame
Columns: [Wednesday start, device]
Index: []

Empty DataFrame
Columns: [Thursday start, device]
Index: []

Empty DataFrame
Columns: [Sunday start, device]
Index: []

Empty DataFrame
Columns: [Saturday start, device]
Index: []

Device platform: windows-pc

Empty DataFrame
Columns: [Monday end, device]
Index: []

Empty DataFrame
Columns: [Tuesday end, device]
Index: []

Empty DataFrame
Columns: [Friday end, device]
Index: []

Empty DataFrame
Columns: [Wednesday end, device]
Index: []

Empty DataFrame
Columns: [Thursday end, device]
Index: []

Empty DataFrame
Columns: [Sunday end, device]
Index: []

Empty DataFrame
Columns: [Saturday end, device]
Index: []

   devid                      start
0     37 2015-11-20 09:32:37.675230
1     37 2015-11-24 21:14:28.447240
2     37 2015-11-25 00:00:00.047237
3     37 2015-11-29 17:13:48.463245

   devid                        end
0     37 2015-11-20 11:40:35.475240
1     37 2015-11-24 23:59:59.991442
2     37 2015-11-25 01:51:59.659230
3     37 2015-11-29 19:05:08.215226

Device platform: android-tablet

Empty DataFrame
Columns: [Monday start, device]
Index: []

               Tuesday start device
0 2015-11-24 21:14:28.447240     37

                Friday start device
0 2015-11-20 09:32:37.675230     37

             Wednesday start device
0 2015-11-25 00:00:00.047237     37

Empty DataFrame
Columns: [Thursday start, device]
Index: []

                Sunday start device
0 2015-11-29 17:13:48.463245     37

Empty DataFrame
Columns: [Saturday start, device]
Index: []

Device platform: android-tablet

Empty DataFrame
Columns: [Monday end, device]
Index: []

                 Tuesday end device
0 2015-11-24 23:59:59.991442     37

                  Friday end device
0 2015-11-20 11:40:35.475240     37

               Wednesday end device
0 2015-11-25 01:51:59.659230     37

Empty DataFrame
Columns: [Thursday end, device]
Index: []

                  Sunday end device
0 2015-11-29 19:05:08.215226     37

Empty DataFrame
Columns: [Saturday end, device]
Index: []

   devid                      start
0     38 2015-11-20 09:54:40.691238
1     38 2015-11-24 19:51:52.403238
2     38 2015-11-25 20:17:52.515506
3     38 2015-11-26 20:38:38.263234
4     38 2015-11-27 08:03:02.195233
5     38 2015-11-28 15:34:16.723235
6     38 2015-11-29 17:07:21.771241
7     38 2015-11-30 22:53:35.379292

   devid                        end
0     38 2015-11-20 17:46:27.806863
1     38 2015-11-24 20:12:19.299233
2     38 2015-11-25 20:23:39.097443
3     38 2015-11-26 20:45:41.098609
4     38 2015-11-27 20:02:29.159472
5     38 2015-11-28 16:13:51.986556
6     38 2015-11-29 17:14:02.435713
7     38 2015-11-30 23:33:25.927378

Device platform: android-phone

                Monday start device
0 2015-11-30 22:53:35.379292     38

               Tuesday start device
0 2015-11-24 19:51:52.403238     38

                Friday start device
0 2015-11-20 09:54:40.691238     38
1 2015-11-27 08:03:02.195233     38

             Wednesday start device
0 2015-11-25 20:17:52.515506     38

              Thursday start device
0 2015-11-26 20:38:38.263234     38

                Sunday start device
0 2015-11-29 17:07:21.771241     38

              Saturday start device
0 2015-11-28 15:34:16.723235     38

Device platform: android-phone

                  Monday end device
0 2015-11-30 23:33:25.927378     38

                 Tuesday end device
0 2015-11-24 20:12:19.299233     38

                  Friday end device
0 2015-11-20 17:46:27.806863     38
1 2015-11-27 20:02:29.159472     38

               Wednesday end device
0 2015-11-25 20:23:39.097443     38

                Thursday end device
0 2015-11-26 20:45:41.098609     38

                  Sunday end device
0 2015-11-29 17:14:02.435713     38

                Saturday end device
0 2015-11-28 16:13:51.986556     38

user: 20 gluch=======================

   devid                      start
0     39 2015-11-20 19:19:30.406838
1     39 2015-11-23 18:20:37.328548
2     39 2015-11-25 20:05:57.521544
3     39 2015-11-26 13:21:23.261344

   devid                        end
0     39 2015-11-20 20:34:52.549372
1     39 2015-11-23 18:56:16.517519
2     39 2015-11-25 20:45:30.439960
3     39 2015-11-26 16:18:55.358454

Device platform: windows-laptop

                Monday start device
0 2015-11-23 18:20:37.328548     39

Empty DataFrame
Columns: [Tuesday start, device]
Index: []

                Friday start device
0 2015-11-20 19:19:30.406838     39

             Wednesday start device
0 2015-11-25 20:05:57.521544     39

              Thursday start device
0 2015-11-26 13:21:23.261344     39

Empty DataFrame
Columns: [Sunday start, device]
Index: []

Empty DataFrame
Columns: [Saturday start, device]
Index: []

Device platform: windows-laptop

                  Monday end device
0 2015-11-23 18:56:16.517519     39

Empty DataFrame
Columns: [Tuesday end, device]
Index: []

                  Friday end device
0 2015-11-20 20:34:52.549372     39

               Wednesday end device
0 2015-11-25 20:45:30.439960     39

                Thursday end device
0 2015-11-26 16:18:55.358454     39

Empty DataFrame
Columns: [Sunday end, device]
Index: []

Empty DataFrame
Columns: [Saturday end, device]
Index: []

   devid                      start
0     40 2015-11-20 19:27:42.171236
1     40 2015-11-21 08:42:14.675231
2     40 2015-12-01 11:16:54.895234

   devid                        end
0     40 2015-11-20 19:32:18.939228
1     40 2015-11-21 15:34:59.726677
2     40 2015-12-01 11:17:54.786147

Device platform: android-phone

Empty DataFrame
Columns: [Monday start, device]
Index: []

               Tuesday start device
0 2015-12-01 11:16:54.895234     40

                Friday start device
0 2015-11-20 19:27:42.171236     40

Empty DataFrame
Columns: [Wednesday start, device]
Index: []

Empty DataFrame
Columns: [Thursday start, device]
Index: []

Empty DataFrame
Columns: [Sunday start, device]
Index: []

              Saturday start device
0 2015-11-21 08:42:14.675231     40

Device platform: android-phone

Empty DataFrame
Columns: [Monday end, device]
Index: []

                 Tuesday end device
0 2015-12-01 11:17:54.786147     40

                  Friday end device
0 2015-11-20 19:32:18.939228     40

Empty DataFrame
Columns: [Wednesday end, device]
Index: []

Empty DataFrame
Columns: [Thursday end, device]
Index: []

Empty DataFrame
Columns: [Sunday end, device]
Index: []

                Saturday end device
0 2015-11-21 15:34:59.726677     40

user: 21 bowen.wife=======================

   devid                      start
0     41 2015-11-20 20:04:53.187232
1     41 2015-11-27 15:18:46.199239
2     41 2015-12-05 09:46:46.615235
3     41 2015-12-12 20:51:39.429954

   devid                        end
0     41 2015-11-20 21:02:23.003447
1     41 2015-11-27 16:09:18.171231
2     41 2015-12-05 22:37:14.593219
3     41 2015-12-12 21:40:57.439434

Device platform: ipad

Empty DataFrame
Columns: [Monday start, device]
Index: []

Empty DataFrame
Columns: [Tuesday start, device]
Index: []

                Friday start device
0 2015-11-20 20:04:53.187232     41
1 2015-11-27 15:18:46.199239     41

Empty DataFrame
Columns: [Wednesday start, device]
Index: []

Empty DataFrame
Columns: [Thursday start, device]
Index: []

Empty DataFrame
Columns: [Sunday start, device]
Index: []

              Saturday start device
0 2015-12-05 09:46:46.615235     41
1 2015-12-12 20:51:39.429954     41

Device platform: ipad

Empty DataFrame
Columns: [Monday end, device]
Index: []

Empty DataFrame
Columns: [Tuesday end, device]
Index: []

                  Friday end device
0 2015-11-20 21:02:23.003447     41
1 2015-11-27 16:09:18.171231     41

Empty DataFrame
Columns: [Wednesday end, device]
Index: []

Empty DataFrame
Columns: [Thursday end, device]
Index: []

Empty DataFrame
Columns: [Sunday end, device]
Index: []

                Saturday end device
0 2015-12-05 22:37:14.593219     41
1 2015-12-12 21:40:57.439434     41

   devid                      start
0     42 2015-11-21 14:48:08.177912
1     42 2015-11-23 09:30:44.774987
2     42 2015-11-24 20:49:05.461383
3     42 2015-11-25 18:15:34.923218
4     42 2015-11-26 05:57:17.234397

   devid                        end
0     42 2015-11-21 16:21:43.136382
1     42 2015-11-23 19:29:43.985790
2     42 2015-11-24 21:37:18.537385
3     42 2015-11-25 20:30:41.362044
4     42 2015-11-26 20:00:41.812045

Device platform: windows-laptop

                Monday start device
0 2015-11-23 09:30:44.774987     42

               Tuesday start device
0 2015-11-24 20:49:05.461383     42

Empty DataFrame
Columns: [Friday start, device]
Index: []

             Wednesday start device
0 2015-11-25 18:15:34.923218     42

              Thursday start device
0 2015-11-26 05:57:17.234397     42

Empty DataFrame
Columns: [Sunday start, device]
Index: []

              Saturday start device
0 2015-11-21 14:48:08.177912     42

Device platform: windows-laptop

                  Monday end device
0 2015-11-23 19:29:43.985790     42

                 Tuesday end device
0 2015-11-24 21:37:18.537385     42

Empty DataFrame
Columns: [Friday end, device]
Index: []

               Wednesday end device
0 2015-11-25 20:30:41.362044     42

                Thursday end device
0 2015-11-26 20:00:41.812045     42

Empty DataFrame
Columns: [Sunday end, device]
Index: []

                Saturday end device
0 2015-11-21 16:21:43.136382     42

    devid                      start
0      43 2015-11-20 20:16:29.679243
1      43 2015-11-21 07:03:43.395241
2      43 2015-11-22 04:00:06.947229
3      43 2015-11-23 20:31:14.631240
4      43 2015-11-27 17:22:39.455242
5      43 2015-11-28 11:10:19.211243
6      43 2015-11-29 04:00:39.303229
7      43 2015-11-30 04:07:43.635230
8      43 2015-12-02 20:00:13.151277
9      43 2015-12-03 04:00:43.571246
10     43 2015-12-05 08:46:37.691258
11     43 2015-12-06 18:35:14.823238
12     43 2015-12-26 17:38:43.347448

    devid                        end
0      43 2015-11-20 23:59:47.863643
1      43 2015-11-21 23:58:35.335404
2      43 2015-11-22 15:17:06.458437
3      43 2015-11-23 23:04:12.191710
4      43 2015-11-27 22:20:10.412137
5      43 2015-11-28 23:59:59.803339
6      43 2015-11-29 23:58:59.807224
7      43 2015-11-30 09:08:01.868145
8      43 2015-12-02 23:58:44.235444
9      43 2015-12-03 19:31:19.795222
10     43 2015-12-05 09:04:35.851384
11     43 2015-12-06 18:35:15.031277
12     43 2015-12-26 18:55:50.150378

Device platform: iphone

                Monday start device
0 2015-11-23 20:31:14.631240     43
1 2015-11-30 04:07:43.635230     43

Empty DataFrame
Columns: [Tuesday start, device]
Index: []

                Friday start device
0 2015-11-20 20:16:29.679243     43
1 2015-11-27 17:22:39.455242     43

             Wednesday start device
0 2015-12-02 20:00:13.151277     43

              Thursday start device
0 2015-12-03 04:00:43.571246     43

                Sunday start device
0 2015-11-22 04:00:06.947229     43
1 2015-11-29 04:00:39.303229     43
2 2015-12-06 18:35:14.823238     43

              Saturday start device
0 2015-11-21 07:03:43.395241     43
1 2015-11-28 11:10:19.211243     43
2 2015-12-05 08:46:37.691258     43
3 2015-12-26 17:38:43.347448     43

Device platform: iphone

                  Monday end device
0 2015-11-23 23:04:12.191710     43
1 2015-11-30 09:08:01.868145     43

Empty DataFrame
Columns: [Tuesday end, device]
Index: []

                  Friday end device
0 2015-11-20 23:59:47.863643     43
1 2015-11-27 22:20:10.412137     43

               Wednesday end device
0 2015-12-02 23:58:44.235444     43

                Thursday end device
0 2015-12-03 19:31:19.795222     43

                  Sunday end device
0 2015-11-22 15:17:06.458437     43
1 2015-11-29 23:58:59.807224     43
2 2015-12-06 18:35:15.031277     43

                Saturday end device
0 2015-11-21 23:58:35.335404     43
1 2015-11-28 23:59:59.803339     43
2 2015-12-05 09:04:35.851384     43
3 2015-12-26 18:55:50.150378     43

user: 25 bowen.husband=======================

   devid                      start
0     41 2015-11-20 20:04:53.187232
1     41 2015-11-27 15:18:46.199239
2     41 2015-12-05 09:46:46.615235
3     41 2015-12-12 20:51:39.429954

   devid                        end
0     41 2015-11-20 21:02:23.003447
1     41 2015-11-27 16:09:18.171231
2     41 2015-12-05 22:37:14.593219
3     41 2015-12-12 21:40:57.439434

Device platform: ipad

Empty DataFrame
Columns: [Monday start, device]
Index: []

Empty DataFrame
Columns: [Tuesday start, device]
Index: []

                Friday start device
0 2015-11-20 20:04:53.187232     41
1 2015-11-27 15:18:46.199239     41

Empty DataFrame
Columns: [Wednesday start, device]
Index: []

Empty DataFrame
Columns: [Thursday start, device]
Index: []

Empty DataFrame
Columns: [Sunday start, device]
Index: []

              Saturday start device
0 2015-12-05 09:46:46.615235     41
1 2015-12-12 20:51:39.429954     41

Device platform: ipad

Empty DataFrame
Columns: [Monday end, device]
Index: []

Empty DataFrame
Columns: [Tuesday end, device]
Index: []

                  Friday end device
0 2015-11-20 21:02:23.003447     41
1 2015-11-27 16:09:18.171231     41

Empty DataFrame
Columns: [Wednesday end, device]
Index: []

Empty DataFrame
Columns: [Thursday end, device]
Index: []

Empty DataFrame
Columns: [Sunday end, device]
Index: []

                Saturday end device
0 2015-12-05 22:37:14.593219     41
1 2015-12-12 21:40:57.439434     41

   devid                      start
0     42 2015-11-21 14:48:08.177912
1     42 2015-11-23 09:30:44.774987
2     42 2015-11-24 20:49:05.461383
3     42 2015-11-25 18:15:34.923218
4     42 2015-11-26 05:57:17.234397

   devid                        end
0     42 2015-11-21 16:21:43.136382
1     42 2015-11-23 19:29:43.985790
2     42 2015-11-24 21:37:18.537385
3     42 2015-11-25 20:30:41.362044
4     42 2015-11-26 20:00:41.812045

Device platform: windows-laptop

                Monday start device
0 2015-11-23 09:30:44.774987     42

               Tuesday start device
0 2015-11-24 20:49:05.461383     42

Empty DataFrame
Columns: [Friday start, device]
Index: []

             Wednesday start device
0 2015-11-25 18:15:34.923218     42

              Thursday start device
0 2015-11-26 05:57:17.234397     42

Empty DataFrame
Columns: [Sunday start, device]
Index: []

              Saturday start device
0 2015-11-21 14:48:08.177912     42

Device platform: windows-laptop

                  Monday end device
0 2015-11-23 19:29:43.985790     42

                 Tuesday end device
0 2015-11-24 21:37:18.537385     42

Empty DataFrame
Columns: [Friday end, device]
Index: []

               Wednesday end device
0 2015-11-25 20:30:41.362044     42

                Thursday end device
0 2015-11-26 20:00:41.812045     42

Empty DataFrame
Columns: [Sunday end, device]
Index: []

                Saturday end device
0 2015-11-21 16:21:43.136382     42

    devid                      start
0      44 2015-11-20 20:27:15.183294
1      44 2015-11-21 09:30:25.371238
2      44 2015-11-22 09:49:00.755232
3      44 2015-11-23 09:41:11.231234
4      44 2015-11-24 07:15:50.167300
5      44 2015-11-25 07:04:31.639244
6      44 2015-11-26 07:34:01.011234
7      44 2015-11-27 07:03:40.347237
8      44 2015-11-28 11:14:46.027239
9      44 2015-11-29 09:20:10.807284
10     44 2015-11-30 07:37:09.079238
11     44 2015-12-01 07:03:35.363239
12     44 2015-12-02 07:09:13.511286
13     44 2015-12-03 07:40:06.263236
14     44 2015-12-04 07:05:37.591234
15     44 2015-12-05 09:10:04.559303
16     44 2015-12-06 09:32:56.059235
17     44 2015-12-07 09:10:42.899267
18     44 2015-12-09 06:59:44.063450
19     44 2015-12-11 08:57:48.979452
20     44 2015-12-12 20:24:46.131455
21     44 2015-12-14 07:49:42.287953
22     44 2015-12-16 07:49:26.411449

    devid                        end
0      44 2015-11-20 20:30:52.903232
1      44 2015-11-21 22:24:22.263026
2      44 2015-11-22 20:25:41.871225
3      44 2015-11-23 21:15:23.871288
4      44 2015-11-24 23:59:50.330913
5      44 2015-11-25 19:20:53.503673
6      44 2015-11-26 22:44:29.488108
7      44 2015-11-27 23:57:36.901968
8      44 2015-11-28 17:53:12.059926
9      44 2015-11-29 18:45:22.267297
10     44 2015-11-30 21:58:22.737580
11     44 2015-12-01 23:05:27.136322
12     44 2015-12-02 23:57:08.375320
13     44 2015-12-03 23:44:30.992492
14     44 2015-12-04 22:48:15.450372
15     44 2015-12-05 20:52:51.162820
16     44 2015-12-06 17:15:49.815229
17     44 2015-12-07 10:26:43.411257
18     44 2015-12-09 19:28:15.619442
19     44 2015-12-11 11:40:20.939626
20     44 2015-12-12 21:49:50.126053
21     44 2015-12-14 11:04:48.711441
22     44 2015-12-16 12:15:15.895448

Device platform: iphone

                Monday start device
0 2015-11-23 09:41:11.231234     44
1 2015-11-30 07:37:09.079238     44
2 2015-12-07 09:10:42.899267     44
3 2015-12-14 07:49:42.287953     44

               Tuesday start device
0 2015-11-24 07:15:50.167300     44
1 2015-12-01 07:03:35.363239     44

                Friday start device
0 2015-11-20 20:27:15.183294     44
1 2015-11-27 07:03:40.347237     44
2 2015-12-04 07:05:37.591234     44
3 2015-12-11 08:57:48.979452     44

             Wednesday start device
0 2015-11-25 07:04:31.639244     44
1 2015-12-02 07:09:13.511286     44
2 2015-12-09 06:59:44.063450     44
3 2015-12-16 07:49:26.411449     44

              Thursday start device
0 2015-11-26 07:34:01.011234     44
1 2015-12-03 07:40:06.263236     44

                Sunday start device
0 2015-11-22 09:49:00.755232     44
1 2015-11-29 09:20:10.807284     44
2 2015-12-06 09:32:56.059235     44

              Saturday start device
0 2015-11-21 09:30:25.371238     44
1 2015-11-28 11:14:46.027239     44
2 2015-12-05 09:10:04.559303     44
3 2015-12-12 20:24:46.131455     44

Device platform: iphone

                  Monday end device
0 2015-11-23 21:15:23.871288     44
1 2015-11-30 21:58:22.737580     44
2 2015-12-07 10:26:43.411257     44
3 2015-12-14 11:04:48.711441     44

                 Tuesday end device
0 2015-11-24 23:59:50.330913     44
1 2015-12-01 23:05:27.136322     44

                  Friday end device
0 2015-11-20 20:30:52.903232     44
1 2015-11-27 23:57:36.901968     44
2 2015-12-04 22:48:15.450372     44
3 2015-12-11 11:40:20.939626     44

               Wednesday end device
0 2015-11-25 19:20:53.503673     44
1 2015-12-02 23:57:08.375320     44
2 2015-12-09 19:28:15.619442     44
3 2015-12-16 12:15:15.895448     44

                Thursday end device
0 2015-11-26 22:44:29.488108     44
1 2015-12-03 23:44:30.992492     44

                  Sunday end device
0 2015-11-22 20:25:41.871225     44
1 2015-11-29 18:45:22.267297     44
2 2015-12-06 17:15:49.815229     44

                Saturday end device
0 2015-11-21 22:24:22.263026     44
1 2015-11-28 17:53:12.059926     44
2 2015-12-05 20:52:51.162820     44
3 2015-12-12 21:49:50.126053     44

user: 22 bridgeman.wife=======================

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Device platform: windows-laptop

Empty DataFrame
Columns: [Monday start, device]
Index: []

Empty DataFrame
Columns: [Tuesday start, device]
Index: []

Empty DataFrame
Columns: [Friday start, device]
Index: []

Empty DataFrame
Columns: [Wednesday start, device]
Index: []

Empty DataFrame
Columns: [Thursday start, device]
Index: []

Empty DataFrame
Columns: [Sunday start, device]
Index: []

Empty DataFrame
Columns: [Saturday start, device]
Index: []

Device platform: windows-laptop

Empty DataFrame
Columns: [Monday end, device]
Index: []

Empty DataFrame
Columns: [Tuesday end, device]
Index: []

Empty DataFrame
Columns: [Friday end, device]
Index: []

Empty DataFrame
Columns: [Wednesday end, device]
Index: []

Empty DataFrame
Columns: [Thursday end, device]
Index: []

Empty DataFrame
Columns: [Sunday end, device]
Index: []

Empty DataFrame
Columns: [Saturday end, device]
Index: []

    devid                      start
0      47 2015-11-24 15:55:04.015234
1      47 2015-11-25 12:23:41.915233
2      47 2015-11-26 11:46:38.515232
3      47 2015-11-27 17:32:35.231235
4      47 2015-11-29 11:25:29.815238
5      47 2015-12-01 16:52:10.763223
6      47 2015-12-16 12:11:25.695453
7      47 2015-12-17 13:44:01.719449
8      47 2015-12-18 13:09:35.867448
9      47 2015-12-28 11:34:57.683450
10     47 2016-01-01 21:24:04.039448

    devid                        end
0      47 2015-11-24 23:45:35.011244
1      47 2015-11-25 15:52:34.019915
2      47 2015-11-26 20:06:38.019231
3      47 2015-11-27 17:32:48.947232
4      47 2015-11-29 19:01:50.479227
5      47 2015-12-01 17:38:57.816297
6      47 2015-12-16 17:09:06.951446
7      47 2015-12-17 15:12:26.179442
8      47 2015-12-18 16:05:07.171455
9      47 2015-12-28 11:36:06.812128
10     47 2016-01-01 21:25:51.362832

Device platform: iphone

                Monday start device
0 2015-12-28 11:34:57.683450     47

               Tuesday start device
0 2015-11-24 15:55:04.015234     47
1 2015-12-01 16:52:10.763223     47

                Friday start device
0 2015-11-27 17:32:35.231235     47
1 2015-12-18 13:09:35.867448     47
2 2016-01-01 21:24:04.039448     47

             Wednesday start device
0 2015-11-25 12:23:41.915233     47
1 2015-12-16 12:11:25.695453     47

              Thursday start device
0 2015-11-26 11:46:38.515232     47
1 2015-12-17 13:44:01.719449     47

                Sunday start device
0 2015-11-29 11:25:29.815238     47

Empty DataFrame
Columns: [Saturday start, device]
Index: []

Device platform: iphone

                  Monday end device
0 2015-12-28 11:36:06.812128     47

                 Tuesday end device
0 2015-11-24 23:45:35.011244     47
1 2015-12-01 17:38:57.816297     47

                  Friday end device
0 2015-11-27 17:32:48.947232     47
1 2015-12-18 16:05:07.171455     47
2 2016-01-01 21:25:51.362832     47

               Wednesday end device
0 2015-11-25 15:52:34.019915     47
1 2015-12-16 17:09:06.951446     47

                Thursday end device
0 2015-11-26 20:06:38.019231     47
1 2015-12-17 15:12:26.179442     47

                  Sunday end device
0 2015-11-29 19:01:50.479227     47

Empty DataFrame
Columns: [Saturday end, device]
Index: []

user: 26 bridgeman.husband=======================

   devid                      start
0     45 2015-11-24 15:15:11.106588
1     45 2015-11-25 18:22:28.104548

   devid                        end
0     45 2015-11-24 16:54:53.024653
1     45 2015-11-25 23:12:28.898685

Device platform: windows-laptop

Empty DataFrame
Columns: [Monday start, device]
Index: []

               Tuesday start device
0 2015-11-24 15:15:11.106588     45

Empty DataFrame
Columns: [Friday start, device]
Index: []

             Wednesday start device
0 2015-11-25 18:22:28.104548     45

Empty DataFrame
Columns: [Thursday start, device]
Index: []

Empty DataFrame
Columns: [Sunday start, device]
Index: []

Empty DataFrame
Columns: [Saturday start, device]
Index: []

Device platform: windows-laptop

Empty DataFrame
Columns: [Monday end, device]
Index: []

                 Tuesday end device
0 2015-11-24 16:54:53.024653     45

Empty DataFrame
Columns: [Friday end, device]
Index: []

               Wednesday end device
0 2015-11-25 23:12:28.898685     45

Empty DataFrame
Columns: [Thursday end, device]
Index: []

Empty DataFrame
Columns: [Sunday end, device]
Index: []

Empty DataFrame
Columns: [Saturday end, device]
Index: []