In [3]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

from collections import defaultdict

from model.Base import Base
from model.Device import Device
from model.HttpReq import HttpReq
from model.User import User
from model.user_devices import user_devices

from sqlalchemy import create_engine, text, func
from sqlalchemy.orm import sessionmaker
from sqlalchemy.pool import NullPool

from IPython.display import display

DB='postgresql+psycopg2:///ucnstudy'

engine = create_engine(DB, echo=False, poolclass=NullPool)
Base.metadata.bind = engine
Session = sessionmaker(bind=engine)

In [4]:
ses = Session()
users = ses.query(User)

for user in users:
    sql_user_devices = text('select * from user, user_devices where user_devices.user_id =:user').bindparams(user = user.id)
    user_devices = ses.execute(sql_user_devices)

    #will get the starting time and ending times considering all devices
    print ("user: " + str(user.id) + "=======================")
    for dev in user_devices:
        sql_beg_day = text('SELECT distinct devid, httpreqs2.ts FROM httpreqs2 join (SELECT DATE(ts) as date_entered, MIN(ts) as min_time \
        FROM httpreqs2 WHERE devid = :d_id and extract (hour from ts) > 3 \
        GROUP BY date(ts)) AS grp ON grp.min_time = httpreqs2.ts order by httpreqs2.ts;').bindparams(d_id = dev.device_id)
        result_beg_day = ses.execute(sql_beg_day)

        sql_end_day = text('SELECT distinct devid, httpreqs2.ts \
        FROM httpreqs2 join \
        (SELECT DATE(ts) as date_entered, MAX(ts) as max_time \
        FROM httpreqs2 WHERE devid = :d_id  \
        GROUP BY date(ts)) AS grp ON grp.max_time = httpreqs2.ts order by httpreqs2.ts;').bindparams(d_id = dev.device_id)
        result_end_day = ses.execute(sql_end_day)
            
        sql_beg_day_nolimit = text('SELECT distinct devid, httpreqs2.ts \
        FROM httpreqs2 join \
        (SELECT DATE(ts) as date_entered, MIN(ts) as min_time \
        FROM httpreqs2 WHERE devid = :d_id \
        GROUP BY date(ts)) AS grp ON grp.min_time = httpreqs2.ts order by httpreqs2.ts;').bindparams(d_id = dev.device_id)
        result_beg_day_nolimit = ses.execute(sql_beg_day_nolimit)

        devices_result = ses.query(Device).order_by(Device.id)
        devices_platform = {}
        for item in devices_result:
            devices_platform[item.id] = item.platform
                
        #organize data
        info_end = defaultdict(list)
        for row in result_end_day:
            info_end['devid'].append(str(row[0]))
            info_end['end'].append(row[1])

        info_beg = defaultdict(list)
        for row in result_beg_day:
            info_beg['devid'].append(row[0])
            info_beg['beg'].append(row[1])

        #add days that only have value before 3 am
        for row in result_beg_day_nolimit:
            timst = row[1]
            in_list = False
            for dt in info_beg['beg']:
                if dt.date() == timst.date():
                    in_list = True
            if in_list == False:
                #insert in the correct position
                cont = 0
                for dat in info_beg['beg']:
                    if timst.date() > dat.date():
                        cont = cont + 1
                info_beg['beg'].insert(cont, timst)
                info_beg['devid'].insert(cont, row[0])

        df_beg = pd.DataFrame(info_beg)
        display(df_beg)
        df_end = pd.DataFrame(info_end)
        display(df_end)
        
        
        #creates table per day for beginning
        info_week = defaultdict(list)
        if (info_beg['beg']):
            cont = 0
            for timst in info_beg['beg']:
                day = timst
                weekday = day.strftime('%A')
                info_week[weekday].append(day)
                cont = cont + 1
         
        print('Device platform: ' + devices_platform[dev.device_id])
        days_str = {'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday','Saturday', 'Sunday'}
        for name in days_str:
            df_col = defaultdict(list)
            df_col['device'] = str(dev.device_id)
            df_col[name+' beg'] = info_week[name]   
            df_week = pd.DataFrame(df_col)
            display(df_week)
            
            
        #creates table per day for ending
        info_week = defaultdict(list)
        if (info_end['end']):
            cont = 0
            for timst in info_end['end']:
                day = timst
                weekday = day.strftime('%A')
                info_week[weekday].append(day)
                cont = cont + 1
             
        print('Device platform: ' + devices_platform[dev.device_id])
        days_str = {'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday','Saturday', 'Sunday'}
        for name in days_str:
            df_col = defaultdict(list)
            df_col['device'] = str(dev.device_id)
            df_col[name+' end'] = info_week[name]    
            df_week = pd.DataFrame(df_col)
            display(df_week)

user: 1=======================

                      beg  devid
0 2015-03-05 15:17:34.860      6

  devid                     end
0     6 2015-03-05 15:17:59.431

Device platform: windows-laptop

Empty DataFrame
Columns: [Monday beg, device]
Index: []

Empty DataFrame
Columns: [Tuesday beg, device]
Index: []

Empty DataFrame
Columns: [Friday beg, device]
Index: []

Empty DataFrame
Columns: [Wednesday beg, device]
Index: []

             Thursday beg device
0 2015-03-05 15:17:34.860      6

Empty DataFrame
Columns: [Sunday beg, device]
Index: []

Empty DataFrame
Columns: [Saturday beg, device]
Index: []

Device platform: windows-laptop

Empty DataFrame
Columns: [Monday end, device]
Index: []

Empty DataFrame
Columns: [Tuesday end, device]
Index: []

Empty DataFrame
Columns: [Friday end, device]
Index: []

Empty DataFrame
Columns: [Wednesday end, device]
Index: []

             Thursday end device
0 2015-03-05 15:17:59.431      6

Empty DataFrame
Columns: [Sunday end, device]
Index: []

Empty DataFrame
Columns: [Saturday end, device]
Index: []

user: 2=======================

                       beg  devid
0  2015-02-25 16:08:36.789      1
1  2015-02-27 10:36:05.636      1
2  2015-03-04 21:42:09.042      1
3  2015-03-05 10:37:06.899      1
4  2015-03-06 14:22:13.751      1
5  2015-03-07 10:18:59.943      1
6  2015-03-17 20:13:05.126      1
7  2015-03-18 11:37:40.351      1
8  2015-03-19 05:48:26.149      1
9  2015-03-20 06:32:13.023      1
10 2015-03-21 08:13:44.679      1
11 2015-03-22 08:26:13.395      1
12 2015-03-25 07:23:21.757      1
13 2015-03-26 06:30:48.544      1
14 2015-03-27 19:36:22.661      1
15 2015-03-28 10:17:44.317      1
16 2015-03-29 14:38:00.053      1
17 2015-03-30 06:26:09.967      1
18 2015-04-03 23:21:02.766      1
19 2015-04-04 20:14:05.279      1
20 2015-04-05 10:08:14.918      1
21 2015-04-06 09:40:56.272      1
22 2015-04-07 07:41:16.437      1
23 2015-04-08 07:11:39.794      1
24 2015-04-09 20:17:34.018      1
25 2015-04-11 14:45:03.615      1
26 2015-04-12 10:41:10.887      1
27 2015-04-13 05:05:29.086      1
28 2015-04-14 20:57:10.769      1
29 2015-04-15 04:24:07.806      1
30 2015-04-16 20:30:29.988      1
31 2015-04-17 23:06:41.480      1
32 2015-04-18 08:50:10.444      1
33 2015-04-19 10:50:55.636      1
34 2015-04-21 20:13:32.056      1
35 2015-04-22 07:09:19.825      1
36 2015-04-23 21:23:34.323      1
37 2015-04-24 08:02:57.614      1
38 2015-04-26 10:18:00.065      1
39 2015-04-27 21:37:20.415      1
40 2015-04-28 04:02:23.242      1
41 2015-04-29 19:45:08.038      1
42 2015-04-30 07:44:07.172      1
43 2015-05-01 19:01:21.797      1
44 2015-05-02 09:36:40.757      1
45 2015-05-03 00:00:06.832      1
46 2015-05-04 21:49:53.930      1
47 2015-05-05 06:36:45.169      1
48 2015-05-06 04:17:26.921      1
49 2015-05-17 10:56:04.231      1
50 2015-05-29 07:26:19.424      1
51 2015-05-30 08:26:07.556      1
52 2015-05-31 04:33:31.694      1
53 2015-06-02 07:01:13.806      1
54 2015-06-03 04:05:30.915      1
55 2015-06-04 20:29:00.242      1

   devid                     end
0      1 2015-02-25 23:25:54.364
1      1 2015-02-27 16:36:08.509
2      1 2015-03-04 21:42:11.591
3      1 2015-03-05 13:30:01.587
4      1 2015-03-06 16:03:03.919
5      1 2015-03-07 23:42:06.804
6      1 2015-03-17 23:37:31.564
7      1 2015-03-18 11:48:01.959
8      1 2015-03-19 23:11:46.817
9      1 2015-03-20 07:21:09.091
10     1 2015-03-21 23:18:15.423
11     1 2015-03-22 08:28:04.200
12     1 2015-03-25 23:46:07.897
13     1 2015-03-26 12:29:17.309
14     1 2015-03-27 21:28:29.885
15     1 2015-03-28 23:19:30.126
16     1 2015-03-29 22:30:10.962
17     1 2015-03-30 06:26:10.634
18     1 2015-04-03 23:21:02.766
19     1 2015-04-04 23:39:48.368
20     1 2015-04-05 23:38:12.630
21     1 2015-04-06 23:08:58.250
22     1 2015-04-07 23:03:20.537
23     1 2015-04-08 23:22:45.904
24     1 2015-04-09 20:36:03.428
25     1 2015-04-11 21:15:32.813
26     1 2015-04-12 23:31:58.588
27     1 2015-04-13 08:16:32.373
28     1 2015-04-14 23:38:22.047
29     1 2015-04-15 20:11:13.622
30     1 2015-04-16 23:02:50.787
31     1 2015-04-17 23:07:51.134
32     1 2015-04-18 10:48:24.314
33     1 2015-04-19 21:24:46.673
34     1 2015-04-21 22:47:04.977
35     1 2015-04-22 07:27:53.365
36     1 2015-04-23 23:59:50.696
37     1 2015-04-24 08:03:50.064
38     1 2015-04-26 23:09:49.608
39     1 2015-04-27 23:47:02.252
40     1 2015-04-28 20:31:17.927
41     1 2015-04-29 22:35:56.519
42     1 2015-04-30 08:05:33.497
43     1 2015-05-01 23:59:16.627
44     1 2015-05-02 23:58:54.644
45     1 2015-05-03 01:54:35.082
46     1 2015-05-04 23:52:07.009
47     1 2015-05-05 23:54:43.183
48     1 2015-05-06 07:22:15.771
49     1 2015-05-17 11:40:49.589
50     1 2015-05-29 23:48:16.067
51     1 2015-05-30 23:58:37.734
52     1 2015-05-31 20:16:03.563
53     1 2015-06-02 23:53:14.628
54     1 2015-06-03 23:36:28.546
55     1 2015-06-04 22:57:23.179

Device platform: iphone

               Monday beg device
0 2015-03-30 06:26:09.967      1
1 2015-04-06 09:40:56.272      1
2 2015-04-13 05:05:29.086      1
3 2015-04-27 21:37:20.415      1
4 2015-05-04 21:49:53.930      1

              Tuesday beg device
0 2015-03-17 20:13:05.126      1
1 2015-04-07 07:41:16.437      1
2 2015-04-14 20:57:10.769      1
3 2015-04-21 20:13:32.056      1
4 2015-04-28 04:02:23.242      1
5 2015-05-05 06:36:45.169      1
6 2015-06-02 07:01:13.806      1

               Friday beg device
0 2015-02-27 10:36:05.636      1
1 2015-03-06 14:22:13.751      1
2 2015-03-20 06:32:13.023      1
3 2015-03-27 19:36:22.661      1
4 2015-04-03 23:21:02.766      1
5 2015-04-17 23:06:41.480      1
6 2015-04-24 08:02:57.614      1
7 2015-05-01 19:01:21.797      1
8 2015-05-29 07:26:19.424      1

            Wednesday beg device
0 2015-02-25 16:08:36.789      1
1 2015-03-04 21:42:09.042      1
2 2015-03-18 11:37:40.351      1
3 2015-03-25 07:23:21.757      1
4 2015-04-08 07:11:39.794      1
5 2015-04-15 04:24:07.806      1
6 2015-04-22 07:09:19.825      1
7 2015-04-29 19:45:08.038      1
8 2015-05-06 04:17:26.921      1
9 2015-06-03 04:05:30.915      1

             Thursday beg device
0 2015-03-05 10:37:06.899      1
1 2015-03-19 05:48:26.149      1
2 2015-03-26 06:30:48.544      1
3 2015-04-09 20:17:34.018      1
4 2015-04-16 20:30:29.988      1
5 2015-04-23 21:23:34.323      1
6 2015-04-30 07:44:07.172      1
7 2015-06-04 20:29:00.242      1

               Sunday beg device
0 2015-03-22 08:26:13.395      1
1 2015-03-29 14:38:00.053      1
2 2015-04-05 10:08:14.918      1
3 2015-04-12 10:41:10.887      1
4 2015-04-19 10:50:55.636      1
5 2015-04-26 10:18:00.065      1
6 2015-05-03 00:00:06.832      1
7 2015-05-17 10:56:04.231      1
8 2015-05-31 04:33:31.694      1

             Saturday beg device
0 2015-03-07 10:18:59.943      1
1 2015-03-21 08:13:44.679      1
2 2015-03-28 10:17:44.317      1
3 2015-04-04 20:14:05.279      1
4 2015-04-11 14:45:03.615      1
5 2015-04-18 08:50:10.444      1
6 2015-05-02 09:36:40.757      1
7 2015-05-30 08:26:07.556      1

Device platform: iphone

               Monday end device
0 2015-03-30 06:26:10.634      1
1 2015-04-06 23:08:58.250      1
2 2015-04-13 08:16:32.373      1
3 2015-04-27 23:47:02.252      1
4 2015-05-04 23:52:07.009      1

              Tuesday end device
0 2015-03-17 23:37:31.564      1
1 2015-04-07 23:03:20.537      1
2 2015-04-14 23:38:22.047      1
3 2015-04-21 22:47:04.977      1
4 2015-04-28 20:31:17.927      1
5 2015-05-05 23:54:43.183      1
6 2015-06-02 23:53:14.628      1

               Friday end device
0 2015-02-27 16:36:08.509      1
1 2015-03-06 16:03:03.919      1
2 2015-03-20 07:21:09.091      1
3 2015-03-27 21:28:29.885      1
4 2015-04-03 23:21:02.766      1
5 2015-04-17 23:07:51.134      1
6 2015-04-24 08:03:50.064      1
7 2015-05-01 23:59:16.627      1
8 2015-05-29 23:48:16.067      1

            Wednesday end device
0 2015-02-25 23:25:54.364      1
1 2015-03-04 21:42:11.591      1
2 2015-03-18 11:48:01.959      1
3 2015-03-25 23:46:07.897      1
4 2015-04-08 23:22:45.904      1
5 2015-04-15 20:11:13.622      1
6 2015-04-22 07:27:53.365      1
7 2015-04-29 22:35:56.519      1
8 2015-05-06 07:22:15.771      1
9 2015-06-03 23:36:28.546      1

             Thursday end device
0 2015-03-05 13:30:01.587      1
1 2015-03-19 23:11:46.817      1
2 2015-03-26 12:29:17.309      1
3 2015-04-09 20:36:03.428      1
4 2015-04-16 23:02:50.787      1
5 2015-04-23 23:59:50.696      1
6 2015-04-30 08:05:33.497      1
7 2015-06-04 22:57:23.179      1

               Sunday end device
0 2015-03-22 08:28:04.200      1
1 2015-03-29 22:30:10.962      1
2 2015-04-05 23:38:12.630      1
3 2015-04-12 23:31:58.588      1
4 2015-04-19 21:24:46.673      1
5 2015-04-26 23:09:49.608      1
6 2015-05-03 01:54:35.082      1
7 2015-05-17 11:40:49.589      1
8 2015-05-31 20:16:03.563      1

             Saturday end device
0 2015-03-07 23:42:06.804      1
1 2015-03-21 23:18:15.423      1
2 2015-03-28 23:19:30.126      1
3 2015-04-04 23:39:48.368      1
4 2015-04-11 21:15:32.813      1
5 2015-04-18 10:48:24.314      1
6 2015-05-02 23:58:54.644      1
7 2015-05-30 23:58:37.734      1

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Device platform: windows-laptop

Empty DataFrame
Columns: [Monday beg, device]
Index: []

Empty DataFrame
Columns: [Tuesday beg, device]
Index: []

Empty DataFrame
Columns: [Friday beg, device]
Index: []

Empty DataFrame
Columns: [Wednesday beg, device]
Index: []

Empty DataFrame
Columns: [Thursday beg, device]
Index: []

Empty DataFrame
Columns: [Sunday beg, device]
Index: []

Empty DataFrame
Columns: [Saturday beg, device]
Index: []

Device platform: windows-laptop

Empty DataFrame
Columns: [Monday end, device]
Index: []

Empty DataFrame
Columns: [Tuesday end, device]
Index: []

Empty DataFrame
Columns: [Friday end, device]
Index: []

Empty DataFrame
Columns: [Wednesday end, device]
Index: []

Empty DataFrame
Columns: [Thursday end, device]
Index: []

Empty DataFrame
Columns: [Sunday end, device]
Index: []

Empty DataFrame
Columns: [Saturday end, device]
Index: []

user: 3=======================

                      beg  devid
0 2015-02-26 10:26:08.182      4

  devid                     end
0     4 2015-02-26 12:04:14.511

Device platform: windows-laptop

Empty DataFrame
Columns: [Monday beg, device]
Index: []

Empty DataFrame
Columns: [Tuesday beg, device]
Index: []

Empty DataFrame
Columns: [Friday beg, device]
Index: []

Empty DataFrame
Columns: [Wednesday beg, device]
Index: []

             Thursday beg device
0 2015-02-26 10:26:08.182      4

Empty DataFrame
Columns: [Sunday beg, device]
Index: []

Empty DataFrame
Columns: [Saturday beg, device]
Index: []

Device platform: windows-laptop

Empty DataFrame
Columns: [Monday end, device]
Index: []

Empty DataFrame
Columns: [Tuesday end, device]
Index: []

Empty DataFrame
Columns: [Friday end, device]
Index: []

Empty DataFrame
Columns: [Wednesday end, device]
Index: []

             Thursday end device
0 2015-02-26 12:04:14.511      4

Empty DataFrame
Columns: [Sunday end, device]
Index: []

Empty DataFrame
Columns: [Saturday end, device]
Index: []

user: 4=======================

                      beg  devid
0 2015-02-26 15:09:43.273      5
1 2015-02-27 07:32:33.975      5

  devid                     end
0     5 2015-02-26 23:58:33.874
1     5 2015-02-27 08:00:45.389

Device platform: windows-laptop

Empty DataFrame
Columns: [Monday beg, device]
Index: []

Empty DataFrame
Columns: [Tuesday beg, device]
Index: []

               Friday beg device
0 2015-02-27 07:32:33.975      5

Empty DataFrame
Columns: [Wednesday beg, device]
Index: []

             Thursday beg device
0 2015-02-26 15:09:43.273      5

Empty DataFrame
Columns: [Sunday beg, device]
Index: []

Empty DataFrame
Columns: [Saturday beg, device]
Index: []

Device platform: windows-laptop

Empty DataFrame
Columns: [Monday end, device]
Index: []

Empty DataFrame
Columns: [Tuesday end, device]
Index: []

               Friday end device
0 2015-02-27 08:00:45.389      5

Empty DataFrame
Columns: [Wednesday end, device]
Index: []

             Thursday end device
0 2015-02-26 23:58:33.874      5

Empty DataFrame
Columns: [Sunday end, device]
Index: []

Empty DataFrame
Columns: [Saturday end, device]
Index: []

user: 5=======================

                       beg  devid
0  2015-04-17 11:53:04.265      7
1  2015-04-18 11:55:08.373      7
2  2015-04-19 02:01:56.103      7
3  2015-04-20 11:57:37.108      7
4  2015-04-21 11:25:26.046      7
5  2015-04-22 21:57:00.096      7
6  2015-04-23 09:32:19.987      7
7  2015-04-24 09:09:33.937      7
8  2015-04-25 09:52:11.513      7
9  2015-04-26 13:30:25.178      7
10 2015-04-27 12:06:12.021      7
11 2015-04-29 10:17:15.782      7
12 2015-04-30 11:50:51.985      7
13 2015-05-01 10:23:28.765      7
14 2015-05-05 13:58:47.971      7
15 2015-05-11 12:21:17.037      7
16 2015-05-12 13:10:40.482      7
17 2015-05-14 10:41:50.248      7
18 2015-05-15 10:37:38.900      7
19 2015-05-16 09:31:00.353      7
20 2015-05-20 23:07:24.925      7
21 2015-05-21 09:55:50.576      7
22 2015-05-26 17:35:12.603      7
23 2015-05-27 18:12:04.680      7
24 2015-05-28 14:01:02.370      7
25 2015-05-29 10:46:08.338      7
26 2015-05-30 11:44:54.560      7
27 2015-05-31 11:22:49.751      7
28 2015-06-01 11:01:21.460      7
29 2015-06-02 11:39:34.399      7
30 2015-06-03 14:23:52.534      7
31 2015-06-04 21:59:25.324      7
32 2015-06-08 17:24:22.079      7
33 2015-06-09 14:53:25.576      7
34 2015-06-10 01:17:31.500      7
35 2015-06-11 04:24:56.484      7
36 2015-06-12 00:03:49.466      7
37 2015-06-14 14:08:18.118      7
38 2015-06-18 17:06:00.384      7
39 2015-06-19 20:19:25.147      7
40 2015-06-22 14:45:17.343      7
41 2015-06-23 10:23:10.909      7

   devid                     end
0      7 2015-04-17 14:17:19.743
1      7 2015-04-18 21:19:29.634
2      7 2015-04-19 03:04:30.416
3      7 2015-04-20 23:52:12.803
4      7 2015-04-21 23:59:22.116
5      7 2015-04-22 22:47:25.624
6      7 2015-04-23 12:34:44.504
7      7 2015-04-24 23:19:46.520
8      7 2015-04-25 18:06:33.591
9      7 2015-04-26 23:59:59.813
10     7 2015-04-27 23:37:17.269
11     7 2015-04-29 22:03:24.066
12     7 2015-04-30 18:44:07.808
13     7 2015-05-01 12:17:46.903
14     7 2015-05-05 20:45:36.090
15     7 2015-05-11 23:58:29.378
16     7 2015-05-12 13:11:29.698
17     7 2015-05-14 13:57:01.838
18     7 2015-05-15 15:35:09.758
19     7 2015-05-16 18:16:20.790
20     7 2015-05-20 23:11:59.915
21     7 2015-05-21 09:58:15.949
22     7 2015-05-26 20:36:20.663
23     7 2015-05-27 23:47:42.104
24     7 2015-05-28 18:23:08.067
25     7 2015-05-29 10:58:04.689
26     7 2015-05-30 12:19:01.784
27     7 2015-05-31 22:01:44.095
28     7 2015-06-01 14:50:57.628
29     7 2015-06-02 23:31:14.565
30     7 2015-06-03 23:45:23.727
31     7 2015-06-04 23:20:52.562
32     7 2015-06-08 17:51:16.113
33     7 2015-06-09 23:44:56.400
34     7 2015-06-10 03:31:13.891
35     7 2015-06-11 23:58:30.055
36     7 2015-06-12 00:35:00.805
37     7 2015-06-14 16:03:32.128
38     7 2015-06-18 23:57:30.246
39     7 2015-06-19 21:18:42.390
40     7 2015-06-22 16:22:00.804
41     7 2015-06-23 23:06:37.019

Device platform: macbook

               Monday beg device
0 2015-04-20 11:57:37.108      7
1 2015-04-27 12:06:12.021      7
2 2015-05-11 12:21:17.037      7
3 2015-06-01 11:01:21.460      7
4 2015-06-08 17:24:22.079      7
5 2015-06-22 14:45:17.343      7

              Tuesday beg device
0 2015-04-21 11:25:26.046      7
1 2015-05-05 13:58:47.971      7
2 2015-05-12 13:10:40.482      7
3 2015-05-26 17:35:12.603      7
4 2015-06-02 11:39:34.399      7
5 2015-06-09 14:53:25.576      7
6 2015-06-23 10:23:10.909      7

               Friday beg device
0 2015-04-17 11:53:04.265      7
1 2015-04-24 09:09:33.937      7
2 2015-05-01 10:23:28.765      7
3 2015-05-15 10:37:38.900      7
4 2015-05-29 10:46:08.338      7
5 2015-06-12 00:03:49.466      7
6 2015-06-19 20:19:25.147      7

            Wednesday beg device
0 2015-04-22 21:57:00.096      7
1 2015-04-29 10:17:15.782      7
2 2015-05-20 23:07:24.925      7
3 2015-05-27 18:12:04.680      7
4 2015-06-03 14:23:52.534      7
5 2015-06-10 01:17:31.500      7

             Thursday beg device
0 2015-04-23 09:32:19.987      7
1 2015-04-30 11:50:51.985      7
2 2015-05-14 10:41:50.248      7
3 2015-05-21 09:55:50.576      7
4 2015-05-28 14:01:02.370      7
5 2015-06-04 21:59:25.324      7
6 2015-06-11 04:24:56.484      7
7 2015-06-18 17:06:00.384      7

               Sunday beg device
0 2015-04-19 02:01:56.103      7
1 2015-04-26 13:30:25.178      7
2 2015-05-31 11:22:49.751      7
3 2015-06-14 14:08:18.118      7

             Saturday beg device
0 2015-04-18 11:55:08.373      7
1 2015-04-25 09:52:11.513      7
2 2015-05-16 09:31:00.353      7
3 2015-05-30 11:44:54.560      7

Device platform: macbook

               Monday end device
0 2015-04-20 23:52:12.803      7
1 2015-04-27 23:37:17.269      7
2 2015-05-11 23:58:29.378      7
3 2015-06-01 14:50:57.628      7
4 2015-06-08 17:51:16.113      7
5 2015-06-22 16:22:00.804      7

              Tuesday end device
0 2015-04-21 23:59:22.116      7
1 2015-05-05 20:45:36.090      7
2 2015-05-12 13:11:29.698      7
3 2015-05-26 20:36:20.663      7
4 2015-06-02 23:31:14.565      7
5 2015-06-09 23:44:56.400      7
6 2015-06-23 23:06:37.019      7

               Friday end device
0 2015-04-17 14:17:19.743      7
1 2015-04-24 23:19:46.520      7
2 2015-05-01 12:17:46.903      7
3 2015-05-15 15:35:09.758      7
4 2015-05-29 10:58:04.689      7
5 2015-06-12 00:35:00.805      7
6 2015-06-19 21:18:42.390      7

            Wednesday end device
0 2015-04-22 22:47:25.624      7
1 2015-04-29 22:03:24.066      7
2 2015-05-20 23:11:59.915      7
3 2015-05-27 23:47:42.104      7
4 2015-06-03 23:45:23.727      7
5 2015-06-10 03:31:13.891      7

             Thursday end device
0 2015-04-23 12:34:44.504      7
1 2015-04-30 18:44:07.808      7
2 2015-05-14 13:57:01.838      7
3 2015-05-21 09:58:15.949      7
4 2015-05-28 18:23:08.067      7
5 2015-06-04 23:20:52.562      7
6 2015-06-11 23:58:30.055      7
7 2015-06-18 23:57:30.246      7

               Sunday end device
0 2015-04-19 03:04:30.416      7
1 2015-04-26 23:59:59.813      7
2 2015-05-31 22:01:44.095      7
3 2015-06-14 16:03:32.128      7

             Saturday end device
0 2015-04-18 21:19:29.634      7
1 2015-04-25 18:06:33.591      7
2 2015-05-16 18:16:20.790      7
3 2015-05-30 12:19:01.784      7

                      beg  devid
0 2015-04-17 10:59:29.170      8
1 2015-04-18 20:29:33.269      8
2 2015-04-19 10:53:03.846      8
3 2015-04-20 11:16:32.198      8
4 2015-04-21 11:47:13.862      8

  devid                     end
0     8 2015-04-17 21:27:11.322
1     8 2015-04-18 23:37:11.037
2     8 2015-04-19 23:58:40.378
3     8 2015-04-20 23:51:29.025
4     8 2015-04-21 13:42:14.648

Device platform: android-phone

               Monday beg device
0 2015-04-20 11:16:32.198      8

              Tuesday beg device
0 2015-04-21 11:47:13.862      8

               Friday beg device
0 2015-04-17 10:59:29.170      8

Empty DataFrame
Columns: [Wednesday beg, device]
Index: []

Empty DataFrame
Columns: [Thursday beg, device]
Index: []

               Sunday beg device
0 2015-04-19 10:53:03.846      8

             Saturday beg device
0 2015-04-18 20:29:33.269      8

Device platform: android-phone

               Monday end device
0 2015-04-20 23:51:29.025      8

              Tuesday end device
0 2015-04-21 13:42:14.648      8

               Friday end device
0 2015-04-17 21:27:11.322      8

Empty DataFrame
Columns: [Wednesday end, device]
Index: []

Empty DataFrame
Columns: [Thursday end, device]
Index: []

               Sunday end device
0 2015-04-19 23:58:40.378      8

             Saturday end device
0 2015-04-18 23:37:11.037      8

user: 6=======================

                      beg  devid
0 2015-04-17 11:46:09.639      9

  devid                     end
0     9 2015-04-17 13:08:12.456

Device platform: windows-laptop

Empty DataFrame
Columns: [Monday beg, device]
Index: []

Empty DataFrame
Columns: [Tuesday beg, device]
Index: []

               Friday beg device
0 2015-04-17 11:46:09.639      9

Empty DataFrame
Columns: [Wednesday beg, device]
Index: []

Empty DataFrame
Columns: [Thursday beg, device]
Index: []

Empty DataFrame
Columns: [Sunday beg, device]
Index: []

Empty DataFrame
Columns: [Saturday beg, device]
Index: []

Device platform: windows-laptop

Empty DataFrame
Columns: [Monday end, device]
Index: []

Empty DataFrame
Columns: [Tuesday end, device]
Index: []

               Friday end device
0 2015-04-17 13:08:12.456      9

Empty DataFrame
Columns: [Wednesday end, device]
Index: []

Empty DataFrame
Columns: [Thursday end, device]
Index: []

Empty DataFrame
Columns: [Sunday end, device]
Index: []

Empty DataFrame
Columns: [Saturday end, device]
Index: []

user: 7=======================

                       beg  devid
0  2015-04-17 15:43:32.884      3
1  2015-04-18 04:00:31.898      3
2  2015-04-19 04:10:59.017      3
3  2015-04-20 04:10:32.836      3
4  2015-04-21 04:06:22.086      3
5  2015-04-22 04:06:19.384      3
6  2015-04-23 04:12:13.779      3
7  2015-04-24 04:22:32.916      3
8  2015-04-25 04:09:02.346      3
9  2015-04-26 04:05:38.835      3
10 2015-04-27 04:11:57.776      3
11 2015-04-28 04:04:47.218      3
12 2015-04-29 00:14:03.792      3
13 2015-05-02 20:33:14.175      3
14 2015-05-03 04:09:54.405      3
15 2015-05-04 04:03:48.713      3
16 2015-05-05 04:08:22.949      3
17 2015-05-06 17:04:48.516      3
18 2015-05-10 10:34:14.090      3
19 2015-05-11 04:18:08.007      3
20 2015-05-12 04:01:52.426      3
21 2015-05-13 04:01:06.474      3
22 2015-05-14 04:06:42.871      3
23 2015-05-15 04:18:25.186      3
24 2015-05-16 04:02:50.028      3
25 2015-05-17 04:06:43.896      3
26 2015-05-18 20:10:08.334      3
27 2015-05-19 04:11:57.515      3
28 2015-05-20 04:01:18.704      3
29 2015-05-21 12:30:16.142      3
30 2015-05-22 04:04:31.994      3
31 2015-05-23 04:10:11.458      3
32 2015-05-24 04:07:56.724      3
33 2015-05-25 04:07:31.021      3
34 2015-05-26 04:00:57.916      3
35 2015-05-27 04:09:11.873      3
36 2015-05-28 04:00:02.126      3
37 2015-05-29 04:06:01.400      3
38 2015-05-30 04:03:23.813      3
39 2015-05-31 04:07:03.088      3
40 2015-06-01 04:00:42.403      3
41 2015-06-02 04:08:16.439      3
42 2015-06-03 04:06:07.714      3
43 2015-06-04 04:00:07.427      3
44 2015-06-05 04:07:41.465      3
45 2015-06-06 04:09:17.609      3
46 2015-06-13 11:29:57.870      3
47 2015-06-14 04:05:27.075      3
48 2015-06-15 04:05:27.587      3
49 2015-06-16 04:04:06.769      3
50 2015-06-17 04:04:38.060      3
51 2015-06-18 04:19:42.435      3
52 2015-06-19 04:14:18.628      3

   devid                     end
0      3 2015-04-17 15:54:54.342
1      3 2015-04-18 23:49:58.521
2      3 2015-04-19 23:54:52.964
3      3 2015-04-20 23:58:29.084
4      3 2015-04-21 23:50:49.226
5      3 2015-04-22 23:56:00.222
6      3 2015-04-23 23:50:53.058
7      3 2015-04-24 23:56:32.323
8      3 2015-04-25 23:47:08.741
9      3 2015-04-26 23:51:12.905
10     3 2015-04-27 23:57:17.177
11     3 2015-04-28 23:59:23.428
12     3 2015-04-29 01:18:58.494
13     3 2015-05-02 23:22:00.401
14     3 2015-05-03 23:57:39.518
15     3 2015-05-04 23:58:43.319
16     3 2015-05-05 08:16:32.830
17     3 2015-05-06 18:16:27.304
18     3 2015-05-10 23:56:47.877
19     3 2015-05-11 16:44:05.272
20     3 2015-05-12 23:59:31.570
21     3 2015-05-13 23:51:55.873
22     3 2015-05-14 23:48:20.171
23     3 2015-05-15 23:59:30.820
24     3 2015-05-16 23:57:04.229
25     3 2015-05-17 22:30:35.109
26     3 2015-05-18 23:58:42.276
27     3 2015-05-19 23:54:13.546
28     3 2015-05-20 18:07:22.151
29     3 2015-05-21 23:51:37.072
30     3 2015-05-22 23:53:47.907
31     3 2015-05-23 23:40:36.479
32     3 2015-05-24 23:51:21.237
33     3 2015-05-25 23:46:25.458
34     3 2015-05-26 23:58:06.120
35     3 2015-05-27 23:50:42.257
36     3 2015-05-28 23:46:06.522
37     3 2015-05-29 23:56:23.802
38     3 2015-05-30 23:58:58.043
39     3 2015-05-31 23:34:32.479
40     3 2015-06-01 23:57:51.721
41     3 2015-06-02 23:55:32.846
42     3 2015-06-03 23:56:52.107
43     3 2015-06-04 23:58:36.393
44     3 2015-06-05 23:50:54.863
45     3 2015-06-06 04:21:27.745
46     3 2015-06-13 23:52:27.339
47     3 2015-06-14 23:50:17.551
48     3 2015-06-15 23:32:46.906
49     3 2015-06-16 23:59:47.152
50     3 2015-06-17 23:49:52.438
51     3 2015-06-18 23:49:18.755
52     3 2015-06-19 12:03:34.025

Device platform: ipad

               Monday beg device
0 2015-04-20 04:10:32.836      3
1 2015-04-27 04:11:57.776      3
2 2015-05-04 04:03:48.713      3
3 2015-05-11 04:18:08.007      3
4 2015-05-18 20:10:08.334      3
5 2015-05-25 04:07:31.021      3
6 2015-06-01 04:00:42.403      3
7 2015-06-15 04:05:27.587      3

              Tuesday beg device
0 2015-04-21 04:06:22.086      3
1 2015-04-28 04:04:47.218      3
2 2015-05-05 04:08:22.949      3
3 2015-05-12 04:01:52.426      3
4 2015-05-19 04:11:57.515      3
5 2015-05-26 04:00:57.916      3
6 2015-06-02 04:08:16.439      3
7 2015-06-16 04:04:06.769      3

               Friday beg device
0 2015-04-17 15:43:32.884      3
1 2015-04-24 04:22:32.916      3
2 2015-05-15 04:18:25.186      3
3 2015-05-22 04:04:31.994      3
4 2015-05-29 04:06:01.400      3
5 2015-06-05 04:07:41.465      3
6 2015-06-19 04:14:18.628      3

            Wednesday beg device
0 2015-04-22 04:06:19.384      3
1 2015-04-29 00:14:03.792      3
2 2015-05-06 17:04:48.516      3
3 2015-05-13 04:01:06.474      3
4 2015-05-20 04:01:18.704      3
5 2015-05-27 04:09:11.873      3
6 2015-06-03 04:06:07.714      3
7 2015-06-17 04:04:38.060      3

             Thursday beg device
0 2015-04-23 04:12:13.779      3
1 2015-05-14 04:06:42.871      3
2 2015-05-21 12:30:16.142      3
3 2015-05-28 04:00:02.126      3
4 2015-06-04 04:00:07.427      3
5 2015-06-18 04:19:42.435      3

               Sunday beg device
0 2015-04-19 04:10:59.017      3
1 2015-04-26 04:05:38.835      3
2 2015-05-03 04:09:54.405      3
3 2015-05-10 10:34:14.090      3
4 2015-05-17 04:06:43.896      3
5 2015-05-24 04:07:56.724      3
6 2015-05-31 04:07:03.088      3
7 2015-06-14 04:05:27.075      3

             Saturday beg device
0 2015-04-18 04:00:31.898      3
1 2015-04-25 04:09:02.346      3
2 2015-05-02 20:33:14.175      3
3 2015-05-16 04:02:50.028      3
4 2015-05-23 04:10:11.458      3
5 2015-05-30 04:03:23.813      3
6 2015-06-06 04:09:17.609      3
7 2015-06-13 11:29:57.870      3

Device platform: ipad

               Monday end device
0 2015-04-20 23:58:29.084      3
1 2015-04-27 23:57:17.177      3
2 2015-05-04 23:58:43.319      3
3 2015-05-11 16:44:05.272      3
4 2015-05-18 23:58:42.276      3
5 2015-05-25 23:46:25.458      3
6 2015-06-01 23:57:51.721      3
7 2015-06-15 23:32:46.906      3

              Tuesday end device
0 2015-04-21 23:50:49.226      3
1 2015-04-28 23:59:23.428      3
2 2015-05-05 08:16:32.830      3
3 2015-05-12 23:59:31.570      3
4 2015-05-19 23:54:13.546      3
5 2015-05-26 23:58:06.120      3
6 2015-06-02 23:55:32.846      3
7 2015-06-16 23:59:47.152      3

               Friday end device
0 2015-04-17 15:54:54.342      3
1 2015-04-24 23:56:32.323      3
2 2015-05-15 23:59:30.820      3
3 2015-05-22 23:53:47.907      3
4 2015-05-29 23:56:23.802      3
5 2015-06-05 23:50:54.863      3
6 2015-06-19 12:03:34.025      3

            Wednesday end device
0 2015-04-22 23:56:00.222      3
1 2015-04-29 01:18:58.494      3
2 2015-05-06 18:16:27.304      3
3 2015-05-13 23:51:55.873      3
4 2015-05-20 18:07:22.151      3
5 2015-05-27 23:50:42.257      3
6 2015-06-03 23:56:52.107      3
7 2015-06-17 23:49:52.438      3

             Thursday end device
0 2015-04-23 23:50:53.058      3
1 2015-05-14 23:48:20.171      3
2 2015-05-21 23:51:37.072      3
3 2015-05-28 23:46:06.522      3
4 2015-06-04 23:58:36.393      3
5 2015-06-18 23:49:18.755      3

               Sunday end device
0 2015-04-19 23:54:52.964      3
1 2015-04-26 23:51:12.905      3
2 2015-05-03 23:57:39.518      3
3 2015-05-10 23:56:47.877      3
4 2015-05-17 22:30:35.109      3
5 2015-05-24 23:51:21.237      3
6 2015-05-31 23:34:32.479      3
7 2015-06-14 23:50:17.551      3

             Saturday end device
0 2015-04-18 23:49:58.521      3
1 2015-04-25 23:47:08.741      3
2 2015-05-02 23:22:00.401      3
3 2015-05-16 23:57:04.229      3
4 2015-05-23 23:40:36.479      3
5 2015-05-30 23:58:58.043      3
6 2015-06-06 04:21:27.745      3
7 2015-06-13 23:52:27.339      3

                       beg  devid
0  2015-04-17 15:48:25.104     10
1  2015-04-18 05:04:29.054     10
2  2015-04-19 05:04:28.979     10
3  2015-04-20 10:10:37.080     10
4  2015-04-21 07:35:56.270     10
5  2015-04-22 21:44:28.324     10
6  2015-04-23 09:20:29.659     10
7  2015-04-24 05:04:27.282     10
8  2015-04-27 22:00:09.648     10
9  2015-04-28 07:24:27.768     10
10 2015-04-29 17:59:01.184     10
11 2015-04-30 07:14:24.530     10
12 2015-05-01 00:41:41.672     10
13 2015-05-02 20:47:54.642     10
14 2015-05-04 07:16:40.177     10
15 2015-05-11 20:40:39.437     10
16 2015-05-12 07:10:11.897     10
17 2015-05-14 22:59:31.487     10
18 2015-05-15 06:28:10.742     10
19 2015-05-18 20:10:28.209     10
20 2015-05-19 06:22:48.232     10
21 2015-05-23 12:02:14.252     10
22 2015-05-24 05:36:03.777     10
23 2015-05-26 16:42:50.919     10
24 2015-05-27 07:05:44.880     10
25 2015-06-02 07:45:23.728     10
26 2015-06-04 06:35:36.489     10
27 2015-06-13 12:11:53.269     10
28 2015-06-19 17:09:27.951     10
29 2015-06-24 20:47:30.686     10

   devid                     end
0     10 2015-04-17 21:04:57.996
1     10 2015-04-18 23:53:49.363
2     10 2015-04-19 23:21:16.727
3     10 2015-04-20 18:02:45.277
4     10 2015-04-21 07:50:34.304
5     10 2015-04-22 23:58:08.277
6     10 2015-04-23 11:05:02.574
7     10 2015-04-24 12:16:48.595
8     10 2015-04-27 23:49:42.784
9     10 2015-04-28 07:45:30.422
10    10 2015-04-29 23:53:00.516
11    10 2015-04-30 08:42:52.210
12    10 2015-05-01 01:22:42.071
13    10 2015-05-02 21:28:51.811
14    10 2015-05-04 07:41:18.179
15    10 2015-05-11 23:36:19.939
16    10 2015-05-12 08:01:45.734
17    10 2015-05-14 23:22:47.830
18    10 2015-05-15 16:01:05.809
19    10 2015-05-18 21:39:04.914
20    10 2015-05-19 17:52:08.404
21    10 2015-05-23 23:40:38.317
22    10 2015-05-24 15:32:20.454
23    10 2015-05-26 23:48:04.963
24    10 2015-05-27 15:00:17.484
25    10 2015-06-02 13:05:45.252
26    10 2015-06-04 11:22:30.119
27    10 2015-06-13 12:57:37.748
28    10 2015-06-19 18:53:55.247
29    10 2015-06-24 20:47:33.903

Device platform: iphone

               Monday beg device
0 2015-04-20 10:10:37.080     10
1 2015-04-27 22:00:09.648     10
2 2015-05-04 07:16:40.177     10
3 2015-05-11 20:40:39.437     10
4 2015-05-18 20:10:28.209     10

              Tuesday beg device
0 2015-04-21 07:35:56.270     10
1 2015-04-28 07:24:27.768     10
2 2015-05-12 07:10:11.897     10
3 2015-05-19 06:22:48.232     10
4 2015-05-26 16:42:50.919     10
5 2015-06-02 07:45:23.728     10

               Friday beg device
0 2015-04-17 15:48:25.104     10
1 2015-04-24 05:04:27.282     10
2 2015-05-01 00:41:41.672     10
3 2015-05-15 06:28:10.742     10
4 2015-06-19 17:09:27.951     10

            Wednesday beg device
0 2015-04-22 21:44:28.324     10
1 2015-04-29 17:59:01.184     10
2 2015-05-27 07:05:44.880     10
3 2015-06-24 20:47:30.686     10

             Thursday beg device
0 2015-04-23 09:20:29.659     10
1 2015-04-30 07:14:24.530     10
2 2015-05-14 22:59:31.487     10
3 2015-06-04 06:35:36.489     10

               Sunday beg device
0 2015-04-19 05:04:28.979     10
1 2015-05-24 05:36:03.777     10

             Saturday beg device
0 2015-04-18 05:04:29.054     10
1 2015-05-02 20:47:54.642     10
2 2015-05-23 12:02:14.252     10
3 2015-06-13 12:11:53.269     10

Device platform: iphone

               Monday end device
0 2015-04-20 18:02:45.277     10
1 2015-04-27 23:49:42.784     10
2 2015-05-04 07:41:18.179     10
3 2015-05-11 23:36:19.939     10
4 2015-05-18 21:39:04.914     10

              Tuesday end device
0 2015-04-21 07:50:34.304     10
1 2015-04-28 07:45:30.422     10
2 2015-05-12 08:01:45.734     10
3 2015-05-19 17:52:08.404     10
4 2015-05-26 23:48:04.963     10
5 2015-06-02 13:05:45.252     10

               Friday end device
0 2015-04-17 21:04:57.996     10
1 2015-04-24 12:16:48.595     10
2 2015-05-01 01:22:42.071     10
3 2015-05-15 16:01:05.809     10
4 2015-06-19 18:53:55.247     10

            Wednesday end device
0 2015-04-22 23:58:08.277     10
1 2015-04-29 23:53:00.516     10
2 2015-05-27 15:00:17.484     10
3 2015-06-24 20:47:33.903     10

             Thursday end device
0 2015-04-23 11:05:02.574     10
1 2015-04-30 08:42:52.210     10
2 2015-05-14 23:22:47.830     10
3 2015-06-04 11:22:30.119     10

               Sunday end device
0 2015-04-19 23:21:16.727     10
1 2015-05-24 15:32:20.454     10

             Saturday end device
0 2015-04-18 23:53:49.363     10
1 2015-05-02 21:28:51.811     10
2 2015-05-23 23:40:38.317     10
3 2015-06-13 12:57:37.748     10

user: 8=======================

                       beg  devid
0  2015-04-17 17:52:45.828     11
1  2015-04-18 07:41:42.835     11
2  2015-04-19 19:46:56.850     11
3  2015-04-20 05:31:30.520     11
4  2015-04-21 04:02:34.387     11
5  2015-04-22 14:28:27.843     11
6  2015-04-23 14:34:26.611     11
7  2015-04-24 22:29:46.071     11
8  2015-04-25 04:02:49.815     11
9  2015-04-26 11:06:22.013     11
10 2015-04-27 05:38:38.337     11
11 2015-04-30 21:48:36.345     11
12 2015-05-01 08:02:24.732     11
13 2015-05-02 09:26:18.238     11
14 2015-05-03 11:03:37.151     11
15 2015-05-04 04:28:58.269     11
16 2015-05-06 09:35:22.563     11
17 2015-05-07 04:02:43.232     11
18 2015-05-08 04:00:50.037     11
19 2015-05-11 05:49:32.921     11
20 2015-05-12 05:32:24.999     11
21 2015-05-13 07:55:17.060     11
22 2015-05-14 08:36:22.126     11
23 2015-05-15 05:33:34.535     11
24 2015-05-20 09:12:25.150     11
25 2015-05-21 06:48:54.622     11
26 2015-05-22 07:09:03.843     11
27 2015-05-23 12:50:03.143     11
28 2015-05-28 07:46:01.721     11
29 2015-05-29 07:34:39.674     11
30 2015-05-30 23:43:45.429     11
31 2015-05-31 00:00:01.101     11
32 2015-06-19 08:15:59.523     11
33 2015-06-24 18:14:57.335     11

   devid                     end
0     11 2015-04-17 18:50:58.991
1     11 2015-04-18 23:47:12.622
2     11 2015-04-19 22:38:30.293
3     11 2015-04-20 23:36:36.477
4     11 2015-04-21 07:41:02.589
5     11 2015-04-22 16:38:35.327
6     11 2015-04-23 23:34:06.336
7     11 2015-04-24 22:35:50.046
8     11 2015-04-25 23:48:25.942
9     11 2015-04-26 23:59:49.078
10    11 2015-04-27 15:46:19.181
11    11 2015-04-30 23:54:03.031
12    11 2015-05-01 09:17:08.679
13    11 2015-05-02 23:20:26.415
14    11 2015-05-03 23:27:47.931
15    11 2015-05-04 19:01:22.516
16    11 2015-05-06 23:59:17.966
17    11 2015-05-07 23:56:00.832
18    11 2015-05-08 12:21:51.850
19    11 2015-05-11 12:09:07.733
20    11 2015-05-12 23:58:34.489
21    11 2015-05-13 17:47:23.891
22    11 2015-05-14 21:49:33.986
23    11 2015-05-15 17:31:56.251
24    11 2015-05-20 23:40:24.923
25    11 2015-05-21 23:43:41.294
26    11 2015-05-22 07:09:03.969
27    11 2015-05-23 21:33:26.351
28    11 2015-05-28 07:46:01.834
29    11 2015-05-29 07:34:39.674
30    11 2015-05-30 23:59:56.378
31    11 2015-05-31 00:46:13.311
32    11 2015-06-19 10:35:49.534
33    11 2015-06-24 18:58:40.813

Device platform: iphone

               Monday beg device
0 2015-04-20 05:31:30.520     11
1 2015-04-27 05:38:38.337     11
2 2015-05-04 04:28:58.269     11
3 2015-05-11 05:49:32.921     11

              Tuesday beg device
0 2015-04-21 04:02:34.387     11
1 2015-05-12 05:32:24.999     11

               Friday beg device
0 2015-04-17 17:52:45.828     11
1 2015-04-24 22:29:46.071     11
2 2015-05-01 08:02:24.732     11
3 2015-05-08 04:00:50.037     11
4 2015-05-15 05:33:34.535     11
5 2015-05-22 07:09:03.843     11
6 2015-05-29 07:34:39.674     11
7 2015-06-19 08:15:59.523     11

            Wednesday beg device
0 2015-04-22 14:28:27.843     11
1 2015-05-06 09:35:22.563     11
2 2015-05-13 07:55:17.060     11
3 2015-05-20 09:12:25.150     11
4 2015-06-24 18:14:57.335     11

             Thursday beg device
0 2015-04-23 14:34:26.611     11
1 2015-04-30 21:48:36.345     11
2 2015-05-07 04:02:43.232     11
3 2015-05-14 08:36:22.126     11
4 2015-05-21 06:48:54.622     11
5 2015-05-28 07:46:01.721     11

               Sunday beg device
0 2015-04-19 19:46:56.850     11
1 2015-04-26 11:06:22.013     11
2 2015-05-03 11:03:37.151     11
3 2015-05-31 00:00:01.101     11

             Saturday beg device
0 2015-04-18 07:41:42.835     11
1 2015-04-25 04:02:49.815     11
2 2015-05-02 09:26:18.238     11
3 2015-05-23 12:50:03.143     11
4 2015-05-30 23:43:45.429     11

Device platform: iphone

               Monday end device
0 2015-04-20 23:36:36.477     11
1 2015-04-27 15:46:19.181     11
2 2015-05-04 19:01:22.516     11
3 2015-05-11 12:09:07.733     11

              Tuesday end device
0 2015-04-21 07:41:02.589     11
1 2015-05-12 23:58:34.489     11

               Friday end device
0 2015-04-17 18:50:58.991     11
1 2015-04-24 22:35:50.046     11
2 2015-05-01 09:17:08.679     11
3 2015-05-08 12:21:51.850     11
4 2015-05-15 17:31:56.251     11
5 2015-05-22 07:09:03.969     11
6 2015-05-29 07:34:39.674     11
7 2015-06-19 10:35:49.534     11

            Wednesday end device
0 2015-04-22 16:38:35.327     11
1 2015-05-06 23:59:17.966     11
2 2015-05-13 17:47:23.891     11
3 2015-05-20 23:40:24.923     11
4 2015-06-24 18:58:40.813     11

             Thursday end device
0 2015-04-23 23:34:06.336     11
1 2015-04-30 23:54:03.031     11
2 2015-05-07 23:56:00.832     11
3 2015-05-14 21:49:33.986     11
4 2015-05-21 23:43:41.294     11
5 2015-05-28 07:46:01.834     11

               Sunday end device
0 2015-04-19 22:38:30.293     11
1 2015-04-26 23:59:49.078     11
2 2015-05-03 23:27:47.931     11
3 2015-05-31 00:46:13.311     11

             Saturday end device
0 2015-04-18 23:47:12.622     11
1 2015-04-25 23:48:25.942     11
2 2015-05-02 23:20:26.415     11
3 2015-05-23 21:33:26.351     11
4 2015-05-30 23:59:56.378     11

                       beg  devid
0  2015-04-17 17:45:18.833     12
1  2015-04-18 04:00:01.073     12
2  2015-04-19 14:06:21.242     12
3  2015-04-20 04:00:00.608     12
4  2015-04-21 18:58:14.138     12
5  2015-04-22 04:00:16.511     12
6  2015-04-23 21:16:30.891     12
7  2015-04-24 21:07:07.110     12
8  2015-04-25 15:53:48.364     12
9  2015-04-26 16:07:55.723     12
10 2015-04-27 17:23:14.724     12
11 2015-04-28 04:00:16.810     12
12 2015-04-29 04:00:14.646     12
13 2015-04-30 04:00:10.842     12
14 2015-05-01 04:00:18.937     12
15 2015-05-02 14:58:16.871     12
16 2015-05-03 04:00:29.106     12
17 2015-05-04 04:00:03.635     12
18 2015-05-05 04:00:06.533     12
19 2015-05-06 04:00:03.490     12
20 2015-05-07 04:00:03.204     12
21 2015-05-08 04:00:00.841     12
22 2015-05-09 04:00:00.933     12
23 2015-05-10 04:00:01.856     12
24 2015-05-11 04:00:00.662     12
25 2015-05-12 15:24:49.810     12
26 2015-05-13 11:22:36.974     12
27 2015-05-14 04:00:27.428     12
28 2015-05-15 04:08:05.358     12
29 2015-05-16 04:00:47.304     12
30 2015-05-17 04:00:03.579     12
31 2015-05-18 04:00:03.285     12
32 2015-05-19 04:00:05.108     12
33 2015-05-20 15:48:56.164     12
34 2015-05-21 16:12:50.412     12
35 2015-05-22 00:00:03.045     12
36 2015-05-23 04:00:05.185     12
37 2015-05-24 06:41:17.244     12
38 2015-05-25 04:01:06.066     12
39 2015-05-26 00:00:54.910     12
40 2015-05-27 04:00:25.573     12
41 2015-05-28 04:00:16.210     12
42 2015-05-29 13:12:58.877     12
43 2015-05-30 10:15:49.481     12
44 2015-05-31 06:04:44.450     12
45 2015-06-01 04:08:48.849     12
46 2015-06-02 14:04:24.831     12
47 2015-06-03 04:00:01.874     12
48 2015-06-04 14:21:31.320     12
49 2015-06-05 04:00:28.192     12
50 2015-06-06 16:32:23.722     12
51 2015-06-07 04:00:35.395     12
52 2015-06-08 04:00:15.233     12
53 2015-06-10 05:03:32.838     12

   devid                     end
0     12 2015-04-17 20:43:02.682
1     12 2015-04-18 17:00:15.480
2     12 2015-04-19 23:59:58.582
3     12 2015-04-20 23:59:58.809
4     12 2015-04-21 23:59:37.110
5     12 2015-04-22 23:59:57.239
6     12 2015-04-23 23:59:49.597
7     12 2015-04-24 22:54:31.342
8     12 2015-04-25 18:13:32.390
9     12 2015-04-26 23:11:37.451
10    12 2015-04-27 23:59:48.666
11    12 2015-04-28 19:42:17.959
12    12 2015-04-29 23:59:54.930
13    12 2015-04-30 23:59:39.362
14    12 2015-05-01 23:59:52.617
15    12 2015-05-02 23:59:56.183
16    12 2015-05-03 19:55:20.682
17    12 2015-05-04 23:59:59.841
18    12 2015-05-05 17:55:32.798
19    12 2015-05-06 23:59:28.745
20    12 2015-05-07 23:59:43.227
21    12 2015-05-08 23:59:54.609
22    12 2015-05-09 23:56:51.090
23    12 2015-05-10 16:45:58.166
24    12 2015-05-11 19:38:18.440
25    12 2015-05-12 18:12:59.623
26    12 2015-05-13 23:59:39.838
27    12 2015-05-14 23:59:57.026
28    12 2015-05-15 23:59:57.598
29    12 2015-05-16 23:50:42.807
30    12 2015-05-17 23:59:53.088
31    12 2015-05-18 23:59:55.977
32    12 2015-05-19 23:59:31.228
33    12 2015-05-20 23:59:48.114
34    12 2015-05-21 23:59:56.533
35    12 2015-05-22 00:53:36.986
36    12 2015-05-23 21:11:20.687
37    12 2015-05-24 18:05:11.641
38    12 2015-05-25 23:59:59.142
39    12 2015-05-26 01:05:29.285
40    12 2015-05-27 19:03:12.768
41    12 2015-05-28 22:26:28.462
42    12 2015-05-29 14:26:07.041
43    12 2015-05-30 21:34:16.776
44    12 2015-05-31 17:50:13.794
45    12 2015-06-01 23:59:50.424
46    12 2015-06-02 23:59:48.413
47    12 2015-06-03 23:59:37.974
48    12 2015-06-04 19:47:03.338
49    12 2015-06-05 23:59:52.543
50    12 2015-06-06 23:59:33.467
51    12 2015-06-07 23:59:56.567
52    12 2015-06-08 23:07:07.207
53    12 2015-06-10 21:10:27.915

Device platform: macbook

               Monday beg device
0 2015-04-20 04:00:00.608     12
1 2015-04-27 17:23:14.724     12
2 2015-05-04 04:00:03.635     12
3 2015-05-11 04:00:00.662     12
4 2015-05-18 04:00:03.285     12
5 2015-05-25 04:01:06.066     12
6 2015-06-01 04:08:48.849     12
7 2015-06-08 04:00:15.233     12

              Tuesday beg device
0 2015-04-21 18:58:14.138     12
1 2015-04-28 04:00:16.810     12
2 2015-05-05 04:00:06.533     12
3 2015-05-12 15:24:49.810     12
4 2015-05-19 04:00:05.108     12
5 2015-05-26 00:00:54.910     12
6 2015-06-02 14:04:24.831     12

               Friday beg device
0 2015-04-17 17:45:18.833     12
1 2015-04-24 21:07:07.110     12
2 2015-05-01 04:00:18.937     12
3 2015-05-08 04:00:00.841     12
4 2015-05-15 04:08:05.358     12
5 2015-05-22 00:00:03.045     12
6 2015-05-29 13:12:58.877     12
7 2015-06-05 04:00:28.192     12

            Wednesday beg device
0 2015-04-22 04:00:16.511     12
1 2015-04-29 04:00:14.646     12
2 2015-05-06 04:00:03.490     12
3 2015-05-13 11:22:36.974     12
4 2015-05-20 15:48:56.164     12
5 2015-05-27 04:00:25.573     12
6 2015-06-03 04:00:01.874     12
7 2015-06-10 05:03:32.838     12

             Thursday beg device
0 2015-04-23 21:16:30.891     12
1 2015-04-30 04:00:10.842     12
2 2015-05-07 04:00:03.204     12
3 2015-05-14 04:00:27.428     12
4 2015-05-21 16:12:50.412     12
5 2015-05-28 04:00:16.210     12
6 2015-06-04 14:21:31.320     12

               Sunday beg device
0 2015-04-19 14:06:21.242     12
1 2015-04-26 16:07:55.723     12
2 2015-05-03 04:00:29.106     12
3 2015-05-10 04:00:01.856     12
4 2015-05-17 04:00:03.579     12
5 2015-05-24 06:41:17.244     12
6 2015-05-31 06:04:44.450     12
7 2015-06-07 04:00:35.395     12

             Saturday beg device
0 2015-04-18 04:00:01.073     12
1 2015-04-25 15:53:48.364     12
2 2015-05-02 14:58:16.871     12
3 2015-05-09 04:00:00.933     12
4 2015-05-16 04:00:47.304     12
5 2015-05-23 04:00:05.185     12
6 2015-05-30 10:15:49.481     12
7 2015-06-06 16:32:23.722     12

Device platform: macbook

               Monday end device
0 2015-04-20 23:59:58.809     12
1 2015-04-27 23:59:48.666     12
2 2015-05-04 23:59:59.841     12
3 2015-05-11 19:38:18.440     12
4 2015-05-18 23:59:55.977     12
5 2015-05-25 23:59:59.142     12
6 2015-06-01 23:59:50.424     12
7 2015-06-08 23:07:07.207     12

              Tuesday end device
0 2015-04-21 23:59:37.110     12
1 2015-04-28 19:42:17.959     12
2 2015-05-05 17:55:32.798     12
3 2015-05-12 18:12:59.623     12
4 2015-05-19 23:59:31.228     12
5 2015-05-26 01:05:29.285     12
6 2015-06-02 23:59:48.413     12

               Friday end device
0 2015-04-17 20:43:02.682     12
1 2015-04-24 22:54:31.342     12
2 2015-05-01 23:59:52.617     12
3 2015-05-08 23:59:54.609     12
4 2015-05-15 23:59:57.598     12
5 2015-05-22 00:53:36.986     12
6 2015-05-29 14:26:07.041     12
7 2015-06-05 23:59:52.543     12

            Wednesday end device
0 2015-04-22 23:59:57.239     12
1 2015-04-29 23:59:54.930     12
2 2015-05-06 23:59:28.745     12
3 2015-05-13 23:59:39.838     12
4 2015-05-20 23:59:48.114     12
5 2015-05-27 19:03:12.768     12
6 2015-06-03 23:59:37.974     12
7 2015-06-10 21:10:27.915     12

             Thursday end device
0 2015-04-23 23:59:49.597     12
1 2015-04-30 23:59:39.362     12
2 2015-05-07 23:59:43.227     12
3 2015-05-14 23:59:57.026     12
4 2015-05-21 23:59:56.533     12
5 2015-05-28 22:26:28.462     12
6 2015-06-04 19:47:03.338     12

               Sunday end device
0 2015-04-19 23:59:58.582     12
1 2015-04-26 23:11:37.451     12
2 2015-05-03 19:55:20.682     12
3 2015-05-10 16:45:58.166     12
4 2015-05-17 23:59:53.088     12
5 2015-05-24 18:05:11.641     12
6 2015-05-31 17:50:13.794     12
7 2015-06-07 23:59:56.567     12

             Saturday end device
0 2015-04-18 17:00:15.480     12
1 2015-04-25 18:13:32.390     12
2 2015-05-02 23:59:56.183     12
3 2015-05-09 23:56:51.090     12
4 2015-05-16 23:50:42.807     12
5 2015-05-23 21:11:20.687     12
6 2015-05-30 21:34:16.776     12
7 2015-06-06 23:59:33.467     12

user: 9=======================

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Device platform: ipad

Empty DataFrame
Columns: [Monday beg, device]
Index: []

Empty DataFrame
Columns: [Tuesday beg, device]
Index: []

Empty DataFrame
Columns: [Friday beg, device]
Index: []

Empty DataFrame
Columns: [Wednesday beg, device]
Index: []

Empty DataFrame
Columns: [Thursday beg, device]
Index: []

Empty DataFrame
Columns: [Sunday beg, device]
Index: []

Empty DataFrame
Columns: [Saturday beg, device]
Index: []

Device platform: ipad

Empty DataFrame
Columns: [Monday end, device]
Index: []

Empty DataFrame
Columns: [Tuesday end, device]
Index: []

Empty DataFrame
Columns: [Friday end, device]
Index: []

Empty DataFrame
Columns: [Wednesday end, device]
Index: []

Empty DataFrame
Columns: [Thursday end, device]
Index: []

Empty DataFrame
Columns: [Sunday end, device]
Index: []

Empty DataFrame
Columns: [Saturday end, device]
Index: []

                      beg  devid
0 2015-04-17 18:33:40.153     14

  devid                     end
0    14 2015-04-17 18:35:42.500

Device platform: android-phone

Empty DataFrame
Columns: [Monday beg, device]
Index: []

Empty DataFrame
Columns: [Tuesday beg, device]
Index: []

               Friday beg device
0 2015-04-17 18:33:40.153     14

Empty DataFrame
Columns: [Wednesday beg, device]
Index: []

Empty DataFrame
Columns: [Thursday beg, device]
Index: []

Empty DataFrame
Columns: [Sunday beg, device]
Index: []

Empty DataFrame
Columns: [Saturday beg, device]
Index: []

Device platform: android-phone

Empty DataFrame
Columns: [Monday end, device]
Index: []

Empty DataFrame
Columns: [Tuesday end, device]
Index: []

               Friday end device
0 2015-04-17 18:35:42.500     14

Empty DataFrame
Columns: [Wednesday end, device]
Index: []

Empty DataFrame
Columns: [Thursday end, device]
Index: []

Empty DataFrame
Columns: [Sunday end, device]
Index: []

Empty DataFrame
Columns: [Saturday end, device]
Index: []

user: 10=======================

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Device platform: android-tablet

Empty DataFrame
Columns: [Monday beg, device]
Index: []

Empty DataFrame
Columns: [Tuesday beg, device]
Index: []

Empty DataFrame
Columns: [Friday beg, device]
Index: []

Empty DataFrame
Columns: [Wednesday beg, device]
Index: []

Empty DataFrame
Columns: [Thursday beg, device]
Index: []

Empty DataFrame
Columns: [Sunday beg, device]
Index: []

Empty DataFrame
Columns: [Saturday beg, device]
Index: []

Device platform: android-tablet

Empty DataFrame
Columns: [Monday end, device]
Index: []

Empty DataFrame
Columns: [Tuesday end, device]
Index: []

Empty DataFrame
Columns: [Friday end, device]
Index: []

Empty DataFrame
Columns: [Wednesday end, device]
Index: []

Empty DataFrame
Columns: [Thursday end, device]
Index: []

Empty DataFrame
Columns: [Sunday end, device]
Index: []

Empty DataFrame
Columns: [Saturday end, device]
Index: []

                       beg  devid
0  2015-04-17 18:54:27.668     16
1  2015-04-18 11:42:03.061     16
2  2015-04-19 08:24:33.556     16
3  2015-04-20 08:14:31.751     16
4  2015-04-21 07:18:51.441     16
5  2015-04-22 04:22:26.379     16
6  2015-04-23 04:11:59.996     16
7  2015-04-24 05:25:53.704     16
8  2015-04-25 12:25:26.447     16
9  2015-04-26 09:02:57.846     16
10 2015-04-27 07:55:22.203     16
11 2015-04-28 04:15:47.604     16
12 2015-04-29 04:22:39.163     16
13 2015-05-07 07:50:36.498     16
14 2015-05-08 09:11:30.085     16
15 2015-05-09 04:24:17.904     16
16 2015-05-10 04:12:48.601     16
17 2015-05-11 07:04:14.552     16

   devid                     end
0     16 2015-04-17 19:22:51.905
1     16 2015-04-18 23:21:46.715
2     16 2015-04-19 23:06:47.120
3     16 2015-04-20 23:58:25.470
4     16 2015-04-21 23:17:53.107
5     16 2015-04-22 23:23:49.884
6     16 2015-04-23 22:13:17.083
7     16 2015-04-24 14:56:24.301
8     16 2015-04-25 22:27:20.391
9     16 2015-04-26 23:23:09.119
10    16 2015-04-27 23:49:00.466
11    16 2015-04-28 23:50:56.759
12    16 2015-04-29 06:45:13.996
13    16 2015-05-07 23:05:24.389
14    16 2015-05-08 23:40:02.815
15    16 2015-05-09 23:45:18.630
16    16 2015-05-10 23:32:50.516
17    16 2015-05-11 08:12:13.798

Device platform: iphone

               Monday beg device
0 2015-04-20 08:14:31.751     16
1 2015-04-27 07:55:22.203     16
2 2015-05-11 07:04:14.552     16

              Tuesday beg device
0 2015-04-21 07:18:51.441     16
1 2015-04-28 04:15:47.604     16

               Friday beg device
0 2015-04-17 18:54:27.668     16
1 2015-04-24 05:25:53.704     16
2 2015-05-08 09:11:30.085     16

            Wednesday beg device
0 2015-04-22 04:22:26.379     16
1 2015-04-29 04:22:39.163     16

             Thursday beg device
0 2015-04-23 04:11:59.996     16
1 2015-05-07 07:50:36.498     16

               Sunday beg device
0 2015-04-19 08:24:33.556     16
1 2015-04-26 09:02:57.846     16
2 2015-05-10 04:12:48.601     16

             Saturday beg device
0 2015-04-18 11:42:03.061     16
1 2015-04-25 12:25:26.447     16
2 2015-05-09 04:24:17.904     16

Device platform: iphone

               Monday end device
0 2015-04-20 23:58:25.470     16
1 2015-04-27 23:49:00.466     16
2 2015-05-11 08:12:13.798     16

              Tuesday end device
0 2015-04-21 23:17:53.107     16
1 2015-04-28 23:50:56.759     16

               Friday end device
0 2015-04-17 19:22:51.905     16
1 2015-04-24 14:56:24.301     16
2 2015-05-08 23:40:02.815     16

            Wednesday end device
0 2015-04-22 23:23:49.884     16
1 2015-04-29 06:45:13.996     16

             Thursday end device
0 2015-04-23 22:13:17.083     16
1 2015-05-07 23:05:24.389     16

               Sunday end device
0 2015-04-19 23:06:47.120     16
1 2015-04-26 23:23:09.119     16
2 2015-05-10 23:32:50.516     16

             Saturday end device
0 2015-04-18 23:21:46.715     16
1 2015-04-25 22:27:20.391     16
2 2015-05-09 23:45:18.630     16

user: 11=======================

                       beg  devid
0  2015-04-17 19:11:59.843     17
1  2015-04-20 21:54:48.787     17
2  2015-04-21 10:47:46.050     17
3  2015-04-22 13:24:34.842     17
4  2015-04-24 11:47:32.643     17
5  2015-04-25 04:56:57.325     17
6  2015-05-04 11:37:32.323     17
7  2015-05-11 13:46:08.956     17
8  2015-06-10 12:14:36.705     17
9  2015-06-13 14:02:48.879     17
10 2015-06-15 03:06:38.559     17

   devid                     end
0     17 2015-04-17 19:34:39.609
1     17 2015-04-20 23:33:59.879
2     17 2015-04-21 10:49:52.312
3     17 2015-04-22 14:21:18.252
4     17 2015-04-24 23:56:46.332
5     17 2015-04-25 10:42:18.302
6     17 2015-05-04 13:44:32.592
7     17 2015-05-11 18:15:06.865
8     17 2015-06-10 12:21:59.055
9     17 2015-06-13 14:53:28.949
10    17 2015-06-15 03:22:58.820

Device platform: android-phone

               Monday beg device
0 2015-04-20 21:54:48.787     17
1 2015-05-04 11:37:32.323     17
2 2015-05-11 13:46:08.956     17
3 2015-06-15 03:06:38.559     17

              Tuesday beg device
0 2015-04-21 10:47:46.050     17

               Friday beg device
0 2015-04-17 19:11:59.843     17
1 2015-04-24 11:47:32.643     17

            Wednesday beg device
0 2015-04-22 13:24:34.842     17
1 2015-06-10 12:14:36.705     17

Empty DataFrame
Columns: [Thursday beg, device]
Index: []

Empty DataFrame
Columns: [Sunday beg, device]
Index: []

             Saturday beg device
0 2015-04-25 04:56:57.325     17
1 2015-06-13 14:02:48.879     17

Device platform: android-phone

               Monday end device
0 2015-04-20 23:33:59.879     17
1 2015-05-04 13:44:32.592     17
2 2015-05-11 18:15:06.865     17
3 2015-06-15 03:22:58.820     17

              Tuesday end device
0 2015-04-21 10:49:52.312     17

               Friday end device
0 2015-04-17 19:34:39.609     17
1 2015-04-24 23:56:46.332     17

            Wednesday end device
0 2015-04-22 14:21:18.252     17
1 2015-06-10 12:21:59.055     17

Empty DataFrame
Columns: [Thursday end, device]
Index: []

Empty DataFrame
Columns: [Sunday end, device]
Index: []

             Saturday end device
0 2015-04-25 10:42:18.302     17
1 2015-06-13 14:53:28.949     17

user: 13=======================

                       beg  devid
0  2015-11-10 10:12:38.804     18
1  2015-11-11 10:01:01.557     18
2  2015-11-12 09:50:26.335     18
3  2015-11-13 09:45:15.410     18
4  2015-11-14 11:34:13.182     18
5  2015-11-16 09:47:37.935     18
6  2015-11-18 09:41:20.448     18
7  2015-11-19 09:41:42.464     18
8  2015-11-20 09:44:29.284     18
9  2015-11-21 11:51:04.235     18
10 2015-11-22 16:36:07.551     18
11 2015-11-23 09:48:57.943     18
12 2015-11-25 09:44:45.224     18

   devid                     end
0     18 2015-11-10 14:56:29.914
1     18 2015-11-11 10:28:38.563
2     18 2015-11-12 09:57:27.423
3     18 2015-11-13 09:51:02.114
4     18 2015-11-14 13:38:20.838
5     18 2015-11-16 09:54:37.801
6     18 2015-11-18 10:40:08.265
7     18 2015-11-19 09:53:06.582
8     18 2015-11-20 09:48:06.637
9     18 2015-11-21 13:38:40.200
10    18 2015-11-22 16:38:24.866
11    18 2015-11-23 09:52:36.562
12    18 2015-11-25 13:57:09.116

Device platform: windows-pc

               Monday beg device
0 2015-11-16 09:47:37.935     18
1 2015-11-23 09:48:57.943     18

              Tuesday beg device
0 2015-11-10 10:12:38.804     18

               Friday beg device
0 2015-11-13 09:45:15.410     18
1 2015-11-20 09:44:29.284     18

            Wednesday beg device
0 2015-11-11 10:01:01.557     18
1 2015-11-18 09:41:20.448     18
2 2015-11-25 09:44:45.224     18

             Thursday beg device
0 2015-11-12 09:50:26.335     18
1 2015-11-19 09:41:42.464     18

               Sunday beg device
0 2015-11-22 16:36:07.551     18

             Saturday beg device
0 2015-11-14 11:34:13.182     18
1 2015-11-21 11:51:04.235     18

Device platform: windows-pc

               Monday end device
0 2015-11-16 09:54:37.801     18
1 2015-11-23 09:52:36.562     18

              Tuesday end device
0 2015-11-10 14:56:29.914     18

               Friday end device
0 2015-11-13 09:51:02.114     18
1 2015-11-20 09:48:06.637     18

            Wednesday end device
0 2015-11-11 10:28:38.563     18
1 2015-11-18 10:40:08.265     18
2 2015-11-25 13:57:09.116     18

             Thursday end device
0 2015-11-12 09:57:27.423     18
1 2015-11-19 09:53:06.582     18

               Sunday end device
0 2015-11-22 16:38:24.866     18

             Saturday end device
0 2015-11-14 13:38:20.838     18
1 2015-11-21 13:38:40.200     18

                       beg  devid
0  2015-11-10 18:29:22.596     19
1  2015-11-11 06:03:05.760     19
2  2015-11-12 08:53:55.464     19
3  2015-11-13 04:51:02.202     19
4  2015-11-14 06:20:08.771     19
5  2015-11-15 10:47:14.529     19
6  2015-11-16 09:06:26.449     19
7  2015-11-17 08:38:00.449     19
8  2015-11-18 05:22:36.936     19
9  2015-11-19 08:35:18.255     19
10 2015-11-20 18:14:44.972     19
11 2015-11-21 10:56:57.398     19
12 2015-11-22 10:43:37.410     19
13 2015-11-23 17:56:00.378     19
14 2015-11-24 08:38:13.975     19
15 2015-11-25 08:33:44.900     19
16 2015-11-26 08:34:34.138     19
17 2015-11-27 05:07:18.223     19
18 2015-11-28 17:43:00.883     19
19 2015-11-29 11:22:10.395     19
20 2015-11-30 08:51:02.071     19
21 2015-12-01 20:10:31.514     19
22 2015-12-03 05:20:55.975     19
23 2015-12-04 09:13:42.747     19
24 2015-12-05 18:24:18.104     19
25 2015-12-06 10:57:42.432     19
26 2015-12-08 18:49:32.887     19
27 2015-12-09 09:05:16.732     19
28 2015-12-10 08:52:47.362     19

   devid                     end
0     19 2015-11-10 21:17:13.504
1     19 2015-11-11 19:22:29.493
2     19 2015-11-12 21:44:42.416
3     19 2015-11-13 21:32:34.435
4     19 2015-11-14 22:28:12.709
5     19 2015-11-15 20:58:21.843
6     19 2015-11-16 19:35:14.953
7     19 2015-11-17 21:48:26.569
8     19 2015-11-18 20:58:18.283
9     19 2015-11-19 20:44:41.682
10    19 2015-11-20 23:05:27.777
11    19 2015-11-21 23:12:48.214
12    19 2015-11-22 20:20:35.374
13    19 2015-11-23 20:04:10.381
14    19 2015-11-24 21:01:21.668
15    19 2015-11-25 20:59:34.992
16    19 2015-11-26 20:49:15.524
17    19 2015-11-27 20:43:17.320
18    19 2015-11-28 20:42:36.841
19    19 2015-11-29 19:11:17.831
20    19 2015-11-30 09:25:05.554
21    19 2015-12-01 21:32:49.741
22    19 2015-12-03 23:15:10.234
23    19 2015-12-04 09:17:46.924
24    19 2015-12-05 19:17:48.480
25    19 2015-12-06 19:20:19.435
26    19 2015-12-08 19:13:15.716
27    19 2015-12-09 19:58:52.389
28    19 2015-12-10 18:47:16.302

Device platform: macbook

               Monday beg device
0 2015-11-16 09:06:26.449     19
1 2015-11-23 17:56:00.378     19
2 2015-11-30 08:51:02.071     19

              Tuesday beg device
0 2015-11-10 18:29:22.596     19
1 2015-11-17 08:38:00.449     19
2 2015-11-24 08:38:13.975     19
3 2015-12-01 20:10:31.514     19
4 2015-12-08 18:49:32.887     19

               Friday beg device
0 2015-11-13 04:51:02.202     19
1 2015-11-20 18:14:44.972     19
2 2015-11-27 05:07:18.223     19
3 2015-12-04 09:13:42.747     19

            Wednesday beg device
0 2015-11-11 06:03:05.760     19
1 2015-11-18 05:22:36.936     19
2 2015-11-25 08:33:44.900     19
3 2015-12-09 09:05:16.732     19

             Thursday beg device
0 2015-11-12 08:53:55.464     19
1 2015-11-19 08:35:18.255     19
2 2015-11-26 08:34:34.138     19
3 2015-12-03 05:20:55.975     19
4 2015-12-10 08:52:47.362     19

               Sunday beg device
0 2015-11-15 10:47:14.529     19
1 2015-11-22 10:43:37.410     19
2 2015-11-29 11:22:10.395     19
3 2015-12-06 10:57:42.432     19

             Saturday beg device
0 2015-11-14 06:20:08.771     19
1 2015-11-21 10:56:57.398     19
2 2015-11-28 17:43:00.883     19
3 2015-12-05 18:24:18.104     19

Device platform: macbook

               Monday end device
0 2015-11-16 19:35:14.953     19
1 2015-11-23 20:04:10.381     19
2 2015-11-30 09:25:05.554     19

              Tuesday end device
0 2015-11-10 21:17:13.504     19
1 2015-11-17 21:48:26.569     19
2 2015-11-24 21:01:21.668     19
3 2015-12-01 21:32:49.741     19
4 2015-12-08 19:13:15.716     19

               Friday end device
0 2015-11-13 21:32:34.435     19
1 2015-11-20 23:05:27.777     19
2 2015-11-27 20:43:17.320     19
3 2015-12-04 09:17:46.924     19

            Wednesday end device
0 2015-11-11 19:22:29.493     19
1 2015-11-18 20:58:18.283     19
2 2015-11-25 20:59:34.992     19
3 2015-12-09 19:58:52.389     19

             Thursday end device
0 2015-11-12 21:44:42.416     19
1 2015-11-19 20:44:41.682     19
2 2015-11-26 20:49:15.524     19
3 2015-12-03 23:15:10.234     19
4 2015-12-10 18:47:16.302     19

               Sunday end device
0 2015-11-15 20:58:21.843     19
1 2015-11-22 20:20:35.374     19
2 2015-11-29 19:11:17.831     19
3 2015-12-06 19:20:19.435     19

             Saturday end device
0 2015-11-14 22:28:12.709     19
1 2015-11-21 23:12:48.214     19
2 2015-11-28 20:42:36.841     19
3 2015-12-05 19:17:48.480     19

                       beg  devid
0  2015-11-10 20:31:30.272     20
1  2015-11-14 06:55:20.461     20
2  2015-11-19 19:57:32.964     20
3  2015-11-20 19:51:11.116     20
4  2015-11-21 23:09:11.021     20
5  2015-11-25 08:42:30.791     20
6  2015-11-26 20:37:52.992     20
7  2015-11-27 08:41:19.075     20
8  2015-11-28 17:43:20.983     20
9  2015-12-01 21:19:07.487     20
10 2015-12-08 18:50:20.147     20

   devid                     end
0     20 2015-11-10 21:34:47.797
1     20 2015-11-14 23:53:00.343
2     20 2015-11-19 20:47:44.392
3     20 2015-11-20 21:38:57.901
4     20 2015-11-21 23:42:31.095
5     20 2015-11-25 21:02:36.371
6     20 2015-11-26 20:37:52.992
7     20 2015-11-27 08:41:19.082
8     20 2015-11-28 21:00:21.742
9     20 2015-12-01 21:26:13.111
10    20 2015-12-08 18:50:20.147

Device platform: iphone

Empty DataFrame
Columns: [Monday beg, device]
Index: []

              Tuesday beg device
0 2015-11-10 20:31:30.272     20
1 2015-12-01 21:19:07.487     20
2 2015-12-08 18:50:20.147     20

               Friday beg device
0 2015-11-20 19:51:11.116     20
1 2015-11-27 08:41:19.075     20

            Wednesday beg device
0 2015-11-25 08:42:30.791     20

             Thursday beg device
0 2015-11-19 19:57:32.964     20
1 2015-11-26 20:37:52.992     20

Empty DataFrame
Columns: [Sunday beg, device]
Index: []

             Saturday beg device
0 2015-11-14 06:55:20.461     20
1 2015-11-21 23:09:11.021     20
2 2015-11-28 17:43:20.983     20

Device platform: iphone

Empty DataFrame
Columns: [Monday end, device]
Index: []

              Tuesday end device
0 2015-11-10 21:34:47.797     20
1 2015-12-01 21:26:13.111     20
2 2015-12-08 18:50:20.147     20

               Friday end device
0 2015-11-20 21:38:57.901     20
1 2015-11-27 08:41:19.082     20

            Wednesday end device
0 2015-11-25 21:02:36.371     20

             Thursday end device
0 2015-11-19 20:47:44.392     20
1 2015-11-26 20:37:52.992     20

Empty DataFrame
Columns: [Sunday end, device]
Index: []

             Saturday end device
0 2015-11-14 23:53:00.343     20
1 2015-11-21 23:42:31.095     20
2 2015-11-28 21:00:21.742     20

user: 14=======================

                       beg  devid
0  2015-11-11 11:23:30.578     21
1  2015-11-13 17:05:12.036     21
2  2015-11-14 14:27:58.470     21
3  2015-11-15 15:10:08.156     21
4  2015-11-16 13:14:44.128     21
5  2015-11-17 21:58:21.199     21
6  2015-11-19 10:49:56.961     21
7  2015-11-20 17:37:20.765     21
8  2015-11-21 14:31:47.743     21
9  2015-11-22 15:09:02.271     21
10 2015-11-23 20:02:43.512     21
11 2015-11-25 09:56:13.814     21

   devid                     end
0     21 2015-11-11 13:37:57.262
1     21 2015-11-13 17:16:17.706
2     21 2015-11-14 23:21:31.365
3     21 2015-11-15 15:22:39.297
4     21 2015-11-16 15:07:40.956
5     21 2015-11-17 22:55:44.297
6     21 2015-11-19 10:54:41.044
7     21 2015-11-20 17:57:16.727
8     21 2015-11-21 17:33:24.289
9     21 2015-11-22 23:27:45.417
10    21 2015-11-23 22:23:12.764
11    21 2015-11-25 22:23:51.538

Device platform: windows-pc

               Monday beg device
0 2015-11-16 13:14:44.128     21
1 2015-11-23 20:02:43.512     21

              Tuesday beg device
0 2015-11-17 21:58:21.199     21

               Friday beg device
0 2015-11-13 17:05:12.036     21
1 2015-11-20 17:37:20.765     21

            Wednesday beg device
0 2015-11-11 11:23:30.578     21
1 2015-11-25 09:56:13.814     21

             Thursday beg device
0 2015-11-19 10:49:56.961     21

               Sunday beg device
0 2015-11-15 15:10:08.156     21
1 2015-11-22 15:09:02.271     21

             Saturday beg device
0 2015-11-14 14:27:58.470     21
1 2015-11-21 14:31:47.743     21

Device platform: windows-pc

               Monday end device
0 2015-11-16 15:07:40.956     21
1 2015-11-23 22:23:12.764     21

              Tuesday end device
0 2015-11-17 22:55:44.297     21

               Friday end device
0 2015-11-13 17:16:17.706     21
1 2015-11-20 17:57:16.727     21

            Wednesday end device
0 2015-11-11 13:37:57.262     21
1 2015-11-25 22:23:51.538     21

             Thursday end device
0 2015-11-19 10:54:41.044     21

               Sunday end device
0 2015-11-15 15:22:39.297     21
1 2015-11-22 23:27:45.417     21

             Saturday end device
0 2015-11-14 23:21:31.365     21
1 2015-11-21 17:33:24.289     21

                       beg  devid
0  2015-11-11 11:43:09.780     22
1  2015-11-12 09:18:58.956     22
2  2015-11-13 09:16:19.956     22
3  2015-11-15 09:24:42.320     22
4  2015-11-16 11:21:04.750     22
5  2015-11-17 08:40:12.696     22
6  2015-11-18 09:20:05.481     22
7  2015-11-19 09:19:46.678     22
8  2015-11-22 09:24:36.471     22
9  2015-11-23 09:20:20.498     22
10 2015-11-24 08:58:41.453     22
11 2015-11-25 12:52:02.905     22

   devid                     end
0     22 2015-11-11 11:50:35.810
1     22 2015-11-12 10:01:31.729
2     22 2015-11-13 09:41:17.058
3     22 2015-11-15 19:06:26.043
4     22 2015-11-16 14:04:10.515
5     22 2015-11-17 09:13:29.791
6     22 2015-11-18 09:42:57.724
7     22 2015-11-19 10:04:01.972
8     22 2015-11-22 09:40:32.222
9     22 2015-11-23 09:43:44.475
10    22 2015-11-24 09:14:48.468
11    22 2015-11-25 13:09:00.877

Device platform: windows-pc

               Monday beg device
0 2015-11-16 11:21:04.750     22
1 2015-11-23 09:20:20.498     22

              Tuesday beg device
0 2015-11-17 08:40:12.696     22
1 2015-11-24 08:58:41.453     22

               Friday beg device
0 2015-11-13 09:16:19.956     22

            Wednesday beg device
0 2015-11-11 11:43:09.780     22
1 2015-11-18 09:20:05.481     22
2 2015-11-25 12:52:02.905     22

             Thursday beg device
0 2015-11-12 09:18:58.956     22
1 2015-11-19 09:19:46.678     22

               Sunday beg device
0 2015-11-15 09:24:42.320     22
1 2015-11-22 09:24:36.471     22

Empty DataFrame
Columns: [Saturday beg, device]
Index: []

Device platform: windows-pc

               Monday end device
0 2015-11-16 14:04:10.515     22
1 2015-11-23 09:43:44.475     22

              Tuesday end device
0 2015-11-17 09:13:29.791     22
1 2015-11-24 09:14:48.468     22

               Friday end device
0 2015-11-13 09:41:17.058     22

            Wednesday end device
0 2015-11-11 11:50:35.810     22
1 2015-11-18 09:42:57.724     22
2 2015-11-25 13:09:00.877     22

             Thursday end device
0 2015-11-12 10:01:31.729     22
1 2015-11-19 10:04:01.972     22

               Sunday end device
0 2015-11-15 19:06:26.043     22
1 2015-11-22 09:40:32.222     22

Empty DataFrame
Columns: [Saturday end, device]
Index: []

user: 15=======================

                       beg  devid
0  2015-11-11 15:17:07.860     23
1  2015-11-12 07:48:54.924     23
2  2015-11-13 08:59:48.605     23
3  2015-11-14 04:00:10.101     23
4  2015-11-15 11:35:42.733     23
5  2015-11-16 09:45:04.739     23
6  2015-11-17 12:02:02.537     23
7  2015-11-18 14:03:51.124     23
8  2015-11-19 09:02:23.903     23
9  2015-11-20 04:00:28.482     23
10 2015-11-21 04:01:13.885     23
11 2015-11-22 04:03:08.041     23
12 2015-11-23 04:03:25.893     23
13 2015-11-24 15:45:00.889     23
14 2015-11-25 10:28:28.236     23
15 2015-11-26 15:11:40.398     23

   devid                     end
0     23 2015-11-11 15:48:16.243
1     23 2015-11-12 22:18:34.809
2     23 2015-11-13 23:59:45.922
3     23 2015-11-14 23:57:15.410
4     23 2015-11-15 21:59:55.140
5     23 2015-11-16 18:42:03.085
6     23 2015-11-17 23:30:57.426
7     23 2015-11-18 23:04:41.055
8     23 2015-11-19 23:58:27.513
9     23 2015-11-20 23:59:35.597
10    23 2015-11-21 20:50:18.557
11    23 2015-11-22 23:59:03.732
12    23 2015-11-23 23:40:41.042
13    23 2015-11-24 21:49:44.048
14    23 2015-11-25 23:57:56.503
15    23 2015-11-26 17:21:34.802

Device platform: windows-laptop

               Monday beg device
0 2015-11-16 09:45:04.739     23
1 2015-11-23 04:03:25.893     23

              Tuesday beg device
0 2015-11-17 12:02:02.537     23
1 2015-11-24 15:45:00.889     23

               Friday beg device
0 2015-11-13 08:59:48.605     23
1 2015-11-20 04:00:28.482     23

            Wednesday beg device
0 2015-11-11 15:17:07.860     23
1 2015-11-18 14:03:51.124     23
2 2015-11-25 10:28:28.236     23

             Thursday beg device
0 2015-11-12 07:48:54.924     23
1 2015-11-19 09:02:23.903     23
2 2015-11-26 15:11:40.398     23

               Sunday beg device
0 2015-11-15 11:35:42.733     23
1 2015-11-22 04:03:08.041     23

             Saturday beg device
0 2015-11-14 04:00:10.101     23
1 2015-11-21 04:01:13.885     23

Device platform: windows-laptop

               Monday end device
0 2015-11-16 18:42:03.085     23
1 2015-11-23 23:40:41.042     23

              Tuesday end device
0 2015-11-17 23:30:57.426     23
1 2015-11-24 21:49:44.048     23

               Friday end device
0 2015-11-13 23:59:45.922     23
1 2015-11-20 23:59:35.597     23

            Wednesday end device
0 2015-11-11 15:48:16.243     23
1 2015-11-18 23:04:41.055     23
2 2015-11-25 23:57:56.503     23

             Thursday end device
0 2015-11-12 22:18:34.809     23
1 2015-11-19 23:58:27.513     23
2 2015-11-26 17:21:34.802     23

               Sunday end device
0 2015-11-15 21:59:55.140     23
1 2015-11-22 23:59:03.732     23

             Saturday end device
0 2015-11-14 23:57:15.410     23
1 2015-11-21 20:50:18.557     23

                       beg  devid
0  2015-11-11 15:27:16.812     24
1  2015-11-12 23:27:33.553     24
2  2015-11-13 21:19:15.049     24
3  2015-11-14 12:40:51.384     24
4  2015-11-15 20:10:50.979     24
5  2015-11-16 07:56:14.800     24
6  2015-11-17 13:49:20.825     24
7  2015-11-18 17:48:45.247     24
8  2015-11-19 00:20:31.591     24
9  2015-11-20 18:46:57.488     24
10 2015-11-22 13:55:20.479     24
11 2015-11-24 14:22:00.832     24
12 2015-11-25 22:27:05.365     24
13 2015-11-26 09:05:30.491     24
14 2015-11-27 04:15:11.134     24
15 2015-11-28 11:27:27.794     24
16 2015-11-29 16:34:25.647     24
17 2015-11-30 14:48:37.066     24
18 2015-12-01 23:53:20.690     24
19 2015-12-02 06:23:23.600     24
20 2015-12-04 13:35:35.888     24
21 2015-12-05 22:27:01.440     24
22 2015-12-06 05:52:23.948     24
23 2015-12-09 08:42:10.671     24

   devid                     end
0     24 2015-11-11 23:49:33.732
1     24 2015-11-12 23:42:19.614
2     24 2015-11-13 23:24:43.944
3     24 2015-11-14 22:47:09.696
4     24 2015-11-15 23:57:22.797
5     24 2015-11-16 20:54:42.784
6     24 2015-11-17 22:31:43.002
7     24 2015-11-18 18:09:02.867
8     24 2015-11-19 00:37:30.627
9     24 2015-11-20 20:56:40.909
10    24 2015-11-22 16:34:44.727
11    24 2015-11-24 18:41:20.540
12    24 2015-11-25 23:24:53.020
13    24 2015-11-26 23:59:47.495
14    24 2015-11-27 04:15:11.134
15    24 2015-11-28 11:32:36.930
16    24 2015-11-29 23:44:34.169
17    24 2015-11-30 18:50:47.539
18    24 2015-12-01 23:58:18.629
19    24 2015-12-02 15:51:10.762
20    24 2015-12-04 14:40:44.568
21    24 2015-12-05 23:46:15.284
22    24 2015-12-06 07:46:14.780
23    24 2015-12-09 09:22:19.751

Device platform: iphone

               Monday beg device
0 2015-11-16 07:56:14.800     24
1 2015-11-30 14:48:37.066     24

              Tuesday beg device
0 2015-11-17 13:49:20.825     24
1 2015-11-24 14:22:00.832     24
2 2015-12-01 23:53:20.690     24

               Friday beg device
0 2015-11-13 21:19:15.049     24
1 2015-11-20 18:46:57.488     24
2 2015-11-27 04:15:11.134     24
3 2015-12-04 13:35:35.888     24

            Wednesday beg device
0 2015-11-11 15:27:16.812     24
1 2015-11-18 17:48:45.247     24
2 2015-11-25 22:27:05.365     24
3 2015-12-02 06:23:23.600     24
4 2015-12-09 08:42:10.671     24

             Thursday beg device
0 2015-11-12 23:27:33.553     24
1 2015-11-19 00:20:31.591     24
2 2015-11-26 09:05:30.491     24

               Sunday beg device
0 2015-11-15 20:10:50.979     24
1 2015-11-22 13:55:20.479     24
2 2015-11-29 16:34:25.647     24
3 2015-12-06 05:52:23.948     24

             Saturday beg device
0 2015-11-14 12:40:51.384     24
1 2015-11-28 11:27:27.794     24
2 2015-12-05 22:27:01.440     24

Device platform: iphone

               Monday end device
0 2015-11-16 20:54:42.784     24
1 2015-11-30 18:50:47.539     24

              Tuesday end device
0 2015-11-17 22:31:43.002     24
1 2015-11-24 18:41:20.540     24
2 2015-12-01 23:58:18.629     24

               Friday end device
0 2015-11-13 23:24:43.944     24
1 2015-11-20 20:56:40.909     24
2 2015-11-27 04:15:11.134     24
3 2015-12-04 14:40:44.568     24

            Wednesday end device
0 2015-11-11 23:49:33.732     24
1 2015-11-18 18:09:02.867     24
2 2015-11-25 23:24:53.020     24
3 2015-12-02 15:51:10.762     24
4 2015-12-09 09:22:19.751     24

             Thursday end device
0 2015-11-12 23:42:19.614     24
1 2015-11-19 00:37:30.627     24
2 2015-11-26 23:59:47.495     24

               Sunday end device
0 2015-11-15 23:57:22.797     24
1 2015-11-22 16:34:44.727     24
2 2015-11-29 23:44:34.169     24
3 2015-12-06 07:46:14.780     24

             Saturday end device
0 2015-11-14 22:47:09.696     24
1 2015-11-28 11:32:36.930     24
2 2015-12-05 23:46:15.284     24

                      beg  devid
0 2015-11-12 08:38:30.752     25
1 2015-11-20 18:21:54.868     25
2 2015-11-21 10:25:12.112     25

  devid                     end
0    25 2015-11-12 09:11:09.419
1    25 2015-11-20 18:47:10.759
2    25 2015-11-21 11:01:00.004

Device platform: ipad

Empty DataFrame
Columns: [Monday beg, device]
Index: []

Empty DataFrame
Columns: [Tuesday beg, device]
Index: []

               Friday beg device
0 2015-11-20 18:21:54.868     25

Empty DataFrame
Columns: [Wednesday beg, device]
Index: []

             Thursday beg device
0 2015-11-12 08:38:30.752     25

Empty DataFrame
Columns: [Sunday beg, device]
Index: []

             Saturday beg device
0 2015-11-21 10:25:12.112     25

Device platform: ipad

Empty DataFrame
Columns: [Monday end, device]
Index: []

Empty DataFrame
Columns: [Tuesday end, device]
Index: []

               Friday end device
0 2015-11-20 18:47:10.759     25

Empty DataFrame
Columns: [Wednesday end, device]
Index: []

             Thursday end device
0 2015-11-12 09:11:09.419     25

Empty DataFrame
Columns: [Sunday end, device]
Index: []

             Saturday end device
0 2015-11-21 11:01:00.004     25

user: 23=======================

                      beg  devid
0 2015-11-11 15:54:46.184     26
1 2015-11-12 14:08:34.227     26
2 2015-11-13 02:00:54.933     26
3 2015-11-14 19:34:33.796     26
4 2015-11-15 12:36:49.203     26
5 2015-11-17 20:11:40.901     26
6 2015-11-20 12:29:43.775     26
7 2015-11-21 11:11:14.637     26
8 2015-12-10 17:36:42.983     26

  devid                     end
0    26 2015-11-11 21:22:05.915
1    26 2015-11-12 16:50:56.541
2    26 2015-11-13 02:52:28.562
3    26 2015-11-14 20:06:17.465
4    26 2015-11-15 17:18:34.931
5    26 2015-11-17 22:15:00.355
6    26 2015-11-20 20:27:55.411
7    26 2015-11-21 17:46:49.411
8    26 2015-12-10 18:30:18.341

Device platform: macbook

Empty DataFrame
Columns: [Monday beg, device]
Index: []

              Tuesday beg device
0 2015-11-17 20:11:40.901     26

               Friday beg device
0 2015-11-13 02:00:54.933     26
1 2015-11-20 12:29:43.775     26

            Wednesday beg device
0 2015-11-11 15:54:46.184     26

             Thursday beg device
0 2015-11-12 14:08:34.227     26
1 2015-12-10 17:36:42.983     26

               Sunday beg device
0 2015-11-15 12:36:49.203     26

             Saturday beg device
0 2015-11-14 19:34:33.796     26
1 2015-11-21 11:11:14.637     26

Device platform: macbook

Empty DataFrame
Columns: [Monday end, device]
Index: []

              Tuesday end device
0 2015-11-17 22:15:00.355     26

               Friday end device
0 2015-11-13 02:52:28.562     26
1 2015-11-20 20:27:55.411     26

            Wednesday end device
0 2015-11-11 21:22:05.915     26

             Thursday end device
0 2015-11-12 16:50:56.541     26
1 2015-12-10 18:30:18.341     26

               Sunday end device
0 2015-11-15 17:18:34.931     26

             Saturday end device
0 2015-11-14 20:06:17.465     26
1 2015-11-21 17:46:49.411     26

                      beg  devid
0 2015-11-11 15:59:54.548     27
1 2015-11-12 11:44:07.647     27
2 2015-11-14 12:41:59.835     27

  devid                     end
0    27 2015-11-11 17:02:15.660
1    27 2015-11-12 15:33:34.031
2    27 2015-11-14 12:55:15.119

Device platform: iphone

Empty DataFrame
Columns: [Monday beg, device]
Index: []

Empty DataFrame
Columns: [Tuesday beg, device]
Index: []

Empty DataFrame
Columns: [Friday beg, device]
Index: []

            Wednesday beg device
0 2015-11-11 15:59:54.548     27

             Thursday beg device
0 2015-11-12 11:44:07.647     27

Empty DataFrame
Columns: [Sunday beg, device]
Index: []

             Saturday beg device
0 2015-11-14 12:41:59.835     27

Device platform: iphone

Empty DataFrame
Columns: [Monday end, device]
Index: []

Empty DataFrame
Columns: [Tuesday end, device]
Index: []

Empty DataFrame
Columns: [Friday end, device]
Index: []

            Wednesday end device
0 2015-11-11 17:02:15.660     27

             Thursday end device
0 2015-11-12 15:33:34.031     27

Empty DataFrame
Columns: [Sunday end, device]
Index: []

             Saturday end device
0 2015-11-14 12:55:15.119     27

user: 16=======================

                       beg  devid
0  2015-11-11 18:02:11.410     28
1  2015-11-13 10:43:09.931     28
2  2015-11-16 11:19:28.065     28
3  2015-11-17 11:09:46.492     28
4  2015-11-20 11:06:16.685     28
5  2015-11-21 13:10:20.450     28
6  2015-11-22 12:22:13.216     28
7  2015-11-23 13:29:38.346     28
8  2015-11-24 13:24:36.241     28
9  2015-11-25 14:31:01.390     28
10 2015-11-26 07:04:22.389     28

   devid                     end
0     28 2015-11-11 18:34:33.403
1     28 2015-11-13 15:05:13.126
2     28 2015-11-16 15:32:10.882
3     28 2015-11-17 13:20:29.464
4     28 2015-11-20 23:58:25.787
5     28 2015-11-21 22:24:31.567
6     28 2015-11-22 22:49:33.613
7     28 2015-11-23 19:57:46.809
8     28 2015-11-24 15:50:13.565
9     28 2015-11-25 22:03:20.275
10    28 2015-11-26 15:39:57.970

Device platform: windows-laptop

               Monday beg device
0 2015-11-16 11:19:28.065     28
1 2015-11-23 13:29:38.346     28

              Tuesday beg device
0 2015-11-17 11:09:46.492     28
1 2015-11-24 13:24:36.241     28

               Friday beg device
0 2015-11-13 10:43:09.931     28
1 2015-11-20 11:06:16.685     28

            Wednesday beg device
0 2015-11-11 18:02:11.410     28
1 2015-11-25 14:31:01.390     28

             Thursday beg device
0 2015-11-26 07:04:22.389     28

               Sunday beg device
0 2015-11-22 12:22:13.216     28

             Saturday beg device
0 2015-11-21 13:10:20.450     28

Device platform: windows-laptop

               Monday end device
0 2015-11-16 15:32:10.882     28
1 2015-11-23 19:57:46.809     28

              Tuesday end device
0 2015-11-17 13:20:29.464     28
1 2015-11-24 15:50:13.565     28

               Friday end device
0 2015-11-13 15:05:13.126     28
1 2015-11-20 23:58:25.787     28

            Wednesday end device
0 2015-11-11 18:34:33.403     28
1 2015-11-25 22:03:20.275     28

             Thursday end device
0 2015-11-26 15:39:57.970     28

               Sunday end device
0 2015-11-22 22:49:33.613     28

             Saturday end device
0 2015-11-21 22:24:31.567     28

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Device platform: android-phone

Empty DataFrame
Columns: [Monday beg, device]
Index: []

Empty DataFrame
Columns: [Tuesday beg, device]
Index: []

Empty DataFrame
Columns: [Friday beg, device]
Index: []

Empty DataFrame
Columns: [Wednesday beg, device]
Index: []

Empty DataFrame
Columns: [Thursday beg, device]
Index: []

Empty DataFrame
Columns: [Sunday beg, device]
Index: []

Empty DataFrame
Columns: [Saturday beg, device]
Index: []

Device platform: android-phone

Empty DataFrame
Columns: [Monday end, device]
Index: []

Empty DataFrame
Columns: [Tuesday end, device]
Index: []

Empty DataFrame
Columns: [Friday end, device]
Index: []

Empty DataFrame
Columns: [Wednesday end, device]
Index: []

Empty DataFrame
Columns: [Thursday end, device]
Index: []

Empty DataFrame
Columns: [Sunday end, device]
Index: []

Empty DataFrame
Columns: [Saturday end, device]
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Device platform: android-tablet

Empty DataFrame
Columns: [Monday beg, device]
Index: []

Empty DataFrame
Columns: [Tuesday beg, device]
Index: []

Empty DataFrame
Columns: [Friday beg, device]
Index: []

Empty DataFrame
Columns: [Wednesday beg, device]
Index: []

Empty DataFrame
Columns: [Thursday beg, device]
Index: []

Empty DataFrame
Columns: [Sunday beg, device]
Index: []

Empty DataFrame
Columns: [Saturday beg, device]
Index: []

Device platform: android-tablet

Empty DataFrame
Columns: [Monday end, device]
Index: []

Empty DataFrame
Columns: [Tuesday end, device]
Index: []

Empty DataFrame
Columns: [Friday end, device]
Index: []

Empty DataFrame
Columns: [Wednesday end, device]
Index: []

Empty DataFrame
Columns: [Thursday end, device]
Index: []

Empty DataFrame
Columns: [Sunday end, device]
Index: []

Empty DataFrame
Columns: [Saturday end, device]
Index: []

user: 17=======================

                      beg  devid
0 2015-11-13 10:14:01.931     31
1 2015-11-14 11:09:08.575     31
2 2015-11-24 19:35:58.813     31
3 2015-11-25 07:34:50.779     31
4 2015-11-26 00:03:33.464     31
5 2015-12-01 18:50:02.963     31
6 2015-12-02 22:46:28.896     31
7 2015-12-05 18:17:47.255     31

  devid                     end
0    31 2015-11-13 17:31:48.962
1    31 2015-11-14 12:08:43.732
2    31 2015-11-24 23:55:46.506
3    31 2015-11-25 23:53:33.135
4    31 2015-11-26 02:40:45.240
5    31 2015-12-01 20:18:52.795
6    31 2015-12-02 22:46:29.199
7    31 2015-12-05 19:11:06.200

Device platform: android-tablet

Empty DataFrame
Columns: [Monday beg, device]
Index: []

              Tuesday beg device
0 2015-11-24 19:35:58.813     31
1 2015-12-01 18:50:02.963     31

               Friday beg device
0 2015-11-13 10:14:01.931     31

            Wednesday beg device
0 2015-11-25 07:34:50.779     31
1 2015-12-02 22:46:28.896     31

             Thursday beg device
0 2015-11-26 00:03:33.464     31

Empty DataFrame
Columns: [Sunday beg, device]
Index: []

             Saturday beg device
0 2015-11-14 11:09:08.575     31
1 2015-12-05 18:17:47.255     31

Device platform: android-tablet

Empty DataFrame
Columns: [Monday end, device]
Index: []

              Tuesday end device
0 2015-11-24 23:55:46.506     31
1 2015-12-01 20:18:52.795     31

               Friday end device
0 2015-11-13 17:31:48.962     31

            Wednesday end device
0 2015-11-25 23:53:33.135     31
1 2015-12-02 22:46:29.199     31

             Thursday end device
0 2015-11-26 02:40:45.240     31

Empty DataFrame
Columns: [Sunday end, device]
Index: []

             Saturday end device
0 2015-11-14 12:08:43.732     31
1 2015-12-05 19:11:06.200     31

                      beg  devid
0 2015-11-13 11:08:28.440     33
1 2015-11-14 04:30:10.065     33
2 2015-11-15 10:38:58.541     33
3 2015-11-16 19:47:07.230     33
4 2015-11-17 12:26:21.667     33
5 2015-11-19 21:11:20.319     33
6 2015-11-20 14:17:23.709     33
7 2015-12-01 20:32:05.880     33
8 2015-12-02 04:00:48.897     33

  devid                     end
0    33 2015-11-13 20:25:29.243
1    33 2015-11-14 16:15:17.007
2    33 2015-11-15 10:39:02.781
3    33 2015-11-16 20:13:06.950
4    33 2015-11-17 12:40:46.235
5    33 2015-11-19 21:47:51.374
6    33 2015-11-20 22:08:17.253
7    33 2015-12-01 21:16:06.687
8    33 2015-12-02 05:01:21.235

Device platform: android-phone

               Monday beg device
0 2015-11-16 19:47:07.230     33

              Tuesday beg device
0 2015-11-17 12:26:21.667     33
1 2015-12-01 20:32:05.880     33

               Friday beg device
0 2015-11-13 11:08:28.440     33
1 2015-11-20 14:17:23.709     33

            Wednesday beg device
0 2015-12-02 04:00:48.897     33

             Thursday beg device
0 2015-11-19 21:11:20.319     33

               Sunday beg device
0 2015-11-15 10:38:58.541     33

             Saturday beg device
0 2015-11-14 04:30:10.065     33

Device platform: android-phone

               Monday end device
0 2015-11-16 20:13:06.950     33

              Tuesday end device
0 2015-11-17 12:40:46.235     33
1 2015-12-01 21:16:06.687     33

               Friday end device
0 2015-11-13 20:25:29.243     33
1 2015-11-20 22:08:17.253     33

            Wednesday end device
0 2015-12-02 05:01:21.235     33

             Thursday end device
0 2015-11-19 21:47:51.374     33

               Sunday end device
0 2015-11-15 10:39:02.781     33

             Saturday end device
0 2015-11-14 16:15:17.007     33

user: 24=======================

                      beg  devid
0 2015-11-13 10:24:31.476     32
1 2015-11-24 14:23:38.459     32
2 2015-11-25 09:31:42.729     32
3 2015-11-26 08:12:19.230     32
4 2015-11-28 09:10:02.582     32
5 2015-12-01 15:40:20.147     32
6 2015-12-02 14:38:26.959     32
7 2015-12-03 07:28:46.822     32
8 2015-12-04 09:13:33.144     32
9 2015-12-10 09:36:11.404     32

  devid                     end
0    32 2015-11-13 17:24:32.741
1    32 2015-11-24 19:13:48.501
2    32 2015-11-25 20:21:25.479
3    32 2015-11-26 19:27:16.338
4    32 2015-11-28 09:10:16.057
5    32 2015-12-01 23:55:53.658
6    32 2015-12-02 21:11:28.661
7    32 2015-12-03 13:35:12.576
8    32 2015-12-04 12:42:48.999
9    32 2015-12-10 11:56:25.865

Device platform: android-phone

Empty DataFrame
Columns: [Monday beg, device]
Index: []

              Tuesday beg device
0 2015-11-24 14:23:38.459     32
1 2015-12-01 15:40:20.147     32

               Friday beg device
0 2015-11-13 10:24:31.476     32
1 2015-12-04 09:13:33.144     32

            Wednesday beg device
0 2015-11-25 09:31:42.729     32
1 2015-12-02 14:38:26.959     32

             Thursday beg device
0 2015-11-26 08:12:19.230     32
1 2015-12-03 07:28:46.822     32
2 2015-12-10 09:36:11.404     32

Empty DataFrame
Columns: [Sunday beg, device]
Index: []

             Saturday beg device
0 2015-11-28 09:10:02.582     32

Device platform: android-phone

Empty DataFrame
Columns: [Monday end, device]
Index: []

              Tuesday end device
0 2015-11-24 19:13:48.501     32
1 2015-12-01 23:55:53.658     32

               Friday end device
0 2015-11-13 17:24:32.741     32
1 2015-12-04 12:42:48.999     32

            Wednesday end device
0 2015-11-25 20:21:25.479     32
1 2015-12-02 21:11:28.661     32

             Thursday end device
0 2015-11-26 19:27:16.338     32
1 2015-12-03 13:35:12.576     32
2 2015-12-10 11:56:25.865     32

Empty DataFrame
Columns: [Sunday end, device]
Index: []

             Saturday end device
0 2015-11-28 09:10:16.057     32

                      beg  devid
0 2015-11-13 11:08:28.440     33
1 2015-11-14 04:30:10.065     33
2 2015-11-15 10:38:58.541     33
3 2015-11-16 19:47:07.230     33
4 2015-11-17 12:26:21.667     33
5 2015-11-19 21:11:20.319     33
6 2015-11-20 14:17:23.709     33
7 2015-12-01 20:32:05.880     33
8 2015-12-02 04:00:48.897     33

  devid                     end
0    33 2015-11-13 20:25:29.243
1    33 2015-11-14 16:15:17.007
2    33 2015-11-15 10:39:02.781
3    33 2015-11-16 20:13:06.950
4    33 2015-11-17 12:40:46.235
5    33 2015-11-19 21:47:51.374
6    33 2015-11-20 22:08:17.253
7    33 2015-12-01 21:16:06.687
8    33 2015-12-02 05:01:21.235

Device platform: android-phone

               Monday beg device
0 2015-11-16 19:47:07.230     33

              Tuesday beg device
0 2015-11-17 12:26:21.667     33
1 2015-12-01 20:32:05.880     33

               Friday beg device
0 2015-11-13 11:08:28.440     33
1 2015-11-20 14:17:23.709     33

            Wednesday beg device
0 2015-12-02 04:00:48.897     33

             Thursday beg device
0 2015-11-19 21:11:20.319     33

               Sunday beg device
0 2015-11-15 10:38:58.541     33

             Saturday beg device
0 2015-11-14 04:30:10.065     33

Device platform: android-phone

               Monday end device
0 2015-11-16 20:13:06.950     33

              Tuesday end device
0 2015-11-17 12:40:46.235     33
1 2015-12-01 21:16:06.687     33

               Friday end device
0 2015-11-13 20:25:29.243     33
1 2015-11-20 22:08:17.253     33

            Wednesday end device
0 2015-12-02 05:01:21.235     33

             Thursday end device
0 2015-11-19 21:47:51.374     33

               Sunday end device
0 2015-11-15 10:39:02.781     33

             Saturday end device
0 2015-11-14 16:15:17.007     33

user: 18=======================

                       beg  devid
0  2015-11-13 15:30:30.044     34
1  2015-11-14 05:14:57.232     34
2  2015-11-15 06:16:06.737     34
3  2015-11-16 09:03:58.468     34
4  2015-11-17 09:46:00.718     34
5  2015-11-18 07:18:46.686     34
6  2015-11-19 12:12:17.288     34
7  2015-11-20 06:20:37.984     34
8  2015-11-21 06:56:24.912     34
9  2015-11-22 02:50:12.070     34
10 2015-11-23 19:17:50.723     34
11 2015-11-24 11:51:10.344     34
12 2015-11-25 09:17:55.752     34
13 2015-11-26 10:10:50.435     34
14 2015-11-27 08:27:07.654     34
15 2015-11-28 09:01:20.369     34
16 2015-11-29 10:29:51.577     34
17 2015-11-30 12:41:48.520     34
18 2015-12-01 15:48:34.775     34
19 2015-12-02 19:04:33.909     34
20 2015-12-03 08:58:30.120     34
21 2015-12-04 08:39:32.035     34
22 2015-12-05 09:36:11.743     34
23 2015-12-06 09:41:12.675     34
24 2015-12-07 10:38:01.898     34
25 2015-12-08 14:01:27.484     34
26 2015-12-09 08:51:48.032     34
27 2015-12-10 10:08:12.779     34
28 2015-12-11 13:47:17.755     34
29 2015-12-12 07:25:54.487     34
30 2015-12-13 10:20:31.307     34
31 2015-12-14 12:18:09.651     34
32 2015-12-15 15:41:27.631     34
33 2015-12-17 18:37:53.171     34

   devid                     end
0     34 2015-11-13 22:55:26.567
1     34 2015-11-14 20:19:50.143
2     34 2015-11-15 23:47:46.642
3     34 2015-11-16 19:16:47.621
4     34 2015-11-17 21:11:08.638
5     34 2015-11-18 23:56:41.043
6     34 2015-11-19 23:06:53.968
7     34 2015-11-20 22:35:50.326
8     34 2015-11-21 17:06:21.482
9     34 2015-11-22 02:50:13.165
10    34 2015-11-23 22:55:51.410
11    34 2015-11-24 20:17:19.386
12    34 2015-11-25 22:41:58.691
13    34 2015-11-26 21:09:20.663
14    34 2015-11-27 23:46:22.516
15    34 2015-11-28 23:51:10.482
16    34 2015-11-29 20:26:12.625
17    34 2015-11-30 23:53:02.654
18    34 2015-12-01 17:17:10.634
19    34 2015-12-02 23:13:53.847
20    34 2015-12-03 23:21:37.720
21    34 2015-12-04 23:50:48.096
22    34 2015-12-05 19:28:44.263
23    34 2015-12-06 21:11:40.155
24    34 2015-12-07 11:37:28.288
25    34 2015-12-08 21:34:46.074
26    34 2015-12-09 21:36:03.281
27    34 2015-12-10 23:57:56.354
28    34 2015-12-11 19:03:35.519
29    34 2015-12-12 22:49:09.077
30    34 2015-12-13 20:28:56.080
31    34 2015-12-14 19:24:34.679
32    34 2015-12-15 23:27:29.384
33    34 2015-12-17 19:07:09.793

Device platform: windows-laptop

               Monday beg device
0 2015-11-16 09:03:58.468     34
1 2015-11-23 19:17:50.723     34
2 2015-11-30 12:41:48.520     34
3 2015-12-07 10:38:01.898     34
4 2015-12-14 12:18:09.651     34

              Tuesday beg device
0 2015-11-17 09:46:00.718     34
1 2015-11-24 11:51:10.344     34
2 2015-12-01 15:48:34.775     34
3 2015-12-08 14:01:27.484     34
4 2015-12-15 15:41:27.631     34

               Friday beg device
0 2015-11-13 15:30:30.044     34
1 2015-11-20 06:20:37.984     34
2 2015-11-27 08:27:07.654     34
3 2015-12-04 08:39:32.035     34
4 2015-12-11 13:47:17.755     34

            Wednesday beg device
0 2015-11-18 07:18:46.686     34
1 2015-11-25 09:17:55.752     34
2 2015-12-02 19:04:33.909     34
3 2015-12-09 08:51:48.032     34

             Thursday beg device
0 2015-11-19 12:12:17.288     34
1 2015-11-26 10:10:50.435     34
2 2015-12-03 08:58:30.120     34
3 2015-12-10 10:08:12.779     34
4 2015-12-17 18:37:53.171     34

               Sunday beg device
0 2015-11-15 06:16:06.737     34
1 2015-11-22 02:50:12.070     34
2 2015-11-29 10:29:51.577     34
3 2015-12-06 09:41:12.675     34
4 2015-12-13 10:20:31.307     34

             Saturday beg device
0 2015-11-14 05:14:57.232     34
1 2015-11-21 06:56:24.912     34
2 2015-11-28 09:01:20.369     34
3 2015-12-05 09:36:11.743     34
4 2015-12-12 07:25:54.487     34

Device platform: windows-laptop

               Monday end device
0 2015-11-16 19:16:47.621     34
1 2015-11-23 22:55:51.410     34
2 2015-11-30 23:53:02.654     34
3 2015-12-07 11:37:28.288     34
4 2015-12-14 19:24:34.679     34

              Tuesday end device
0 2015-11-17 21:11:08.638     34
1 2015-11-24 20:17:19.386     34
2 2015-12-01 17:17:10.634     34
3 2015-12-08 21:34:46.074     34
4 2015-12-15 23:27:29.384     34

               Friday end device
0 2015-11-13 22:55:26.567     34
1 2015-11-20 22:35:50.326     34
2 2015-11-27 23:46:22.516     34
3 2015-12-04 23:50:48.096     34
4 2015-12-11 19:03:35.519     34

            Wednesday end device
0 2015-11-18 23:56:41.043     34
1 2015-11-25 22:41:58.691     34
2 2015-12-02 23:13:53.847     34
3 2015-12-09 21:36:03.281     34

             Thursday end device
0 2015-11-19 23:06:53.968     34
1 2015-11-26 21:09:20.663     34
2 2015-12-03 23:21:37.720     34
3 2015-12-10 23:57:56.354     34
4 2015-12-17 19:07:09.793     34

               Sunday end device
0 2015-11-15 23:47:46.642     34
1 2015-11-22 02:50:13.165     34
2 2015-11-29 20:26:12.625     34
3 2015-12-06 21:11:40.155     34
4 2015-12-13 20:28:56.080     34

             Saturday end device
0 2015-11-14 20:19:50.143     34
1 2015-11-21 17:06:21.482     34
2 2015-11-28 23:51:10.482     34
3 2015-12-05 19:28:44.263     34
4 2015-12-12 22:49:09.077     34

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Device platform: iphone

Empty DataFrame
Columns: [Monday beg, device]
Index: []

Empty DataFrame
Columns: [Tuesday beg, device]
Index: []

Empty DataFrame
Columns: [Friday beg, device]
Index: []

Empty DataFrame
Columns: [Wednesday beg, device]
Index: []

Empty DataFrame
Columns: [Thursday beg, device]
Index: []

Empty DataFrame
Columns: [Sunday beg, device]
Index: []

Empty DataFrame
Columns: [Saturday beg, device]
Index: []

Device platform: iphone

Empty DataFrame
Columns: [Monday end, device]
Index: []

Empty DataFrame
Columns: [Tuesday end, device]
Index: []

Empty DataFrame
Columns: [Friday end, device]
Index: []

Empty DataFrame
Columns: [Wednesday end, device]
Index: []

Empty DataFrame
Columns: [Thursday end, device]
Index: []

Empty DataFrame
Columns: [Sunday end, device]
Index: []

Empty DataFrame
Columns: [Saturday end, device]
Index: []

user: 19=======================

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Device platform: windows-pc

Empty DataFrame
Columns: [Monday beg, device]
Index: []

Empty DataFrame
Columns: [Tuesday beg, device]
Index: []

Empty DataFrame
Columns: [Friday beg, device]
Index: []

Empty DataFrame
Columns: [Wednesday beg, device]
Index: []

Empty DataFrame
Columns: [Thursday beg, device]
Index: []

Empty DataFrame
Columns: [Sunday beg, device]
Index: []

Empty DataFrame
Columns: [Saturday beg, device]
Index: []

Device platform: windows-pc

Empty DataFrame
Columns: [Monday end, device]
Index: []

Empty DataFrame
Columns: [Tuesday end, device]
Index: []

Empty DataFrame
Columns: [Friday end, device]
Index: []

Empty DataFrame
Columns: [Wednesday end, device]
Index: []

Empty DataFrame
Columns: [Thursday end, device]
Index: []

Empty DataFrame
Columns: [Sunday end, device]
Index: []

Empty DataFrame
Columns: [Saturday end, device]
Index: []

                      beg  devid
0 2015-11-20 09:34:51.919     37
1 2015-11-24 21:21:08.253     37
2 2015-11-25 00:00:05.255     37
3 2015-11-29 17:14:03.392     37

  devid                     end
0    37 2015-11-20 11:39:37.266
1    37 2015-11-24 23:59:42.821
2    37 2015-11-25 01:49:14.648
3    37 2015-11-29 18:55:37.871

Device platform: android-tablet

Empty DataFrame
Columns: [Monday beg, device]
Index: []

              Tuesday beg device
0 2015-11-24 21:21:08.253     37

               Friday beg device
0 2015-11-20 09:34:51.919     37

            Wednesday beg device
0 2015-11-25 00:00:05.255     37

Empty DataFrame
Columns: [Thursday beg, device]
Index: []

               Sunday beg device
0 2015-11-29 17:14:03.392     37

Empty DataFrame
Columns: [Saturday beg, device]
Index: []

Device platform: android-tablet

Empty DataFrame
Columns: [Monday end, device]
Index: []

              Tuesday end device
0 2015-11-24 23:59:42.821     37

               Friday end device
0 2015-11-20 11:39:37.266     37

            Wednesday end device
0 2015-11-25 01:49:14.648     37

Empty DataFrame
Columns: [Thursday end, device]
Index: []

               Sunday end device
0 2015-11-29 18:55:37.871     37

Empty DataFrame
Columns: [Saturday end, device]
Index: []

                      beg  devid
0 2015-11-20 10:02:31.674     38
1 2015-11-24 19:52:31.424     38
2 2015-11-25 20:17:52.619     38
3 2015-11-26 20:39:17.682     38
4 2015-11-27 08:03:02.244     38
5 2015-11-28 15:34:33.878     38
6 2015-11-29 17:08:12.816     38
7 2015-11-30 22:54:12.269     38

  devid                     end
0    38 2015-11-20 17:45:37.186
1    38 2015-11-24 19:58:24.962
2    38 2015-11-25 20:18:12.098
3    38 2015-11-26 20:44:08.209
4    38 2015-11-27 20:01:12.438
5    38 2015-11-28 16:11:07.954
6    38 2015-11-29 17:31:11.839
7    38 2015-11-30 23:32:41.803

Device platform: android-phone

               Monday beg device
0 2015-11-30 22:54:12.269     38

              Tuesday beg device
0 2015-11-24 19:52:31.424     38

               Friday beg device
0 2015-11-20 10:02:31.674     38
1 2015-11-27 08:03:02.244     38

            Wednesday beg device
0 2015-11-25 20:17:52.619     38

             Thursday beg device
0 2015-11-26 20:39:17.682     38

               Sunday beg device
0 2015-11-29 17:08:12.816     38

             Saturday beg device
0 2015-11-28 15:34:33.878     38

Device platform: android-phone

               Monday end device
0 2015-11-30 23:32:41.803     38

              Tuesday end device
0 2015-11-24 19:58:24.962     38

               Friday end device
0 2015-11-20 17:45:37.186     38
1 2015-11-27 20:01:12.438     38

            Wednesday end device
0 2015-11-25 20:18:12.098     38

             Thursday end device
0 2015-11-26 20:44:08.209     38

               Sunday end device
0 2015-11-29 17:31:11.839     38

             Saturday end device
0 2015-11-28 16:11:07.954     38

user: 20=======================

                      beg  devid
0 2015-11-20 19:19:51.449     39
1 2015-11-23 11:26:47.596     39
2 2015-11-25 19:10:32.708     39
3 2015-11-26 13:21:23.984     39

  devid                     end
0    39 2015-11-20 20:34:32.087
1    39 2015-11-23 18:56:09.561
2    39 2015-11-25 20:45:30.452
3    39 2015-11-26 16:18:38.136

Device platform: windows-laptop

               Monday beg device
0 2015-11-23 11:26:47.596     39

Empty DataFrame
Columns: [Tuesday beg, device]
Index: []

               Friday beg device
0 2015-11-20 19:19:51.449     39

            Wednesday beg device
0 2015-11-25 19:10:32.708     39

             Thursday beg device
0 2015-11-26 13:21:23.984     39

Empty DataFrame
Columns: [Sunday beg, device]
Index: []

Empty DataFrame
Columns: [Saturday beg, device]
Index: []

Device platform: windows-laptop

               Monday end device
0 2015-11-23 18:56:09.561     39

Empty DataFrame
Columns: [Tuesday end, device]
Index: []

               Friday end device
0 2015-11-20 20:34:32.087     39

            Wednesday end device
0 2015-11-25 20:45:30.452     39

             Thursday end device
0 2015-11-26 16:18:38.136     39

Empty DataFrame
Columns: [Sunday end, device]
Index: []

Empty DataFrame
Columns: [Saturday end, device]
Index: []

                      beg  devid
0 2015-11-20 19:27:47.076     40
1 2015-11-21 08:42:24.107     40

  devid                     end
0    40 2015-11-20 20:47:49.290
1    40 2015-11-21 12:08:09.109

Device platform: android-phone

Empty DataFrame
Columns: [Monday beg, device]
Index: []

Empty DataFrame
Columns: [Tuesday beg, device]
Index: []

               Friday beg device
0 2015-11-20 19:27:47.076     40

Empty DataFrame
Columns: [Wednesday beg, device]
Index: []

Empty DataFrame
Columns: [Thursday beg, device]
Index: []

Empty DataFrame
Columns: [Sunday beg, device]
Index: []

             Saturday beg device
0 2015-11-21 08:42:24.107     40

Device platform: android-phone

Empty DataFrame
Columns: [Monday end, device]
Index: []

Empty DataFrame
Columns: [Tuesday end, device]
Index: []

               Friday end device
0 2015-11-20 20:47:49.290     40

Empty DataFrame
Columns: [Wednesday end, device]
Index: []

Empty DataFrame
Columns: [Thursday end, device]
Index: []

Empty DataFrame
Columns: [Sunday end, device]
Index: []

             Saturday end device
0 2015-11-21 12:08:09.109     40

user: 21=======================

                      beg  devid
0 2015-11-20 20:04:57.418     41
1 2015-11-27 15:18:50.528     41
2 2015-12-05 09:46:51.000     41
3 2015-12-12 20:24:30.482     41

  devid                     end
0    41 2015-11-20 21:03:54.697
1    41 2015-11-27 16:05:00.673
2    41 2015-12-05 22:49:03.717
3    41 2015-12-12 21:20:50.537

Device platform: ipad

Empty DataFrame
Columns: [Monday beg, device]
Index: []

Empty DataFrame
Columns: [Tuesday beg, device]
Index: []

               Friday beg device
0 2015-11-20 20:04:57.418     41
1 2015-11-27 15:18:50.528     41

Empty DataFrame
Columns: [Wednesday beg, device]
Index: []

Empty DataFrame
Columns: [Thursday beg, device]
Index: []

Empty DataFrame
Columns: [Sunday beg, device]
Index: []

             Saturday beg device
0 2015-12-05 09:46:51.000     41
1 2015-12-12 20:24:30.482     41

Device platform: ipad

Empty DataFrame
Columns: [Monday end, device]
Index: []

Empty DataFrame
Columns: [Tuesday end, device]
Index: []

               Friday end device
0 2015-11-20 21:03:54.697     41
1 2015-11-27 16:05:00.673     41

Empty DataFrame
Columns: [Wednesday end, device]
Index: []

Empty DataFrame
Columns: [Thursday end, device]
Index: []

Empty DataFrame
Columns: [Sunday end, device]
Index: []

             Saturday end device
0 2015-12-05 22:49:03.717     41
1 2015-12-12 21:20:50.537     41

                      beg  devid
0 2015-11-20 20:11:58.744     42
1 2015-11-21 14:48:09.238     42
2 2015-11-23 09:31:42.557     42
3 2015-11-24 20:49:12.190     42
4 2015-11-25 18:15:35.701     42
5 2015-11-26 19:45:26.567     42

  devid                     end
0    42 2015-11-20 22:18:26.027
1    42 2015-11-21 16:19:18.273
2    42 2015-11-23 19:29:25.591
3    42 2015-11-24 21:36:25.261
4    42 2015-11-25 20:17:53.058
5    42 2015-11-26 21:16:41.698

Device platform: windows-laptop

               Monday beg device
0 2015-11-23 09:31:42.557     42

              Tuesday beg device
0 2015-11-24 20:49:12.190     42

               Friday beg device
0 2015-11-20 20:11:58.744     42

            Wednesday beg device
0 2015-11-25 18:15:35.701     42

             Thursday beg device
0 2015-11-26 19:45:26.567     42

Empty DataFrame
Columns: [Sunday beg, device]
Index: []

             Saturday beg device
0 2015-11-21 14:48:09.238     42

Device platform: windows-laptop

               Monday end device
0 2015-11-23 19:29:25.591     42

              Tuesday end device
0 2015-11-24 21:36:25.261     42

               Friday end device
0 2015-11-20 22:18:26.027     42

            Wednesday end device
0 2015-11-25 20:17:53.058     42

             Thursday end device
0 2015-11-26 21:16:41.698     42

Empty DataFrame
Columns: [Sunday end, device]
Index: []

             Saturday end device
0 2015-11-21 16:19:18.273     42

                       beg  devid
0  2015-11-20 20:16:32.908     43
1  2015-11-21 07:14:05.501     43
2  2015-11-22 08:25:46.684     43
3  2015-11-23 20:31:23.552     43
4  2015-11-27 17:28:21.455     43
5  2015-11-28 11:10:22.466     43
6  2015-11-29 07:19:40.203     43
7  2015-11-30 08:00:49.920     43
8  2015-12-02 20:00:16.496     43
9  2015-12-03 04:33:19.234     43
10 2015-12-06 09:36:06.947     43

   devid                     end
0     43 2015-11-20 23:15:43.067
1     43 2015-11-21 23:56:32.879
2     43 2015-11-22 14:33:06.664
3     43 2015-11-23 23:02:34.809
4     43 2015-11-27 20:44:04.500
5     43 2015-11-28 23:59:59.740
6     43 2015-11-29 22:46:12.339
7     43 2015-11-30 08:59:32.450
8     43 2015-12-02 23:56:40.326
9     43 2015-12-03 04:33:20.438
10    43 2015-12-06 21:57:51.467

Device platform: iphone

               Monday beg device
0 2015-11-23 20:31:23.552     43
1 2015-11-30 08:00:49.920     43

Empty DataFrame
Columns: [Tuesday beg, device]
Index: []

               Friday beg device
0 2015-11-20 20:16:32.908     43
1 2015-11-27 17:28:21.455     43

            Wednesday beg device
0 2015-12-02 20:00:16.496     43

             Thursday beg device
0 2015-12-03 04:33:19.234     43

               Sunday beg device
0 2015-11-22 08:25:46.684     43
1 2015-11-29 07:19:40.203     43
2 2015-12-06 09:36:06.947     43

             Saturday beg device
0 2015-11-21 07:14:05.501     43
1 2015-11-28 11:10:22.466     43

Device platform: iphone

               Monday end device
0 2015-11-23 23:02:34.809     43
1 2015-11-30 08:59:32.450     43

Empty DataFrame
Columns: [Tuesday end, device]
Index: []

               Friday end device
0 2015-11-20 23:15:43.067     43
1 2015-11-27 20:44:04.500     43

            Wednesday end device
0 2015-12-02 23:56:40.326     43

             Thursday end device
0 2015-12-03 04:33:20.438     43

               Sunday end device
0 2015-11-22 14:33:06.664     43
1 2015-11-29 22:46:12.339     43
2 2015-12-06 21:57:51.467     43

             Saturday end device
0 2015-11-21 23:56:32.879     43
1 2015-11-28 23:59:59.740     43

user: 25=======================

                      beg  devid
0 2015-11-20 20:04:57.418     41
1 2015-11-27 15:18:50.528     41
2 2015-12-05 09:46:51.000     41
3 2015-12-12 20:24:30.482     41

  devid                     end
0    41 2015-11-20 21:03:54.697
1    41 2015-11-27 16:05:00.673
2    41 2015-12-05 22:49:03.717
3    41 2015-12-12 21:20:50.537

Device platform: ipad

Empty DataFrame
Columns: [Monday beg, device]
Index: []

Empty DataFrame
Columns: [Tuesday beg, device]
Index: []

               Friday beg device
0 2015-11-20 20:04:57.418     41
1 2015-11-27 15:18:50.528     41

Empty DataFrame
Columns: [Wednesday beg, device]
Index: []

Empty DataFrame
Columns: [Thursday beg, device]
Index: []

Empty DataFrame
Columns: [Sunday beg, device]
Index: []

             Saturday beg device
0 2015-12-05 09:46:51.000     41
1 2015-12-12 20:24:30.482     41

Device platform: ipad

Empty DataFrame
Columns: [Monday end, device]
Index: []

Empty DataFrame
Columns: [Tuesday end, device]
Index: []

               Friday end device
0 2015-11-20 21:03:54.697     41
1 2015-11-27 16:05:00.673     41

Empty DataFrame
Columns: [Wednesday end, device]
Index: []

Empty DataFrame
Columns: [Thursday end, device]
Index: []

Empty DataFrame
Columns: [Sunday end, device]
Index: []

             Saturday end device
0 2015-12-05 22:49:03.717     41
1 2015-12-12 21:20:50.537     41

                      beg  devid
0 2015-11-20 20:11:58.744     42
1 2015-11-21 14:48:09.238     42
2 2015-11-23 09:31:42.557     42
3 2015-11-24 20:49:12.190     42
4 2015-11-25 18:15:35.701     42
5 2015-11-26 19:45:26.567     42

  devid                     end
0    42 2015-11-20 22:18:26.027
1    42 2015-11-21 16:19:18.273
2    42 2015-11-23 19:29:25.591
3    42 2015-11-24 21:36:25.261
4    42 2015-11-25 20:17:53.058
5    42 2015-11-26 21:16:41.698

Device platform: windows-laptop

               Monday beg device
0 2015-11-23 09:31:42.557     42

              Tuesday beg device
0 2015-11-24 20:49:12.190     42

               Friday beg device
0 2015-11-20 20:11:58.744     42

            Wednesday beg device
0 2015-11-25 18:15:35.701     42

             Thursday beg device
0 2015-11-26 19:45:26.567     42

Empty DataFrame
Columns: [Sunday beg, device]
Index: []

             Saturday beg device
0 2015-11-21 14:48:09.238     42

Device platform: windows-laptop

               Monday end device
0 2015-11-23 19:29:25.591     42

              Tuesday end device
0 2015-11-24 21:36:25.261     42

               Friday end device
0 2015-11-20 22:18:26.027     42

            Wednesday end device
0 2015-11-25 20:17:53.058     42

             Thursday end device
0 2015-11-26 21:16:41.698     42

Empty DataFrame
Columns: [Sunday end, device]
Index: []

             Saturday end device
0 2015-11-21 16:19:18.273     42

                       beg  devid
0  2015-11-21 10:21:56.230     44
1  2015-11-22 09:49:05.951     44
2  2015-11-23 09:41:19.488     44
3  2015-11-24 07:15:55.686     44
4  2015-11-25 07:04:35.848     44
5  2015-11-26 07:34:09.788     44
6  2015-11-27 07:03:45.295     44
7  2015-11-28 11:14:50.476     44
8  2015-11-29 09:03:47.812     44
9  2015-11-30 07:37:14.080     44
10 2015-12-01 07:07:58.705     44
11 2015-12-02 07:17:47.784     44
12 2015-12-03 07:40:07.031     44
13 2015-12-04 07:05:42.155     44
14 2015-12-05 09:10:10.482     44
15 2015-12-06 09:33:01.180     44
16 2015-12-07 09:13:59.810     44
17 2015-12-09 06:59:53.029     44
18 2015-12-11 08:57:57.440     44
19 2015-12-12 20:24:50.272     44
20 2015-12-14 07:49:50.977     44
21 2015-12-16 07:49:35.016     44

   devid                     end
0     44 2015-11-21 22:08:42.413
1     44 2015-11-22 20:25:27.935
2     44 2015-11-23 21:05:58.744
3     44 2015-11-24 23:07:56.062
4     44 2015-11-25 19:19:37.487
5     44 2015-11-26 22:37:17.922
6     44 2015-11-27 22:56:22.485
7     44 2015-11-28 17:32:11.793
8     44 2015-11-29 18:33:09.875
9     44 2015-11-30 21:56:02.536
10    44 2015-12-01 23:14:10.521
11    44 2015-12-02 23:50:43.454
12    44 2015-12-03 23:22:40.854
13    44 2015-12-04 22:39:01.980
14    44 2015-12-05 20:44:20.098
15    44 2015-12-06 17:09:41.090
16    44 2015-12-07 10:21:50.617
17    44 2015-12-09 19:28:14.448
18    44 2015-12-11 11:40:07.007
19    44 2015-12-12 21:49:20.222
20    44 2015-12-14 10:23:46.990
21    44 2015-12-16 12:14:56.580

Device platform: iphone

               Monday beg device
0 2015-11-23 09:41:19.488     44
1 2015-11-30 07:37:14.080     44
2 2015-12-07 09:13:59.810     44
3 2015-12-14 07:49:50.977     44

              Tuesday beg device
0 2015-11-24 07:15:55.686     44
1 2015-12-01 07:07:58.705     44

               Friday beg device
0 2015-11-27 07:03:45.295     44
1 2015-12-04 07:05:42.155     44
2 2015-12-11 08:57:57.440     44

            Wednesday beg device
0 2015-11-25 07:04:35.848     44
1 2015-12-02 07:17:47.784     44
2 2015-12-09 06:59:53.029     44
3 2015-12-16 07:49:35.016     44

             Thursday beg device
0 2015-11-26 07:34:09.788     44
1 2015-12-03 07:40:07.031     44

               Sunday beg device
0 2015-11-22 09:49:05.951     44
1 2015-11-29 09:03:47.812     44
2 2015-12-06 09:33:01.180     44

             Saturday beg device
0 2015-11-21 10:21:56.230     44
1 2015-11-28 11:14:50.476     44
2 2015-12-05 09:10:10.482     44
3 2015-12-12 20:24:50.272     44

Device platform: iphone

               Monday end device
0 2015-11-23 21:05:58.744     44
1 2015-11-30 21:56:02.536     44
2 2015-12-07 10:21:50.617     44
3 2015-12-14 10:23:46.990     44

              Tuesday end device
0 2015-11-24 23:07:56.062     44
1 2015-12-01 23:14:10.521     44

               Friday end device
0 2015-11-27 22:56:22.485     44
1 2015-12-04 22:39:01.980     44
2 2015-12-11 11:40:07.007     44

            Wednesday end device
0 2015-11-25 19:19:37.487     44
1 2015-12-02 23:50:43.454     44
2 2015-12-09 19:28:14.448     44
3 2015-12-16 12:14:56.580     44

             Thursday end device
0 2015-11-26 22:37:17.922     44
1 2015-12-03 23:22:40.854     44

               Sunday end device
0 2015-11-22 20:25:27.935     44
1 2015-11-29 18:33:09.875     44
2 2015-12-06 17:09:41.090     44

             Saturday end device
0 2015-11-21 22:08:42.413     44
1 2015-11-28 17:32:11.793     44
2 2015-12-05 20:44:20.098     44
3 2015-12-12 21:49:20.222     44

user: 22=======================

                      beg  devid
0 2015-11-24 15:48:05.195     46
1 2015-11-25 16:08:12.905     46
2 2015-11-26 19:47:43.523     46

  devid                     end
0    46 2015-11-24 15:48:53.921
1    46 2015-11-25 16:14:51.905
2    46 2015-11-26 22:10:29.988

Device platform: windows-laptop

Empty DataFrame
Columns: [Monday beg, device]
Index: []

              Tuesday beg device
0 2015-11-24 15:48:05.195     46

Empty DataFrame
Columns: [Friday beg, device]
Index: []

            Wednesday beg device
0 2015-11-25 16:08:12.905     46

             Thursday beg device
0 2015-11-26 19:47:43.523     46

Empty DataFrame
Columns: [Sunday beg, device]
Index: []

Empty DataFrame
Columns: [Saturday beg, device]
Index: []

Device platform: windows-laptop

Empty DataFrame
Columns: [Monday end, device]
Index: []

              Tuesday end device
0 2015-11-24 15:48:53.921     46

Empty DataFrame
Columns: [Friday end, device]
Index: []

            Wednesday end device
0 2015-11-25 16:14:51.905     46

             Thursday end device
0 2015-11-26 22:10:29.988     46

Empty DataFrame
Columns: [Sunday end, device]
Index: []

Empty DataFrame
Columns: [Saturday end, device]
Index: []

                      beg  devid
0 2015-11-24 18:57:55.123     47
1 2015-11-25 13:02:39.456     47
2 2015-11-26 11:49:01.923     47
3 2015-12-01 16:52:15.818     47
4 2015-12-16 12:48:30.864     47
5 2015-12-17 13:44:16.119     47

  devid                     end
0    47 2015-11-24 23:45:18.216
1    47 2015-11-25 15:50:28.759
2    47 2015-11-26 13:49:18.850
3    47 2015-12-01 17:32:16.318
4    47 2015-12-16 17:06:20.345
5    47 2015-12-17 15:11:56.887

Device platform: iphone

Empty DataFrame
Columns: [Monday beg, device]
Index: []

              Tuesday beg device
0 2015-11-24 18:57:55.123     47
1 2015-12-01 16:52:15.818     47

Empty DataFrame
Columns: [Friday beg, device]
Index: []

            Wednesday beg device
0 2015-11-25 13:02:39.456     47
1 2015-12-16 12:48:30.864     47

             Thursday beg device
0 2015-11-26 11:49:01.923     47
1 2015-12-17 13:44:16.119     47

Empty DataFrame
Columns: [Sunday beg, device]
Index: []

Empty DataFrame
Columns: [Saturday beg, device]
Index: []

Device platform: iphone

Empty DataFrame
Columns: [Monday end, device]
Index: []

              Tuesday end device
0 2015-11-24 23:45:18.216     47
1 2015-12-01 17:32:16.318     47

Empty DataFrame
Columns: [Friday end, device]
Index: []

            Wednesday end device
0 2015-11-25 15:50:28.759     47
1 2015-12-16 17:06:20.345     47

             Thursday end device
0 2015-11-26 13:49:18.850     47
1 2015-12-17 15:11:56.887     47

Empty DataFrame
Columns: [Sunday end, device]
Index: []

Empty DataFrame
Columns: [Saturday end, device]
Index: []

user: 26=======================

                      beg  devid
0 2015-11-24 15:16:20.121     45
1 2015-11-25 18:22:30.318     45
2 2015-11-26 00:08:22.751     45

  devid                     end
0    45 2015-11-24 19:03:30.203
1    45 2015-11-25 23:55:07.570
2    45 2015-11-26 00:10:02.841

Device platform: windows-laptop

Empty DataFrame
Columns: [Monday beg, device]
Index: []

              Tuesday beg device
0 2015-11-24 15:16:20.121     45

Empty DataFrame
Columns: [Friday beg, device]
Index: []

            Wednesday beg device
0 2015-11-25 18:22:30.318     45

             Thursday beg device
0 2015-11-26 00:08:22.751     45

Empty DataFrame
Columns: [Sunday beg, device]
Index: []

Empty DataFrame
Columns: [Saturday beg, device]
Index: []

Device platform: windows-laptop

Empty DataFrame
Columns: [Monday end, device]
Index: []

              Tuesday end device
0 2015-11-24 19:03:30.203     45

Empty DataFrame
Columns: [Friday end, device]
Index: []

            Wednesday end device
0 2015-11-25 23:55:07.570     45

             Thursday end device
0 2015-11-26 00:10:02.841     45

Empty DataFrame
Columns: [Sunday end, device]
Index: []

Empty DataFrame
Columns: [Saturday end, device]
Index: []