In [1]:
import pandas as pd

import matplotlib.pyplot as plt

from collections import defaultdict

from model_io.Base import Base
from model_io.Devices import Devices
from model_io.Io import Io

from sqlalchemy import create_engine, text, func
from sqlalchemy.orm import sessionmaker
from sqlalchemy.pool import NullPool

from IPython.display import display

DB='postgresql+psycopg2:///ucnstudy_hostview_data'

engine = create_engine(DB, echo=False, poolclass=NullPool)
Base.metadata.bind = engine
Session = sessionmaker(bind=engine)

In [3]:
ses = Session()
devices = ses.query(Devices)

for device in devices:
    #select only users from ucnstudy
    if device.id == 5 or device.id == 6 or device.id == 8 or device.id == 11 or device.id == 12:
        print (device.device_id + '===============')

        sql_beg_day = text('SELECT distinct session_id, io.logged_at, io.device \
        FROM io join \
        (SELECT DATE(logged_at) as date_entered, MIN(logged_at) as min_time \
        FROM io \
        WHERE session_id =:dev_id and extract (hour from logged_at) > 3 \
        GROUP BY date(logged_at)) AS grp ON grp.min_time = io.logged_at order by io.logged_at;').bindparams(dev_id = device.id)
        result_beg_day = ses.execute(sql_beg_day)
            
        sql_end_day = text('SELECT distinct session_id, io.logged_at, io.device \
        FROM io join \
        (SELECT DATE(logged_at) as date_entered, MAX(logged_at) as max_time \
        FROM io \
        WHERE session_id =:dev_id \
        GROUP BY date(logged_at)) AS grp ON grp.max_time = io.logged_at order by io.logged_at;').bindparams(dev_id = device.id)
        result_end_day = ses.execute(sql_end_day)

        sql_beg_day_nolimit = text('SELECT distinct session_id, io.logged_at, io.device \
        FROM io join \
        (SELECT DATE(logged_at) as date_entered, MIN(logged_at) as min_time \
        FROM io \
        WHERE session_id =:dev_id \
        GROUP BY date(logged_at)) AS grp ON grp.min_time = io.logged_at order by io.logged_at;').bindparams(dev_id= device.id)
        result_beg_day_nolimit = ses.execute(sql_beg_day_nolimit)
            
        #organize data
        info_end = defaultdict(list)
        for row in result_end_day:
            info_end['devid'].append(row[0])
            info_end['ts_end'].append(row[1])
            info_end['interaction'].append(row[2])

        info_beg = defaultdict(list)
        for row in result_beg_day:
            info_beg['devid'].append(row[0])
            info_beg['ts_start'].append(row[1])
            info_beg['interaction'].append(row[2])  
                
        #add days that only have value before 3 am
        for row in result_beg_day_nolimit:
            timst = row[1]
            in_list = False
            for dt in info_beg['ts_start']:
                if dt.date() == timst.date():
                    in_list = True
            if in_list == False:
                #insert in the correct position
                cont = 0
                for dat in info_beg['ts_start']:
                    if timst.date() > dat.date():
                        cont = cont + 1
                        info_beg['ts_start'].insert(cont, timst)
                        info_beg['devid'].insert(cont, row[0])
                        info_beg['interaction'].insert(cont, row[2])
                    
        df_beg = pd.DataFrame(info_beg)
        display(df_beg)
        df_end = pd.DataFrame(info_end)
        display(df_end)
        
        
        #creates table per day for beginning
        info_week = defaultdict(list)
        if (info_beg['ts_start']):
            cont = 0
            for timst in info_beg['ts_start']:
                day = timst
                weekday = day.strftime('%A')
                info_week[weekday].append(day)
                info_week[weekday+'interaction'].append(info_beg['interaction'][cont])
                cont = cont + 1
         
        print (device.device_id + '===============')
        days_str = {'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday','Saturday', 'Sunday'}
        for name in days_str:
            df_col = defaultdict(list)
            df_col[name+' start'] = info_week[name]
            df_col['interaction'] = info_week[name+'interaction']
            df_week = pd.DataFrame(df_col)
            display(df_week)
            
                    #creates table per day for ending
        info_week = defaultdict(list)
        if (info_end['ts_end']):
            cont = 0
            for timst in info_end['ts_end']:
                day = timst
                weekday = day.strftime('%A')
                info_week[weekday].append(day)
                info_week[weekday+'interaction'].append(info_end['interaction'][cont])
                cont = cont + 1
             
        print (device.device_id + '===============')
        days_str = {'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday','Saturday', 'Sunday'}
        for name in days_str:
            df_col = defaultdict(list)
            df_col[name+' end'] = info_week[name] 
            df_col['interaction'] = info_week[name+'interaction']
            df_week = pd.DataFrame(df_col)
            display(df_week)

kemianny.mainlaptop===============

    devid  interaction                ts_start
0       5            3 2015-11-11 18:01:41.322
1       5            3 2015-11-13 10:42:44.273
2       5            4 2015-11-16 11:18:40.161
3       5            3 2015-11-17 11:08:40.846
4       5            4 2015-11-20 11:04:55.844
5       5            4 2015-11-21 13:39:23.411
6       5            4 2015-11-22 12:22:12.669
7       5            4 2015-11-23 13:09:47.428
8       5            3 2015-11-24 13:24:36.921
9       5            4 2015-11-25 14:30:50.615
10      5            1 2015-11-26 07:04:22.459

    devid  interaction                  ts_end
0       5            3 2015-11-11 18:34:36.603
1       5            3 2015-11-13 15:05:17.405
2       5            3 2015-11-16 15:32:33.088
3       5            1 2015-11-17 13:20:30.740
4       5            1 2015-11-20 16:15:26.665
5       5            3 2015-11-21 22:24:34.246
6       5            4 2015-11-22 22:50:05.022
7       5            4 2015-11-23 18:07:49.617
8       5            3 2015-11-24 15:50:13.527
9       5            3 2015-11-25 22:02:41.005
10      5            1 2015-11-26 15:40:07.185

kemianny.mainlaptop===============

             Monday start  interaction
0 2015-11-16 11:18:40.161            4
1 2015-11-23 13:09:47.428            4

            Tuesday start  interaction
0 2015-11-17 11:08:40.846            3
1 2015-11-24 13:24:36.921            3

             Friday start  interaction
0 2015-11-13 10:42:44.273            3
1 2015-11-20 11:04:55.844            4

          Wednesday start  interaction
0 2015-11-11 18:01:41.322            3
1 2015-11-25 14:30:50.615            4

           Thursday start  interaction
0 2015-11-26 07:04:22.459            1

             Sunday start  interaction
0 2015-11-22 12:22:12.669            4

           Saturday start  interaction
0 2015-11-21 13:39:23.411            4

kemianny.mainlaptop===============

               Monday end  interaction
0 2015-11-16 15:32:33.088            3
1 2015-11-23 18:07:49.617            4

              Tuesday end  interaction
0 2015-11-17 13:20:30.740            1
1 2015-11-24 15:50:13.527            3

               Friday end  interaction
0 2015-11-13 15:05:17.405            3
1 2015-11-20 16:15:26.665            1

            Wednesday end  interaction
0 2015-11-11 18:34:36.603            3
1 2015-11-25 22:02:41.005            3

             Thursday end  interaction
0 2015-11-26 15:40:07.185            1

               Sunday end  interaction
0 2015-11-22 22:50:05.022            4

             Saturday end  interaction
0 2015-11-21 22:24:34.246            3

neenagupta.workpc===============

    devid  interaction                ts_start
0       6            3 2015-11-10 10:10:30.555
1       6            3 2015-11-11 10:02:31.407
2       6            3 2015-11-12 09:53:18.343
3       6            3 2015-11-13 09:49:28.112
4       6            3 2015-11-14 11:36:45.425
5       6            3 2015-11-16 09:51:11.184
6       6            3 2015-11-18 09:44:50.895
7       6            4 2015-11-19 09:44:32.403
8       6            4 2015-11-20 09:44:28.895
9       6            3 2015-11-21 11:55:04.365
10      6            4 2015-11-22 16:36:07.374
11      6            4 2015-11-23 09:50:53.776
12      6            3 2015-11-25 09:46:54.909

    devid  interaction                  ts_end
0       6            3 2015-11-10 14:58:43.070
1       6            3 2015-11-11 10:28:37.243
2       6            3 2015-11-12 09:57:28.331
3       6            3 2015-11-13 09:51:02.064
4       6            1 2015-11-14 13:44:59.079
5       6            3 2015-11-16 09:54:37.205
6       6            4 2015-11-18 10:40:08.083
7       6            3 2015-11-19 09:53:05.893
8       6            3 2015-11-20 09:48:07.514
9       6            3 2015-11-21 13:38:39.206
10      6            3 2015-11-22 16:38:48.973
11      6            3 2015-11-23 09:52:35.682
12      6            3 2015-11-25 13:58:12.487

neenagupta.workpc===============

             Monday start  interaction
0 2015-11-16 09:51:11.184            3
1 2015-11-23 09:50:53.776            4

            Tuesday start  interaction
0 2015-11-10 10:10:30.555            3

             Friday start  interaction
0 2015-11-13 09:49:28.112            3
1 2015-11-20 09:44:28.895            4

          Wednesday start  interaction
0 2015-11-11 10:02:31.407            3
1 2015-11-18 09:44:50.895            3
2 2015-11-25 09:46:54.909            3

           Thursday start  interaction
0 2015-11-12 09:53:18.343            3
1 2015-11-19 09:44:32.403            4

             Sunday start  interaction
0 2015-11-22 16:36:07.374            4

           Saturday start  interaction
0 2015-11-14 11:36:45.425            3
1 2015-11-21 11:55:04.365            3

neenagupta.workpc===============

               Monday end  interaction
0 2015-11-16 09:54:37.205            3
1 2015-11-23 09:52:35.682            3

              Tuesday end  interaction
0 2015-11-10 14:58:43.070            3

               Friday end  interaction
0 2015-11-13 09:51:02.064            3
1 2015-11-20 09:48:07.514            3

            Wednesday end  interaction
0 2015-11-11 10:28:37.243            3
1 2015-11-18 10:40:08.083            4
2 2015-11-25 13:58:12.487            3

             Thursday end  interaction
0 2015-11-12 09:57:28.331            3
1 2015-11-19 09:53:05.893            3

               Sunday end  interaction
0 2015-11-22 16:38:48.973            3

             Saturday end  interaction
0 2015-11-14 13:44:59.079            1
1 2015-11-21 13:38:39.206            3

gluch.laptop===============

   devid  interaction                ts_start
0      8            3 2015-11-20 19:19:05.475
1      8            4 2015-11-21 15:27:24.200
2      8            3 2015-11-22 10:00:16.227
3      8            4 2015-11-23 10:40:36.876
4      8            4 2015-11-24 19:05:11.330
5      8            4 2015-11-25 15:30:52.202
6      8            3 2015-11-26 11:16:20.911

   devid  interaction                  ts_end
0      8            3 2015-11-20 20:34:45.527
1      8            3 2015-11-21 22:17:04.984
2      8            3 2015-11-22 21:39:57.224
3      8            3 2015-11-23 23:00:05.459
4      8            3 2015-11-24 20:33:49.357
5      8            3 2015-11-25 22:58:10.818
6      8            3 2015-11-26 22:05:30.878

gluch.laptop===============

             Monday start  interaction
0 2015-11-23 10:40:36.876            4

            Tuesday start  interaction
0 2015-11-24 19:05:11.330            4

             Friday start  interaction
0 2015-11-20 19:19:05.475            3

          Wednesday start  interaction
0 2015-11-25 15:30:52.202            4

           Thursday start  interaction
0 2015-11-26 11:16:20.911            3

             Sunday start  interaction
0 2015-11-22 10:00:16.227            3

           Saturday start  interaction
0 2015-11-21 15:27:24.200            4

gluch.laptop===============

               Monday end  interaction
0 2015-11-23 23:00:05.459            3

              Tuesday end  interaction
0 2015-11-24 20:33:49.357            3

               Friday end  interaction
0 2015-11-20 20:34:45.527            3

            Wednesday end  interaction
0 2015-11-25 22:58:10.818            3

             Thursday end  interaction
0 2015-11-26 22:05:30.878            3

               Sunday end  interaction
0 2015-11-22 21:39:57.224            3

             Saturday end  interaction
0 2015-11-21 22:17:04.984            3

michaelbrogan.laptop===============

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

michaelbrogan.laptop===============

Empty DataFrame
Columns: [Monday start, interaction]
Index: []

Empty DataFrame
Columns: [Tuesday start, interaction]
Index: []

Empty DataFrame
Columns: [Friday start, interaction]
Index: []

Empty DataFrame
Columns: [Wednesday start, interaction]
Index: []

Empty DataFrame
Columns: [Thursday start, interaction]
Index: []

Empty DataFrame
Columns: [Sunday start, interaction]
Index: []

Empty DataFrame
Columns: [Saturday start, interaction]
Index: []

michaelbrogan.laptop===============

Empty DataFrame
Columns: [Monday end, interaction]
Index: []

Empty DataFrame
Columns: [Tuesday end, interaction]
Index: []

Empty DataFrame
Columns: [Friday end, interaction]
Index: []

Empty DataFrame
Columns: [Wednesday end, interaction]
Index: []

Empty DataFrame
Columns: [Thursday end, interaction]
Index: []

Empty DataFrame
Columns: [Sunday end, interaction]
Index: []

Empty DataFrame
Columns: [Saturday end, interaction]
Index: []

clifford.mainlaptop===============

    devid  interaction                ts_start
0      12            3 2015-11-11 15:16:12.124
1      12            1 2015-11-12 20:02:32.962
2      12            3 2015-11-12 20:02:32.962
3      12            4 2015-11-13 08:59:33.516
4      12            3 2015-11-14 10:28:45.018
5      12            4 2015-11-15 11:35:24.559
6      12            1 2015-11-16 09:46:20.952
7      12            3 2015-11-16 09:46:20.952
8      12            4 2015-11-17 12:02:02.508
9      12            3 2015-11-18 14:03:54.808
10     12            1 2015-11-19 09:02:40.689
11     12            3 2015-11-19 09:02:40.689
12     12            3 2015-11-20 08:34:40.792
13     12            1 2015-11-21 12:28:00.077
14     12            3 2015-11-21 12:28:00.077
15     12            3 2015-11-22 04:08:49.837
16     12            3 2015-11-23 07:07:42.941
17     12            1 2015-11-24 12:08:24.766
18     12            3 2015-11-24 12:08:24.766
19     12            1 2015-11-25 09:29:57.859
20     12            3 2015-11-25 09:29:57.859
21     12            3 2015-11-26 12:44:30.301

    devid  interaction                  ts_end
0      12            3 2015-11-11 15:49:49.677
1      12            3 2015-11-12 22:19:06.758
2      12            4 2015-11-13 23:24:17.985
3      12            3 2015-11-14 23:58:51.579
4      12            3 2015-11-15 22:00:03.229
5      12            4 2015-11-16 22:08:25.244
6      12            3 2015-11-17 23:30:58.474
7      12            3 2015-11-18 23:04:43.193
8      12            3 2015-11-19 23:37:56.787
9      12            3 2015-11-20 21:58:18.854
10     12            3 2015-11-21 20:50:52.640
11     12            3 2015-11-22 23:59:59.364
12     12            3 2015-11-23 23:42:16.263
13     12            3 2015-11-24 21:52:17.002
14     12            3 2015-11-25 23:58:08.959
15     12            3 2015-11-26 17:21:33.594

clifford.mainlaptop===============

             Monday start  interaction
0 2015-11-16 09:46:20.952            1
1 2015-11-16 09:46:20.952            3
2 2015-11-23 07:07:42.941            3

            Tuesday start  interaction
0 2015-11-17 12:02:02.508            4
1 2015-11-24 12:08:24.766            1
2 2015-11-24 12:08:24.766            3

             Friday start  interaction
0 2015-11-13 08:59:33.516            4
1 2015-11-20 08:34:40.792            3

          Wednesday start  interaction
0 2015-11-11 15:16:12.124            3
1 2015-11-18 14:03:54.808            3
2 2015-11-25 09:29:57.859            1
3 2015-11-25 09:29:57.859            3

           Thursday start  interaction
0 2015-11-12 20:02:32.962            1
1 2015-11-12 20:02:32.962            3
2 2015-11-19 09:02:40.689            1
3 2015-11-19 09:02:40.689            3
4 2015-11-26 12:44:30.301            3

             Sunday start  interaction
0 2015-11-15 11:35:24.559            4
1 2015-11-22 04:08:49.837            3

           Saturday start  interaction
0 2015-11-14 10:28:45.018            3
1 2015-11-21 12:28:00.077            1
2 2015-11-21 12:28:00.077            3

clifford.mainlaptop===============

               Monday end  interaction
0 2015-11-16 22:08:25.244            4
1 2015-11-23 23:42:16.263            3

              Tuesday end  interaction
0 2015-11-17 23:30:58.474            3
1 2015-11-24 21:52:17.002            3

               Friday end  interaction
0 2015-11-13 23:24:17.985            4
1 2015-11-20 21:58:18.854            3

            Wednesday end  interaction
0 2015-11-11 15:49:49.677            3
1 2015-11-18 23:04:43.193            3
2 2015-11-25 23:58:08.959            3

             Thursday end  interaction
0 2015-11-12 22:19:06.758            3
1 2015-11-19 23:37:56.787            3
2 2015-11-26 17:21:33.594            3

               Sunday end  interaction
0 2015-11-15 22:00:03.229            3
1 2015-11-22 23:59:59.364            3

             Saturday end  interaction
0 2015-11-14 23:58:51.579            3
1 2015-11-21 20:50:52.640            3