In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

import matplotlib.pyplot as plt

from collections import defaultdict

from model.Base import Base
from model.Device import Device
from model.DnsReq import DnsReq
from model.User import User
from model.user_devices import user_devices

from sqlalchemy import create_engine, text, func
from sqlalchemy.orm import sessionmaker
from sqlalchemy.pool import NullPool

from IPython.display import display

DB='postgresql+psycopg2:///ucnstudy'

engine = create_engine(DB, echo=False, poolclass=NullPool)
Base.metadata.bind = engine
Session = sessionmaker(bind=engine)

In [3]:
ses = Session()
users = ses.query(User)

for user in users:
    sql_user_devices = text('select * from user, user_devices where user_devices.user_id =:user').bindparams(user = user.id)
    user_devices = ses.execute(sql_user_devices)

    #will get the starting time and ending times considering all devices
    print ("user: " + str(user.id) + "=======================")
    quantity_dev = 0
    info_week_beg = {}
    info_week_end ={}
    for dev in user_devices:

        sql_beg_day = text('SELECT distinct devid, dnsreqs.ts, query_domain \
        FROM dnsreqs join \
        (SELECT DATE(ts) as date_entered, MIN(ts) as min_time \
        FROM dnsreqs \
        WHERE devid = :d_id and extract (hour from ts) > 3 GROUP BY date(ts))\
        AS grp ON grp.min_time = dnsreqs.ts order by dnsreqs.ts;').bindparams(d_id = dev.device_id)
        result_beg_day = ses.execute(sql_beg_day)
            
        sql_end_day = text('SELECT distinct devid, dnsreqs.ts, query_domain \
        FROM dnsreqs join \
        (SELECT DATE(ts) as date_entered, MAX(ts) as max_time \
        FROM dnsreqs \
        WHERE devid = :d_id GROUP BY date(ts)) \
        AS grp ON grp.max_time = dnsreqs.ts order by dnsreqs.ts;').bindparams(d_id = dev.device_id)
        result_end_day = ses.execute(sql_end_day)

        sql_beg_day_nolimit = text('SELECT distinct devid, dnsreqs.ts, query_domain \
        FROM dnsreqs join \
        (SELECT DATE(ts) as date_entered, MIN(ts) as min_time \
        FROM dnsreqs \
        WHERE devid = :d_id GROUP BY date(ts))\
        AS grp ON grp.min_time = dnsreqs.ts order by dnsreqs.ts;').bindparams(d_id = dev.device_id)
        result_beg_day_nolimit = ses.execute(sql_beg_day_nolimit)
            
        devices_result = ses.query(Device).order_by(Device.id)
        devices_platform = {}
        for item in devices_result:
            devices_platform[item.id] = item.platform

        #organize data
        info_end = defaultdict(list)
        for row in result_end_day:
            info_end['devid'].append(row[0])
            info_end['end'].append(row[1])
            info_end['domain'].append(row[2])
        
        info_beg = defaultdict(list)
        for row in result_beg_day:
            info_beg['devid'].append(row[0])
            info_beg['start'].append(row[1])
            info_beg['domain'].append(row[2])

        #add days that only have value before 3 am
        for row in result_beg_day_nolimit:
            timst = row[1]
            in_list = False
            for dt in info_beg['start']:
                if dt.date() == timst.date():
                    in_list = True
            if in_list == False:
                #insert in the correct position
                cont = 0
                for dat in info_beg['start']:
                    if timst.date() > dat.date():
                        cont = cont + 1
                info_beg['start'].insert(cont, timst)
                info_beg['devid'].insert(cont, row[0])
                info_beg['domain'].insert(cont, row[2])

        df_beg = pd.DataFrame(info_beg)
        display(df_beg)
        df_end = pd.DataFrame(info_end)
        display(df_end)
        
        
        #creates table per day for beginning
        info_week = defaultdict(list)
        if (info_beg['start']):
            cont = 0
            for timst in info_beg['start']:
                day = timst
                weekday = day.strftime('%A')
                info_week[weekday].append(day)
                info_week[weekday+'domain'].append(info_beg['domain'][cont])
                cont = cont + 1
         
        print('Device platform: ' + devices_platform[dev.device_id])
        days_str = {'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday','Saturday', 'Sunday'}
        for name in days_str:
            df_col = defaultdict(list)
            df_col['device'] = str(dev.device_id)
            df_col[name+' start'] = info_week[name]
            df_col['domain'] = info_week[name+'domain']
            df_week = pd.DataFrame(df_col)
            display(df_week)
            
            
        #creates table per day for ending
        info_week = defaultdict(list)
        if (info_end['end']):
            cont = 0
            for timst in info_end['end']:
                day = timst
                weekday = day.strftime('%A')
                info_week[weekday].append(day)
                info_week[weekday+'domain'].append(info_end['domain'][cont])
                cont = cont + 1
             
        print('Device platform: ' + devices_platform[dev.device_id])
        days_str = {'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday','Saturday', 'Sunday'}
        for name in days_str:
            df_col = defaultdict(list)
            df_col['device'] = str(dev.device_id)
            df_col[name+' end'] = info_week[name] 
            df_col['domain'] = info_week[name+'domain']
            df_week = pd.DataFrame(df_col)
            display(df_week)

user: 1=======================

    devid           domain                      start
0       6    microsoft.com 2015-03-05 21:48:09.027392
1       6       isatap.lan 2015-03-06 14:06:25.477486
2       6       isatap.lan 2015-03-07 11:27:28.516714
3       6         bing.com 2015-03-08 00:00:09.961958
4       6    microsoft.com 2015-03-09 18:45:06.591467
5       6   univ-paris3.fr 2015-03-12 10:05:48.064145
6       6      windows.com 2015-03-14 13:09:54.445765
7       6     symantec.com 2015-03-15 14:16:16.246682
8       6    microsoft.com 2015-03-16 19:08:00.680799
9       6  googlevideo.com 2015-03-17 19:38:47.806537
10      6         live.com 2015-03-18 00:04:59.967242
11      6       isatap.lan 2015-03-19 15:44:32.823018
12      6    microsoft.com 2015-03-24 14:23:50.931440
13      6         live.com 2015-03-25 19:37:58.556207
14      6       isatap.lan 2015-03-29 13:48:57.297137
15      6    microsoft.com 2015-04-05 12:31:37.027107
16      6       google.com 2015-04-06 00:04:51.505107
17      6    microsoft.com 2015-04-07 15:01:03.089605
18      6       sascdn.com 2015-04-15 21:04:56.252026

    devid             domain                        end
0       6         google.com 2015-03-05 23:57:41.262526
1       6    sociomantic.com 2015-03-06 23:16:28.906022
2       6         google.com 2015-03-07 23:57:04.582814
3       6     googleapis.com 2015-03-08 00:16:09.255980
4       6  papystreaming.com 2015-03-09 22:35:46.926885
5       6     theviilage.com 2015-03-12 23:11:25.820677
6       6          google.fr 2015-03-14 22:30:12.594612
7       6         google.com 2015-03-15 15:39:36.854986
8       6    googlevideo.com 2015-03-16 23:59:59.925316
9       6         google.com 2015-03-17 23:58:21.016543
10      6         google.com 2015-03-18 00:12:38.339443
11      6          s-msn.com 2015-03-19 23:23:05.663748
12      6         google.com 2015-03-24 19:41:31.675374
13      6     joyreactor.com 2015-03-25 22:50:35.074980
14      6         google.com 2015-03-29 23:32:53.497775
15      6           live.com 2015-04-05 23:59:31.095576
16      6         google.com 2015-04-06 01:28:25.668705
17      6        gstatic.com 2015-04-07 22:11:34.925235
18      6        gstatic.com 2015-04-15 21:04:56.323837

Device platform: windows-laptop

                Monday start device         domain
0 2015-03-09 18:45:06.591467      6  microsoft.com
1 2015-03-16 19:08:00.680799      6  microsoft.com
2 2015-04-06 00:04:51.505107      6     google.com

               Tuesday start device           domain
0 2015-03-17 19:38:47.806537      6  googlevideo.com
1 2015-03-24 14:23:50.931440      6    microsoft.com
2 2015-04-07 15:01:03.089605      6    microsoft.com

                Friday start device      domain
0 2015-03-06 14:06:25.477486      6  isatap.lan

             Wednesday start device      domain
0 2015-03-18 00:04:59.967242      6    live.com
1 2015-03-25 19:37:58.556207      6    live.com
2 2015-04-15 21:04:56.252026      6  sascdn.com

              Thursday start device          domain
0 2015-03-05 21:48:09.027392      6   microsoft.com
1 2015-03-12 10:05:48.064145      6  univ-paris3.fr
2 2015-03-19 15:44:32.823018      6      isatap.lan

                Sunday start device         domain
0 2015-03-08 00:00:09.961958      6       bing.com
1 2015-03-15 14:16:16.246682      6   symantec.com
2 2015-03-29 13:48:57.297137      6     isatap.lan
3 2015-04-05 12:31:37.027107      6  microsoft.com

              Saturday start device       domain
0 2015-03-07 11:27:28.516714      6   isatap.lan
1 2015-03-14 13:09:54.445765      6  windows.com

Device platform: windows-laptop

                  Monday end device             domain
0 2015-03-09 22:35:46.926885      6  papystreaming.com
1 2015-03-16 23:59:59.925316      6    googlevideo.com
2 2015-04-06 01:28:25.668705      6         google.com

                 Tuesday end device       domain
0 2015-03-17 23:58:21.016543      6   google.com
1 2015-03-24 19:41:31.675374      6   google.com
2 2015-04-07 22:11:34.925235      6  gstatic.com

                  Friday end device           domain
0 2015-03-06 23:16:28.906022      6  sociomantic.com

               Wednesday end device          domain
0 2015-03-18 00:12:38.339443      6      google.com
1 2015-03-25 22:50:35.074980      6  joyreactor.com
2 2015-04-15 21:04:56.323837      6     gstatic.com

                Thursday end device          domain
0 2015-03-05 23:57:41.262526      6      google.com
1 2015-03-12 23:11:25.820677      6  theviilage.com
2 2015-03-19 23:23:05.663748      6       s-msn.com

                  Sunday end device          domain
0 2015-03-08 00:16:09.255980      6  googleapis.com
1 2015-03-15 15:39:36.854986      6      google.com
2 2015-03-29 23:32:53.497775      6      google.com
3 2015-04-05 23:59:31.095576      6        live.com

                Saturday end device      domain
0 2015-03-07 23:57:04.582814      6  google.com
1 2015-03-14 22:30:12.594612      6   google.fr

user: 2=======================

    devid                domain                      start
0       1             apple.com 2015-03-05 10:31:16.459500
1       1  google-analytics.com 2015-03-06 14:22:11.123059
2       1            akadns.net 2015-03-07 10:18:58.614075
3       1            akadns.net 2015-03-17 20:12:04.870432
4       1           hotmail.com 2015-03-19 04:02:16.218325
5       1             apple.com 2015-03-20 00:01:01.269057
6       1          facebook.com 2015-03-21 08:13:44.107428
7       1            akadns.net 2015-03-22 00:00:32.059684
8       1          facebook.com 2015-03-25 00:01:57.595135
9       1          facebook.com 2015-03-29 14:37:38.739780
10      1          facebook.com 2015-04-05 10:08:08.804733
11      1          facebook.com 2015-04-06 09:40:54.126977
12      1          facebook.com 2015-04-07 04:08:34.994354
13      1          facebook.com 2015-04-08 00:05:07.423757
14      1            akadns.net 2015-04-21 21:24:20.474711
15      1             skype.com 2015-05-02 01:26:47.155455
16      1          cloudapp.net 2015-06-03 21:34:28.466620

    devid          domain                        end
0       1       apple.com 2015-03-05 13:29:59.209259
1       1      icloud.com 2015-03-06 16:20:34.804192
2       1  akamaiedge.net 2015-03-07 23:42:07.730849
3       1      akadns.net 2015-03-17 23:41:53.110685
4       1      akadns.net 2015-03-19 23:59:57.428200
5       1      akadns.net 2015-03-20 00:15:00.065097
6       1      akadns.net 2015-03-21 23:59:46.475630
7       1  cloudfront.net 2015-03-22 00:16:22.849358
8       1      akadns.net 2015-03-25 00:13:28.174650
9       1       apple.com 2015-03-29 20:23:19.064370
10      1    facebook.com 2015-04-05 23:58:53.443884
11      1      akadns.net 2015-04-06 23:58:17.008839
12      1     hotmail.com 2015-04-07 23:53:18.864817
13      1      akadns.net 2015-04-08 00:14:32.107832
14      1      akadns.net 2015-04-21 21:24:20.479385
15      1       skype.com 2015-05-02 01:26:47.169393
16      1    cloudapp.net 2015-06-03 21:34:28.466620

Device platform: iphone

                Monday start device        domain
0 2015-04-06 09:40:54.126977      1  facebook.com

               Tuesday start device        domain
0 2015-03-17 20:12:04.870432      1    akadns.net
1 2015-04-07 04:08:34.994354      1  facebook.com
2 2015-04-21 21:24:20.474711      1    akadns.net

                Friday start device                domain
0 2015-03-06 14:22:11.123059      1  google-analytics.com
1 2015-03-20 00:01:01.269057      1             apple.com

             Wednesday start device        domain
0 2015-03-25 00:01:57.595135      1  facebook.com
1 2015-04-08 00:05:07.423757      1  facebook.com
2 2015-06-03 21:34:28.466620      1  cloudapp.net

              Thursday start device       domain
0 2015-03-05 10:31:16.459500      1    apple.com
1 2015-03-19 04:02:16.218325      1  hotmail.com

                Sunday start device        domain
0 2015-03-22 00:00:32.059684      1    akadns.net
1 2015-03-29 14:37:38.739780      1  facebook.com
2 2015-04-05 10:08:08.804733      1  facebook.com

              Saturday start device        domain
0 2015-03-07 10:18:58.614075      1    akadns.net
1 2015-03-21 08:13:44.107428      1  facebook.com
2 2015-05-02 01:26:47.155455      1     skype.com

Device platform: iphone

                  Monday end device      domain
0 2015-04-06 23:58:17.008839      1  akadns.net

                 Tuesday end device       domain
0 2015-03-17 23:41:53.110685      1   akadns.net
1 2015-04-07 23:53:18.864817      1  hotmail.com
2 2015-04-21 21:24:20.479385      1   akadns.net

                  Friday end device      domain
0 2015-03-06 16:20:34.804192      1  icloud.com
1 2015-03-20 00:15:00.065097      1  akadns.net

               Wednesday end device        domain
0 2015-03-25 00:13:28.174650      1    akadns.net
1 2015-04-08 00:14:32.107832      1    akadns.net
2 2015-06-03 21:34:28.466620      1  cloudapp.net

                Thursday end device      domain
0 2015-03-05 13:29:59.209259      1   apple.com
1 2015-03-19 23:59:57.428200      1  akadns.net

                  Sunday end device          domain
0 2015-03-22 00:16:22.849358      1  cloudfront.net
1 2015-03-29 20:23:19.064370      1       apple.com
2 2015-04-05 23:58:53.443884      1    facebook.com

                Saturday end device          domain
0 2015-03-07 23:42:07.730849      1  akamaiedge.net
1 2015-03-21 23:59:46.475630      1      akadns.net
2 2015-05-02 01:26:47.169393      1       skype.com

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Device platform: windows-laptop

Empty DataFrame
Columns: [Monday start, device, domain]
Index: []

Empty DataFrame
Columns: [Tuesday start, device, domain]
Index: []

Empty DataFrame
Columns: [Friday start, device, domain]
Index: []

Empty DataFrame
Columns: [Wednesday start, device, domain]
Index: []

Empty DataFrame
Columns: [Thursday start, device, domain]
Index: []

Empty DataFrame
Columns: [Sunday start, device, domain]
Index: []

Empty DataFrame
Columns: [Saturday start, device, domain]
Index: []

Device platform: windows-laptop

Empty DataFrame
Columns: [Monday end, device, domain]
Index: []

Empty DataFrame
Columns: [Tuesday end, device, domain]
Index: []

Empty DataFrame
Columns: [Friday end, device, domain]
Index: []

Empty DataFrame
Columns: [Wednesday end, device, domain]
Index: []

Empty DataFrame
Columns: [Thursday end, device, domain]
Index: []

Empty DataFrame
Columns: [Sunday end, device, domain]
Index: []

Empty DataFrame
Columns: [Saturday end, device, domain]
Index: []

user: 3=======================

    devid         domain                      start
0       4  microsoft.com 2015-03-01 07:47:31.477042
1       4  microsoft.com 2015-03-03 06:49:27.923061
2       4  microsoft.com 2015-03-05 07:12:57.580735
3       4  microsoft.com 2015-03-06 09:27:49.172548
4       4     google.com 2015-03-07 13:44:40.732706
5       4  microsoft.com 2015-03-08 00:00:23.287967
6       4  microsoft.com 2015-03-09 07:54:28.472884
7       4  microsoft.com 2015-03-12 16:49:40.494217
8       4  microsoft.com 2015-03-13 09:08:49.541853
9       4  microsoft.com 2015-03-14 23:02:44.819863
10      4   akamaihd.net 2015-03-15 00:00:20.274101
11      4  microsoft.com 2015-03-16 07:40:51.767379
12      4  microsoft.com 2015-03-17 07:52:49.983959
13      4  microsoft.com 2015-03-19 22:01:12.488676
14      4  microsoft.com 2015-03-21 08:17:15.069081
15      4  microsoft.com 2015-03-24 07:30:10.663871
16      4      fbcdn.net 2015-03-25 22:50:31.948897
17      4  microsoft.com 2015-03-29 20:02:10.881031
18      4   akamaihd.net 2015-03-30 00:00:05.292018
19      4  microsoft.com 2015-04-05 09:05:56.291764
20      4  microsoft.com 2015-04-06 09:06:25.901407
21      4  microsoft.com 2015-04-07 08:28:34.196565
22      4  microsoft.com 2015-06-12 07:18:50.655350

    devid                 domain                        end
0       4                ntp.org 2015-03-01 21:00:18.975444
1       4                ntp.org 2015-03-03 09:55:16.404654
2       4                ntp.org 2015-03-05 23:19:28.926246
3       4             jwpltx.com 2015-03-06 23:59:43.137605
4       4          microsoft.com 2015-03-07 16:02:46.569310
5       4            twitter.com 2015-03-08 00:16:53.475028
6       4          fastclick.net 2015-03-09 21:52:18.265992
7       4                ntp.org 2015-03-12 21:35:21.700963
8       4          microsoft.com 2015-03-13 09:25:09.694741
9       4             google.com 2015-03-14 23:59:39.290760
10      4           akamaihd.net 2015-03-15 00:01:00.833200
11      4    ero-advertising.com 2015-03-16 22:36:12.264290
12      4                ntp.org 2015-03-17 22:39:56.553892
13      4  googlesyndication.com 2015-03-19 22:59:31.198875
14      4           msftncsi.com 2015-03-21 13:56:32.010460
15      4            xvideos.com 2015-03-24 22:43:33.788432
16      4              fbcdn.net 2015-03-25 22:50:31.948897
17      4           akamaihd.net 2015-03-29 23:59:56.030973
18      4              s-msn.com 2015-03-30 00:01:44.603257
19      4              arxiv.org 2015-04-05 18:35:35.040226
20      4                ntp.org 2015-04-06 16:50:34.751536
21      4                msn.com 2015-04-07 23:08:18.435966
22      4          microsoft.com 2015-06-12 10:16:21.028127

Device platform: windows-laptop

                Monday start device         domain
0 2015-03-09 07:54:28.472884      4  microsoft.com
1 2015-03-16 07:40:51.767379      4  microsoft.com
2 2015-03-30 00:00:05.292018      4   akamaihd.net
3 2015-04-06 09:06:25.901407      4  microsoft.com

               Tuesday start device         domain
0 2015-03-03 06:49:27.923061      4  microsoft.com
1 2015-03-17 07:52:49.983959      4  microsoft.com
2 2015-03-24 07:30:10.663871      4  microsoft.com
3 2015-04-07 08:28:34.196565      4  microsoft.com

                Friday start device         domain
0 2015-03-06 09:27:49.172548      4  microsoft.com
1 2015-03-13 09:08:49.541853      4  microsoft.com
2 2015-06-12 07:18:50.655350      4  microsoft.com

             Wednesday start device     domain
0 2015-03-25 22:50:31.948897      4  fbcdn.net

              Thursday start device         domain
0 2015-03-05 07:12:57.580735      4  microsoft.com
1 2015-03-12 16:49:40.494217      4  microsoft.com
2 2015-03-19 22:01:12.488676      4  microsoft.com

                Sunday start device         domain
0 2015-03-01 07:47:31.477042      4  microsoft.com
1 2015-03-08 00:00:23.287967      4  microsoft.com
2 2015-03-15 00:00:20.274101      4   akamaihd.net
3 2015-03-29 20:02:10.881031      4  microsoft.com
4 2015-04-05 09:05:56.291764      4  microsoft.com

              Saturday start device         domain
0 2015-03-07 13:44:40.732706      4     google.com
1 2015-03-14 23:02:44.819863      4  microsoft.com
2 2015-03-21 08:17:15.069081      4  microsoft.com

Device platform: windows-laptop

                  Monday end device               domain
0 2015-03-09 21:52:18.265992      4        fastclick.net
1 2015-03-16 22:36:12.264290      4  ero-advertising.com
2 2015-03-30 00:01:44.603257      4            s-msn.com
3 2015-04-06 16:50:34.751536      4              ntp.org

                 Tuesday end device       domain
0 2015-03-03 09:55:16.404654      4      ntp.org
1 2015-03-17 22:39:56.553892      4      ntp.org
2 2015-03-24 22:43:33.788432      4  xvideos.com
3 2015-04-07 23:08:18.435966      4      msn.com

                  Friday end device         domain
0 2015-03-06 23:59:43.137605      4     jwpltx.com
1 2015-03-13 09:25:09.694741      4  microsoft.com
2 2015-06-12 10:16:21.028127      4  microsoft.com

               Wednesday end device     domain
0 2015-03-25 22:50:31.948897      4  fbcdn.net

                Thursday end device                 domain
0 2015-03-05 23:19:28.926246      4                ntp.org
1 2015-03-12 21:35:21.700963      4                ntp.org
2 2015-03-19 22:59:31.198875      4  googlesyndication.com

                  Sunday end device        domain
0 2015-03-01 21:00:18.975444      4       ntp.org
1 2015-03-08 00:16:53.475028      4   twitter.com
2 2015-03-15 00:01:00.833200      4  akamaihd.net
3 2015-03-29 23:59:56.030973      4  akamaihd.net
4 2015-04-05 18:35:35.040226      4     arxiv.org

                Saturday end device         domain
0 2015-03-07 16:02:46.569310      4  microsoft.com
1 2015-03-14 23:59:39.290760      4     google.com
2 2015-03-21 13:56:32.010460      4   msftncsi.com

user: 4=======================

    devid                domain                      start
0       5       BITDEFEnDer.nET 2015-03-01 12:05:36.924478
1       5            icloud.com 2015-03-02 00:00:24.205827
2       5           windows.com 2015-03-05 13:29:47.479147
3       5           windows.com 2015-03-09 13:52:42.563633
4       5     epicunitscan.info 2015-03-12 07:15:01.806362
5       5           windows.com 2015-03-13 10:23:01.905446
6       5     epicunitscan.info 2015-03-21 08:06:10.908092
7       5          leboncoin.fr 2015-03-25 22:50:27.627600
8       5           windows.com 2015-03-29 12:38:20.944815
9       5     epicunitscan.info 2015-04-05 08:34:50.236986
10      5            icloud.com 2015-04-06 04:03:41.831854
11      5           twitter.com 2015-04-07 14:30:13.268131
12      5  vulgaris-medical.com 2015-05-04 18:25:22.443287

    devid                domain                        end
0       5           hotmail.com 2015-03-01 23:57:37.499950
1       5       bitdefender.com 2015-03-02 00:16:58.711643
2       5            icloud.com 2015-03-05 22:21:58.679227
3       5            icloud.com 2015-03-09 23:52:49.112035
4       5              live.com 2015-03-12 23:59:00.320442
5       5            google.com 2015-03-13 21:51:56.021490
6       5           uptobox.com 2015-03-21 13:34:01.366030
7       5       doubleclick.net 2015-03-25 22:50:31.663430
8       5              live.net 2015-03-29 23:47:58.533565
9       5     epicunitscan.info 2015-04-05 13:59:05.256199
10      5               netu.tv 2015-04-06 15:42:57.937014
11      5             adnxs.com 2015-04-07 21:02:39.043050
12      5  vulgaris-medical.com 2015-05-04 18:25:22.443287

Device platform: windows-laptop

                Monday start device                domain
0 2015-03-02 00:00:24.205827      5            icloud.com
1 2015-03-09 13:52:42.563633      5           windows.com
2 2015-04-06 04:03:41.831854      5            icloud.com
3 2015-05-04 18:25:22.443287      5  vulgaris-medical.com

               Tuesday start device       domain
0 2015-04-07 14:30:13.268131      5  twitter.com

                Friday start device       domain
0 2015-03-13 10:23:01.905446      5  windows.com

             Wednesday start device        domain
0 2015-03-25 22:50:27.627600      5  leboncoin.fr

              Thursday start device             domain
0 2015-03-05 13:29:47.479147      5        windows.com
1 2015-03-12 07:15:01.806362      5  epicunitscan.info

                Sunday start device             domain
0 2015-03-01 12:05:36.924478      5    BITDEFEnDer.nET
1 2015-03-29 12:38:20.944815      5        windows.com
2 2015-04-05 08:34:50.236986      5  epicunitscan.info

              Saturday start device             domain
0 2015-03-21 08:06:10.908092      5  epicunitscan.info

Device platform: windows-laptop

                  Monday end device                domain
0 2015-03-02 00:16:58.711643      5       bitdefender.com
1 2015-03-09 23:52:49.112035      5            icloud.com
2 2015-04-06 15:42:57.937014      5               netu.tv
3 2015-05-04 18:25:22.443287      5  vulgaris-medical.com

                 Tuesday end device     domain
0 2015-04-07 21:02:39.043050      5  adnxs.com

                  Friday end device      domain
0 2015-03-13 21:51:56.021490      5  google.com

               Wednesday end device           domain
0 2015-03-25 22:50:31.663430      5  doubleclick.net

                Thursday end device      domain
0 2015-03-05 22:21:58.679227      5  icloud.com
1 2015-03-12 23:59:00.320442      5    live.com

                  Sunday end device             domain
0 2015-03-01 23:57:37.499950      5        hotmail.com
1 2015-03-29 23:47:58.533565      5           live.net
2 2015-04-05 13:59:05.256199      5  epicunitscan.info

                Saturday end device       domain
0 2015-03-21 13:34:01.366030      5  uptobox.com

user: 5=======================

   devid         domain                      start
0      7  amazonaws.com 2015-04-21 23:42:49.151939
1      7         a9.com 2015-04-26 13:41:44.959654
2      7  amazonaws.com 2015-04-27 17:25:49.134889
3      7     wtp101.com 2015-05-05 17:13:49.835754
4      7     indeed.com 2015-05-27 21:38:24.109708
5      7     fr.openvpn 2015-06-12 00:17:59.628031
6      7   in-addr.arpa 2015-06-23 10:23:06.018393

   devid           domain                        end
0      7    amazonaws.com 2015-04-21 23:42:49.151939
1      7           a9.com 2015-04-26 13:41:44.959654
2      7    amazonaws.com 2015-04-27 17:25:49.134889
3      7  sociomantic.com 2015-05-05 17:13:49.976417
4      7       akamai.net 2015-05-27 21:38:24.284804
5      7       google.com 2015-06-12 00:35:56.503260
6      7      addthis.com 2015-06-23 23:06:06.970573

Device platform: macbook

                Monday start device         domain
0 2015-04-27 17:25:49.134889      7  amazonaws.com

               Tuesday start device         domain
0 2015-04-21 23:42:49.151939      7  amazonaws.com
1 2015-05-05 17:13:49.835754      7     wtp101.com
2 2015-06-23 10:23:06.018393      7   in-addr.arpa

                Friday start device      domain
0 2015-06-12 00:17:59.628031      7  fr.openvpn

             Wednesday start device      domain
0 2015-05-27 21:38:24.109708      7  indeed.com

Empty DataFrame
Columns: [Thursday start, device, domain]
Index: []

                Sunday start device  domain
0 2015-04-26 13:41:44.959654      7  a9.com

Empty DataFrame
Columns: [Saturday start, device, domain]
Index: []

Device platform: macbook

                  Monday end device         domain
0 2015-04-27 17:25:49.134889      7  amazonaws.com

                 Tuesday end device           domain
0 2015-04-21 23:42:49.151939      7    amazonaws.com
1 2015-05-05 17:13:49.976417      7  sociomantic.com
2 2015-06-23 23:06:06.970573      7      addthis.com

                  Friday end device      domain
0 2015-06-12 00:35:56.503260      7  google.com

               Wednesday end device      domain
0 2015-05-27 21:38:24.284804      7  akamai.net

Empty DataFrame
Columns: [Thursday end, device, domain]
Index: []

                  Sunday end device  domain
0 2015-04-26 13:41:44.959654      7  a9.com

Empty DataFrame
Columns: [Saturday end, device, domain]
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Device platform: android-phone

Empty DataFrame
Columns: [Monday start, device, domain]
Index: []

Empty DataFrame
Columns: [Tuesday start, device, domain]
Index: []

Empty DataFrame
Columns: [Friday start, device, domain]
Index: []

Empty DataFrame
Columns: [Wednesday start, device, domain]
Index: []

Empty DataFrame
Columns: [Thursday start, device, domain]
Index: []

Empty DataFrame
Columns: [Sunday start, device, domain]
Index: []

Empty DataFrame
Columns: [Saturday start, device, domain]
Index: []

Device platform: android-phone

Empty DataFrame
Columns: [Monday end, device, domain]
Index: []

Empty DataFrame
Columns: [Tuesday end, device, domain]
Index: []

Empty DataFrame
Columns: [Friday end, device, domain]
Index: []

Empty DataFrame
Columns: [Wednesday end, device, domain]
Index: []

Empty DataFrame
Columns: [Thursday end, device, domain]
Index: []

Empty DataFrame
Columns: [Sunday end, device, domain]
Index: []

Empty DataFrame
Columns: [Saturday end, device, domain]
Index: []

user: 6=======================

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Device platform: windows-laptop

Empty DataFrame
Columns: [Monday start, device, domain]
Index: []

Empty DataFrame
Columns: [Tuesday start, device, domain]
Index: []

Empty DataFrame
Columns: [Friday start, device, domain]
Index: []

Empty DataFrame
Columns: [Wednesday start, device, domain]
Index: []

Empty DataFrame
Columns: [Thursday start, device, domain]
Index: []

Empty DataFrame
Columns: [Sunday start, device, domain]
Index: []

Empty DataFrame
Columns: [Saturday start, device, domain]
Index: []

Device platform: windows-laptop

Empty DataFrame
Columns: [Monday end, device, domain]
Index: []

Empty DataFrame
Columns: [Tuesday end, device, domain]
Index: []

Empty DataFrame
Columns: [Friday end, device, domain]
Index: []

Empty DataFrame
Columns: [Wednesday end, device, domain]
Index: []

Empty DataFrame
Columns: [Thursday end, device, domain]
Index: []

Empty DataFrame
Columns: [Sunday end, device, domain]
Index: []

Empty DataFrame
Columns: [Saturday end, device, domain]
Index: []

user: 7=======================

   devid     domain                      start
0      3  apple.com 2015-04-27 19:27:22.240279
1      3  apple.com 2015-05-04 15:09:12.589168
2      3  apple.com 2015-05-11 02:12:51.294183
3      3  gmail.com 2015-05-19 00:49:39.846957
4      3  apple.com 2015-06-15 04:05:22.356998
5      3  apple.com 2015-06-16 00:03:51.826360

   devid      domain                        end
0      3   apple.com 2015-04-27 19:27:22.240279
1      3   apple.com 2015-05-04 15:09:12.589168
2      3  icloud.com 2015-05-11 02:12:51.304553
3      3   gmail.com 2015-05-19 00:49:39.846957
4      3  icloud.com 2015-06-15 23:56:33.620697
5      3  icloud.com 2015-06-16 00:06:49.556830

Device platform: ipad

                Monday start device     domain
0 2015-04-27 19:27:22.240279      3  apple.com
1 2015-05-04 15:09:12.589168      3  apple.com
2 2015-05-11 02:12:51.294183      3  apple.com
3 2015-06-15 04:05:22.356998      3  apple.com

               Tuesday start device     domain
0 2015-05-19 00:49:39.846957      3  gmail.com
1 2015-06-16 00:03:51.826360      3  apple.com

Empty DataFrame
Columns: [Friday start, device, domain]
Index: []

Empty DataFrame
Columns: [Wednesday start, device, domain]
Index: []

Empty DataFrame
Columns: [Thursday start, device, domain]
Index: []

Empty DataFrame
Columns: [Sunday start, device, domain]
Index: []

Empty DataFrame
Columns: [Saturday start, device, domain]
Index: []

Device platform: ipad

                  Monday end device      domain
0 2015-04-27 19:27:22.240279      3   apple.com
1 2015-05-04 15:09:12.589168      3   apple.com
2 2015-05-11 02:12:51.304553      3  icloud.com
3 2015-06-15 23:56:33.620697      3  icloud.com

                 Tuesday end device      domain
0 2015-05-19 00:49:39.846957      3   gmail.com
1 2015-06-16 00:06:49.556830      3  icloud.com

Empty DataFrame
Columns: [Friday end, device, domain]
Index: []

Empty DataFrame
Columns: [Wednesday end, device, domain]
Index: []

Empty DataFrame
Columns: [Thursday end, device, domain]
Index: []

Empty DataFrame
Columns: [Sunday end, device, domain]
Index: []

Empty DataFrame
Columns: [Saturday end, device, domain]
Index: []

   devid     domain                      start
0     10  apple.com 2015-04-22 22:49:51.784337
1     10       None 2015-06-24 20:26:59.825942

   devid      domain                        end
0     10   apple.com 2015-04-22 22:49:51.784337
1     10  akadns.net 2015-06-24 20:52:13.735930

Device platform: iphone

Empty DataFrame
Columns: [Monday start, device, domain]
Index: []

Empty DataFrame
Columns: [Tuesday start, device, domain]
Index: []

Empty DataFrame
Columns: [Friday start, device, domain]
Index: []

             Wednesday start device     domain
0 2015-04-22 22:49:51.784337     10  apple.com
1 2015-06-24 20:26:59.825942     10       None

Empty DataFrame
Columns: [Thursday start, device, domain]
Index: []

Empty DataFrame
Columns: [Sunday start, device, domain]
Index: []

Empty DataFrame
Columns: [Saturday start, device, domain]
Index: []

Device platform: iphone

Empty DataFrame
Columns: [Monday end, device, domain]
Index: []

Empty DataFrame
Columns: [Tuesday end, device, domain]
Index: []

Empty DataFrame
Columns: [Friday end, device, domain]
Index: []

               Wednesday end device      domain
0 2015-04-22 22:49:51.784337     10   apple.com
1 2015-06-24 20:52:13.735930     10  akadns.net

Empty DataFrame
Columns: [Thursday end, device, domain]
Index: []

Empty DataFrame
Columns: [Sunday end, device, domain]
Index: []

Empty DataFrame
Columns: [Saturday end, device, domain]
Index: []

user: 8=======================

   devid domain                      start
0     11   None 2015-06-24 18:12:58.002167

   devid     domain                        end
0     11  gmail.com 2015-06-24 19:10:21.878246

Device platform: iphone

Empty DataFrame
Columns: [Monday start, device, domain]
Index: []

Empty DataFrame
Columns: [Tuesday start, device, domain]
Index: []

Empty DataFrame
Columns: [Friday start, device, domain]
Index: []

             Wednesday start device domain
0 2015-06-24 18:12:58.002167     11   None

Empty DataFrame
Columns: [Thursday start, device, domain]
Index: []

Empty DataFrame
Columns: [Sunday start, device, domain]
Index: []

Empty DataFrame
Columns: [Saturday start, device, domain]
Index: []

Device platform: iphone

Empty DataFrame
Columns: [Monday end, device, domain]
Index: []

Empty DataFrame
Columns: [Tuesday end, device, domain]
Index: []

Empty DataFrame
Columns: [Friday end, device, domain]
Index: []

               Wednesday end device     domain
0 2015-06-24 19:10:21.878246     11  gmail.com

Empty DataFrame
Columns: [Thursday end, device, domain]
Index: []

Empty DataFrame
Columns: [Sunday end, device, domain]
Index: []

Empty DataFrame
Columns: [Saturday end, device, domain]
Index: []

    devid           domain                      start
0      12     akamaihd.net 2015-04-19 14:46:22.107294
1      12    ultimedia.com 2015-04-26 19:06:37.417552
2      12    newyorker.com 2015-04-28 15:23:14.405563
3      12  dailymotion.com 2015-05-01 23:57:51.629670
4      12      dropbox.com 2015-05-04 16:22:25.087487
5      12    edgesuite.net 2015-05-07 01:35:38.500347
6      12  email-match.com 2015-05-08 14:58:53.931769
7      12      twitter.com 2015-05-11 18:38:07.483412
8      12    pinterest.com 2015-05-13 13:35:40.193850
9      12       chopard.fr 2015-05-16 17:41:21.763658
10     12       icloud.com 2015-05-17 01:51:42.418212
11     12       akamai.net 2015-05-21 16:56:45.471829
12     12         wikio.fr 2015-05-25 19:37:03.570758
13     12   aliexpress.com 2015-06-03 02:14:24.367777
14     12     akamaihd.net 2015-06-04 16:35:09.951155
15     12      gstatic.com 2015-06-05 17:33:53.360239
16     12     outbrain.com 2015-06-08 18:36:54.716412

    devid                 domain                        end
0      12              adnxs.com 2015-04-19 21:46:46.674336
1      12           videozix.com 2015-04-26 19:06:37.544271
2      12  domeischelgallery.com 2015-04-28 15:23:14.483766
3      12        doubleclick.net 2015-05-01 23:57:51.713197
4      12                IP6.INT 2015-05-04 17:35:34.782402
5      12             google.com 2015-05-07 01:55:36.740990
6      12        email-match.com 2015-05-08 14:58:53.931792
7      12            twitter.com 2015-05-11 18:38:07.483412
8      12             pinimg.com 2015-05-13 13:35:40.215945
9      12        doubleclick.net 2015-05-16 17:52:25.670249
10     12             icloud.com 2015-05-17 01:51:42.418212
11     12             akamai.net 2015-05-21 23:51:06.740477
12     12          lemoniteur.fr 2015-05-25 19:37:03.794131
13     12           outbrain.com 2015-06-03 02:36:50.995416
14     12           akamaihd.net 2015-06-04 16:35:09.951155
15     12            gstatic.com 2015-06-05 17:33:53.360239
16     12             google.com 2015-06-08 20:56:43.259079

Device platform: macbook

                Monday start device        domain
0 2015-05-04 16:22:25.087487     12   dropbox.com
1 2015-05-11 18:38:07.483412     12   twitter.com
2 2015-05-25 19:37:03.570758     12      wikio.fr
3 2015-06-08 18:36:54.716412     12  outbrain.com

               Tuesday start device         domain
0 2015-04-28 15:23:14.405563     12  newyorker.com

                Friday start device           domain
0 2015-05-01 23:57:51.629670     12  dailymotion.com
1 2015-05-08 14:58:53.931769     12  email-match.com
2 2015-06-05 17:33:53.360239     12      gstatic.com

             Wednesday start device          domain
0 2015-05-13 13:35:40.193850     12   pinterest.com
1 2015-06-03 02:14:24.367777     12  aliexpress.com

              Thursday start device         domain
0 2015-05-07 01:35:38.500347     12  edgesuite.net
1 2015-05-21 16:56:45.471829     12     akamai.net
2 2015-06-04 16:35:09.951155     12   akamaihd.net

                Sunday start device         domain
0 2015-04-19 14:46:22.107294     12   akamaihd.net
1 2015-04-26 19:06:37.417552     12  ultimedia.com
2 2015-05-17 01:51:42.418212     12     icloud.com

              Saturday start device      domain
0 2015-05-16 17:41:21.763658     12  chopard.fr

Device platform: macbook

                  Monday end device         domain
0 2015-05-04 17:35:34.782402     12        IP6.INT
1 2015-05-11 18:38:07.483412     12    twitter.com
2 2015-05-25 19:37:03.794131     12  lemoniteur.fr
3 2015-06-08 20:56:43.259079     12     google.com

                 Tuesday end device                 domain
0 2015-04-28 15:23:14.483766     12  domeischelgallery.com

                  Friday end device           domain
0 2015-05-01 23:57:51.713197     12  doubleclick.net
1 2015-05-08 14:58:53.931792     12  email-match.com
2 2015-06-05 17:33:53.360239     12      gstatic.com

               Wednesday end device        domain
0 2015-05-13 13:35:40.215945     12    pinimg.com
1 2015-06-03 02:36:50.995416     12  outbrain.com

                Thursday end device        domain
0 2015-05-07 01:55:36.740990     12    google.com
1 2015-05-21 23:51:06.740477     12    akamai.net
2 2015-06-04 16:35:09.951155     12  akamaihd.net

                  Sunday end device        domain
0 2015-04-19 21:46:46.674336     12     adnxs.com
1 2015-04-26 19:06:37.544271     12  videozix.com
2 2015-05-17 01:51:42.418212     12    icloud.com

                Saturday end device           domain
0 2015-05-16 17:52:25.670249     12  doubleclick.net

user: 9=======================

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Device platform: ipad

Empty DataFrame
Columns: [Monday start, device, domain]
Index: []

Empty DataFrame
Columns: [Tuesday start, device, domain]
Index: []

Empty DataFrame
Columns: [Friday start, device, domain]
Index: []

Empty DataFrame
Columns: [Wednesday start, device, domain]
Index: []

Empty DataFrame
Columns: [Thursday start, device, domain]
Index: []

Empty DataFrame
Columns: [Sunday start, device, domain]
Index: []

Empty DataFrame
Columns: [Saturday start, device, domain]
Index: []

Device platform: ipad

Empty DataFrame
Columns: [Monday end, device, domain]
Index: []

Empty DataFrame
Columns: [Tuesday end, device, domain]
Index: []

Empty DataFrame
Columns: [Friday end, device, domain]
Index: []

Empty DataFrame
Columns: [Wednesday end, device, domain]
Index: []

Empty DataFrame
Columns: [Thursday end, device, domain]
Index: []

Empty DataFrame
Columns: [Sunday end, device, domain]
Index: []

Empty DataFrame
Columns: [Saturday end, device, domain]
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Device platform: android-phone

Empty DataFrame
Columns: [Monday start, device, domain]
Index: []

Empty DataFrame
Columns: [Tuesday start, device, domain]
Index: []

Empty DataFrame
Columns: [Friday start, device, domain]
Index: []

Empty DataFrame
Columns: [Wednesday start, device, domain]
Index: []

Empty DataFrame
Columns: [Thursday start, device, domain]
Index: []

Empty DataFrame
Columns: [Sunday start, device, domain]
Index: []

Empty DataFrame
Columns: [Saturday start, device, domain]
Index: []

Device platform: android-phone

Empty DataFrame
Columns: [Monday end, device, domain]
Index: []

Empty DataFrame
Columns: [Tuesday end, device, domain]
Index: []

Empty DataFrame
Columns: [Friday end, device, domain]
Index: []

Empty DataFrame
Columns: [Wednesday end, device, domain]
Index: []

Empty DataFrame
Columns: [Thursday end, device, domain]
Index: []

Empty DataFrame
Columns: [Sunday end, device, domain]
Index: []

Empty DataFrame
Columns: [Saturday end, device, domain]
Index: []

user: 10=======================

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Device platform: android-tablet

Empty DataFrame
Columns: [Monday start, device, domain]
Index: []

Empty DataFrame
Columns: [Tuesday start, device, domain]
Index: []

Empty DataFrame
Columns: [Friday start, device, domain]
Index: []

Empty DataFrame
Columns: [Wednesday start, device, domain]
Index: []

Empty DataFrame
Columns: [Thursday start, device, domain]
Index: []

Empty DataFrame
Columns: [Sunday start, device, domain]
Index: []

Empty DataFrame
Columns: [Saturday start, device, domain]
Index: []

Device platform: android-tablet

Empty DataFrame
Columns: [Monday end, device, domain]
Index: []

Empty DataFrame
Columns: [Tuesday end, device, domain]
Index: []

Empty DataFrame
Columns: [Friday end, device, domain]
Index: []

Empty DataFrame
Columns: [Wednesday end, device, domain]
Index: []

Empty DataFrame
Columns: [Thursday end, device, domain]
Index: []

Empty DataFrame
Columns: [Sunday end, device, domain]
Index: []

Empty DataFrame
Columns: [Saturday end, device, domain]
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Device platform: iphone

Empty DataFrame
Columns: [Monday start, device, domain]
Index: []

Empty DataFrame
Columns: [Tuesday start, device, domain]
Index: []

Empty DataFrame
Columns: [Friday start, device, domain]
Index: []

Empty DataFrame
Columns: [Wednesday start, device, domain]
Index: []

Empty DataFrame
Columns: [Thursday start, device, domain]
Index: []

Empty DataFrame
Columns: [Sunday start, device, domain]
Index: []

Empty DataFrame
Columns: [Saturday start, device, domain]
Index: []

Device platform: iphone

Empty DataFrame
Columns: [Monday end, device, domain]
Index: []

Empty DataFrame
Columns: [Tuesday end, device, domain]
Index: []

Empty DataFrame
Columns: [Friday end, device, domain]
Index: []

Empty DataFrame
Columns: [Wednesday end, device, domain]
Index: []

Empty DataFrame
Columns: [Thursday end, device, domain]
Index: []

Empty DataFrame
Columns: [Sunday end, device, domain]
Index: []

Empty DataFrame
Columns: [Saturday end, device, domain]
Index: []

user: 11=======================

   devid        domain                      start
0     17  facebook.com 2015-04-20 22:21:36.122067
1     17     apple.com 2015-06-15 03:04:43.079726

   devid           domain                        end
0     17     facebook.com 2015-04-20 22:21:36.122067
1     17  googlevideo.com 2015-06-15 03:07:50.059632

Device platform: android-phone

                Monday start device        domain
0 2015-04-20 22:21:36.122067     17  facebook.com
1 2015-06-15 03:04:43.079726     17     apple.com

Empty DataFrame
Columns: [Tuesday start, device, domain]
Index: []

Empty DataFrame
Columns: [Friday start, device, domain]
Index: []

Empty DataFrame
Columns: [Wednesday start, device, domain]
Index: []

Empty DataFrame
Columns: [Thursday start, device, domain]
Index: []

Empty DataFrame
Columns: [Sunday start, device, domain]
Index: []

Empty DataFrame
Columns: [Saturday start, device, domain]
Index: []

Device platform: android-phone

                  Monday end device           domain
0 2015-04-20 22:21:36.122067     17     facebook.com
1 2015-06-15 03:07:50.059632     17  googlevideo.com

Empty DataFrame
Columns: [Tuesday end, device, domain]
Index: []

Empty DataFrame
Columns: [Friday end, device, domain]
Index: []

Empty DataFrame
Columns: [Wednesday end, device, domain]
Index: []

Empty DataFrame
Columns: [Thursday end, device, domain]
Index: []

Empty DataFrame
Columns: [Sunday end, device, domain]
Index: []

Empty DataFrame
Columns: [Saturday end, device, domain]
Index: []

user: 13=======================

   devid            domain                      start
0     18     microsoft.com 2015-11-10 10:12:38.772903
1     18  nottingham.ac.uk 2015-11-18 09:41:03.057631
2     18  nottingham.ac.uk 2015-11-22 16:36:05.401377
3     18  nottingham.ac.uk 2015-11-25 09:44:45.436451

   devid            domain                        end
0     18  nottingham.ac.uk 2015-11-10 14:56:30.794398
1     18  nottingham.ac.uk 2015-11-18 09:50:30.648868
2     18  nottingham.ac.uk 2015-11-22 16:38:44.871332
3     18     ucnproject.uk 2015-11-25 13:34:16.790440

Device platform: windows-pc

Empty DataFrame
Columns: [Monday start, device, domain]
Index: []

               Tuesday start device         domain
0 2015-11-10 10:12:38.772903     18  microsoft.com

Empty DataFrame
Columns: [Friday start, device, domain]
Index: []

             Wednesday start device            domain
0 2015-11-18 09:41:03.057631     18  nottingham.ac.uk
1 2015-11-25 09:44:45.436451     18  nottingham.ac.uk

Empty DataFrame
Columns: [Thursday start, device, domain]
Index: []

                Sunday start device            domain
0 2015-11-22 16:36:05.401377     18  nottingham.ac.uk

Empty DataFrame
Columns: [Saturday start, device, domain]
Index: []

Device platform: windows-pc

Empty DataFrame
Columns: [Monday end, device, domain]
Index: []

                 Tuesday end device            domain
0 2015-11-10 14:56:30.794398     18  nottingham.ac.uk

Empty DataFrame
Columns: [Friday end, device, domain]
Index: []

               Wednesday end device            domain
0 2015-11-18 09:50:30.648868     18  nottingham.ac.uk
1 2015-11-25 13:34:16.790440     18     ucnproject.uk

Empty DataFrame
Columns: [Thursday end, device, domain]
Index: []

                  Sunday end device            domain
0 2015-11-22 16:38:44.871332     18  nottingham.ac.uk

Empty DataFrame
Columns: [Saturday end, device, domain]
Index: []

    devid        domain                      start
0      19  in-addr.arpa 2015-11-10 18:29:20.782751
1      19          None 2015-11-11 06:03:05.403336
2      19  in-addr.arpa 2015-11-12 08:53:54.406705
3      19  in-addr.arpa 2015-11-13 04:51:01.958078
4      19  in-addr.arpa 2015-11-14 06:20:06.799109
5      19  in-addr.arpa 2015-11-15 10:47:13.834092
6      19  in-addr.arpa 2015-11-16 09:06:26.018236
7      19  in-addr.arpa 2015-11-17 08:37:59.894382
8      19  in-addr.arpa 2015-11-18 05:22:36.432497
9      19  in-addr.arpa 2015-11-19 08:35:17.730509
10     19     apple.com 2015-11-20 18:09:37.049217
11     19  in-addr.arpa 2015-11-21 10:49:21.030159
12     19  in-addr.arpa 2015-11-22 10:42:19.174400
13     19  in-addr.arpa 2015-11-23 17:54:17.470353
14     19  in-addr.arpa 2015-11-24 08:38:13.505983
15     19  in-addr.arpa 2015-11-25 08:33:14.254935
16     19  in-addr.arpa 2015-11-26 08:34:33.958061
17     19  in-addr.arpa 2015-11-27 05:07:17.423160
18     19     apple.com 2015-11-28 17:43:00.177344
19     19  in-addr.arpa 2015-11-29 11:22:09.694764
20     19  in-addr.arpa 2015-11-30 08:51:01.862297
21     19     apple.com 2015-12-01 20:10:30.892533
22     19  in-addr.arpa 2015-12-03 05:20:55.526913
23     19  in-addr.arpa 2015-12-04 09:13:42.562650
24     19     apple.com 2015-12-05 18:24:17.898587
25     19     apple.com 2015-12-06 10:57:42.168737
26     19  in-addr.arpa 2015-12-08 18:49:30.822935
27     19  in-addr.arpa 2015-12-09 09:05:16.536320
28     19  in-addr.arpa 2015-12-10 08:52:47.138841

    devid               domain                        end
0      19            apple.com 2015-11-10 21:17:13.687717
1      19  selectmytutor.co.uk 2015-11-11 19:24:31.891899
2      19            apple.com 2015-11-12 21:44:42.560997
3      19                 None 2015-11-13 21:34:40.195802
4      19           google.com 2015-11-14 19:45:01.156056
5      19          aaplimg.com 2015-11-15 20:57:22.274858
6      19            apple.com 2015-11-16 19:35:15.476031
7      19          aaplimg.com 2015-11-17 21:51:04.503961
8      19            apple.com 2015-11-18 20:58:16.640179
9      19          entrust.net 2015-11-19 20:44:41.634652
10     19          aaplimg.com 2015-11-20 23:05:40.196018
11     19          gstatic.com 2015-11-21 23:13:44.884154
12     19         uktutors.com 2015-11-22 20:21:32.575725
13     19          aaplimg.com 2015-11-23 20:06:29.151970
14     19            apple.com 2015-11-24 21:08:12.738562
15     19            apple.com 2015-11-25 20:59:35.237735
16     19           google.com 2015-11-26 20:54:19.325695
17     19          aaplimg.com 2015-11-27 20:43:17.767727
18     19            apple.com 2015-11-28 20:45:26.467470
19     19          aaplimg.com 2015-11-29 19:11:18.028060
20     19            apple.com 2015-11-30 09:25:06.265681
21     19            apple.com 2015-12-01 21:41:49.840438
22     19                 None 2015-12-03 23:11:11.744106
23     19          aaplimg.com 2015-12-04 09:17:43.302282
24     19          aaplimg.com 2015-12-05 19:23:25.759749
25     19          lilplay.com 2015-12-06 19:03:50.766206
26     19            apple.com 2015-12-08 19:13:15.895440
27     19            apple.com 2015-12-09 19:59:06.836339
28     19         facebook.com 2015-12-10 18:47:16.284071

Device platform: macbook

                Monday start device        domain
0 2015-11-16 09:06:26.018236     19  in-addr.arpa
1 2015-11-23 17:54:17.470353     19  in-addr.arpa
2 2015-11-30 08:51:01.862297     19  in-addr.arpa

               Tuesday start device        domain
0 2015-11-10 18:29:20.782751     19  in-addr.arpa
1 2015-11-17 08:37:59.894382     19  in-addr.arpa
2 2015-11-24 08:38:13.505983     19  in-addr.arpa
3 2015-12-01 20:10:30.892533     19     apple.com
4 2015-12-08 18:49:30.822935     19  in-addr.arpa

                Friday start device        domain
0 2015-11-13 04:51:01.958078     19  in-addr.arpa
1 2015-11-20 18:09:37.049217     19     apple.com
2 2015-11-27 05:07:17.423160     19  in-addr.arpa
3 2015-12-04 09:13:42.562650     19  in-addr.arpa

             Wednesday start device        domain
0 2015-11-11 06:03:05.403336     19          None
1 2015-11-18 05:22:36.432497     19  in-addr.arpa
2 2015-11-25 08:33:14.254935     19  in-addr.arpa
3 2015-12-09 09:05:16.536320     19  in-addr.arpa

              Thursday start device        domain
0 2015-11-12 08:53:54.406705     19  in-addr.arpa
1 2015-11-19 08:35:17.730509     19  in-addr.arpa
2 2015-11-26 08:34:33.958061     19  in-addr.arpa
3 2015-12-03 05:20:55.526913     19  in-addr.arpa
4 2015-12-10 08:52:47.138841     19  in-addr.arpa

                Sunday start device        domain
0 2015-11-15 10:47:13.834092     19  in-addr.arpa
1 2015-11-22 10:42:19.174400     19  in-addr.arpa
2 2015-11-29 11:22:09.694764     19  in-addr.arpa
3 2015-12-06 10:57:42.168737     19     apple.com

              Saturday start device        domain
0 2015-11-14 06:20:06.799109     19  in-addr.arpa
1 2015-11-21 10:49:21.030159     19  in-addr.arpa
2 2015-11-28 17:43:00.177344     19     apple.com
3 2015-12-05 18:24:17.898587     19     apple.com

Device platform: macbook

                  Monday end device       domain
0 2015-11-16 19:35:15.476031     19    apple.com
1 2015-11-23 20:06:29.151970     19  aaplimg.com
2 2015-11-30 09:25:06.265681     19    apple.com

                 Tuesday end device       domain
0 2015-11-10 21:17:13.687717     19    apple.com
1 2015-11-17 21:51:04.503961     19  aaplimg.com
2 2015-11-24 21:08:12.738562     19    apple.com
3 2015-12-01 21:41:49.840438     19    apple.com
4 2015-12-08 19:13:15.895440     19    apple.com

                  Friday end device       domain
0 2015-11-13 21:34:40.195802     19         None
1 2015-11-20 23:05:40.196018     19  aaplimg.com
2 2015-11-27 20:43:17.767727     19  aaplimg.com
3 2015-12-04 09:17:43.302282     19  aaplimg.com

               Wednesday end device               domain
0 2015-11-11 19:24:31.891899     19  selectmytutor.co.uk
1 2015-11-18 20:58:16.640179     19            apple.com
2 2015-11-25 20:59:35.237735     19            apple.com
3 2015-12-09 19:59:06.836339     19            apple.com

                Thursday end device        domain
0 2015-11-12 21:44:42.560997     19     apple.com
1 2015-11-19 20:44:41.634652     19   entrust.net
2 2015-11-26 20:54:19.325695     19    google.com
3 2015-12-03 23:11:11.744106     19          None
4 2015-12-10 18:47:16.284071     19  facebook.com

                  Sunday end device        domain
0 2015-11-15 20:57:22.274858     19   aaplimg.com
1 2015-11-22 20:21:32.575725     19  uktutors.com
2 2015-11-29 19:11:18.028060     19   aaplimg.com
3 2015-12-06 19:03:50.766206     19   lilplay.com

                Saturday end device       domain
0 2015-11-14 19:45:01.156056     19   google.com
1 2015-11-21 23:13:44.884154     19  gstatic.com
2 2015-11-28 20:45:26.467470     19    apple.com
3 2015-12-05 19:23:25.759749     19  aaplimg.com

    devid      domain                      start
0      20        None 2015-11-10 20:31:28.509590
1      20  google.com 2015-11-14 06:55:10.596449
2      20   apple.com 2015-11-19 18:40:07.496774
3      20        None 2015-11-20 19:51:10.797799
4      20  google.com 2015-11-21 23:09:08.515883
5      20  google.com 2015-11-22 18:38:18.005552
6      20  google.com 2015-11-23 18:10:06.168414
7      20   apple.com 2015-11-24 20:58:23.602289
8      20   apple.com 2015-11-25 08:34:47.447846
9      20  google.com 2015-11-26 20:37:52.648352
10     20   apple.com 2015-11-27 08:39:56.052677
11     20   apple.com 2015-11-28 17:43:20.704595
12     20   apple.com 2015-12-01 21:19:06.073694
13     20  google.com 2015-12-08 18:50:12.164506

    devid         domain                        end
0      20      apple.com 2015-11-10 21:46:23.854295
1      20     akadns.net 2015-11-14 23:35:57.360157
2      20      apple.com 2015-11-19 20:54:35.051742
3      20           None 2015-11-20 22:09:21.943796
4      20  amazonaws.com 2015-11-21 23:44:15.598541
5      20      apple.com 2015-11-22 18:39:40.234732
6      20    weather.com 2015-11-23 19:24:32.030311
7      20      apple.com 2015-11-24 21:15:56.801575
8      20      apple.com 2015-11-25 21:02:39.597205
9      20     akadns.net 2015-11-26 20:41:06.263671
10     20      apple.com 2015-11-27 09:41:12.678364
11     20     akadns.net 2015-11-28 21:12:29.723895
12     20     icloud.com 2015-12-01 21:26:17.418202
13     20     icloud.com 2015-12-08 20:18:56.702781

Device platform: iphone

                Monday start device      domain
0 2015-11-23 18:10:06.168414     20  google.com

               Tuesday start device      domain
0 2015-11-10 20:31:28.509590     20        None
1 2015-11-24 20:58:23.602289     20   apple.com
2 2015-12-01 21:19:06.073694     20   apple.com
3 2015-12-08 18:50:12.164506     20  google.com

                Friday start device     domain
0 2015-11-20 19:51:10.797799     20       None
1 2015-11-27 08:39:56.052677     20  apple.com

             Wednesday start device     domain
0 2015-11-25 08:34:47.447846     20  apple.com

              Thursday start device      domain
0 2015-11-19 18:40:07.496774     20   apple.com
1 2015-11-26 20:37:52.648352     20  google.com

                Sunday start device      domain
0 2015-11-22 18:38:18.005552     20  google.com

              Saturday start device      domain
0 2015-11-14 06:55:10.596449     20  google.com
1 2015-11-21 23:09:08.515883     20  google.com
2 2015-11-28 17:43:20.704595     20   apple.com

Device platform: iphone

                  Monday end device       domain
0 2015-11-23 19:24:32.030311     20  weather.com

                 Tuesday end device      domain
0 2015-11-10 21:46:23.854295     20   apple.com
1 2015-11-24 21:15:56.801575     20   apple.com
2 2015-12-01 21:26:17.418202     20  icloud.com
3 2015-12-08 20:18:56.702781     20  icloud.com

                  Friday end device     domain
0 2015-11-20 22:09:21.943796     20       None
1 2015-11-27 09:41:12.678364     20  apple.com

               Wednesday end device     domain
0 2015-11-25 21:02:39.597205     20  apple.com

                Thursday end device      domain
0 2015-11-19 20:54:35.051742     20   apple.com
1 2015-11-26 20:41:06.263671     20  akadns.net

                  Sunday end device     domain
0 2015-11-22 18:39:40.234732     20  apple.com

                Saturday end device         domain
0 2015-11-14 23:35:57.360157     20     akadns.net
1 2015-11-21 23:44:15.598541     20  amazonaws.com
2 2015-11-28 21:12:29.723895     20     akadns.net

user: 14=======================

   devid             domain                      start
0     21  windowsupdate.com 2015-11-11 11:23:30.349635
1     21          skype.com 2015-11-14 23:16:03.333405
2     21      microsoft.com 2015-11-17 21:58:16.085673
3     21       google.co.uk 2015-11-20 17:37:16.398464
4     21         norton.com 2015-11-21 14:31:41.515262
5     21      microsoft.com 2015-11-22 15:09:01.316277
6     21      microsoft.com 2015-11-23 20:02:41.236223
7     21      microsoft.com 2015-11-25 21:02:01.026581

   devid                  domain                        end
0     21               skype.com 2015-11-11 13:41:06.166546
1     21               skype.com 2015-11-14 23:23:35.690104
2     21               skype.com 2015-11-17 23:00:15.606766
3     21  symantecliveupdate.com 2015-11-20 17:57:14.677767
4     21               skype.com 2015-11-21 17:33:33.034247
5     21               skype.com 2015-11-22 23:29:15.227162
6     21               skype.com 2015-11-23 22:27:59.273730
7     21               skype.com 2015-11-25 22:24:24.075678

Device platform: windows-pc

                Monday start device         domain
0 2015-11-23 20:02:41.236223     21  microsoft.com

               Tuesday start device         domain
0 2015-11-17 21:58:16.085673     21  microsoft.com

                Friday start device        domain
0 2015-11-20 17:37:16.398464     21  google.co.uk

             Wednesday start device             domain
0 2015-11-11 11:23:30.349635     21  windowsupdate.com
1 2015-11-25 21:02:01.026581     21      microsoft.com

Empty DataFrame
Columns: [Thursday start, device, domain]
Index: []

                Sunday start device         domain
0 2015-11-22 15:09:01.316277     21  microsoft.com

              Saturday start device      domain
0 2015-11-14 23:16:03.333405     21   skype.com
1 2015-11-21 14:31:41.515262     21  norton.com

Device platform: windows-pc

                  Monday end device     domain
0 2015-11-23 22:27:59.273730     21  skype.com

                 Tuesday end device     domain
0 2015-11-17 23:00:15.606766     21  skype.com

                  Friday end device                  domain
0 2015-11-20 17:57:14.677767     21  symantecliveupdate.com

               Wednesday end device     domain
0 2015-11-11 13:41:06.166546     21  skype.com
1 2015-11-25 22:24:24.075678     21  skype.com

Empty DataFrame
Columns: [Thursday end, device, domain]
Index: []

                  Sunday end device     domain
0 2015-11-22 23:29:15.227162     21  skype.com

                Saturday end device     domain
0 2015-11-14 23:23:35.690104     21  skype.com
1 2015-11-21 17:33:33.034247     21  skype.com

    devid             domain                      start
0      22  windowsupdate.com 2015-11-11 11:43:26.191029
1      22   mywebsearch.comm 2015-11-12 09:18:58.275227
2      22      microsoft.com 2015-11-13 09:16:14.751423
3      22      microsoft.com 2015-11-15 09:24:32.100374
4      22       msftncsi.com 2015-11-16 11:20:51.982997
5      22       msftncsi.com 2015-11-17 08:40:11.966981
6      22           live.com 2015-11-18 09:20:04.264733
7      22      microsoft.com 2015-11-19 09:19:45.165231
8      22           live.com 2015-11-22 09:24:30.575079
9      22      microsoft.com 2015-11-23 09:20:18.143653
10     22       msftncsi.com 2015-11-24 08:58:41.134977
11     22      microsoft.com 2015-11-25 12:51:59.929195

    devid             domain                        end
0      22  windowsupdate.com 2015-11-11 11:50:35.771891
1      22       symantec.com 2015-11-12 10:02:15.212854
2      22       symantec.com 2015-11-13 09:38:42.148136
3      22        ceipmsn.com 2015-11-15 19:06:28.994523
4      22        ceipmsn.com 2015-11-16 14:06:41.261427
5      22        ceipmsn.com 2015-11-17 09:16:41.204445
6      22        ceipmsn.com 2015-11-18 09:45:46.165659
7      22        ceipmsn.com 2015-11-19 10:05:55.596046
8      22        ceipmsn.com 2015-11-22 09:42:46.527095
9      22        ceipmsn.com 2015-11-23 09:45:27.734721
10     22        ceipmsn.com 2015-11-24 09:19:17.032833
11     22             hp.com 2015-11-25 13:08:57.047167

Device platform: windows-pc

                Monday start device         domain
0 2015-11-16 11:20:51.982997     22   msftncsi.com
1 2015-11-23 09:20:18.143653     22  microsoft.com

               Tuesday start device        domain
0 2015-11-17 08:40:11.966981     22  msftncsi.com
1 2015-11-24 08:58:41.134977     22  msftncsi.com

                Friday start device         domain
0 2015-11-13 09:16:14.751423     22  microsoft.com

             Wednesday start device             domain
0 2015-11-11 11:43:26.191029     22  windowsupdate.com
1 2015-11-18 09:20:04.264733     22           live.com
2 2015-11-25 12:51:59.929195     22      microsoft.com

              Thursday start device            domain
0 2015-11-12 09:18:58.275227     22  mywebsearch.comm
1 2015-11-19 09:19:45.165231     22     microsoft.com

                Sunday start device         domain
0 2015-11-15 09:24:32.100374     22  microsoft.com
1 2015-11-22 09:24:30.575079     22       live.com

Empty DataFrame
Columns: [Saturday start, device, domain]
Index: []

Device platform: windows-pc

                  Monday end device       domain
0 2015-11-16 14:06:41.261427     22  ceipmsn.com
1 2015-11-23 09:45:27.734721     22  ceipmsn.com

                 Tuesday end device       domain
0 2015-11-17 09:16:41.204445     22  ceipmsn.com
1 2015-11-24 09:19:17.032833     22  ceipmsn.com

                  Friday end device        domain
0 2015-11-13 09:38:42.148136     22  symantec.com

               Wednesday end device             domain
0 2015-11-11 11:50:35.771891     22  windowsupdate.com
1 2015-11-18 09:45:46.165659     22        ceipmsn.com
2 2015-11-25 13:08:57.047167     22             hp.com

                Thursday end device        domain
0 2015-11-12 10:02:15.212854     22  symantec.com
1 2015-11-19 10:05:55.596046     22   ceipmsn.com

                  Sunday end device       domain
0 2015-11-15 19:06:28.994523     22  ceipmsn.com
1 2015-11-22 09:42:46.527095     22  ceipmsn.com

Empty DataFrame
Columns: [Saturday end, device, domain]
Index: []

user: 15=======================

    devid           domain                      start
0      23    microsoft.com 2015-11-11 15:23:57.539306
1      23         bing.com 2015-11-12 07:48:54.916867
2      23    usertrust.com 2015-11-13 09:00:23.151951
3      23       google.com 2015-11-14 04:37:51.167170
4      23    microsoft.com 2015-11-15 12:36:55.575684
5      23       ebay.co.uk 2015-11-16 09:45:03.650038
6      23      archive.org 2015-11-17 12:02:01.273150
7      23     google.co.uk 2015-11-18 14:03:57.126571
8      23    usertrust.com 2015-11-19 09:02:25.474383
9      23       google.com 2015-11-20 04:19:56.758079
10     23    ucnproject.uk 2015-11-21 04:13:54.220813
11     23     akamaihd.net 2015-11-22 07:34:00.419127
12     23    microsoft.com 2015-11-23 04:00:34.749567
13     23       mcafee.com 2015-11-24 15:44:59.644877
14     23  lhjnjuxyvd.Home 2015-11-25 10:27:49.989937
15     23      isatap.Home 2015-11-26 15:12:43.308648

    devid                 domain                        end
0      23             google.com 2015-11-11 15:40:56.008432
1      23            youtube.com 2015-11-12 22:10:33.696697
2      23          microsoft.com 2015-11-13 23:55:30.089520
3      23          ucnproject.uk 2015-11-14 23:54:50.315440
4      23             ebay.co.uk 2015-11-15 21:59:54.720924
5      23           facebook.com 2015-11-16 11:21:01.807717
6      23          microsoft.com 2015-11-17 23:29:26.188645
7      23        researchnow.com 2015-11-18 23:03:26.187580
8      23              avast.com 2015-11-19 23:55:04.311811
9      23             google.com 2015-11-20 23:56:08.989968
10     23                msn.com 2015-11-21 20:45:29.336126
11     23             google.com 2015-11-22 23:59:22.105305
12     23      walesonline.co.uk 2015-11-23 23:40:14.809136
13     23              fbcdn.net 2015-11-24 21:50:36.336558
14     23  googlesyndication.com 2015-11-25 23:56:15.427909
15     23               bing.com 2015-11-26 17:19:28.657232

Device platform: windows-laptop

                Monday start device         domain
0 2015-11-16 09:45:03.650038     23     ebay.co.uk
1 2015-11-23 04:00:34.749567     23  microsoft.com

               Tuesday start device       domain
0 2015-11-17 12:02:01.273150     23  archive.org
1 2015-11-24 15:44:59.644877     23   mcafee.com

                Friday start device         domain
0 2015-11-13 09:00:23.151951     23  usertrust.com
1 2015-11-20 04:19:56.758079     23     google.com

             Wednesday start device           domain
0 2015-11-11 15:23:57.539306     23    microsoft.com
1 2015-11-18 14:03:57.126571     23     google.co.uk
2 2015-11-25 10:27:49.989937     23  lhjnjuxyvd.Home

              Thursday start device         domain
0 2015-11-12 07:48:54.916867     23       bing.com
1 2015-11-19 09:02:25.474383     23  usertrust.com
2 2015-11-26 15:12:43.308648     23    isatap.Home

                Sunday start device         domain
0 2015-11-15 12:36:55.575684     23  microsoft.com
1 2015-11-22 07:34:00.419127     23   akamaihd.net

              Saturday start device         domain
0 2015-11-14 04:37:51.167170     23     google.com
1 2015-11-21 04:13:54.220813     23  ucnproject.uk

Device platform: windows-laptop

                  Monday end device             domain
0 2015-11-16 11:21:01.807717     23       facebook.com
1 2015-11-23 23:40:14.809136     23  walesonline.co.uk

                 Tuesday end device         domain
0 2015-11-17 23:29:26.188645     23  microsoft.com
1 2015-11-24 21:50:36.336558     23      fbcdn.net

                  Friday end device         domain
0 2015-11-13 23:55:30.089520     23  microsoft.com
1 2015-11-20 23:56:08.989968     23     google.com

               Wednesday end device                 domain
0 2015-11-11 15:40:56.008432     23             google.com
1 2015-11-18 23:03:26.187580     23        researchnow.com
2 2015-11-25 23:56:15.427909     23  googlesyndication.com

                Thursday end device       domain
0 2015-11-12 22:10:33.696697     23  youtube.com
1 2015-11-19 23:55:04.311811     23    avast.com
2 2015-11-26 17:19:28.657232     23     bing.com

                  Sunday end device      domain
0 2015-11-15 21:59:54.720924     23  ebay.co.uk
1 2015-11-22 23:59:22.105305     23  google.com

                Saturday end device         domain
0 2015-11-14 23:54:50.315440     23  ucnproject.uk
1 2015-11-21 20:45:29.336126     23        msn.com

    devid        domain                      start
0      24    icloud.com 2015-11-11 15:27:04.460540
1      24     apple.com 2015-11-12 04:15:37.558047
2      24  protogeo.com 2015-11-13 04:31:41.171338
3      24   outlook.com 2015-11-14 04:14:49.526112
4      24     apple.com 2015-11-16 16:53:50.995746
5      24  facebook.com 2015-11-17 13:49:18.048469
6      24    google.com 2015-11-18 17:28:54.239685
7      24  facebook.com 2015-11-19 00:13:16.924615
8      24  facebook.com 2015-11-20 18:46:49.739017
9      24  facebook.com 2015-11-22 13:55:18.933097
10     24     apple.com 2015-11-23 04:54:59.344677
11     24     apple.com 2015-11-24 14:20:58.241287
12     24     apple.com 2015-11-25 22:26:57.046334
13     24     apple.com 2015-11-26 04:02:20.548558
14     24     apple.com 2015-11-27 04:05:54.970038
15     24     apple.com 2015-11-28 11:05:47.218295
16     24     apple.com 2015-11-29 16:33:06.113870
17     24  protogeo.com 2015-11-30 04:11:37.925508
18     24  facebook.com 2015-12-01 23:53:19.985478
19     24    google.com 2015-12-02 04:22:00.102530
20     24     apple.com 2015-12-04 13:35:35.793805
21     24  facebook.com 2015-12-05 22:27:00.921126
22     24     apple.com 2015-12-06 04:03:07.479024
23     24     apple.com 2015-12-09 08:02:17.570552
24     24     apple.com 2015-12-26 11:41:12.828668

    devid          domain                        end
0      24    facebook.com 2015-11-11 23:53:28.347729
1      24    facebook.com 2015-11-12 23:59:31.726871
2      24  akamaiedge.net 2015-11-13 23:46:34.133321
3      24       apple.com 2015-11-14 23:00:10.703974
4      24    protogeo.com 2015-11-16 21:05:14.692655
5      24      icloud.com 2015-11-17 23:01:41.390915
6      24    facebook.com 2015-11-18 18:28:10.858160
7      24       apple.com 2015-11-19 01:19:18.868694
8      24  akamaiedge.net 2015-11-20 22:12:48.817860
9      24      akamai.net 2015-11-22 16:34:42.357862
10     24    protogeo.com 2015-11-23 06:42:33.609419
11     24    facebook.com 2015-11-24 19:09:54.975903
12     24    facebook.com 2015-11-25 23:26:21.492332
13     24    facebook.com 2015-11-26 23:59:49.045320
14     24       apple.com 2015-11-27 06:17:31.539048
15     24    akamaihd.net 2015-11-28 11:34:20.362759
16     24    facebook.com 2015-11-29 23:55:38.303083
17     24    whatsapp.net 2015-11-30 18:56:58.782118
18     24      google.com 2015-12-01 23:59:55.760829
19     24       apple.com 2015-12-02 15:51:09.989919
20     24  akamaiedge.net 2015-12-04 14:53:14.219603
21     24     outlook.com 2015-12-05 23:59:29.802357
22     24  akamaiedge.net 2015-12-06 07:50:28.111781
23     24       apple.com 2015-12-09 09:36:46.414392
24     24       apple.com 2015-12-26 11:50:03.145474

Device platform: iphone

                Monday start device        domain
0 2015-11-16 16:53:50.995746     24     apple.com
1 2015-11-23 04:54:59.344677     24     apple.com
2 2015-11-30 04:11:37.925508     24  protogeo.com

               Tuesday start device        domain
0 2015-11-17 13:49:18.048469     24  facebook.com
1 2015-11-24 14:20:58.241287     24     apple.com
2 2015-12-01 23:53:19.985478     24  facebook.com

                Friday start device        domain
0 2015-11-13 04:31:41.171338     24  protogeo.com
1 2015-11-20 18:46:49.739017     24  facebook.com
2 2015-11-27 04:05:54.970038     24     apple.com
3 2015-12-04 13:35:35.793805     24     apple.com

             Wednesday start device      domain
0 2015-11-11 15:27:04.460540     24  icloud.com
1 2015-11-18 17:28:54.239685     24  google.com
2 2015-11-25 22:26:57.046334     24   apple.com
3 2015-12-02 04:22:00.102530     24  google.com
4 2015-12-09 08:02:17.570552     24   apple.com

              Thursday start device        domain
0 2015-11-12 04:15:37.558047     24     apple.com
1 2015-11-19 00:13:16.924615     24  facebook.com
2 2015-11-26 04:02:20.548558     24     apple.com

                Sunday start device        domain
0 2015-11-22 13:55:18.933097     24  facebook.com
1 2015-11-29 16:33:06.113870     24     apple.com
2 2015-12-06 04:03:07.479024     24     apple.com

              Saturday start device        domain
0 2015-11-14 04:14:49.526112     24   outlook.com
1 2015-11-28 11:05:47.218295     24     apple.com
2 2015-12-05 22:27:00.921126     24  facebook.com
3 2015-12-26 11:41:12.828668     24     apple.com

Device platform: iphone

                  Monday end device        domain
0 2015-11-16 21:05:14.692655     24  protogeo.com
1 2015-11-23 06:42:33.609419     24  protogeo.com
2 2015-11-30 18:56:58.782118     24  whatsapp.net

                 Tuesday end device        domain
0 2015-11-17 23:01:41.390915     24    icloud.com
1 2015-11-24 19:09:54.975903     24  facebook.com
2 2015-12-01 23:59:55.760829     24    google.com

                  Friday end device          domain
0 2015-11-13 23:46:34.133321     24  akamaiedge.net
1 2015-11-20 22:12:48.817860     24  akamaiedge.net
2 2015-11-27 06:17:31.539048     24       apple.com
3 2015-12-04 14:53:14.219603     24  akamaiedge.net

               Wednesday end device        domain
0 2015-11-11 23:53:28.347729     24  facebook.com
1 2015-11-18 18:28:10.858160     24  facebook.com
2 2015-11-25 23:26:21.492332     24  facebook.com
3 2015-12-02 15:51:09.989919     24     apple.com
4 2015-12-09 09:36:46.414392     24     apple.com

                Thursday end device        domain
0 2015-11-12 23:59:31.726871     24  facebook.com
1 2015-11-19 01:19:18.868694     24     apple.com
2 2015-11-26 23:59:49.045320     24  facebook.com

                  Sunday end device          domain
0 2015-11-22 16:34:42.357862     24      akamai.net
1 2015-11-29 23:55:38.303083     24    facebook.com
2 2015-12-06 07:50:28.111781     24  akamaiedge.net

                Saturday end device        domain
0 2015-11-14 23:00:10.703974     24     apple.com
1 2015-11-28 11:34:20.362759     24  akamaihd.net
2 2015-12-05 23:59:29.802357     24   outlook.com
3 2015-12-26 11:50:03.145474     24     apple.com

   devid      domain                      start
0     25  icloud.com 2015-11-11 15:47:55.476889
1     25   apple.com 2015-11-20 18:21:54.747422
2     25   apple.com 2015-11-21 10:25:11.924186

   devid          domain                        end
0     25  akamaiedge.net 2015-11-11 15:47:59.479708
1     25    facebook.com 2015-11-20 19:02:27.859849
2     25      akadns.net 2015-11-21 11:01:03.819830

Device platform: ipad

Empty DataFrame
Columns: [Monday start, device, domain]
Index: []

Empty DataFrame
Columns: [Tuesday start, device, domain]
Index: []

                Friday start device     domain
0 2015-11-20 18:21:54.747422     25  apple.com

             Wednesday start device      domain
0 2015-11-11 15:47:55.476889     25  icloud.com

Empty DataFrame
Columns: [Thursday start, device, domain]
Index: []

Empty DataFrame
Columns: [Sunday start, device, domain]
Index: []

              Saturday start device     domain
0 2015-11-21 10:25:11.924186     25  apple.com

Device platform: ipad

Empty DataFrame
Columns: [Monday end, device, domain]
Index: []

Empty DataFrame
Columns: [Tuesday end, device, domain]
Index: []

                  Friday end device        domain
0 2015-11-20 19:02:27.859849     25  facebook.com

               Wednesday end device          domain
0 2015-11-11 15:47:59.479708     25  akamaiedge.net

Empty DataFrame
Columns: [Thursday end, device, domain]
Index: []

Empty DataFrame
Columns: [Sunday end, device, domain]
Index: []

                Saturday end device      domain
0 2015-11-21 11:01:03.819830     25  akadns.net

user: 23=======================

    devid          domain                      start
0      26       apple.com 2015-11-11 15:54:45.893745
1      26    in-addr.arpa 2015-11-12 14:08:31.442579
2      26  akamaiedge.net 2015-11-13 02:15:39.812613
3      26      google.com 2015-11-14 19:34:29.713423
4      26    in-addr.arpa 2015-11-15 12:36:48.733977
5      26    in-addr.arpa 2015-11-20 19:38:59.710258
6      26    in-addr.arpa 2015-11-21 11:11:10.321917
7      26    in-addr.arpa 2015-12-10 17:36:41.251806
8      26    in-addr.arpa 2015-12-20 22:02:25.627630
9      26    in-addr.arpa 2015-12-26 05:30:25.730441
10     26            None 2015-12-27 00:31:49.039444
11     26    in-addr.arpa 2016-01-04 09:47:13.096975
12     26    in-addr.arpa 2016-01-06 13:42:44.735710

    devid          domain                        end
0      26   instagram.com 2015-11-11 17:20:26.680816
1      26      google.com 2015-11-12 16:49:20.807779
2      26  akamaiedge.net 2015-11-13 02:15:39.812613
3      26       avast.com 2015-11-14 20:05:29.072960
4      26      google.com 2015-11-15 17:17:31.585876
5      26     ic-live.com 2015-11-20 20:11:31.059674
6      26    facebook.com 2015-11-21 17:44:58.863883
7      26     twitter.com 2015-12-10 18:29:05.773771
8      26    outbrain.com 2015-12-20 22:05:53.495358
9      26     netflix.com 2015-12-26 22:50:30.156481
10     26        vmg.host 2015-12-27 00:33:40.420778
11     26     netflix.com 2016-01-04 10:24:29.922286
12     26       fbcdn.net 2016-01-06 17:56:05.674378

Device platform: macbook

                Monday start device        domain
0 2016-01-04 09:47:13.096975     26  in-addr.arpa

Empty DataFrame
Columns: [Tuesday start, device, domain]
Index: []

                Friday start device          domain
0 2015-11-13 02:15:39.812613     26  akamaiedge.net
1 2015-11-20 19:38:59.710258     26    in-addr.arpa

             Wednesday start device        domain
0 2015-11-11 15:54:45.893745     26     apple.com
1 2016-01-06 13:42:44.735710     26  in-addr.arpa

              Thursday start device        domain
0 2015-11-12 14:08:31.442579     26  in-addr.arpa
1 2015-12-10 17:36:41.251806     26  in-addr.arpa

                Sunday start device        domain
0 2015-11-15 12:36:48.733977     26  in-addr.arpa
1 2015-12-20 22:02:25.627630     26  in-addr.arpa
2 2015-12-27 00:31:49.039444     26          None

              Saturday start device        domain
0 2015-11-14 19:34:29.713423     26    google.com
1 2015-11-21 11:11:10.321917     26  in-addr.arpa
2 2015-12-26 05:30:25.730441     26  in-addr.arpa

Device platform: macbook

                  Monday end device       domain
0 2016-01-04 10:24:29.922286     26  netflix.com

Empty DataFrame
Columns: [Tuesday end, device, domain]
Index: []

                  Friday end device          domain
0 2015-11-13 02:15:39.812613     26  akamaiedge.net
1 2015-11-20 20:11:31.059674     26     ic-live.com

               Wednesday end device         domain
0 2015-11-11 17:20:26.680816     26  instagram.com
1 2016-01-06 17:56:05.674378     26      fbcdn.net

                Thursday end device       domain
0 2015-11-12 16:49:20.807779     26   google.com
1 2015-12-10 18:29:05.773771     26  twitter.com

                  Sunday end device        domain
0 2015-11-15 17:17:31.585876     26    google.com
1 2015-12-20 22:05:53.495358     26  outbrain.com
2 2015-12-27 00:33:40.420778     26      vmg.host

                Saturday end device        domain
0 2015-11-14 20:05:29.072960     26     avast.com
1 2015-11-21 17:44:58.863883     26  facebook.com
2 2015-12-26 22:50:30.156481     26   netflix.com

   devid     domain                      start
0     27  apple.com 2015-11-11 15:59:38.592223
1     27  apple.com 2015-11-12 11:44:00.778764
2     27  apple.com 2015-11-14 12:41:54.111830

   devid          domain                        end
0     27      akadns.net 2015-11-11 17:03:50.916006
1     27  vodafone.co.uk 2015-11-12 15:33:33.927623
2     27      akadns.net 2015-11-14 12:55:22.142748

Device platform: iphone

Empty DataFrame
Columns: [Monday start, device, domain]
Index: []

Empty DataFrame
Columns: [Tuesday start, device, domain]
Index: []

Empty DataFrame
Columns: [Friday start, device, domain]
Index: []

             Wednesday start device     domain
0 2015-11-11 15:59:38.592223     27  apple.com

              Thursday start device     domain
0 2015-11-12 11:44:00.778764     27  apple.com

Empty DataFrame
Columns: [Sunday start, device, domain]
Index: []

              Saturday start device     domain
0 2015-11-14 12:41:54.111830     27  apple.com

Device platform: iphone

Empty DataFrame
Columns: [Monday end, device, domain]
Index: []

Empty DataFrame
Columns: [Tuesday end, device, domain]
Index: []

Empty DataFrame
Columns: [Friday end, device, domain]
Index: []

               Wednesday end device      domain
0 2015-11-11 17:03:50.916006     27  akadns.net

                Thursday end device          domain
0 2015-11-12 15:33:33.927623     27  vodafone.co.uk

Empty DataFrame
Columns: [Sunday end, device, domain]
Index: []

                Saturday end device      domain
0 2015-11-14 12:55:22.142748     27  akadns.net

user: 16=======================

   devid            domain                      start
0     28         skype.com 2015-11-13 10:42:20.243096
1     28  nottingham.ac.uk 2015-11-16 11:19:27.914758
2     28     microsoft.com 2015-11-17 11:09:24.082024
3     28         skype.com 2015-11-20 11:06:16.477699
4     28  nottingham.ac.uk 2015-11-22 18:06:16.670395
5     28             AC.UK 2015-11-23 13:29:36.114898
6     28      msftncsi.com 2015-11-24 13:24:14.162131
7     28     microsoft.com 2015-11-26 12:20:30.541312

   devid            domain                        end
0     28  nottingham.ac.uk 2015-11-13 14:34:46.339374
1     28  nottingham.ac.uk 2015-11-16 15:32:24.510069
2     28       hotmail.com 2015-11-17 11:24:06.814588
3     28         skype.com 2015-11-20 13:58:27.837655
4     28          live.com 2015-11-22 18:06:16.730794
5     28         skype.com 2015-11-23 19:57:44.662718
6     28  nottingham.ac.uk 2015-11-24 14:52:04.296857
7     28     ucnproject.uk 2015-11-26 14:29:16.445950

Device platform: windows-laptop

                Monday start device            domain
0 2015-11-16 11:19:27.914758     28  nottingham.ac.uk
1 2015-11-23 13:29:36.114898     28             AC.UK

               Tuesday start device         domain
0 2015-11-17 11:09:24.082024     28  microsoft.com
1 2015-11-24 13:24:14.162131     28   msftncsi.com

                Friday start device     domain
0 2015-11-13 10:42:20.243096     28  skype.com
1 2015-11-20 11:06:16.477699     28  skype.com

Empty DataFrame
Columns: [Wednesday start, device, domain]
Index: []

              Thursday start device         domain
0 2015-11-26 12:20:30.541312     28  microsoft.com

                Sunday start device            domain
0 2015-11-22 18:06:16.670395     28  nottingham.ac.uk

Empty DataFrame
Columns: [Saturday start, device, domain]
Index: []

Device platform: windows-laptop

                  Monday end device            domain
0 2015-11-16 15:32:24.510069     28  nottingham.ac.uk
1 2015-11-23 19:57:44.662718     28         skype.com

                 Tuesday end device            domain
0 2015-11-17 11:24:06.814588     28       hotmail.com
1 2015-11-24 14:52:04.296857     28  nottingham.ac.uk

                  Friday end device            domain
0 2015-11-13 14:34:46.339374     28  nottingham.ac.uk
1 2015-11-20 13:58:27.837655     28         skype.com

Empty DataFrame
Columns: [Wednesday end, device, domain]
Index: []

                Thursday end device         domain
0 2015-11-26 14:29:16.445950     28  ucnproject.uk

                  Sunday end device    domain
0 2015-11-22 18:06:16.730794     28  live.com

Empty DataFrame
Columns: [Saturday end, device, domain]
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Device platform: android-phone

Empty DataFrame
Columns: [Monday start, device, domain]
Index: []

Empty DataFrame
Columns: [Tuesday start, device, domain]
Index: []

Empty DataFrame
Columns: [Friday start, device, domain]
Index: []

Empty DataFrame
Columns: [Wednesday start, device, domain]
Index: []

Empty DataFrame
Columns: [Thursday start, device, domain]
Index: []

Empty DataFrame
Columns: [Sunday start, device, domain]
Index: []

Empty DataFrame
Columns: [Saturday start, device, domain]
Index: []

Device platform: android-phone

Empty DataFrame
Columns: [Monday end, device, domain]
Index: []

Empty DataFrame
Columns: [Tuesday end, device, domain]
Index: []

Empty DataFrame
Columns: [Friday end, device, domain]
Index: []

Empty DataFrame
Columns: [Wednesday end, device, domain]
Index: []

Empty DataFrame
Columns: [Thursday end, device, domain]
Index: []

Empty DataFrame
Columns: [Sunday end, device, domain]
Index: []

Empty DataFrame
Columns: [Saturday end, device, domain]
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Device platform: android-tablet

Empty DataFrame
Columns: [Monday start, device, domain]
Index: []

Empty DataFrame
Columns: [Tuesday start, device, domain]
Index: []

Empty DataFrame
Columns: [Friday start, device, domain]
Index: []

Empty DataFrame
Columns: [Wednesday start, device, domain]
Index: []

Empty DataFrame
Columns: [Thursday start, device, domain]
Index: []

Empty DataFrame
Columns: [Sunday start, device, domain]
Index: []

Empty DataFrame
Columns: [Saturday start, device, domain]
Index: []

Device platform: android-tablet

Empty DataFrame
Columns: [Monday end, device, domain]
Index: []

Empty DataFrame
Columns: [Tuesday end, device, domain]
Index: []

Empty DataFrame
Columns: [Friday end, device, domain]
Index: []

Empty DataFrame
Columns: [Wednesday end, device, domain]
Index: []

Empty DataFrame
Columns: [Thursday end, device, domain]
Index: []

Empty DataFrame
Columns: [Sunday end, device, domain]
Index: []

Empty DataFrame
Columns: [Saturday end, device, domain]
Index: []

user: 17=======================

   devid        domain                      start
0     31     skype.com 2015-11-13 10:14:01.709553
1     31          None 2015-11-14 11:08:56.217815
2     31    google.com 2015-11-19 22:23:03.463860
3     31  facebook.com 2015-11-24 19:39:31.035776
4     31  facebook.com 2015-11-25 20:57:05.422080
5     31  facebook.com 2015-12-01 19:26:09.024406
6     31    google.com 2015-12-02 22:46:18.291213
7     31  facebook.com 2015-12-05 18:17:17.656907

   devid         domain                        end
0     31      bbc.co.uk 2015-11-13 17:31:48.895372
1     31   monetate.net 2015-11-14 12:08:43.395718
2     31      bbc.co.uk 2015-11-19 22:23:21.682489
3     31  amazonaws.com 2015-11-24 21:37:06.900947
4     31      skype.com 2015-11-25 21:05:28.235086
5     31   mixpanel.com 2015-12-01 20:19:37.243829
6     31     google.com 2015-12-02 22:46:31.867511
7     31   facebook.com 2015-12-05 19:13:52.191866

Device platform: android-tablet

Empty DataFrame
Columns: [Monday start, device, domain]
Index: []

               Tuesday start device        domain
0 2015-11-24 19:39:31.035776     31  facebook.com
1 2015-12-01 19:26:09.024406     31  facebook.com

                Friday start device     domain
0 2015-11-13 10:14:01.709553     31  skype.com

             Wednesday start device        domain
0 2015-11-25 20:57:05.422080     31  facebook.com
1 2015-12-02 22:46:18.291213     31    google.com

              Thursday start device      domain
0 2015-11-19 22:23:03.463860     31  google.com

Empty DataFrame
Columns: [Sunday start, device, domain]
Index: []

              Saturday start device        domain
0 2015-11-14 11:08:56.217815     31          None
1 2015-12-05 18:17:17.656907     31  facebook.com

Device platform: android-tablet

Empty DataFrame
Columns: [Monday end, device, domain]
Index: []

                 Tuesday end device         domain
0 2015-11-24 21:37:06.900947     31  amazonaws.com
1 2015-12-01 20:19:37.243829     31   mixpanel.com

                  Friday end device     domain
0 2015-11-13 17:31:48.895372     31  bbc.co.uk

               Wednesday end device      domain
0 2015-11-25 21:05:28.235086     31   skype.com
1 2015-12-02 22:46:31.867511     31  google.com

                Thursday end device     domain
0 2015-11-19 22:23:21.682489     31  bbc.co.uk

Empty DataFrame
Columns: [Sunday end, device, domain]
Index: []

                Saturday end device        domain
0 2015-11-14 12:08:43.395718     31  monetate.net
1 2015-12-05 19:13:52.191866     31  facebook.com

   devid          domain                      start
0     33    mixpanel.com 2015-11-13 11:05:27.933771
1     33      google.com 2015-11-14 04:24:37.271204
2     33  googleapis.com 2015-11-15 10:37:41.823920
3     33    facebook.com 2015-11-16 19:47:03.742038
4     33       sonos.com 2015-11-17 12:26:21.380886
5     33      amazon.com 2015-11-19 21:11:15.433208
6     33      google.com 2015-11-20 14:16:55.687888
7     33    facebook.com 2015-11-24 19:39:10.976514
8     33    snapfish.com 2015-12-01 20:21:21.069794
9     33    snapfish.com 2015-12-02 04:00:11.933254

   devid                domain                        end
0     33            google.com 2015-11-13 20:25:29.143799
1     33            google.com 2015-11-14 16:15:13.116558
2     33            google.com 2015-11-15 10:42:47.567966
3     33  youtube-nocookie.com 2015-11-16 20:13:27.032002
4     33             sonos.com 2015-11-17 12:40:46.058319
5     33          facebook.com 2015-11-19 22:21:48.684663
6     33            google.com 2015-11-20 22:08:18.554319
7     33          akamaihd.net 2015-11-24 19:39:30.596243
8     33        googleapis.com 2015-12-01 21:16:31.801816
9     33            google.com 2015-12-02 05:11:36.396215

Device platform: android-phone

                Monday start device        domain
0 2015-11-16 19:47:03.742038     33  facebook.com

               Tuesday start device        domain
0 2015-11-17 12:26:21.380886     33     sonos.com
1 2015-11-24 19:39:10.976514     33  facebook.com
2 2015-12-01 20:21:21.069794     33  snapfish.com

                Friday start device        domain
0 2015-11-13 11:05:27.933771     33  mixpanel.com
1 2015-11-20 14:16:55.687888     33    google.com

             Wednesday start device        domain
0 2015-12-02 04:00:11.933254     33  snapfish.com

              Thursday start device      domain
0 2015-11-19 21:11:15.433208     33  amazon.com

                Sunday start device          domain
0 2015-11-15 10:37:41.823920     33  googleapis.com

              Saturday start device      domain
0 2015-11-14 04:24:37.271204     33  google.com

Device platform: android-phone

                  Monday end device                domain
0 2015-11-16 20:13:27.032002     33  youtube-nocookie.com

                 Tuesday end device          domain
0 2015-11-17 12:40:46.058319     33       sonos.com
1 2015-11-24 19:39:30.596243     33    akamaihd.net
2 2015-12-01 21:16:31.801816     33  googleapis.com

                  Friday end device      domain
0 2015-11-13 20:25:29.143799     33  google.com
1 2015-11-20 22:08:18.554319     33  google.com

               Wednesday end device      domain
0 2015-12-02 05:11:36.396215     33  google.com

                Thursday end device        domain
0 2015-11-19 22:21:48.684663     33  facebook.com

                  Sunday end device      domain
0 2015-11-15 10:42:47.567966     33  google.com

                Saturday end device      domain
0 2015-11-14 16:15:13.116558     33  google.com

user: 24=======================

   devid          domain                      start
0     32    facebook.com 2015-11-13 10:24:28.274229
1     32  googleapis.com 2015-11-24 14:23:36.825965
2     32    facebook.com 2015-11-25 09:31:42.591171
3     32      google.com 2015-11-26 08:12:18.915205
4     32      google.com 2015-11-28 09:10:02.268264
5     32          eye.fi 2015-12-01 15:07:46.720357
6     32          eye.fi 2015-12-02 08:59:17.846016
7     32      google.com 2015-12-03 07:28:46.512406
8     32          eye.fi 2015-12-04 09:08:39.718484
9     32          eye.fi 2015-12-10 09:35:55.090464

   devid            domain                        end
0     32       spotify.com 2015-11-13 16:39:06.893697
1     32            eye.fi 2015-11-24 19:13:48.179880
2     32        google.com 2015-11-25 13:39:06.128665
3     32       gstatic.com 2015-11-26 19:27:14.016428
4     32        bbci.co.uk 2015-11-28 09:10:15.658057
5     32       netflix.com 2015-12-01 23:58:10.456162
6     32  urbanairship.com 2015-12-02 21:32:33.474350
7     32     morrisons.com 2015-12-03 13:39:05.744010
8     32            eye.fi 2015-12-04 17:03:16.731813
9     32            eye.fi 2015-12-10 11:56:41.436571

Device platform: android-phone

Empty DataFrame
Columns: [Monday start, device, domain]
Index: []

               Tuesday start device          domain
0 2015-11-24 14:23:36.825965     32  googleapis.com
1 2015-12-01 15:07:46.720357     32          eye.fi

                Friday start device        domain
0 2015-11-13 10:24:28.274229     32  facebook.com
1 2015-12-04 09:08:39.718484     32        eye.fi

             Wednesday start device        domain
0 2015-11-25 09:31:42.591171     32  facebook.com
1 2015-12-02 08:59:17.846016     32        eye.fi

              Thursday start device      domain
0 2015-11-26 08:12:18.915205     32  google.com
1 2015-12-03 07:28:46.512406     32  google.com
2 2015-12-10 09:35:55.090464     32      eye.fi

Empty DataFrame
Columns: [Sunday start, device, domain]
Index: []

              Saturday start device      domain
0 2015-11-28 09:10:02.268264     32  google.com

Device platform: android-phone

Empty DataFrame
Columns: [Monday end, device, domain]
Index: []

                 Tuesday end device       domain
0 2015-11-24 19:13:48.179880     32       eye.fi
1 2015-12-01 23:58:10.456162     32  netflix.com

                  Friday end device       domain
0 2015-11-13 16:39:06.893697     32  spotify.com
1 2015-12-04 17:03:16.731813     32       eye.fi

               Wednesday end device            domain
0 2015-11-25 13:39:06.128665     32        google.com
1 2015-12-02 21:32:33.474350     32  urbanairship.com

                Thursday end device         domain
0 2015-11-26 19:27:14.016428     32    gstatic.com
1 2015-12-03 13:39:05.744010     32  morrisons.com
2 2015-12-10 11:56:41.436571     32         eye.fi

Empty DataFrame
Columns: [Sunday end, device, domain]
Index: []

                Saturday end device      domain
0 2015-11-28 09:10:15.658057     32  bbci.co.uk

   devid          domain                      start
0     33    mixpanel.com 2015-11-13 11:05:27.933771
1     33      google.com 2015-11-14 04:24:37.271204
2     33  googleapis.com 2015-11-15 10:37:41.823920
3     33    facebook.com 2015-11-16 19:47:03.742038
4     33       sonos.com 2015-11-17 12:26:21.380886
5     33      amazon.com 2015-11-19 21:11:15.433208
6     33      google.com 2015-11-20 14:16:55.687888
7     33    facebook.com 2015-11-24 19:39:10.976514
8     33    snapfish.com 2015-12-01 20:21:21.069794
9     33    snapfish.com 2015-12-02 04:00:11.933254

   devid                domain                        end
0     33            google.com 2015-11-13 20:25:29.143799
1     33            google.com 2015-11-14 16:15:13.116558
2     33            google.com 2015-11-15 10:42:47.567966
3     33  youtube-nocookie.com 2015-11-16 20:13:27.032002
4     33             sonos.com 2015-11-17 12:40:46.058319
5     33          facebook.com 2015-11-19 22:21:48.684663
6     33            google.com 2015-11-20 22:08:18.554319
7     33          akamaihd.net 2015-11-24 19:39:30.596243
8     33        googleapis.com 2015-12-01 21:16:31.801816
9     33            google.com 2015-12-02 05:11:36.396215

Device platform: android-phone

                Monday start device        domain
0 2015-11-16 19:47:03.742038     33  facebook.com

               Tuesday start device        domain
0 2015-11-17 12:26:21.380886     33     sonos.com
1 2015-11-24 19:39:10.976514     33  facebook.com
2 2015-12-01 20:21:21.069794     33  snapfish.com

                Friday start device        domain
0 2015-11-13 11:05:27.933771     33  mixpanel.com
1 2015-11-20 14:16:55.687888     33    google.com

             Wednesday start device        domain
0 2015-12-02 04:00:11.933254     33  snapfish.com

              Thursday start device      domain
0 2015-11-19 21:11:15.433208     33  amazon.com

                Sunday start device          domain
0 2015-11-15 10:37:41.823920     33  googleapis.com

              Saturday start device      domain
0 2015-11-14 04:24:37.271204     33  google.com

Device platform: android-phone

                  Monday end device                domain
0 2015-11-16 20:13:27.032002     33  youtube-nocookie.com

                 Tuesday end device          domain
0 2015-11-17 12:40:46.058319     33       sonos.com
1 2015-11-24 19:39:30.596243     33    akamaihd.net
2 2015-12-01 21:16:31.801816     33  googleapis.com

                  Friday end device      domain
0 2015-11-13 20:25:29.143799     33  google.com
1 2015-11-20 22:08:18.554319     33  google.com

               Wednesday end device      domain
0 2015-12-02 05:11:36.396215     33  google.com

                Thursday end device        domain
0 2015-11-19 22:21:48.684663     33  facebook.com

                  Sunday end device      domain
0 2015-11-15 10:42:47.567966     33  google.com

                Saturday end device      domain
0 2015-11-14 16:15:13.116558     33  google.com

user: 18=======================

    devid        domain                      start
0      34    google.com 2015-11-13 15:29:08.120805
1      34    google.com 2015-11-14 10:02:50.160048
2      34     apple.com 2015-11-15 04:43:10.144566
3      34     apple.com 2015-11-16 08:57:27.776161
4      34  whatsapp.net 2015-11-17 09:40:09.822536
5      34     apple.com 2015-11-18 04:26:23.990929
6      34     apple.com 2015-11-19 08:39:02.571959
7      34    google.com 2015-11-20 09:13:57.616359
8      34     apple.com 2015-11-21 04:04:11.891984
9      34     apple.com 2015-11-22 02:48:36.956426
10     34    google.com 2015-11-23 09:02:41.283851
11     34     apple.com 2015-11-24 11:06:31.235807
12     34     apple.com 2015-11-25 09:16:02.991564
13     34     apple.com 2015-11-26 10:10:41.804309
14     34    google.com 2015-11-27 08:26:24.807679
15     34     apple.com 2015-11-28 09:01:15.415973
16     34    google.com 2015-11-29 10:29:48.595742
17     34    google.com 2015-11-30 12:14:33.628021
18     34     apple.com 2015-12-01 15:48:21.271137
19     34     apple.com 2015-12-02 18:49:57.900625
20     34     apple.com 2015-12-03 08:58:26.265632
21     34    google.com 2015-12-04 08:33:59.496118
22     34     apple.com 2015-12-05 09:36:04.939388
23     34  protogeo.com 2015-12-06 09:11:59.119969
24     34     apple.com 2015-12-07 10:37:50.771650
25     34     apple.com 2015-12-08 14:01:00.320860
26     34     apple.com 2015-12-09 08:12:46.544298
27     34    google.com 2015-12-10 10:07:09.853801
28     34     apple.com 2015-12-11 08:40:50.574862
29     34     apple.com 2015-12-12 07:25:52.882163
30     34    google.com 2015-12-13 10:20:13.328095
31     34     gmail.com 2015-12-14 08:10:18.593813
32     34     apple.com 2015-12-15 08:59:49.492470
33     34    google.com 2015-12-16 10:25:59.963483
34     34    google.com 2015-12-17 18:36:04.329351
35     34     apple.com 2015-12-18 11:32:16.302555

    devid              domain                        end
0      34  icloud-content.com 2015-11-13 22:55:28.721616
1      34        facebook.com 2015-11-14 20:23:39.630049
2      34       amazonaws.com 2015-11-15 23:58:29.978238
3      34           apple.com 2015-11-16 21:31:55.180172
4      34          akadns.net 2015-11-17 23:29:08.518996
5      34     googlevideo.com 2015-11-18 23:59:59.969560
6      34        facebook.com 2015-11-19 23:47:49.883528
7      34          akadns.net 2015-11-20 22:37:26.646163
8      34           fbcdn.net 2015-11-21 18:59:09.486112
9      34           apple.com 2015-11-22 02:56:46.325358
10     34           apple.com 2015-11-23 23:00:31.528092
11     34        facebook.com 2015-11-24 20:21:12.911650
12     34           apple.com 2015-11-25 23:02:45.447840
13     34          icloud.com 2015-11-26 21:33:48.492352
14     34           apple.com 2015-11-27 23:58:55.341103
15     34        facebook.com 2015-11-28 23:55:48.314755
16     34          google.com 2015-11-29 20:36:43.976163
17     34          akadns.net 2015-11-30 20:05:46.122042
18     34          icloud.com 2015-12-01 15:50:09.095999
19     34        whatsapp.net 2015-12-02 23:20:06.342849
20     34           apple.com 2015-12-03 23:47:30.268756
21     34         edgekey.net 2015-12-04 23:50:47.800607
22     34       apple-dns.net 2015-12-05 20:16:25.602771
23     34           apple.com 2015-12-06 23:27:40.112454
24     34          akadns.net 2015-12-07 12:09:51.321089
25     34        facebook.com 2015-12-08 21:38:24.326500
26     34        whatsapp.net 2015-12-09 23:35:44.302809
27     34           apple.com 2015-12-10 23:57:57.339794
28     34          akadns.net 2015-12-11 20:55:10.867406
29     34       apple-dns.net 2015-12-12 22:53:33.593719
30     34        facebook.com 2015-12-13 23:57:12.226415
31     34  icloud-content.com 2015-12-14 19:24:37.607695
32     34           apple.com 2015-12-15 23:42:10.099691
33     34          google.com 2015-12-16 10:35:16.811961
34     34          akadns.net 2015-12-17 19:21:40.385946
35     34          google.com 2015-12-18 11:38:23.148156

Device platform: windows-laptop

                Monday start device      domain
0 2015-11-16 08:57:27.776161     34   apple.com
1 2015-11-23 09:02:41.283851     34  google.com
2 2015-11-30 12:14:33.628021     34  google.com
3 2015-12-07 10:37:50.771650     34   apple.com
4 2015-12-14 08:10:18.593813     34   gmail.com

               Tuesday start device        domain
0 2015-11-17 09:40:09.822536     34  whatsapp.net
1 2015-11-24 11:06:31.235807     34     apple.com
2 2015-12-01 15:48:21.271137     34     apple.com
3 2015-12-08 14:01:00.320860     34     apple.com
4 2015-12-15 08:59:49.492470     34     apple.com

                Friday start device      domain
0 2015-11-13 15:29:08.120805     34  google.com
1 2015-11-20 09:13:57.616359     34  google.com
2 2015-11-27 08:26:24.807679     34  google.com
3 2015-12-04 08:33:59.496118     34  google.com
4 2015-12-11 08:40:50.574862     34   apple.com
5 2015-12-18 11:32:16.302555     34   apple.com

             Wednesday start device      domain
0 2015-11-18 04:26:23.990929     34   apple.com
1 2015-11-25 09:16:02.991564     34   apple.com
2 2015-12-02 18:49:57.900625     34   apple.com
3 2015-12-09 08:12:46.544298     34   apple.com
4 2015-12-16 10:25:59.963483     34  google.com

              Thursday start device      domain
0 2015-11-19 08:39:02.571959     34   apple.com
1 2015-11-26 10:10:41.804309     34   apple.com
2 2015-12-03 08:58:26.265632     34   apple.com
3 2015-12-10 10:07:09.853801     34  google.com
4 2015-12-17 18:36:04.329351     34  google.com

                Sunday start device        domain
0 2015-11-15 04:43:10.144566     34     apple.com
1 2015-11-22 02:48:36.956426     34     apple.com
2 2015-11-29 10:29:48.595742     34    google.com
3 2015-12-06 09:11:59.119969     34  protogeo.com
4 2015-12-13 10:20:13.328095     34    google.com

              Saturday start device      domain
0 2015-11-14 10:02:50.160048     34  google.com
1 2015-11-21 04:04:11.891984     34   apple.com
2 2015-11-28 09:01:15.415973     34   apple.com
3 2015-12-05 09:36:04.939388     34   apple.com
4 2015-12-12 07:25:52.882163     34   apple.com

Device platform: windows-laptop

                  Monday end device              domain
0 2015-11-16 21:31:55.180172     34           apple.com
1 2015-11-23 23:00:31.528092     34           apple.com
2 2015-11-30 20:05:46.122042     34          akadns.net
3 2015-12-07 12:09:51.321089     34          akadns.net
4 2015-12-14 19:24:37.607695     34  icloud-content.com

                 Tuesday end device        domain
0 2015-11-17 23:29:08.518996     34    akadns.net
1 2015-11-24 20:21:12.911650     34  facebook.com
2 2015-12-01 15:50:09.095999     34    icloud.com
3 2015-12-08 21:38:24.326500     34  facebook.com
4 2015-12-15 23:42:10.099691     34     apple.com

                  Friday end device              domain
0 2015-11-13 22:55:28.721616     34  icloud-content.com
1 2015-11-20 22:37:26.646163     34          akadns.net
2 2015-11-27 23:58:55.341103     34           apple.com
3 2015-12-04 23:50:47.800607     34         edgekey.net
4 2015-12-11 20:55:10.867406     34          akadns.net
5 2015-12-18 11:38:23.148156     34          google.com

               Wednesday end device           domain
0 2015-11-18 23:59:59.969560     34  googlevideo.com
1 2015-11-25 23:02:45.447840     34        apple.com
2 2015-12-02 23:20:06.342849     34     whatsapp.net
3 2015-12-09 23:35:44.302809     34     whatsapp.net
4 2015-12-16 10:35:16.811961     34       google.com

                Thursday end device        domain
0 2015-11-19 23:47:49.883528     34  facebook.com
1 2015-11-26 21:33:48.492352     34    icloud.com
2 2015-12-03 23:47:30.268756     34     apple.com
3 2015-12-10 23:57:57.339794     34     apple.com
4 2015-12-17 19:21:40.385946     34    akadns.net

                  Sunday end device         domain
0 2015-11-15 23:58:29.978238     34  amazonaws.com
1 2015-11-22 02:56:46.325358     34      apple.com
2 2015-11-29 20:36:43.976163     34     google.com
3 2015-12-06 23:27:40.112454     34      apple.com
4 2015-12-13 23:57:12.226415     34   facebook.com

                Saturday end device         domain
0 2015-11-14 20:23:39.630049     34   facebook.com
1 2015-11-21 18:59:09.486112     34      fbcdn.net
2 2015-11-28 23:55:48.314755     34   facebook.com
3 2015-12-05 20:16:25.602771     34  apple-dns.net
4 2015-12-12 22:53:33.593719     34  apple-dns.net

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Device platform: iphone

Empty DataFrame
Columns: [Monday start, device, domain]
Index: []

Empty DataFrame
Columns: [Tuesday start, device, domain]
Index: []

Empty DataFrame
Columns: [Friday start, device, domain]
Index: []

Empty DataFrame
Columns: [Wednesday start, device, domain]
Index: []

Empty DataFrame
Columns: [Thursday start, device, domain]
Index: []

Empty DataFrame
Columns: [Sunday start, device, domain]
Index: []

Empty DataFrame
Columns: [Saturday start, device, domain]
Index: []

Device platform: iphone

Empty DataFrame
Columns: [Monday end, device, domain]
Index: []

Empty DataFrame
Columns: [Tuesday end, device, domain]
Index: []

Empty DataFrame
Columns: [Friday end, device, domain]
Index: []

Empty DataFrame
Columns: [Wednesday end, device, domain]
Index: []

Empty DataFrame
Columns: [Thursday end, device, domain]
Index: []

Empty DataFrame
Columns: [Sunday end, device, domain]
Index: []

Empty DataFrame
Columns: [Saturday end, device, domain]
Index: []

user: 19=======================

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Device platform: windows-pc

Empty DataFrame
Columns: [Monday start, device, domain]
Index: []

Empty DataFrame
Columns: [Tuesday start, device, domain]
Index: []

Empty DataFrame
Columns: [Friday start, device, domain]
Index: []

Empty DataFrame
Columns: [Wednesday start, device, domain]
Index: []

Empty DataFrame
Columns: [Thursday start, device, domain]
Index: []

Empty DataFrame
Columns: [Sunday start, device, domain]
Index: []

Empty DataFrame
Columns: [Saturday start, device, domain]
Index: []

Device platform: windows-pc

Empty DataFrame
Columns: [Monday end, device, domain]
Index: []

Empty DataFrame
Columns: [Tuesday end, device, domain]
Index: []

Empty DataFrame
Columns: [Friday end, device, domain]
Index: []

Empty DataFrame
Columns: [Wednesday end, device, domain]
Index: []

Empty DataFrame
Columns: [Thursday end, device, domain]
Index: []

Empty DataFrame
Columns: [Sunday end, device, domain]
Index: []

Empty DataFrame
Columns: [Saturday end, device, domain]
Index: []

   devid            domain                      start
0     37         yahoo.com 2015-11-20 09:33:28.870226
1     37  mobilethreat.net 2015-11-24 21:14:28.791303
2     37       dropbox.com 2015-11-25 00:00:35.547534
3     37        google.com 2015-11-29 17:13:49.079758

   devid           domain                        end
0     37       google.com 2015-11-20 11:39:38.937130
1     37  googlevideo.com 2015-11-24 23:58:39.616394
2     37       bbci.co.uk 2015-11-25 01:49:14.585466
3     37      dropbox.com 2015-11-29 18:57:41.659392

Device platform: android-tablet

Empty DataFrame
Columns: [Monday start, device, domain]
Index: []

               Tuesday start device            domain
0 2015-11-24 21:14:28.791303     37  mobilethreat.net

                Friday start device     domain
0 2015-11-20 09:33:28.870226     37  yahoo.com

             Wednesday start device       domain
0 2015-11-25 00:00:35.547534     37  dropbox.com

Empty DataFrame
Columns: [Thursday start, device, domain]
Index: []

                Sunday start device      domain
0 2015-11-29 17:13:49.079758     37  google.com

Empty DataFrame
Columns: [Saturday start, device, domain]
Index: []

Device platform: android-tablet

Empty DataFrame
Columns: [Monday end, device, domain]
Index: []

                 Tuesday end device           domain
0 2015-11-24 23:58:39.616394     37  googlevideo.com

                  Friday end device      domain
0 2015-11-20 11:39:38.937130     37  google.com

               Wednesday end device      domain
0 2015-11-25 01:49:14.585466     37  bbci.co.uk

Empty DataFrame
Columns: [Thursday end, device, domain]
Index: []

                  Sunday end device       domain
0 2015-11-29 18:57:41.659392     37  dropbox.com

Empty DataFrame
Columns: [Saturday end, device, domain]
Index: []

   devid                domain                      start
0     38            google.com 2015-11-20 09:54:40.723852
1     38            google.com 2015-11-24 19:51:52.826055
2     38            google.com 2015-11-25 20:17:52.545181
3     38            flurry.com 2015-11-26 20:38:40.382316
4     38                gov.uk 2015-11-27 08:03:08.752892
5     38          facebook.com 2015-11-28 15:34:16.828330
6     38          facebook.com 2015-11-29 17:07:21.806186
7     38  googleadservices.com 2015-11-30 22:53:35.610016

   devid                   domain                        end
0     38    googleusercontent.com 2015-11-20 17:45:28.271524
1     38             facebook.com 2015-11-24 20:10:14.294556
2     38           googleapis.com 2015-11-25 20:19:29.304889
3     38             amazon.co.uk 2015-11-26 20:45:20.153241
4     38                  ntp.org 2015-11-27 20:01:27.407768
5     38               flurry.com 2015-11-28 16:12:45.374527
6     38  salesforceliveagent.com 2015-11-29 17:13:42.326026
7     38             google.co.uk 2015-11-30 23:32:41.953028

Device platform: android-phone

                Monday start device                domain
0 2015-11-30 22:53:35.610016     38  googleadservices.com

               Tuesday start device      domain
0 2015-11-24 19:51:52.826055     38  google.com

                Friday start device      domain
0 2015-11-20 09:54:40.723852     38  google.com
1 2015-11-27 08:03:08.752892     38      gov.uk

             Wednesday start device      domain
0 2015-11-25 20:17:52.545181     38  google.com

              Thursday start device      domain
0 2015-11-26 20:38:40.382316     38  flurry.com

                Sunday start device        domain
0 2015-11-29 17:07:21.806186     38  facebook.com

              Saturday start device        domain
0 2015-11-28 15:34:16.828330     38  facebook.com

Device platform: android-phone

                  Monday end device        domain
0 2015-11-30 23:32:41.953028     38  google.co.uk

                 Tuesday end device        domain
0 2015-11-24 20:10:14.294556     38  facebook.com

                  Friday end device                 domain
0 2015-11-20 17:45:28.271524     38  googleusercontent.com
1 2015-11-27 20:01:27.407768     38                ntp.org

               Wednesday end device          domain
0 2015-11-25 20:19:29.304889     38  googleapis.com

                Thursday end device        domain
0 2015-11-26 20:45:20.153241     38  amazon.co.uk

                  Sunday end device                   domain
0 2015-11-29 17:13:42.326026     38  salesforceliveagent.com

                Saturday end device      domain
0 2015-11-28 16:12:45.374527     38  flurry.com

user: 20=======================

   devid          domain                      start
0     39  googleapis.com 2015-11-20 19:19:37.068707
1     39      msecnd.net 2015-11-23 18:20:42.905311
2     39      nos-avg.cz 2015-11-25 20:08:18.796583
3     39   microsoft.com 2015-11-26 13:21:23.299314

   devid                 domain                        end
0     39              skype.com 2015-11-20 20:34:47.971431
1     39              skype.com 2015-11-23 18:56:09.020110
2     39              skype.com 2015-11-25 20:45:29.669422
3     39  googlesyndication.com 2015-11-26 16:18:49.527655

Device platform: windows-laptop

                Monday start device      domain
0 2015-11-23 18:20:42.905311     39  msecnd.net

Empty DataFrame
Columns: [Tuesday start, device, domain]
Index: []

                Friday start device          domain
0 2015-11-20 19:19:37.068707     39  googleapis.com

             Wednesday start device      domain
0 2015-11-25 20:08:18.796583     39  nos-avg.cz

              Thursday start device         domain
0 2015-11-26 13:21:23.299314     39  microsoft.com

Empty DataFrame
Columns: [Sunday start, device, domain]
Index: []

Empty DataFrame
Columns: [Saturday start, device, domain]
Index: []

Device platform: windows-laptop

                  Monday end device     domain
0 2015-11-23 18:56:09.020110     39  skype.com

Empty DataFrame
Columns: [Tuesday end, device, domain]
Index: []

                  Friday end device     domain
0 2015-11-20 20:34:47.971431     39  skype.com

               Wednesday end device     domain
0 2015-11-25 20:45:29.669422     39  skype.com

                Thursday end device                 domain
0 2015-11-26 16:18:49.527655     39  googlesyndication.com

Empty DataFrame
Columns: [Sunday end, device, domain]
Index: []

Empty DataFrame
Columns: [Saturday end, device, domain]
Index: []

   devid      domain                      start
0     40  google.com 2015-11-20 19:27:42.236730
1     40  msecnd.net 2015-11-21 08:42:14.951781
2     40  msecnd.net 2015-12-01 11:16:55.156406

   devid        domain                        end
0     40    google.com 2015-11-20 19:27:53.175760
1     40  facebook.com 2015-11-21 15:34:44.523733
2     40  whatsapp.net 2015-12-01 11:17:03.646751

Device platform: android-phone

Empty DataFrame
Columns: [Monday start, device, domain]
Index: []

               Tuesday start device      domain
0 2015-12-01 11:16:55.156406     40  msecnd.net

                Friday start device      domain
0 2015-11-20 19:27:42.236730     40  google.com

Empty DataFrame
Columns: [Wednesday start, device, domain]
Index: []

Empty DataFrame
Columns: [Thursday start, device, domain]
Index: []

Empty DataFrame
Columns: [Sunday start, device, domain]
Index: []

              Saturday start device      domain
0 2015-11-21 08:42:14.951781     40  msecnd.net

Device platform: android-phone

Empty DataFrame
Columns: [Monday end, device, domain]
Index: []

                 Tuesday end device        domain
0 2015-12-01 11:17:03.646751     40  whatsapp.net

                  Friday end device      domain
0 2015-11-20 19:27:53.175760     40  google.com

Empty DataFrame
Columns: [Wednesday end, device, domain]
Index: []

Empty DataFrame
Columns: [Thursday end, device, domain]
Index: []

Empty DataFrame
Columns: [Sunday end, device, domain]
Index: []

                Saturday end device        domain
0 2015-11-21 15:34:44.523733     40  facebook.com

user: 21=======================

   devid         domain                      start
0     41      apple.com 2015-11-20 20:04:57.324084
1     41  yahooapis.com 2015-11-27 15:18:50.355566
2     41      apple.com 2015-12-05 09:46:50.771820

   devid         domain                        end
0     41     google.com 2015-11-20 20:05:57.780629
1     41    dropbox.com 2015-11-27 16:05:23.050761
2     41  apple-dns.net 2015-12-05 09:52:23.103733

Device platform: ipad

Empty DataFrame
Columns: [Monday start, device, domain]
Index: []

Empty DataFrame
Columns: [Tuesday start, device, domain]
Index: []

                Friday start device         domain
0 2015-11-20 20:04:57.324084     41      apple.com
1 2015-11-27 15:18:50.355566     41  yahooapis.com

Empty DataFrame
Columns: [Wednesday start, device, domain]
Index: []

Empty DataFrame
Columns: [Thursday start, device, domain]
Index: []

Empty DataFrame
Columns: [Sunday start, device, domain]
Index: []

              Saturday start device     domain
0 2015-12-05 09:46:50.771820     41  apple.com

Device platform: ipad

Empty DataFrame
Columns: [Monday end, device, domain]
Index: []

Empty DataFrame
Columns: [Tuesday end, device, domain]
Index: []

                  Friday end device       domain
0 2015-11-20 20:05:57.780629     41   google.com
1 2015-11-27 16:05:23.050761     41  dropbox.com

Empty DataFrame
Columns: [Wednesday end, device, domain]
Index: []

Empty DataFrame
Columns: [Thursday end, device, domain]
Index: []

Empty DataFrame
Columns: [Sunday end, device, domain]
Index: []

                Saturday end device         domain
0 2015-12-05 09:52:23.103733     41  apple-dns.net

   devid         domain                      start
0     42       live.com 2015-11-21 14:48:08.513332
1     42  microsoft.com 2015-11-23 09:36:12.159625
2     42       live.com 2015-11-24 20:50:27.816447
3     42  microsoft.com 2015-11-25 18:15:39.104856
4     42     google.com 2015-11-26 05:57:17.359999

   devid           domain                        end
0     42         live.com 2015-11-21 16:21:37.237310
1     42         live.com 2015-11-23 19:29:25.186477
2     42       google.com 2015-11-24 21:35:21.778823
3     42         king.com 2015-11-25 20:30:22.383506
4     42  hackerwatch.org 2015-11-26 19:51:51.211229

Device platform: windows-laptop

                Monday start device         domain
0 2015-11-23 09:36:12.159625     42  microsoft.com

               Tuesday start device    domain
0 2015-11-24 20:50:27.816447     42  live.com

Empty DataFrame
Columns: [Friday start, device, domain]
Index: []

             Wednesday start device         domain
0 2015-11-25 18:15:39.104856     42  microsoft.com

              Thursday start device      domain
0 2015-11-26 05:57:17.359999     42  google.com

Empty DataFrame
Columns: [Sunday start, device, domain]
Index: []

              Saturday start device    domain
0 2015-11-21 14:48:08.513332     42  live.com

Device platform: windows-laptop

                  Monday end device    domain
0 2015-11-23 19:29:25.186477     42  live.com

                 Tuesday end device      domain
0 2015-11-24 21:35:21.778823     42  google.com

Empty DataFrame
Columns: [Friday end, device, domain]
Index: []

               Wednesday end device    domain
0 2015-11-25 20:30:22.383506     42  king.com

                Thursday end device           domain
0 2015-11-26 19:51:51.211229     42  hackerwatch.org

Empty DataFrame
Columns: [Sunday end, device, domain]
Index: []

                Saturday end device    domain
0 2015-11-21 16:21:37.237310     42  live.com

    devid           domain                      start
0      43             None 2015-11-20 20:16:32.844005
1      43             None 2015-11-21 07:03:46.589738
2      43  vlb-minos.bl.uk 2015-11-22 04:00:09.154057
3      43     facebook.com 2015-11-23 20:31:17.660457
4      43        www.bl.uk 2015-11-27 17:22:42.545709
5      43        gmail.com 2015-11-28 11:10:22.221395
6      43  vlb-minos.bl.uk 2015-11-29 04:01:02.963523
7      43    cpcloud.co.uk 2015-11-30 04:07:46.843723
8      43      twitter.com 2015-12-02 20:00:15.180098
9      43    cpcloud.co.uk 2015-12-03 04:00:45.779492
10     43             None 2015-12-05 08:46:40.865534
11     43       flurry.com 2015-12-26 17:38:46.642336

    devid           domain                        end
0      43        apple.com 2015-11-20 23:59:47.863643
1      43  vlb-minos.bl.uk 2015-11-21 23:58:16.044458
2      43  vlb-minos.bl.uk 2015-11-22 15:17:06.458437
3      43       akadns.net 2015-11-23 23:03:36.534122
4      43  vlb-minos.bl.uk 2015-11-27 22:20:10.412137
5      43        apple.com 2015-11-28 23:59:53.400138
6      43       itunes.com 2015-11-29 23:58:58.437877
7      43       akadns.net 2015-11-30 09:07:56.931544
8      43       google.com 2015-12-02 23:56:49.011035
9      43       google.com 2015-12-03 19:30:48.293476
10     43       akadns.net 2015-12-05 09:04:34.394476
11     43       bbci.co.uk 2015-12-26 18:55:50.150378

Device platform: iphone

                Monday start device         domain
0 2015-11-23 20:31:17.660457     43   facebook.com
1 2015-11-30 04:07:46.843723     43  cpcloud.co.uk

Empty DataFrame
Columns: [Tuesday start, device, domain]
Index: []

                Friday start device     domain
0 2015-11-20 20:16:32.844005     43       None
1 2015-11-27 17:22:42.545709     43  www.bl.uk

             Wednesday start device       domain
0 2015-12-02 20:00:15.180098     43  twitter.com

              Thursday start device         domain
0 2015-12-03 04:00:45.779492     43  cpcloud.co.uk

                Sunday start device           domain
0 2015-11-22 04:00:09.154057     43  vlb-minos.bl.uk
1 2015-11-29 04:01:02.963523     43  vlb-minos.bl.uk

              Saturday start device      domain
0 2015-11-21 07:03:46.589738     43        None
1 2015-11-28 11:10:22.221395     43   gmail.com
2 2015-12-05 08:46:40.865534     43        None
3 2015-12-26 17:38:46.642336     43  flurry.com

Device platform: iphone

                  Monday end device      domain
0 2015-11-23 23:03:36.534122     43  akadns.net
1 2015-11-30 09:07:56.931544     43  akadns.net

Empty DataFrame
Columns: [Tuesday end, device, domain]
Index: []

                  Friday end device           domain
0 2015-11-20 23:59:47.863643     43        apple.com
1 2015-11-27 22:20:10.412137     43  vlb-minos.bl.uk

               Wednesday end device      domain
0 2015-12-02 23:56:49.011035     43  google.com

                Thursday end device      domain
0 2015-12-03 19:30:48.293476     43  google.com

                  Sunday end device           domain
0 2015-11-22 15:17:06.458437     43  vlb-minos.bl.uk
1 2015-11-29 23:58:58.437877     43       itunes.com

                Saturday end device           domain
0 2015-11-21 23:58:16.044458     43  vlb-minos.bl.uk
1 2015-11-28 23:59:53.400138     43        apple.com
2 2015-12-05 09:04:34.394476     43       akadns.net
3 2015-12-26 18:55:50.150378     43       bbci.co.uk

user: 25=======================

   devid         domain                      start
0     41      apple.com 2015-11-20 20:04:57.324084
1     41  yahooapis.com 2015-11-27 15:18:50.355566
2     41      apple.com 2015-12-05 09:46:50.771820

   devid         domain                        end
0     41     google.com 2015-11-20 20:05:57.780629
1     41    dropbox.com 2015-11-27 16:05:23.050761
2     41  apple-dns.net 2015-12-05 09:52:23.103733

Device platform: ipad

Empty DataFrame
Columns: [Monday start, device, domain]
Index: []

Empty DataFrame
Columns: [Tuesday start, device, domain]
Index: []

                Friday start device         domain
0 2015-11-20 20:04:57.324084     41      apple.com
1 2015-11-27 15:18:50.355566     41  yahooapis.com

Empty DataFrame
Columns: [Wednesday start, device, domain]
Index: []

Empty DataFrame
Columns: [Thursday start, device, domain]
Index: []

Empty DataFrame
Columns: [Sunday start, device, domain]
Index: []

              Saturday start device     domain
0 2015-12-05 09:46:50.771820     41  apple.com

Device platform: ipad

Empty DataFrame
Columns: [Monday end, device, domain]
Index: []

Empty DataFrame
Columns: [Tuesday end, device, domain]
Index: []

                  Friday end device       domain
0 2015-11-20 20:05:57.780629     41   google.com
1 2015-11-27 16:05:23.050761     41  dropbox.com

Empty DataFrame
Columns: [Wednesday end, device, domain]
Index: []

Empty DataFrame
Columns: [Thursday end, device, domain]
Index: []

Empty DataFrame
Columns: [Sunday end, device, domain]
Index: []

                Saturday end device         domain
0 2015-12-05 09:52:23.103733     41  apple-dns.net

   devid         domain                      start
0     42       live.com 2015-11-21 14:48:08.513332
1     42  microsoft.com 2015-11-23 09:36:12.159625
2     42       live.com 2015-11-24 20:50:27.816447
3     42  microsoft.com 2015-11-25 18:15:39.104856
4     42     google.com 2015-11-26 05:57:17.359999

   devid           domain                        end
0     42         live.com 2015-11-21 16:21:37.237310
1     42         live.com 2015-11-23 19:29:25.186477
2     42       google.com 2015-11-24 21:35:21.778823
3     42         king.com 2015-11-25 20:30:22.383506
4     42  hackerwatch.org 2015-11-26 19:51:51.211229

Device platform: windows-laptop

                Monday start device         domain
0 2015-11-23 09:36:12.159625     42  microsoft.com

               Tuesday start device    domain
0 2015-11-24 20:50:27.816447     42  live.com

Empty DataFrame
Columns: [Friday start, device, domain]
Index: []

             Wednesday start device         domain
0 2015-11-25 18:15:39.104856     42  microsoft.com

              Thursday start device      domain
0 2015-11-26 05:57:17.359999     42  google.com

Empty DataFrame
Columns: [Sunday start, device, domain]
Index: []

              Saturday start device    domain
0 2015-11-21 14:48:08.513332     42  live.com

Device platform: windows-laptop

                  Monday end device    domain
0 2015-11-23 19:29:25.186477     42  live.com

                 Tuesday end device      domain
0 2015-11-24 21:35:21.778823     42  google.com

Empty DataFrame
Columns: [Friday end, device, domain]
Index: []

               Wednesday end device    domain
0 2015-11-25 20:30:22.383506     42  king.com

                Thursday end device           domain
0 2015-11-26 19:51:51.211229     42  hackerwatch.org

Empty DataFrame
Columns: [Sunday end, device, domain]
Index: []

                Saturday end device    domain
0 2015-11-21 16:21:37.237310     42  live.com

    devid         domain                      start
0      44      apple.com 2015-11-20 20:27:19.200108
1      44  yahooapis.com 2015-11-21 09:30:29.501370
2      44      fbcdn.net 2015-11-22 09:49:04.898103
3      44      apple.com 2015-11-23 09:41:15.397385
4      44      apple.com 2015-11-24 07:15:54.455016
5      44      apple.com 2015-11-25 07:04:35.769272
6      44      apple.com 2015-11-26 07:34:09.102629
7      44      apple.com 2015-11-27 07:03:44.525346
8      44      apple.com 2015-11-28 11:14:50.063373
9      44      apple.com 2015-11-29 12:56:39.421209
10     44      apple.com 2015-11-30 07:37:13.181799
11     44      apple.com 2015-12-01 07:03:39.471300
12     44      apple.com 2015-12-02 07:09:17.655638
13     44      bbc.co.uk 2015-12-03 07:40:10.511798
14     44      apple.com 2015-12-04 07:05:41.790726
15     44     akadns.net 2015-12-05 09:10:08.631718
16     44      apple.com 2015-12-06 09:33:00.348270
17     44      apple.com 2015-12-07 09:10:50.980888
18     44   facebook.com 2015-12-09 06:59:52.100562
19     44      apple.com 2015-12-11 08:57:51.102999
20     44      apple.com 2015-12-12 20:24:50.188100
21     44   mixpanel.com 2015-12-14 07:49:50.424484
22     44      apple.com 2015-12-16 07:49:34.589053

    devid           domain                        end
0      44       akadns.net 2015-11-20 20:27:20.259935
1      44   akamaiedge.net 2015-11-21 22:24:22.263026
2      44   akamaiedge.net 2015-11-22 20:25:20.151905
3      44        apple.com 2015-11-23 21:09:07.775741
4      44   akamaiedge.net 2015-11-24 23:59:50.330913
5      44   cloudfront.net 2015-11-25 19:19:37.743083
6      44     yahoodns.net 2015-11-26 22:44:29.488108
7      44   akamaiedge.net 2015-11-27 23:57:36.901968
8      44     yahoodns.net 2015-11-28 17:53:12.059926
9      44        apple.com 2015-11-29 18:33:10.694818
10     44       akadns.net 2015-11-30 21:58:21.983740
11     44       akamai.net 2015-12-01 23:05:27.016462
12     44   akamaiedge.net 2015-12-02 23:53:13.140132
13     44       akadns.net 2015-12-03 23:25:12.727946
14     44   akamaiedge.net 2015-12-04 22:48:15.450372
15     44   akamaiedge.net 2015-12-05 20:52:51.162820
16     44    amazonaws.com 2015-12-06 17:15:46.786316
17     44        apple.com 2015-12-07 10:21:56.523861
18     44    amazonaws.com 2015-12-09 19:28:14.132245
19     44       akadns.net 2015-12-11 11:40:20.860321
20     44  polarmobile.com 2015-12-12 21:49:20.424827
21     44    amazonaws.com 2015-12-14 11:04:35.412840
22     44       akadns.net 2015-12-16 12:15:15.296081

Device platform: iphone

                Monday start device        domain
0 2015-11-23 09:41:15.397385     44     apple.com
1 2015-11-30 07:37:13.181799     44     apple.com
2 2015-12-07 09:10:50.980888     44     apple.com
3 2015-12-14 07:49:50.424484     44  mixpanel.com

               Tuesday start device     domain
0 2015-11-24 07:15:54.455016     44  apple.com
1 2015-12-01 07:03:39.471300     44  apple.com

                Friday start device     domain
0 2015-11-20 20:27:19.200108     44  apple.com
1 2015-11-27 07:03:44.525346     44  apple.com
2 2015-12-04 07:05:41.790726     44  apple.com
3 2015-12-11 08:57:51.102999     44  apple.com

             Wednesday start device        domain
0 2015-11-25 07:04:35.769272     44     apple.com
1 2015-12-02 07:09:17.655638     44     apple.com
2 2015-12-09 06:59:52.100562     44  facebook.com
3 2015-12-16 07:49:34.589053     44     apple.com

              Thursday start device     domain
0 2015-11-26 07:34:09.102629     44  apple.com
1 2015-12-03 07:40:10.511798     44  bbc.co.uk

                Sunday start device     domain
0 2015-11-22 09:49:04.898103     44  fbcdn.net
1 2015-11-29 12:56:39.421209     44  apple.com
2 2015-12-06 09:33:00.348270     44  apple.com

              Saturday start device         domain
0 2015-11-21 09:30:29.501370     44  yahooapis.com
1 2015-11-28 11:14:50.063373     44      apple.com
2 2015-12-05 09:10:08.631718     44     akadns.net
3 2015-12-12 20:24:50.188100     44      apple.com

Device platform: iphone

                  Monday end device         domain
0 2015-11-23 21:09:07.775741     44      apple.com
1 2015-11-30 21:58:21.983740     44     akadns.net
2 2015-12-07 10:21:56.523861     44      apple.com
3 2015-12-14 11:04:35.412840     44  amazonaws.com

                 Tuesday end device          domain
0 2015-11-24 23:59:50.330913     44  akamaiedge.net
1 2015-12-01 23:05:27.016462     44      akamai.net

                  Friday end device          domain
0 2015-11-20 20:27:20.259935     44      akadns.net
1 2015-11-27 23:57:36.901968     44  akamaiedge.net
2 2015-12-04 22:48:15.450372     44  akamaiedge.net
3 2015-12-11 11:40:20.860321     44      akadns.net

               Wednesday end device          domain
0 2015-11-25 19:19:37.743083     44  cloudfront.net
1 2015-12-02 23:53:13.140132     44  akamaiedge.net
2 2015-12-09 19:28:14.132245     44   amazonaws.com
3 2015-12-16 12:15:15.296081     44      akadns.net

                Thursday end device        domain
0 2015-11-26 22:44:29.488108     44  yahoodns.net
1 2015-12-03 23:25:12.727946     44    akadns.net

                  Sunday end device          domain
0 2015-11-22 20:25:20.151905     44  akamaiedge.net
1 2015-11-29 18:33:10.694818     44       apple.com
2 2015-12-06 17:15:46.786316     44   amazonaws.com

                Saturday end device           domain
0 2015-11-21 22:24:22.263026     44   akamaiedge.net
1 2015-11-28 17:53:12.059926     44     yahoodns.net
2 2015-12-05 20:52:51.162820     44   akamaiedge.net
3 2015-12-12 21:49:20.424827     44  polarmobile.com

user: 22=======================

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Device platform: windows-laptop

Empty DataFrame
Columns: [Monday start, device, domain]
Index: []

Empty DataFrame
Columns: [Tuesday start, device, domain]
Index: []

Empty DataFrame
Columns: [Friday start, device, domain]
Index: []

Empty DataFrame
Columns: [Wednesday start, device, domain]
Index: []

Empty DataFrame
Columns: [Thursday start, device, domain]
Index: []

Empty DataFrame
Columns: [Sunday start, device, domain]
Index: []

Empty DataFrame
Columns: [Saturday start, device, domain]
Index: []

Device platform: windows-laptop

Empty DataFrame
Columns: [Monday end, device, domain]
Index: []

Empty DataFrame
Columns: [Tuesday end, device, domain]
Index: []

Empty DataFrame
Columns: [Friday end, device, domain]
Index: []

Empty DataFrame
Columns: [Wednesday end, device, domain]
Index: []

Empty DataFrame
Columns: [Thursday end, device, domain]
Index: []

Empty DataFrame
Columns: [Sunday end, device, domain]
Index: []

Empty DataFrame
Columns: [Saturday end, device, domain]
Index: []

    devid      domain                      start
0      47   apple.com 2015-11-24 15:55:08.208570
1      47   apple.com 2015-11-25 12:23:49.963667
2      47  icloud.com 2015-11-26 11:46:46.951132
3      47   apple.com 2015-11-27 17:32:39.427150
4      47   apple.com 2015-11-29 11:25:33.784033
5      47   apple.com 2015-12-01 16:52:15.049127
6      47   apple.com 2015-12-16 12:11:33.839485
7      47   apple.com 2015-12-17 13:44:09.732041
8      47   apple.com 2015-12-18 13:09:40.246115
9      47   apple.com 2015-12-28 11:35:06.872098
10     47   apple.com 2016-01-01 21:24:08.197149

    devid          domain                        end
0      47  googleapis.com 2015-11-24 23:45:32.593943
1      47      akamai.net 2015-11-25 15:50:26.376621
2      47       apple.com 2015-11-26 20:06:35.445320
3      47       apple.com 2015-11-27 17:32:39.694904
4      47      akadns.net 2015-11-29 19:01:36.673817
5      47      akadns.net 2015-12-01 17:38:57.816297
6      47  akamaiedge.net 2015-12-16 17:09:06.083446
7      47       apple.com 2015-12-17 15:11:54.229345
8      47       apple.com 2015-12-18 16:04:53.876426
9      47       apple.com 2015-12-28 11:36:05.104976
10     47       symcd.com 2016-01-01 21:24:48.780555

Device platform: iphone

                Monday start device     domain
0 2015-12-28 11:35:06.872098     47  apple.com

               Tuesday start device     domain
0 2015-11-24 15:55:08.208570     47  apple.com
1 2015-12-01 16:52:15.049127     47  apple.com

                Friday start device     domain
0 2015-11-27 17:32:39.427150     47  apple.com
1 2015-12-18 13:09:40.246115     47  apple.com
2 2016-01-01 21:24:08.197149     47  apple.com

             Wednesday start device     domain
0 2015-11-25 12:23:49.963667     47  apple.com
1 2015-12-16 12:11:33.839485     47  apple.com

              Thursday start device      domain
0 2015-11-26 11:46:46.951132     47  icloud.com
1 2015-12-17 13:44:09.732041     47   apple.com

                Sunday start device     domain
0 2015-11-29 11:25:33.784033     47  apple.com

Empty DataFrame
Columns: [Saturday start, device, domain]
Index: []

Device platform: iphone

                  Monday end device     domain
0 2015-12-28 11:36:05.104976     47  apple.com

                 Tuesday end device          domain
0 2015-11-24 23:45:32.593943     47  googleapis.com
1 2015-12-01 17:38:57.816297     47      akadns.net

                  Friday end device     domain
0 2015-11-27 17:32:39.694904     47  apple.com
1 2015-12-18 16:04:53.876426     47  apple.com
2 2016-01-01 21:24:48.780555     47  symcd.com

               Wednesday end device          domain
0 2015-11-25 15:50:26.376621     47      akamai.net
1 2015-12-16 17:09:06.083446     47  akamaiedge.net

                Thursday end device     domain
0 2015-11-26 20:06:35.445320     47  apple.com
1 2015-12-17 15:11:54.229345     47  apple.com

                  Sunday end device      domain
0 2015-11-29 19:01:36.673817     47  akadns.net

Empty DataFrame
Columns: [Saturday end, device, domain]
Index: []

user: 26=======================

   devid           domain                      start
0     45       mcafee.com 2015-11-24 15:15:16.128184
1     45  siteadvisor.com 2015-11-25 18:22:29.989005

   devid        domain                        end
0     45  facebook.com 2015-11-24 16:54:34.346083
1     45     msads.net 2015-11-25 23:12:26.468212

Device platform: windows-laptop

Empty DataFrame
Columns: [Monday start, device, domain]
Index: []

               Tuesday start device      domain
0 2015-11-24 15:15:16.128184     45  mcafee.com

Empty DataFrame
Columns: [Friday start, device, domain]
Index: []

             Wednesday start device           domain
0 2015-11-25 18:22:29.989005     45  siteadvisor.com

Empty DataFrame
Columns: [Thursday start, device, domain]
Index: []

Empty DataFrame
Columns: [Sunday start, device, domain]
Index: []

Empty DataFrame
Columns: [Saturday start, device, domain]
Index: []

Device platform: windows-laptop

Empty DataFrame
Columns: [Monday end, device, domain]
Index: []

                 Tuesday end device        domain
0 2015-11-24 16:54:34.346083     45  facebook.com

Empty DataFrame
Columns: [Friday end, device, domain]
Index: []

               Wednesday end device     domain
0 2015-11-25 23:12:26.468212     45  msads.net

Empty DataFrame
Columns: [Thursday end, device, domain]
Index: []

Empty DataFrame
Columns: [Sunday end, device, domain]
Index: []

Empty DataFrame
Columns: [Saturday end, device, domain]
Index: []